[2017-09-08 07:52] jimhavrilla commented on #320
Here is the html [link](http://home.chpc.utah.edu/~u1021864/ccr2.html).  If the files are large it crashes, but if they are small it works.  If tabix is working properly it should be fast and not crash though right?  Maybe it's just too big?  The links to the files are in the html.  It's a small test html file.

[2017-09-08 14:05] keqiang commented on #404
@jrobinso I'm sorry that I didn't explain it. [Shiny](https://shiny.rstudio.com/) is a web framework in R, in which you can write a web application purely in R. The reactive programming concepts it's using is very convenient for programmers to write interactive web applications. A lot of js libraries have their own widgets available in Shiny framework such as [plotly](https://plot.ly/r/).

[This r

[2017-09-08 14:29] bw2 commented on #247
Hi Jim,

It would be great to collaborate on this.  pysam can read cram files and I've written python code before to proxy igv.js range requests to backend http servers. One thing I'm stuck on is what igv.js track type is best to use - as I'm not sure how to convert crai <=> bai indexes.

[2017-09-08 15:41] jrobinso commented on #247
Hi,

Actually, we've already done this using flask & pysam, but it's not quite
finished.   See the igv.js-flask project and this page in particular:
https://github.com/igvteam/igv.js-flask/wiki/Alignment-service.  These
instructions might change slightly.    I still need to write the reader for
this in igv.js and we'll be ready,   I'll try to do that next week.

On Fri, Sep 8, 2017 at 7:29 AM, bw2

[2017-09-08 15:45] jrobinso commented on #404
OK, thanks for the clarification.   Obviously, we don't have a widget,  but would be open to a pull request.    From the comment, it looks like the author was unable to implement support for the Range header.

[2017-09-08 16:11] jrobinso commented on #320
Thanks for the links,  I'll look into this.    To answer your question, yes with tabix the size of the file shouldn't matter, but you probably have to set a small visibilityWindow if the data is too dense.  This restriction does not exist with bigWig,  you can view the whole genome if you want to because bigWig keeps data at multiple resolutions.    Is there a reason you are not using bigWig? Ther

[2017-09-08 16:34] jimhavrilla commented on #320
I guess I can just make a bigWig. I remember trying it with similar load
times but will try again in the meanwhile.

On Fri, Sep 8, 2017 at 10:11 AM Jim Robinson <notifications@github.com>
wrote:

--
Jim Havrilla
PhD Candidate in Human Genetics, University of Utah
Accelerated BS/MS in Biomedical Engineering, Drexel University '12,
Concentration: Bioinformatics
*"Memory, comprehension, communicatio

[2017-09-08 19:57] jimhavrilla commented on #320
I have overlapping regions in my bedGraph, so I can't make a bigWig without considering how to deal with them (there are genes that occupy the same genome space but not exactly and both are represented, so a bedGraph is preferable)

[2017-09-08 20:31] bw2 commented on #247
great! looking forward to using this.

[2017-09-09 16:11] blajoie commented on #320
Just noticed all the comments.

I am using quite large bgzip + tabix bedgraph files, 10GB+ (with many overlapping features) successfully in igv.js.

Have you set a 'visibilityWindow' value for this track? Without it the entire chromosome will be loaded into memory and may crash igv.  Have you tried setting visibilityWindow:1000 to start and see if that solves the issue?

I use bedgraph over bigwig

[2017-09-09 16:41] jrobinso commented on #320
Yes to setting visibilityWindow,  essential for a dense wig file.   I just
tried the test url above and it works,  so if you are only having problems
with large files set a small visibility window and start increasing it.
 In the example file you posted it isn't neccessary,  I can load all of
chr1.    Of course this is going to vary depending on your platform and how
much memory is available.

Bry

[2017-09-09 17:31] jimhavrilla commented on #320
Can’t there be a default value set to prevent this?  Also on what scale is
thay?  Bp or pixels?

On Sat, Sep 9, 2017 at 10:41 AM Jim Robinson <notifications@github.com>
wrote:

--
Jim Havrilla
PhD Candidate in Human Genetics, University of Utah
Accelerated BS/MS in Biomedical Engineering, Drexel University '12,
Concentration: Bioinformatics
*"Memory, comprehension, communication, motivation"*

[2017-09-09 18:55] jrobinso commented on #320
The default value is the whole chromosome,  which works for most tracks,
 but not for dense wig tracks like yours.   Units are bp.

[2017-09-09 18:56] jimhavrilla commented on #320
Ok but if I expand the window and zoom out or in does that change the
visibility window?

On Sat, Sep 9, 2017 at 12:55 PM Jim Robinson <notifications@github.com>
wrote:

--
Jim Havrilla
PhD Candidate in Human Genetics, University of Utah
Accelerated BS/MS in Biomedical Engineering, Drexel University '12,
Concentration: Bioinformatics
*"Memory, comprehension, communication, motivation"*

[2017-09-09 20:45] jrobinso commented on #320
No, if you zoom out past the visibility window you will not see anything in
the track other than a message to "zoom in to see features".   That's the
purpose of it,  to prevent loading more than the browser can handle.

https://github.com/igvteam/igv.js/wiki/Tracks

On Sat, Sep 9, 2017 at 11:56 AM, Jim Havrilla <notifications@github.com>
wrote:

[2017-09-09 21:19] jimhavrilla commented on #320
What would you say is the maximum window it can load without being too slow
or crashing?  50000?  Something like that?

On Sat, Sep 9, 2017 at 2:46 PM Jim Robinson <notifications@github.com>
wrote:

--
Jim Havrilla
PhD Candidate in Human Genetics, University of Utah
Accelerated BS/MS in Biomedical Engineering, Drexel University '12,
Concentration: Bioinformatics
*"Memory, comprehension, communicat

[2017-09-09 22:49] jrobinso commented on #320
You can start with that.   Its an impossible question to answer, you need
to experiment.

On Sat, Sep 9, 2017 at 2:20 PM, Jim Havrilla <notifications@github.com>
wrote:

[2017-09-10 05:11] jimhavrilla commented on #320
Alright thanks.  I guess I just figured since my browser by default goes to
a specific region of the gene KCNQ2 that the window would just be the size
of whatever region you're currently looking at and it would change with the
zoom.

Jim Havrilla
PhD Candidate in Human Genetics, University of Utah
Accelerated BS/MS in Biomedical Engineering, Drexel University '12,
Concentration: Bioinformatics
*"M

[2017-09-10 05:24] jrobinso commented on #320
I think you're missing something fundamental, or perhaps I'm not properly
understanding you.   The purpose of the parameter is to prevent loading
more features than the browser can reasonably handle.   So it is a
threshold,  it doesn't change.     We could have used a strategy to load
minimum(visibilityWindow, regionInView),  but that would mean more trips to
the server and delays as you pan aroun

[2017-09-12 09:23] Dnyane opened #406 "IGV vcf file visualization: Error accessing resource"
Hello,
I am new to using IGV tools. I want to use the IGV tool for vcf file visualization on remote linux server.
I tried running 1kg-vcf.html  for this purpose.
I have a fasta, bed and indexed bed file version of a bacterial genome => GCA_000196095.1_ASM19609v1_cds_from_genomic (Vibrio parahaemolyticus RIMD starin)
I have an example vcf file 8Filtered.vcf which I want to visualize using IGV.
Desk

[2017-09-12 13:29] sgratzl commented on #404
one question is how to deal with data for the tracks. IGV.js can download data from a remote server but it is possible to locally provide the data?

[2017-09-12 13:40] sgratzl commented on #342
re npm compatible: https://github.com/datavisyn/igv_wrapper

[2017-09-12 13:43] sgratzl commented on #283
you should consider using a [headless chrome](https://developers.google.com/web/updates/2017/04/headless-chrome) instead. Latest web browser technologies.

[2017-09-12 13:43] sgratzl commented on #283
you should consider using a [headless chrome](https://developers.google.com/web/updates/2017/04/headless-chrome) instead. Latest web browser technologies.

[2017-09-12 14:36] keqiang commented on #404
@sgratzl For a lot of Shiny element, there is a server side render function, such as datatable, so it will be able to use the data reside on your own server(locally). I feel it's more useful if the IGV.js can be controlled by the server side code, including loading data that's on the server. However, I'm not very familiar how to implement these functions, I will check out datatable or plotly to se

[2017-09-12 15:04] vrockai commented on #342
will need to check how it deals with dependencies, especially the `lodash`.

[2017-09-12 15:04] turner commented on #406
Hi,

Try replace this line:
[code]
with this line:

[code]

[2017-09-12 15:06] sgratzl commented on #404
loading and converting the data is quite easy. I also did in e.g., https://github.com/Caleydo/lineup_htmlwidget . My question was more how to put data that is stored in the R workspace as tracks in IGV.js? taking a look at the configuration, you can only link to external sites. see also #391

[2017-09-12 15:16] jrobinso commented on #404
What do you mean by "local"?

On Tue, Sep 12, 2017 at 6:51 AM, Samuel Gratzl <notifications@github.com>
wrote:

[2017-09-12 15:32] jrobinso commented on #404
You need a URL but it doesn't need to be remote,  it can be local to your
webserver.

On Tue, Sep 12, 2017 at 8:19 AM, Samuel Gratzl <notifications@github.com>
wrote:

[2017-09-12 15:33] sgratzl commented on #342
what do you mean, as far as I can see igv.js has no dependency on lodash. With a quick search I can't find any `_.*` calls in igv-1.0.9.js

[2017-09-12 15:52] keqiang commented on #404
@jrobinso I think he is talking about loading the real data directly into the IGV because the data is already loaded into R session(running on the server). Like what he did for lineup, the data mtcars are converted to a data format that can be directly used for the htmlwidget.

If we just specify an URL, it might not work because the data might not be accessible by the client using an URL, say, it

[2017-09-12 16:26] vrockai commented on #342
Hm, strange. I was referring to the source code, stuff like this:
https://github.com/igvteam/igv.js/blob/master/js/browser.js#L155

When I build the current `master` branch, my `dist/igv.js` file is full of lodash references. However, when I download the `1.0.9` release zip and build it, I don't see any lodash references in the dist file.

Since I remember having troubles with lodash before and I

[2017-09-12 16:33] sgratzl commented on #342
as far as I understood, the master is going through a lot of refactorings. One of them is incorporating underscore. That's why it is listed as beta dependency only.

[2017-09-12 20:59] jrobinso commented on #406
Correction,  replace

<script type="text/javascript" src="https://igv.org/web/test/multilocus/igv-multilocus.js"></script>

with

<script type="text/javascript" src="https://igv.org/web/release/1.0.9/igv-1.0.9.js"></script>

[2017-09-13 18:48] jrobinso commented on #342
@vrockai That's because we did not user underscore fo version 1.0.9 (or any 1.0.x).  That was introduced in the master branch,  which will be the basis for release 1.1 by the end of the year.

Originally we packaged underscore with our igv.js file,  but that caused issues for you because you were using lodash which also defines the global "_".   So we removed it from igv.js and now list it as a de

[2017-09-14 00:24] jrobinso commented on #404
@keqiang I'm not following you, but that's not surprising as I'm not familiar with the tools you are referencing.    When you say "loading .... directly" do you mean as an encoded blob in the page itself?     @sgratzl Where is R running,  on a server or on the client?   Do you want to generate a webpage with the data statically defined, for example as json objects?  #391 is really not about loadin

[2017-09-14 00:28] jrobinso commented on #342
As a first step towards minimizing dependency clashes (e.g. underscore and lodash) I am going to investigate wrapping all dependencies used by igv.js inside a function, and exposing only the "igv" object.  I think @vrockai suggested this approach above.    I think @sgratzl has posted an NPM solution for version 1.0.9.

[2017-09-14 03:44] jrobinso commented on #406
Hi,

First, replace
<script type="text/javascript" src="https://igv.org/web/test/multilocus/igv-multilocus.js">
 with
<script type="text/javascript" src="https://igv.org/web/beta/igv-beta.min.js">

Second, what type of webserver are you serving this from?  Server requirements are documented here: https://github.com/igvteam/igv.js/wiki/Data-Server-Requirements.   Most web servers meet these require

[2017-09-14 06:03] jrobinso commented on #342
I _think_ that with the latest commit "igv.js" will be AMD and CommonJS compatible.  Thanks to @sgratzl  and @vrockai for showing the way.   This does not address the OP request to make a Bower package, but perhpas it makes that easier.   Could those of you with interest in this give it a try and provide comments?   See wrapper/header.js and wrapper/footer.js.

I'll turn my attention to the unders

[2017-09-14 18:46] jrobinso commented on #342
@vrockai Underscore is now encapsulated in igv.js,  the "_" function should not appear in global scope.

[2017-09-14 19:56] vrockai commented on #342
Thanks @jrobinso, I'll check the solution tomorrow and share my experience when I was trying (and failed) to accomplish the same goal.

[2017-09-14 20:03] jrobinso commented on #342
@vrockai Thanks, that would be really helpful.   I think I've followed the encapsulation rules but don't have anything setup to test it.  I had to modify underscore slightly to prevent it from defining a global and registering itself as a module.   AFAIK "igv" is the only global now.

[2017-09-14 20:17] sgratzl opened #409 "disable call home feature"
why does igv.js automatically makes the following AJAX call?

https://data.broadinstitute.org/igv/projects/current/counter_igvjs.php?version=beta

[2017-09-14 20:50] jrobinso commented on #409
That's an anonymous usage count.  Without it, and without healthy numbers,  no funding and no igv.js.

[2017-09-14 20:50] #409 closed

[2017-09-14 20:51] jrobinso commented on #409
You can of course comment it out,  but please don't without a good reason.

[2017-09-15 15:47] vrockai commented on #342
I have compiled current `master` with `$ grunt` and I must confirm that the `dist/igv.js` now doesn't clash with our internal lodash instance and works like a charm OOTB! Great job and big thanks @jrobinso! No more changes in the igv.js code for us to use it within our platform.

When I had been working on it, I was trying to come up with a solution without modifying the existing `underscore.js` f

[2017-09-15 16:38] jrobinso commented on #342
Thanks for the testing and suggestions @vrockai.   I agree a solution that does not involve modifying underscore would be better,  for now, we will stick with this one for underscore since we know it works.  As you note we don't use much of underscore, just a few of the collections functions.

Are there any other artifacts we should distribute to make igv.js friendlier to bower users?

[2017-09-18 18:42] gilhornung commented on #232
Hi,

The option of using TDF is not documented in the Wiki:
https://github.com/igvteam/igv.js/wiki/Tracks

I wwasn't able to make it work for me.

All the best,

Gil

[2017-09-20 04:39] #393 closed

[2017-09-20 05:02] jrobinso opened #411 "Don't present "Group By" if there are no sample information attributes"
If sample information has not been loaded  (sampleInformation.hasAttributes() returns false) don't present the "Group By:" option in the variant track popup menu.

[2017-09-20 05:13] jrobinso commented on #393
You can now set the userProject parameter, or any other parameters you need,  in the URL.

[2017-09-20 19:12] oleraj commented on #319
We would be interested in this feature through a config/API option as well.  Is there any update/progress on this feature?

Thanks!

[2017-09-20 21:24] jrobinso commented on #319
Sorry no progress yet, but thanks for the reminder

[2017-09-20 21:26] #411 closed

[2017-09-20 22:56] jrobinso commented on #319
To be clear we're talking about adding a list of ROIs, probably as a bed file,  and having them highlighted as in Bryan's original figure:  https://s3-us-west-2.amazonaws.com/ilmn.igv-test/highlight-igv.png.   I ask because this is somewhat different than IGV desktop's ROI.

[2017-09-20 23:49] oleraj commented on #319
Thanks for clarifying.  The way you described it is just what we need.

[2017-09-21 01:43] ltnetcase commented on #146
+1

[2017-09-25 04:37] jrobinso opened #413 "AlignmentTrack popup menu method not called"
The method AlignmentTrack.prototype.popupMenuList does not appear to be called.    Looking at the function I'm not sure what it is supposed to do,  but 2 possibilities are "show mate region" (in split screen)  and  "goto mate region".     The only menu item to show up is "sort by base".

The show mate region option, in particular, is a requirement for the 1.1 release,  its one of the main reasons

[2017-09-25 06:06] jrobinso commented on #247
Instructions to come shortly, but look at dev/cram.html in conjunction with the igv.js-flask project.  You must enable CORS on the flask server, unless it also serves your html server.  To do this add the following to _config.py:  ENABLE_CORS_REQUESTS = True

[2017-09-25 21:14] #413 closed

[2017-09-26 18:27] jrobinso opened #416 "Support whole-genome view ("All") for bigwig tracks"

[2017-09-26 23:39] jrobinso opened #418 "Use juicebox color picker?"
Consider using the juicebox color picker for tracks

![screen shot 2017-09-26 at 4 38 13 pm](https://user-images.githubusercontent.com/933148/30889145-3a146b40-a2d9-11e7-9391-85f9bc5ab98f.png)

[2017-09-27 06:22] jrobinso opened #419 "Inappropriate scrollbar on collapsed feature track"
This track is "collapsed" (single row of features),  yet contains a scrollbar.   It was originally set to a height of 100, height was changed to 50,  but there should be no scrollbar as the features themselves occupy only ~30 pixels in height.

[2017-09-28 20:27] jrobinso opened #422 "Copy # (seg) track default height is smaller than before"
Not necessarily a bug, but should be understood.

[2017-09-28 22:31] jrobinso opened #423 "Support dropbox urls"
Support loading dropbox sharable links. e.g.

                {
                    type: 'bam',
                    url: 'https://www.dropbox.com/s/7k5oylv5of8w5f8/gstt1_sample.bam',
                    indexURL: 'https://www.dropbox.com/s/ub1n3mvubz87wu9/gstt1_sample.bam.bai',
                    label: 'Dopbox BAM'
                },

[2017-09-28 22:32] jrobinso commented on #423
Done, see commit c404925a02d10bf671d9e7e0cd4fd788ebd2bbc4

[2017-09-28 22:47] paul-shannon opened #424 "chrome version 61.0.3163.100: " net::ERR_CACHE_OPERATION_NOT_SUPPORTED" on bigWig track"
Chrome's automatic self-update to version 61.0.3163.100 yesterday coincided precisely with recurrent ````net::ERR_CACHE_OPERATION_NOT_SUPPORTED```` errors executing this function call:

[code]
I had been working successfully all morning with local and remote bigWig files, pleased at the way igv handles them.   Then repeated failures.  The error disappears now that I have installed an older version

[2017-09-29 03:03] jrobinso commented on #424
Hi Paul,

What version of igv.js are you running?  I am on Chrome Version
61.0.3163.100 (Official Build) (64-bit) also and am not having this issue.
 I've seen that error before when running igv.js with chrome developer
tools,  IIRC clearing the cache resolved it.    I do think its a problem
with their cache when range requests are used.   In recent versions of
igv.js I started adding a random num

[2017-09-29 16:55] paul-shannon commented on #424
Hi Jim,
I see the error consistently on chrome 61.0.3163.100 with igv-1.0.9.js
 - Paul

[2017-09-30 03:00] jrobinso commented on #424
Well,  googling the error I found out that I did introduce a change in the
master branch that fixed this for some:
https://github.com/igvteam/igv/issues/464

Could you try the beta igv and see if it fixes the problem for you?  Again
I've not been able to reproduce it with 61.0.3163.100.  This will become
the official release soon.

https://igv.org/web/beta/igv-beta.js
https://igv.org/web/beta/igv-

[2017-10-02 17:36] paul-shannon commented on #424
Hi Jim,

igv-beta works beautifully with bigWig and chrome 61.0.3163.100.

Thank you!

 - Paul

[2017-10-02 17:58] jrobinso commented on #424
OK,  we're wrapping up the last bits to release this soon.

On Mon, Oct 2, 2017 at 10:36 AM, Paul Shannon <notifications@github.com>
wrote:

[2017-10-03 08:21] MichielVanBel opened #426 "Dropdown list of chromosomes"
Maybe I've totally missed it, but I really don't see in the documentation (https://github.com/igvteam/igv.js/wiki/Browser) how you can get a drop-down list for the available chromosomes in the reference genome (as is available in IGV).

One would expect that this is a configuration option set either globally (such as the showRuler and showNavigation) or as an option for the reference genome.

I se

[2017-10-03 15:40] jrobinso commented on #426
Could you describe your use case a little more?  igv.js is not itself a
full browser application, it is a component designed to be embedded in
pages for displaying user-hosted data.

On Tue, Oct 3, 2017 at 1:21 AM, MichielVanBel <notifications@github.com>
wrote:

[2017-10-04 08:32] MichielVanBel commented on #426
we have a set of expression files (e.g. BAM files) that we offer to the end-user for Arabidopsis thaliana. Users can end-up directly at the correct position (because the correct location is given), or through the search-option.

But some users rather just want to browse the data apparently, and as such they want to switch between chromosomes. The issue here is that chromosome naming is non-standar

[2017-10-04 14:16] jrobinso commented on #426
Ahh, yes, understood.  Yes, we can add that.   To be honest I misread the first time as "list of available genomes".

[2017-10-04 17:34] #424 closed

[2017-10-04 17:43] paul-shannon opened #428 "igv.js beta (upcoming 1.0.10?) and region selection via mouse-drag"
Lots to like about the UI in the current beta.  Thanks for all the improvements.

One difficulty I am having:  mouse-dragging a region  in the chromosomal location bar (just below the cytoband) does not always work for me.   Sometimes my mouse-clicks, used to initiate the drag, do not register.  Other times, the selection shading appears later in the dragging process: that initial mouse-down event

[2017-10-04 18:11] jrobinso commented on #428
Thanks, we'll look into it.

[2017-10-04 20:42] turner commented on #428
This should be fixed with commit 5eee529ca7464e25edcc75e3f3e2fa0be6edd44c

[2017-10-05 12:37] MichielVanBel opened #430 "Linkouts for items per track?"
In an annotation track, when clicking on a transcript, you currently get a small pop-up window with the name of the transcript and the associated strand.

Wouldn't it be useful here to make the value in the name-field a URL (to link back to an annotation platform for example), or alternatively provide a link-out field (so beneath the name/strand) that can contain this URL per gene?

The configurat

[2017-10-05 17:16] turner commented on #403
Fixed with commit 200d9ce020adcefd9e12c4841e8d869b2f724762

[2017-10-05 17:16] #403 closed

[2017-10-05 21:21] jrobinso commented on #423
Re-opening.  This needs documentation

[2017-10-05 21:22] jrobinso commented on #428
@paul-shannon  -- Could you verify that this is fixed,  and close the issue if it is?  Thanks

[2017-10-05 21:28] paul-shannon commented on #428
works great!

[2017-10-06 02:00] paul-shannon commented on #428
I spoke a bit too soon, sorry.
The ruler sweeper, perhaps 10% of the time, possibly only on smaller regions, hangs for 15-30 seconds, eventually responds, but then remains barely responsive to (for example) clicks on the "-" icon, zoom out.

[2017-10-06 02:03] paul-shannon opened #432 "removeTracksByName: cannot read property "apply" of undefined"
![image](https://user-images.githubusercontent.com/2480712/31259940-7c83994c-a9ff-11e7-9940-a14fbac950b9.png)

I see this error intermittently in the javascript console.  The request is actually from R, and works most of the time:
[code]
If this is not enough information to be helpful, just let me know.  I can always to recreate it the problem with a bit of javascript pasted into the js console.

[2017-10-06 13:01] turner opened #433 "Extend Ruler Highlighting to Cover All Tracks"
Extend Ruler Highlighting to Cover All Tracks

[2017-10-06 13:23] turner commented on #428
Paul, I pushed a change that should fix the bug. Commit 9410a0d7

[2017-10-09 18:24] brentp opened #435 "Support CSI index for BAM and bgzip (tabix) files"
as far as I can tell bgzip + tabix (.tbi) index is supported. It would be nice if CSI was supported as well.

[2017-10-09 19:49] jrobinso commented on #435
That's probably not too difficult,  I know every little about CSI.   Care to contribute some test files?

[2017-10-09 19:58] brentp commented on #435
Happy to.
You can get them e.g. with a recentish htslib tabix from the root of this repo with:
[code]
I also attached an example VCF with csi index (in .zip) and a gzipped version of the TSCV one as well.
[csi-test.zip](https://github.com/igvteam/igv.js/files/1369676/csi-test.zip)

thanks!

[TSVC.vcf.gz.csi.gz](https://github.com/igvteam/igv.js/files/1369671/TSVC.vcf.gz.csi.gz)

[2017-10-09 22:46] jrobinso commented on #319
Check out the latest commit, in particular the dev/roi.html example file.    You can use any supported feature file type to define the regions of interest

[2017-10-10 17:55] turner commented on #428
Paul, can we close this issue?

[2017-10-10 18:01] paul-shannon commented on #428
yes, and thanks!

[2017-10-10 18:01] #428 closed

[2017-10-13 01:02] sporkman commented on #424
I'm seeing this error in another context with Chrome, and I'm just groping around in the dark.  Can you explain what the root cause of the Chrome issue is and what your fix involved?

[2017-10-13 02:58] jrobinso commented on #424
I don't know what the root cause is, but Chrome does not do a good job of
caching requests with range-byte headers.  To fix it I added a parameter
with a random seed to every request, which makes it appear to the browser
to be a unique URL, like this  "&someRandomSeed=" + Math.random().toString(
36);

On Thu, Oct 12, 2017 at 6:02 PM, sporkman <notifications@github.com> wrote:

[2017-10-13 21:58] turner commented on #432
Paul,

I've run some tests and I do not see a problem with `removeTrackByName(name)`. I implemented the above `R` code in `JS` and it works fine.

Are you still seeing this?

[2017-10-13 22:06] turner commented on #319
Closed with commit d0bd4362

[2017-10-14 23:27] paul-shannon commented on #432
Thanks for looking at this -  I still see it, though only intermittently.   It's on me to track down the details.  I'll try to do so over the next week.

[2017-10-15 01:10] paul-shannon commented on #323
@sgratzl @vrockai @jrobinso: Just back to this project, I am delighted to see this npm-compatible wrapper!
However, I cannot quite get it to work - perhaps one of you can help.

My context:  I building a custom jupyter widget (latest versions of jupyter and widget) which combines cytoscape.js, ngl,  and now I am hoping for igv.js  also.

    npm install --save github:datavisyn/igv_wrapper

followe

[2017-10-15 01:12] jrobinso commented on #432
Might be triggered by whitespace or other special characters in the name?
Just a guess.

On Sat, Oct 14, 2017 at 4:27 PM, Paul Shannon <notifications@github.com>
wrote:

[2017-10-15 01:14] jrobinso commented on #323
I assume you're using the latest code?  We shouldn't have any dependencies
on "draggable" now so that's a bug.   Will look into it.

On Sat, Oct 14, 2017 at 6:10 PM, Paul Shannon <notifications@github.com>
wrote:

[2017-10-15 01:15] jrobinso commented on #323
Paul,  you shouldn't need this wrapper now,  the igv.js and igv.min.js files built from grunt in our repository should be npm compatible.    Pull the latest from our repository, run grunt, and try it.

[2017-10-15 01:17] paul-shannon commented on #323
I think the wrapper uses 1.0.9
I am new to grunt.  I'll start looking, but if you have any tips on how to use grunt on igv.js to (is this right?) place the result into a node_modules/ package, so it can be picked up by webpack, I'd be grateful.

[2017-10-15 01:47] jrobinso commented on #323
You can just diwnlocad the beta, grunt is not required.

On Sat, Oct 14, 2017 at 6:18 PM Paul Shannon <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2017-10-15 02:53] jrobinso commented on #323
Specifically, this file should be npm compatible, it has the wrapper that should do the right thing.    Sorry I don't have experience with npm packaging.
https://igv.org/web/beta/igv-beta.min.js
You should also get the beta css  https://igv.org/web/beta/igv-beta.css

[2017-10-15 18:51] paul-shannon commented on #323
Thanks, Jim.  I got this working with only one change to your latest igv.js:

     "datatables.net" -> "datatables"

I was operating a bit in the blind on this, but I think this jQuery plugin is most conveniently obtained, for those using npm and webpack, as the node module "datatables".  From your git commit notes, it appears that you may include this directly in your build.  But webpack was trou

[2017-10-20 02:39] liub1993 opened #445 "is there any way to show names of variants?"
Hi, is there any way to show names of variants? Like the features in annotation track.

Thanks for any suggestions.

[2017-10-20 03:12] jrobinso commented on #445
Variants don't have a specific name field.  You can click on them to see the attributes available from the VCF file.

[2017-10-20 06:16] liub1993 commented on #445
OK, thanks!

By the way, the gene name look up service is not working now...
https://portals.broadinstitute.org/webservices/igv/locus?genome=hg19&name=egfr

[2017-10-20 07:13] jrobinso commented on #445
Thanks for the report -- service re-started

On Thu, Oct 19, 2017 at 11:16 PM, Bing <notifications@github.com> wrote:

[2017-10-23 15:36] IDispose opened #446 "Feature Parity with Desktop version?"
Hello,
Is the JS version on par with the Desktop version? Do we have a list of features that are missing in the JS version?

Thanks

[2017-10-24 05:19] jrobinso commented on #426
Note:  This should be an optional widget,  default off, and probably to the left of the locus box.  The names come from genome.chromosomeNames.

[2017-10-24 17:35] turner commented on #432
I test for white space. Can we go ahead and close this issue?

[2017-10-24 17:50] turner commented on #426
got it

[2017-10-24 18:26] jrobinso commented on #446
Hi, the short answer is no and no.  If you have questions about or requests for specific features please post them.

[2017-10-24 18:26] #445 closed

[2017-10-24 18:29] jrobinso commented on #398
Update on this.  In the master branch / latest beta there are no external dependencies on jquery or jquery-ui.    So this issue should be resolved.

[2017-10-24 18:37] paul-shannon commented on #432
Sure, please close.   If I come up with a reproducible javascript-only example I will (if I may) reopen.

 - Paul

[2017-10-24 20:08] #432 closed

[2017-10-25 19:24] jrobinso commented on #426
This is available now in igv-beta.   To enable it set
"showChromosomeWidget: true"
in the browser config.   See dev/igv-dev.html

[2017-10-25 19:24] #426 closed

[2017-10-25 21:54] jrobinso opened #450 "Update dom structure page"
This page is actually useful, but out-of-date since the multi-list view.  The viewport section needs updated  https://github.com/igvteam/igv.js/wiki/DOM-Structure

[2017-10-28 03:31] jrobinso opened #454 "Remove track menu item weirdness"
To remove a track I have to select "Gear > Remove Track" twice.   The first time does nothing.

[2017-10-28 03:32] #454 closed

[2017-10-30 15:21] turner commented on #405
I think you are referring to the magnifying glass icon. Yes?

[2017-10-30 19:04] IDispose opened #457 "How do you pass parameters to igv.jar via JNLP?"
The IGV_lm.jnlp file loads the IGV Browser as designed. I am trying to pass the bam file and the locus as parameters via the argument node of the application-desc node. The Browser does not load the specified BAM file

Tried

\\server\path\to\bam\mybamfile.bam
URL Encoding the above
http://server/getbafile <- A rest api in my web app that streams the BAM file (URL Encoded)

Nothing seems to work.

[2017-10-30 19:16] jrobinso commented on #457
Yes, you can pass arguments in JNLP XML.  See the JNLP documentation.   You
will of course have to generate the JNLP file (XML).

If this isn't working please attach your JNLP file.

On Mon, Oct 30, 2017 at 12:04 PM, IDispose <notifications@github.com> wrote:

[2017-10-30 19:18] turner commented on #418
Implemented. Closed with commit a562f6d1.

[2017-10-30 19:18] #418 closed

[2017-10-31 10:36] IDispose commented on #457
I realized I posted the issue to the wrong repo. But since I got a response quickly, I am posting the follow-up here. Let me know if I need to move the issue to the correct repo.

Here is my JNLP
[code]

I have also tried

`<argument>\\MY_SERVER\MY_NETWORK_SHARE\FOLDER\BAM_FILE_NAME.bam</argument>
`
URL Encoded the above as well.

Confirmed that
https://MY_SERVER/MY_WEB_APP/api/GetBAMFile/BAM_FILE

[2017-11-02 03:02] renyaoxiang commented on #342
I prefer npm package than bower package.
And a suggestion, the gulp or webpack is better than grunt to build a new igv version.

[2017-11-02 03:13] jrobinso commented on #342
If you want to make an NPM package you should be able to with the current
igv.js or igv.min.js.

On Wed, Nov 1, 2017 at 8:02 PM, renyaoxiang <notifications@github.com>
wrote:

[2017-11-02 10:50] #457 closed

[2017-11-02 10:50] IDispose commented on #457
Moved question to IGV repo.

[2017-11-03 20:23] jimhavrilla opened #464 "Color wig track by value"
Hey,

I looked through the documentation and the issues for this and it seems there is no way to color a wig track by value.  Would this be simple to implement?  It would be a useful feature for my purposes.  Also, if I'm wrong and it's already implemented somewhere I'm unaware of, please set me straight.

Regards,
Jim

[2017-11-03 21:12] jrobinso commented on #464
I'm not sure I understand the request, could you elaborate?

[2017-11-03 21:16] jimhavrilla commented on #464
Sure. Thanks for answering so quickly.  I have a bigwig track of values ranging from 0 to 100. Say I want to color 0-90 blue, 90-95 orange, 95-99 red, and 99-100 dark red. Is there already a way to do so for a wig track automatically (that is being generated in an html file) or is it a simple task to add this feature?

[2017-11-03 21:22] jrobinso commented on #464
Well no there isn't, and I don't know how difficult it would be.  I've never seen a wig track treated this way,  the height of the bar codes for value,  and I'm not sure it would be widely used.

Perhaps the wig track color field could optionally be a function that you supply that would take the value and return a color.   I would have to test the impact on performance, if any,  for the 99% of use

[2017-11-03 21:41] jrobinso commented on #464
I've made a note to self to investigate supporting color as a function.   Would that work for you?  You would set the color parameter to something like

color: function(wigFeature() {var value = wigFeature.value;  if(value < 90 return "blue") else.... etc

[2017-11-03 22:07] jimhavrilla commented on #464
Yeah that sounds pretty much like what I need. My track is basically under the IgvDiv like
{
                            url: 'File.bw',
                            name: 'Name',
                            type: "wig",
                            visibilityWindow: 500000
                        }

[2017-11-03 22:08] jrobinso commented on #464
OK,  I can't get to this right away,  but if too much time passes ping this thread again.

[2017-11-03 22:09] jimhavrilla commented on #464
Sure thanks for giving it a look
--
Jim Havrilla
PhD Candidate in Human Genetics, University of Utah
Accelerated BS/MS in Biomedical Engineering, Drexel University '12,
Concentration: Bioinformatics
*"Memory, comprehension, communication, motivation"*

[2017-11-06 15:35] turner commented on #450
Done.

[2017-11-06 15:35] #450 closed

[2017-11-06 15:35] turner commented on #405
Fixed.

[2017-11-06 15:35] #405 closed

[2017-11-06 22:08] paul-shannon opened #470 "igv.js as NPM module (and ready to be used with webpack)"
@jrobinso The steps to take in order to build and publicly provide igv.js as a node module are all laid out (I think) in the README of

   https://github.com/paul-shannon/igv.js.npm

When you have time, you could try that out and I could respond to your questions and suggestions for making it more clear.

Then later this week I will add (in an example/ directory) a full  working sample webapp show

[2017-11-08 00:08] paul-shannon commented on #470
@jrobinso  I have added a minimal  webapp to the "igv.js.npm" repo

     https://github.com/paul-shannon/igv.js.npm/tree/master/examples/simpleApp

to illustrate the use of npm and webpack with igv.js.npm.  Follow these steps:

    git clone https://github.com/paul-shannon/igv.js.npm.git
    cd igv.js.npm/examples/simpleApp
    npm init
    npm install
    webpack

Then open ````simpleApp.html````

[2017-11-08 00:17] paul-shannon opened #471 "ReferenceError: Zlib is not defined"
![image](https://user-images.githubusercontent.com/2480712/32524850-864ed888-c3d6-11e7-8349-c2f2b166c8a9.png)

@jrobinso I get this error -- today, but not yesterday -- out of the code I build from a fresh pull of ````igv.js```` followed by grunt.

I have not yet found a mistake on my end (which I expect is the problem).  Have you seen this error on your end?   It occurs when igv is attempting to

[2017-11-08 01:49] jrobinso opened #472 "Fix gene labels in collapsed mode"
Looks bad...

<img width="856" alt="screen shot 2017-11-07 at 5 48 39 pm" src="https://user-images.githubusercontent.com/933148/32527659-0d80bd6e-c3e4-11e7-9900-f4ac141df6a9.png">

[2017-11-08 04:11] jrobinso commented on #471
Hi Paul,  I haven't been able to reproduce it, but did re-order some includes in the grunt file.  Could you pull and try again?   I hope to get my own NPM set-up soon for testing and maybe then can catch these before you do.

[2017-11-08 16:07] paul-shannon commented on #471
Hi Jim,

Thanks for getting to this.   Unfortunately the Zlib error persists.

If it’s of interest, cloning my repo (only for the minimal npm/webpack simpleApp it contains) should reproduce the error quickly:

  git clone https://github.com/paul-shannon/igv.js.npm.git
  cd igv.js.npm/examples/simpleApp
  npm update
  webpack
  open simpleApp.html

(I still would not be surprised if the error turns

[2017-11-08 19:14] jrobinso commented on #471
Thanks,  I can reproduce it now with your repo, which is most of the battle.

[2017-11-09 04:25] jrobinso commented on #471
I'm puzzling over something.   I'm trying to update the igv.js that gets bundled,  and replaced the copy in the project route.  But webpack from the "simpleApp" directory is getting a copy from somewhere else,  specifically and older copy.

[2017-11-09 05:21] jrobinso commented on #471
OK,  I'm stumped.   I forked your repository and renamed it slightly to avoid confusion (igv.js-npm).  I pulled and updated references to your repository -> ours.  Then I update igv.js and tried to build and run the example.   I get the error below.  It doesn't surprise me it can't find these modules,  I'm obviously missing some step.  Could you pull https://github.com/igvteam/igv.js-npm and see w

[2017-11-09 05:44] jrobinso commented on #471
OK,  I think I'm missing a publishing step.  Its not enough to just update igv.js in the repo and commit, correct?    I think the best course is for me to publish igv.js as an npm package,  will let you know when that's ready.

[2017-11-09 06:37] jrobinso commented on #471
Maybe some progress, on the npm side.   Could you try using this npm package?

npm install git://github.com/igvteam/igv.js-npm.git

[2017-11-09 06:48] jrobinso commented on #471
WRT to the "ZLib" error,  if I manually replace the igv.js contents in "bundle.js" with the latest igv.js the error goes away and it works.   So there is some problem still with the webpack creation of bundle.js, in my setup anyway.   If you are able to modify your test to use the npm install from our repo above that error should go away,  I haven't got that far in my webpack understanding.

[2017-11-09 06:49] jrobinso commented on #471
Before publishing to NPM I suppose I should substitute the minified version of igv.js,  using the full one is useful for debugging but its big.

[2017-11-09 07:05] jrobinso commented on #471
OK, got it.  Phew.   I've got your "simpleApp" working by using git://github.com/igvteam/igv.js-npm.git  (see package.json below).   The package is installed as module  "igv.js".    So in main.js  var igv = require('igv.js')
require('igv.js/igv.css')

package.json for simpleApp

{
  "name": "simpleapp",
  "version": "0.1.0",
  "description": "demonstrate use igv.js.npm in a minimal webapp",
  "aut

[2017-11-09 15:29] paul-shannon commented on #471
Looks great, Jim!  Thanks for all the extra effort you expended in getting this to work.

 - Paul

[2017-11-09 17:16] jrobinso commented on #471
I will keep this repo (igv.js-npm) up to date,  so install from there for a
stable module.  By up-to-date I mean periodically, not on every commit.
 Also very soon I'll publish this at NPM but that will be updated only on
numbered releases.

On Thu, Nov 9, 2017 at 7:29 AM, Paul Shannon <notifications@github.com>
wrote:

[2017-11-09 23:41] jrobinso commented on #471
Paul, one last change and I'll close this issue.   I changed the module package name to "igv",  rather than "igv.js".    So its require('igv') and required('igv/igv.css').   Also, its at NPM so you can install from there or our git repo.     npm install igv

[2017-11-09 23:41] #471 closed

[2017-11-09 23:42] paul-shannon commented on #471
Wonderful!   Thanks, Jim.

 - Paul

[2017-11-10 03:05] jrobinso commented on #470
Thanks @paul-shannon

[2017-11-10 03:05] #470 closed

[2017-11-10 03:05] #446 closed

[2017-11-10 03:10] jrobinso commented on #430
Let me rephrase to see if I understand.    Add a track config option to specify a URL to add to a features popup detail window.   The URL could include a wildcard for substituting the feature name or other specified attribute.   For example

infoLink: "http://www.genecards.org/cgi-bin/carddisp.pl?gene=$FEATURE$"

[2017-11-10 03:11] jrobinso commented on #406
Closing due to lack of response

[2017-11-10 03:11] #406 closed

[2017-11-10 03:11] jrobinso commented on #404
Closing due to lack of response

[2017-11-10 03:11] #404 closed

[2017-11-10 03:13] jrobinso commented on #398
Final update,  igv.js has no javascript dependencies now (latest master branch).    Also, its available as an NPM module under the package name "igv".    So this issue should be solved with the latest code, re-open with details if not.

[2017-11-10 03:13] #398 closed

[2017-11-10 03:36] jrobinso commented on #342
igv is now published to NPM.   If a Bower package is still needed please re-open this,  but also be prepared to help test it.

[2017-11-10 03:36] #342 closed

[2017-11-10 03:37] jrobinso commented on #337
Too complex

[2017-11-10 03:37] #337 closed

[2017-11-10 03:38] #198 closed

[2017-11-10 03:38] #37 closed

[2017-11-10 03:39] #249 closed

[2017-11-10 03:41] jrobinso commented on #363
Modifying this to "add more references"

[2017-11-10 03:43] jrobinso commented on #329
@francois-a Apologies for the long delay in responding.   Is this topic still of interest?

[2017-11-10 03:43] #135 closed

[2017-11-10 12:53] MichielVanBel commented on #430
Exactly something like that. It's just that, if you want to include IGV.js in a website, then some kind of interactive way of linking to/from other websites is a necessity.

[2017-11-10 17:17] francois-a commented on #329
@jrobinso Yes, thanks!

[2017-11-11 05:13] jrobinso commented on #329
OK,  I've tagged it for the 1.1 release,  which we are working to finish now.

A followup question -- are you using the eQTL web service,  or the file format?    And what version of igv.js are you using?  I ask because the eQTL track was created specifically for the gtex portal and the api never published in our doc,  to make it public and supported I need to figure out what you are using.   I was

[2017-11-11 05:23] jrobinso opened #475 "Additional "color-by" options for alignment track (igv.js)"
The alignment track is missing some important color-by options,  e.g. pair orienation and insert size.  Also,  color by  "track color"  is hard to interpret,  what does that mean?  I don't think its going to mean anything to a user,  we need a better name for that.

<img width="147" alt="screen shot 2017-11-10 at 9 20 46 pm" src="https://user-images.githubusercontent.com/933148/32686621-5bcfcade-c

[2017-11-12 22:08] francois-a commented on #329
Thanks! This is for the GTEx Portal -- I'll ask someone from the team to comment.

[2017-11-12 23:03] jrobinso commented on #329
Oh, sorry I didn't make the connection.

On Sun, Nov 12, 2017 at 2:08 PM, François Aguet <notifications@github.com>
wrote:

[2017-11-13 01:36] jrobinso commented on #329
Also, as this is gtex no answer needed re what you are using.

Can I take this then as an official request from GTEx,  or are you just asking if its possible?   Yes its (probably) possible, but I need a bit more precision on what you want.

Would scaling be based on the range of values that are in view?  This can be confusing as the scale would change based on what locus you are viewing.   So if y

[2017-11-13 02:22] khadley commented on #329
@francois-a Do you know if we want the track scaling to be only for the window that's being viewed or for the entire genome?

We could implement it for the whole genome first and then later (or soon since 1.1 is coming out) change it to scale according to the window.

Or we could figure out the case when we'd want the track to scale across the whole genome and the case when we'd want the track to

[2017-11-13 03:17] renyaoxiang opened #479 "What the specification of index is?"
Now, I could have the gtf, gff files shown in the igv, and still I would like to use the index of gtf, gff or bed .
How could I get the file format of the index files ? or how could I get the index files?

[2017-11-13 03:20] jrobinso commented on #479
Do you mean ".idx" files?  Its an htsjdk format,  but I don't think its documented.   You can browse the source code here https://github.com/samtools/htsjdk/tree/master/src/main/java/htsjdk/tribble/index.

In general I don't recommend this type of index,  bgzip + tabix is more effecient.

[2017-11-13 03:59] renyaoxiang commented on #479
get it, thank you!

[2017-11-13 04:20] francois-a commented on #329
Yes, please consider this a request for the portal. Sorry if that was ambiguous.

It's fine if done in the window (I don't think genome-wide would work--the presence of loci with very small p-values will make everything else look insignificant). Since significance is not determined on an absolute scale, users will have to check the y-axis range in any case.

[2017-11-13 16:45] jrobinso commented on #329
OK,  got it.   Note that "region in view" in igv.js includes a flanking region +/- the current window width.   That will be used to autoscale.   There is no easy way to scale to the precise region in view.

@khadley could you check the track configs in dev/gtex.html and edit them if they are out of date?  Send me a pull request.   Or you can just attach the modified gtex.html in an email.

[2017-11-15 09:40] #479 closed

[2017-11-15 20:21] gaitat commented on #287
I am getting this error in igv-1.0.9 and Chrome (i.e. net::ERR_CACHE_OPERATION_NOT_SUPPORTED) and I can see that the random seed fix that you mention is in igv-beta.js. Will the fix be propagated to the next version of igv.js?

[2017-11-15 20:29] jrobinso commented on #287
Yes, this fix will be in the next release,  probably by the end of November.  In the meantime it is in the beta release now.

[2017-11-15 21:13] paul-shannon opened #481 "recent trouble with browser.search("geneSymbol") (no trouble with 1.0.9)"
![image](https://user-images.githubusercontent.com/2480712/32859653-f6b4b75e-ca03-11e7-9c11-b5d017b1a502.png)

I cannot reproduce this in a minimal html file, where search always works, but it happens regularly now when I build from the full npm igv.js - either at npm, or from my own freshly updated igv.js.npm github repo.  In all cases, a chromosomal location ("chrN:start-end") works fine.

When

[2017-11-15 21:33] jrobinso commented on #481
Could you try using these:  http://igv.org/web/test/dist/

"beta" is updated periodically,  but has not been updated since prior to
the npm release.   If you can reproduce the problem with the versions above
it will eliminate npm as the cause.

We run a search webservice for a few genomes, I think mm10 is one of them,
and it will be tried if you don't have any searchable tracks.   Indexed
tracks c

[2017-11-15 22:20] paul-shannon commented on #481
Hi Jim,

I tried the web/test igv.js and igv.css, using a <script> tag to load.  Alas, I see the same problem.  If you have further ideas for things I can try, please send them along.

I see now that I have been using your search webservices for hg38 and mm10 all along, without realizing it.  Your comments about the unworkability of index tracks makes perfect sense.

 - Paul

[2017-11-15 22:25] paul-shannon opened #482 "browser.loadTrack (bed file) drops final line in version > 1.0.9"
All lines are picked up and displayed in 1.0.9, but not in the current github, npm or web/test versions.

In these later versions, the last line of the bed file appears to be dropped, and the corresponding region is not displayed.

This one should be easy to reproduce!

[2017-11-15 22:48] jrobinso commented on #482
Does this occur with all bed files?  We might need a sample but I'll try to reproduce first.

[2017-11-15 23:34] jrobinso commented on #481
Paul, unzip and try the attached example file and see if search works.  It works for me.   If it does work for you we have to figure out what's different in your example html vs this html.   If it doesn't work we have to figure out what's different in our environments.
[mm10.html.zip](https://github.com/igvteam/igv.js/files/1476744/mm10.html.zip)

[2017-11-16 00:14] paul-shannon commented on #481
Jim, this is helpful.

I made one small change to your example, assigning a global variable for easy access in the javascript console:

    igvBrowser = igv.createBrowser(div, options);

Then the contrast is clear:

  success: if I type “tcf7” into the search box
  success: if I type "chr11:94,934,223-94,955,042” into the search box
  success: from the console: igvBrowser.search("chr11:94,934,223-

[2017-11-16 02:10] jrobinso commented on #481
Yes, I can reproduce it now.  It is a bug.   We'll fix it soon.

[2017-11-16 02:21] jrobinso commented on #481
Bug is fixed.   However, @turner   browser.search() should use the same code internally as the "go" box, and take the same arguments.

[2017-11-16 02:41] jrobinso commented on #481
@paul-shannon update from npm again and see if the problem is fixed (0.1.1).   BTW The NPM version numbers reflect the fact that we haven't released an igv.js NPM version yet, by that I mean that igv.js itself is not officially released.   When it is NPM and igv.js versions will be in sync.

[2017-11-16 02:41] #481 closed

[2017-11-16 03:28] renyaoxiang opened #483 "How to build a server supporting ga4gh data for igv.js?"
We are using igv.js to build a genome browser. How could we use a ga4gh data source? If there is some open source to build a server and support the ga4gh data?
We use the java language, so we would like it to be written by java.  I found the opencb in github looks like a very reliable originzation and support the ga4gh schema data server. Could you supply some infos about it if you are familiar wi

[2017-11-16 04:58] jrobinso commented on #483
Hi,  we support the ga4gh protocol but don't supply a server so I have no information for you that you can't easily find by a web search.

[2017-11-16 04:58] #483 closed

[2017-11-16 11:41] renyaoxiang commented on #483
thank you。

[2017-11-17 23:40] paul-shannon commented on #395
mm10 is working fine now - thanks.   hg38 gene symbol searchstill appears to be broken; hg19 coordinates for AQP4, for example, seem to be returned by igvBrowser.search:

     chr18:24,430,007-24,447,716

rather than hg38's:

     chr18:26,850,038-26,867,818

If I supply my own searchable gene symbol track, I can override this on subsequent search function calls, from the search box or the console

[2017-11-18 00:26] paul-shannon commented on #395
I just discovered that if I expand ````options.reference```` as shown below, then the hg38 search function works as expected.   I guess over-interpreted the power of simply assigning ````id: "hg38"````, without also specifying ````fastaURL```` or ````cytobandURL````.
[code]

[2017-11-19 14:50] jrobinso commented on #395
That's a bug, setting the ID should be enough.

[2017-11-20 02:12] jrobinso opened #484 "igv.js freezes if brought up in multi locus view"
igv-dev.html came up in multi-locus view.   There was no way out of it.  "all" was pre-selected (it shouldn't be,  there should be no selection in the chromosome box if in multi-locus).   Trying to click or double-click on one of the headers (e.g. EGFR) freezes the app

[2017-11-20 02:56] #484 closed

[2017-11-20 09:17] renyaoxiang opened #485 "What file types of ga4gh schema does the igv support ?"
I read some issue of igv.js and It seems that igv.js only support alignment and variant files if we use ga4gh schema. So does it means only the bam or vcf files is valid?
As several months pasted after that issue. What types of ga4gh schema does the igv support?

[2017-11-20 17:22] jrobinso commented on #485
IGV supports alignments (bam) and variants (vcf) in the ga4gh scehma.

[2017-11-20 21:03] paul-shannon commented on #482
@jrobinso   I discovered that, if the bed file (my test file has only 4 lines) is served up by apache, all lines are rendered by igv.   If I use the webserver either in the jupyter nbserver, or (in R) the webserver provided by the httpuv package, then the last line of any bed file is dropped.

These are specialized use cases, probably quite distant from your main concerns.  But they are important

[2017-11-20 22:54] jrobinso commented on #482
Sure.   looks at js/feature/FeatureFileReader.  The function loadFeaturesNoIndex() (line~155) reads the contents, which are then passed to FeatureParser.parseFeatures.   The problem though is probably with the class StringDataWrapper (line 846 of featureParsers).   I will look at it when I have time, but it would be helpful if you zip and attach a problematic bed file (you have to zip it or github

[2017-11-20 22:59] paul-shannon commented on #482
Thank you, Jim.

I see the problem with ALL bed files; they all include a trailing newline.  Here’s a 5 row example:

which unzips to this:

18	26860695	26860701	A	-0.131537643261254
18	26860937	26860941	B	-0.995450963731855
18	26860788	26860792	C	0.669384277425706
18	26860880	26860887	D	0.660165932495147
18	26860770	26860774	E	0.913935635704547

[2017-11-20 23:14] jrobinso commented on #482
Well it loads fine for me,  not surprising as my server is apache.

Do this, which will help.   Load in chrome with "developer tools" on.   Click the network tab.   You'll find the http get for the bed file.   Then click on "response" to see what the server is actually sending.    I still suspect a missing line feed at the end,  but maybe not in the file itself.

[2017-11-20 23:24] jrobinso commented on #482
I see the flaw in the logic here,  the last line won't be returned if not terminated with a line feed.  I suspect the servers that aren't working aren't returning the trailing line feed,  however you could easily verify that with chrome developer tools.    I will fix this logic when I can get to it (soon).

    StringDataWrapper.prototype.nextLine = function () {
        //return this.split(/\r\n|

[2017-11-22 03:42] #482 closed

[2017-11-22 03:45] jrobinso commented on #482
Fixed in master.  Do you need me to update NPM or the npm github?

[2017-11-22 16:29] josephhalstead commented on #391
Hi,

This would be a really useful feature? Do you know if it is likely to be implemented soon?

Thanks,

[2017-11-22 21:34] paul-shannon commented on #482
Thanks, Jim.   I could do a fresh pull, grunt and build my own npm (“igv.js.npm”) from your github repo, and then use your npm repo when it is updated.  Both are fine by me!

 - Paul

[2017-11-24 18:20] paul-shannon opened #486 "feature request: fireEvent when the cursor guide changes"
We'd like to provide a simple visual way for our users to specify the TSS for a transcript.  One possibility would be for our app to register an event handler which tracks any changes to the cursor guide.   Perhaps this could be included in the event API which (if I remember right) will be part of igv.js version 1.1?

[2017-11-24 18:39] jrobinso commented on #486
Could you expand a little on how this would work?   Would you rather capture a user click on a specified track?

[2017-11-24 19:10] paul-shannon commented on #486
Briefly, the context may be helpful.   Our R trena package builds gene regulatory models by combining

  1) DNase footprint or ATAC-seq (“regulatory region”) data
  2) MotifDb motif/TF annotations
  3) gene expression.

“trenaViz” runs igv.js and cytoscape.js in the browser, from R, or within a jupyter notebook.  The user needs to specify the region of interest (roi), the target gene and the trans

[2017-11-24 19:24] jrobinso commented on #486
Thansk,  what I'm missing is how is the selection made?  As the user moves the mouse around the cursor position changes,  how do you know when the TSS has been selected?

[2017-11-24 19:39] jrobinso commented on #391
Actually, this is implemented,  just not documented and there is only one example.   See dev/cBio.html and js/feature/customServiceReader.

If you have a webservice ready  I can provide an example config for it and we can move this closer to release.   The basic requirement is the service accept a query for features as either a get or post,  and returns a list of feature objects.    The details of

[2017-11-24 19:39] paul-shannon commented on #486
I picture the user moving the cursor to the right spot, then calling a function in R or python to query that current location.

The ipyWidget design uses “traitlets” - a base class for syncing up selected variables between browser and kernel.  This forces a reactive programming model, which, to my mind, forces an application level design in which relevant browser state is automatically updated to

[2017-11-24 19:57] jrobinso commented on #486
Why not just call an igv API function to give you the current cursor position whenevery you want it?    There is no API function, but could be.

[2017-11-24 19:58] jrobinso commented on #486
As an alternative, that is,  when I get into this events might be easier.

[2017-11-24 20:04] paul-shannon commented on #486
Maybe I am missing something, but as far as I see it, the intrinsically round-trip structure of a function call maps poorly onto asynchronous (websocket) communication.

in R or python:

  cPos = getCursorPosition()
     send async message to browser, specifying callback

  def callBack(cPosResponse)
    # how to route this delayed response back to the initiating function?
    # could set a global

[2017-11-24 20:53] jrobinso commented on #486
So the trigger for this is the user running come code,  not a UI element on the page?

To register to receive updates through events you will supply a javascript function, which gets called,  I know this is obvious just confirming.

[2017-11-24 21:05] paul-shannon commented on #486
Sorry that I have been confusing, probably explaining too much and too little at the same time...

The trigger would not be a user's function call, but a user UI action in the igv browser.

I imagine that the javascript event handler would be set up like this

   igvBrowser.on(“cursorGuideMouseUp”, function(referenceFrame, newValue){
      browserState.cursorGuideChromLoc = newValue;
      })

ipy

[2017-11-24 21:10] jrobinso commented on #486
OK, go it.

[2017-11-25 13:28] josephhalstead commented on #391
Thanks for the speedy reply! Great I will take a look.

I am developing an internal tool so it does not have an external webservice at the moment. However, I will be able to deploy a dummy version of one when I get back to work in a few weeks.

Essentially the API looks like:

Example Input:

A chromosome number, start and end position e.g.

api/variants/?chr=chr1&start=69000&end=70000

Example Ou

[2017-11-28 03:32] renyaoxiang commented on #435
I add a track in igv and errors occurred, the track options is following.
Does igv not support the gz file?
[code]

[2017-11-28 03:38] renyaoxiang commented on #282
Dear @jrobinso
This is a grate idea, I am hopping to make it work and pull a request. Do you have some suggestion?

[2017-11-28 06:44] jrobinso commented on #435
Yes it does.

On Mon, Nov 27, 2017 at 7:32 PM, renyaoxiang <notifications@github.com>
wrote:

[2017-11-28 06:45] jrobinso commented on #435
Does your server support Range-byte requests?

On Mon, Nov 27, 2017 at 10:44 PM, James Robinson <
jrobinso@broadinstitute.org> wrote:

[2017-11-28 06:46] jrobinso commented on #435
Also, please open a new git issue for a new problem,  with as much details
as you can.   At a minimum this includes the igv version number,  and any
output in the javascript console.

On Mon, Nov 27, 2017 at 10:45 PM, James Robinson <
jrobinso@broadinstitute.org> wrote:

[2017-11-28 09:04] renyaoxiang commented on #435
Dear @jrobinso
Thank you!

[2017-11-28 21:37] jrobinso opened #489 "Setting data scale on TDF tracks causes data reload"
Just setting the data range on a TDF track causes the data to be reloaded.

[2017-11-29 00:05] mbookman opened #490 "Read track fails to load when changing chromosome (sharded BAMs)"
For a given genomic sample, we have aligned reads sharded by chromosome, such that BAM files are named `recalibrated.<chr>.bam`. We load samples from Google Cloud Storage with track information like:

      sourceType: 'gcs',
      type: 'bam',
      url: "gs://<path>/<sample-id>/recalibrated.<chr>.bam
      indexPath: "gs://<path>/<sample-id>/recalibrated.<chr>.bam.bai",
      label: 'Reads',

[2017-11-29 02:53] jrobinso commented on #490
I can think of a few ugly quick solutions.   How urgent is this (timeline)?

[2017-11-29 17:18] mbookman opened #491 "Browser's "Save Image As" no longer available on BAM tracks."
In the version of IGV.js that we have been testing for the next release of MSSNG, we find that we can no longer "right-click" on the BAM tracks and "Save Image". Instead of the browser's pop-up, we now get a pop-up menu that says "Sort by base".

Saving the pileup image was really useful. Is there a way to restore this functionality? I'm wondering if an explicit "Save Image" option can be added to

[2017-11-29 23:46] jrobinso commented on #491
We need to have another trigger for our context-specific menu and leave the right-click menu to the browser.  This will resolve the issue.

[2017-11-30 06:17] renyaoxiang commented on #485
Dear @jrobinso
Thank you!

[2017-11-30 06:17] #485 closed

[2017-11-30 06:41] renyaoxiang opened #492 "This wiki page does not work 'Genomic State Object'"
I would like to use a latest version.
And I did the following config, it does not work. there is something wrong I think.
https://github.com/igvteam/igv.js/wiki/Genomic-State-Object

[2017-11-30 15:06] jrobinso commented on #492
Hi @renyaoxiang .    Thank you for your reports,  but if you want help you are going to have to provide complete details of what you did and what went wrong.   An example test case is also helpful.

[2017-12-06 21:53] jrobinso commented on #329
@francois-a I've implemented this and and am trying to test it but am getting a 502 "bad gateway" error from your server.   @khadley here is the URL that is giving the error,  could you let me know when its fixed and I am able to test?  Thanks.  https://dev.gtexportal.org/rest/v1/association/singleTissueEqtlByLocation?chromosome=1&start=7355127&end=10141158&tissueName=Brain_Cerebellar_Hemisphere

[2017-12-07 05:02] #329 closed

[2017-12-07 05:02] #464 closed

[2017-12-07 05:03] jrobinso commented on #464
Example usage:

[code]

[2017-12-07 05:03] jrobinso commented on #464
BTW it's not necessary to provide a visibilityWindow for bigwig tracks,  they are efficient at all zoom levels.

[2017-12-07 22:25] jrobinso commented on #492
Also,  the page referenced is documentation of code,  its not an API so there is no way really that it "does not work".   If you want to reopen this please provide detailed specifics.

[2017-12-07 22:25] #492 closed

[2017-12-08 01:52] renyaoxiang commented on #492
Dear @jrobinso
Thanks, It did make no error or warning.
Now I have suspend the work and would like to have a try some day.

[2017-12-08 06:11] #490 closed

[2017-12-08 06:12] jrobinso commented on #490
Example use
[code]

[2017-12-08 18:58] arq5x opened #495 "Display bigwig value on hover"
Hi Jim and team,

Would it be possible to make igv.js display the value for a BW or BEDGRAPH interval when one hovers over a particular interval? This would be very useful for the constrained coding interval (CCR) browser we have developed using this awesome framework.

https://s3.us-east-2.amazonaws.com/ccrs/ccr.html

Aaron

[2017-12-08 22:01] jimhavrilla commented on #464
thanks for implementing this btw

[2017-12-08 23:38] mbookman commented on #490
What is the correct syntax for indicating that your `shardedBam` is indexed?
Are BAI files assumed to be at the `<url>.bai`?
For example: `gs://igv-bam-test/mock/recalibrated.21.bam.bai`?

[2017-12-09 04:42] jrobinso commented on #490
@mbookman Good question.  If you follow the <url>.bai convention you don't need to specify anything.   I just pushed an update that lets you specify the indexURL pattern if not.   I updated example  (see dev/shardedBam.html) to specify the index, even though in this case its not neccessary.

[code]

[2017-12-09 05:09] jrobinso commented on #495
Hi Aaron,

Yes, but we need to find a good hover library.   Our attention is focused
on some other things now but ping this ticket if it lingers too long.

Hover text is useful for some tracks,  and really annoying for others (e.g.
bams).   We have been implementing "click popup" for many tracks,  but not
wig type tracks are not supported yet.   Would that be useful as an interim
solution (click t

[2017-12-09 14:20] arq5x commented on #495
Click pop up would actually be preferred over hover in my opinion!

[2017-12-10 03:15] jrobinso opened #497 "Gtex selection broken"
After searching for a gene in GTex the gene name and associated EQTLs should be highlighted in red.  They are not,  because the "handleSearchResult" function is no longer called after a search.  This bug will prevent GTex from using the latest release.

To test this load the dev gtex.html file,  then load the adipose eqtl track and search for gene SLC25A3.

[2017-12-10 04:17] #495 closed

[2017-12-10 17:10] mbookman commented on #490
Thanks!

[2017-12-11 12:41] josephhalstead commented on #391
Hi,

I have had a go at configuring IGV for my webservice, but don't seem to be able to get it to work for a variant track.

I have an example of the API below. The API takes a get request with the following parameters: chr, start and end.

http://samwonderfall.pythonanywhere.com/api/variants/?chr=chr11&start=1&end=1000000000

Would you be able to direct me as to how I write a config file. I can e

[2017-12-11 15:55] paul-shannon opened #498 "vcf track: "data.split" is not a function"
Using igv.js built from a Dec 8th pull, and using this track

                {name: "chr7 sub variants",
                  format: "vcf",
                  url: "http://trena.systemsbiology.net/misc/chr7-sub.vcf.gz",
                  indexURL:  "http://trena.systemsbiology.net/misc/chr7-sub.vcf.gz.tbi",
                  type: "variant"
                  },

![image](https://user-images.githubus

[2017-12-11 18:27] jimhavrilla commented on #498
Also getting this error, even in version 1.0.9.
I am identifying the track like so:
{
                            name: "ClinVar functional pathogenics",
                            type: "variant",
                            url: "https://s3.us-east-2.amazonaws.com/ccrs/tracks/clinvar-functional-pathogenics.vcf.gz",
                            indexURL: "https://s3.us-east-2.amazonaws.com/ccrs/t

[2017-12-11 19:32] jrobinso commented on #498
Jim, are CORS headers enabled on those s3 buckets?

On Mon, Dec 11, 2017 at 10:27 AM, Jim Havrilla <notifications@github.com>
wrote:

[2017-12-11 19:35] jrobinso commented on #498
@jimhavrilla See the CORS section here:  https://github.com/igvteam/igv.js/wiki/Data-Server-Requirements.   There is an example S3 rule set (the one we use).

[2017-12-11 19:37] jimhavrilla commented on #498
Is this necessary for all tracks or just VCF?  Because without me setting up CORS header configuration, literally all other tracks render just fine.

[2017-12-11 19:38] paul-shannon commented on #498
CORS headers seem to be shipshape at trena.systemsbiology.org, leading me to suspect that they are not the cause of the vcf track problem.

 - Paul

[2017-12-11 19:39] jimhavrilla commented on #498
I would have to agree.

[2017-12-11 19:40] jrobinso commented on #498
CORS headers always necessary for any trackf your page is on a different host than the data.   Where is the page hosted?   I tried testing your track and it failed because the CORS headers weren't present.   Could you post a track config from the same server that is working?   @paul-shannon I'm not sure this is the same problem as yours.

[2017-12-11 19:42] jimhavrilla commented on #498
I'm pretty sure it's the same issue.  Trust me that it renders fine: https://s3.us-east-2.amazonaws.com/ccrs/ccr.html

[2017-12-11 19:44] jimhavrilla commented on #498
That's with the VCF error.  If I remove the VCF track it works just fine.  You probably aren't able to read the S3 file the way you need to on your end but the HTML is also run in the S3 bucket, and I have had no issues with any track but the VCF track.

[2017-12-11 19:51] jimhavrilla commented on #498
@jrobinso Can you see that all other tracks are rendering fine?  Since the page is on the same host as the data, CORS headers are not an issue.

[2017-12-11 19:58] jrobinso commented on #498
If you see this issue in 1.0.9 it is definitely not the same.   I'm am
working on a fix for Paul's issue, then I'll turn my attention to yours.
 Its a little harder for me to test without the CORS headers but I'll try
debugging from your page.

On Mon, Dec 11, 2017 at 11:51 AM, Jim Havrilla <notifications@github.com>
wrote:

[2017-12-11 19:59] jimhavrilla commented on #498
Well if you fix Paul's issue I have a pretty strong feeling you'll fix mine.  So I am happy to wait for that.

[2017-12-11 19:59] jrobinso commented on #498
OK, the bug affecting Paul was introduced a few weeks ago in master.   I
will have a push within a few hours.

On Mon, Dec 11, 2017 at 11:59 AM, Jim Havrilla <notifications@github.com>
wrote:

[2017-12-11 20:00] jimhavrilla commented on #498
Cool will this fix also be here: https://igv.org/web/test/dist/igv.js

[2017-12-11 20:01] jrobinso commented on #498
Yes, that automatically builds from commits to master.

On Mon, Dec 11, 2017 at 12:00 PM, Jim Havrilla <notifications@github.com>
wrote:

[2017-12-11 20:06] jimhavrilla commented on #498
Great, I figured as much, but good to be sure.

[2017-12-11 21:38] #498 closed

[2017-12-11 22:14] jimhavrilla commented on #498
So, I checked my S3 bucket and my CORS configuration looks like your example.  I made it exactly the same just to be sure, and no difference for me.  Did this commit fix your issue @paul-shannon?
![image](https://user-images.githubusercontent.com/6568964/33856648-0360ef5e-de86-11e7-9bee-320e22cbc5e6.png)

[2017-12-11 22:18] jrobinso commented on #498
@jimhavrilla I'm looking at your problem now, its unrelated to Paul's.  I think you said this was also a problem with 1.0.9, correct?  There's something different about the call sets (genotypes) in these VCFs,  stay tuned.

[2017-12-11 22:24] jimhavrilla commented on #498
I don't have genotype data in the file if that's what you mean.  And on going back, I made a mistake about 1.0.9.  It works there, I just forgot to use the 1.0.9 css when I threw in the 1.0.9 js.  My mistake entirely.  Still does not work in the test dist though.

[2017-12-11 22:28] paul-shannon commented on #498
The fix works for me, pulled fresh from https://github.com/igvteam/igv.js followed by grunt.

Thanks, Jim!

[2017-12-11 22:36] jrobinso commented on #498
@jimhavrilla Should be fixed now.  There was a bug introduced that affected VCFs without genotypes.  I had forgotten that was possible,  I've added one now to my test files (vcf with no genotypes).

[2017-12-11 22:47] jrobinso commented on #391
Hi, try this
[code]

[2017-12-11 23:53] jimhavrilla commented on #498
Ok, it works now.  Thanks.  That explains why the data.split error kept popping up

[2017-12-12 05:59] #491 closed

[2017-12-12 14:51] josephhalstead commented on #391
Great thanks!

[2017-12-12 22:11] mbookman commented on #490
Hi Jim - just wanted to mention that we have tested this change and everything looks good.

Thanks again!

[2017-12-12 22:29] jrobinso commented on #490
Great.   I also restored the right-click context menu.

On Tue, Dec 12, 2017 at 2:11 PM, Matt Bookman <notifications@github.com>
wrote:

[2017-12-13 21:18] arq5x opened #500 "Add locus coordinates to URL"
As a feature request, would it be possible to add specific coordinates as a parameter to the URL so that one can share a link taking a user to an exact location?

For example: https://s3.us-east-2.amazonaws.com/ccrs/ccr.html/locus/chr20-62075858-62076005

Is this possible?

[2017-12-13 22:41] jrobinso commented on #500
Hi Aaron,

This isn't announced or documented because I'm still working on it,  but
this should already work as a parameter.   You need to % encode the locus.
 Try this

http://igv.org/web/test/test.html?locus=myc

Also,  IGV XML style sessions are mostly supported.   See the example
url below.

http://localhost/igv-web/dev/igvjs.html?igvSessionXML=..%2Ftest.xml&locus=15%3A63%2C588%2C066-72%2C426%

[2017-12-14 10:37] jimhavrilla opened #501 "With latest test dist, cannot search with Gene Symbol (no trouble with 1.0.9)"
<img width="1179" alt="screen shot 2017-12-14 at 3 34 38 am" src="https://user-images.githubusercontent.com/6568964/33987902-c6741516-e07f-11e7-8166-86afa70b641a.png">
<img width="1179" alt="screen shot 2017-12-14 at 3 34 38 am" src="https://user-images.githubusercontent.com/6568964/33987930-d9c312b6-e07f-11e7-9b4f-f6435f11f6e6.png">
Note how this works in 1.0.9 above.
If I use the latest dist:
<i

[2017-12-14 10:46] jimhavrilla commented on #500
Hey Jim we already have a working solution to this, but I had a question that maybe you can answer for me...where does the locus attribute get stored (seems like it isn't in the igvDiv object) when someone enters a new locus into the search bar?  Because if I can get that information I can solve another issue we have which is updating the URL to reflect a new search.

[2017-12-14 16:07] turner commented on #501
i am looking at this now

[2017-12-14 16:31] turner commented on #501
Search is back. Fixed with commit a89738963dacf9e468ca78556395c37ec6d307a1

[2017-12-14 16:31] #501 closed

[2017-12-14 17:44] jrobinso commented on #500
The short answer is it doesn't get stored.     There is no API for this,
please open another issue describing what you want to do.   Its not a good
idea to build systems based on internal state as this can and will change
without warning.

Jim

On Thu, Dec 14, 2017 at 2:46 AM, Jim Havrilla <notifications@github.com>
wrote:

[2017-12-14 19:11] jimhavrilla commented on #501
Thanks

[2017-12-14 19:24] jimhavrilla commented on #500
Will do.  Thanks.

[2017-12-14 19:26] jimhavrilla opened #502 "Ability to grab locus coordinates from igvDiv object"
It seems like the igvDiv object doesn't store the locus information (Jim has already told me it does not) but it is surprising there is no way to get it because the information has to be sent somewhere to perform a search.  If there is a way that I can get that information I can solve another issue we have which is updating the URL to reflect a new search.  I know this may not be a priority for yo

[2017-12-14 20:01] jrobinso commented on #502
So to be clear you only want notified when the user types a symbol or
chr:start-end location in the search box?    What if they pan,  or zoom,
or use the ideogram to jump somewhere else?

Another consideration,  you can type multiple gene names into the search
box separated by spaces.

On Thu, Dec 14, 2017 at 11:26 AM, Jim Havrilla <notifications@github.com>
wrote:

[2017-12-14 20:32] jimhavrilla commented on #502
All of those, actually.  If there is a way I can grab the locus attribute of the igvDiv object as it updates, then I have access to all of that information, right?
For example the way I set it up now you can type a chr:start-end or gene symbol after the hash like so: https://s3.us-east-2.amazonaws.com/ccrs/ccr.html#ACTN1 and it will parse after the hash and put it into the locus attribute when it

[2017-12-14 20:35] jimhavrilla commented on #502
By the way, that is really cool about putting multiple gene names in the search box.  How does that get formatted when it is stored in the locus attribute?  Maybe I can also make that parsable from the URL.

[2017-12-14 21:15] brentp commented on #435
bump. would be great if this was supported. It ends up being similar to tabix. There's a nice reference implementation in golang here: https://github.com/biogo/hts/tree/master/csi

[2017-12-15 04:57] jrobinso commented on #435
Yes, bumps are helpful,  a pull request would be even better.    Keep
bumping periodically,  it will happen.

On Thu, Dec 14, 2017 at 1:15 PM, Brent Pedersen <notifications@github.com>
wrote:

[2017-12-15 06:25] jrobinso opened #503 "multi-locus view for indexed tracks"
Multi-locus view doesn't work well, or at all, for tracks that can be queried over a genomic range.  This includes indexed file tracks and webservice backed tracks.

[2017-12-15 06:31] jrobinso opened #504 "Add data range menu for eqtl tracks"
Should function as equivalent wig track items (set data range / autoscale),  with the exception that the range is interpreted as -log10(v)

[2017-12-15 07:35] #497 closed

[2017-12-15 17:12] jrobinso commented on #502
RE the locus attributes,  percent-encoding should work.

On Thu, Dec 14, 2017 at 12:35 PM, Jim Havrilla <notifications@github.com>
wrote:

[2017-12-15 20:32] jimhavrilla commented on #502
I think I may not be explaining what I meant very well.  When I create an igvDiv object like so:

    <script type="text/javascript">
    $(document).ready(function () {

        var div = $("#igvDiv")[0],
                options = {
                    showNavigation: true,
                    showIdeogram: true,
                    showRuler: true,
                    reference: {

[2017-12-15 21:24] jrobinso commented on #502
Did you try 'chr20:123-456789 KCNQ2'?   Separated by space?

On Fri, Dec 15, 2017 at 12:32 PM, Jim Havrilla <notifications@github.com>
wrote:

[2017-12-15 21:29] jimhavrilla commented on #502
Yes, it does not work I get an error reading it as one string saying locus unrecognized.  However when I try that in the search bar it works just fine as you can see:
![screen shot 2017-12-15 at 2 29 17 pm](https://user-images.githubusercontent.com/6568964/34061207-6693b7f2-e1a4-11e7-8dda-bc5f32dc27f3.png)

[2017-12-16 06:17] jrobinso commented on #502
Sorry, I was mistaken.  Use an array, example

locus: ['egfr', 'myc', 'pten']

On Fri, Dec 15, 2017 at 1:29 PM, Jim Havrilla <notifications@github.com>
wrote:

[2017-12-16 08:56] jimhavrilla commented on #502
Thanks. I think I can find a workaround to allow that through the URL
automatically
--
Jim Havrilla
PhD Candidate in Human Genetics, University of Utah
Accelerated BS/MS in Biomedical Engineering, Drexel University '12,
Concentration: Bioinformatics
*"Memory, comprehension, communication, motivation"*

[2017-12-16 20:24] jimhavrilla commented on #502
By the way, now if I use more than one locus in an array as the default locus attribute, the initial loading works but as it looks the other tracks the title for the second locus seems to disappear for some reason.  If I type two in after, even the same two, it works just fine.  Not a huge bug I would imagine, and I probably won't default to that anyway, just thought you should know.

[2017-12-17 02:15] jimhavrilla commented on #502
Test dist gene search is broken again.  Any chance we can put out a stable release after the fix?

[2017-12-17 07:00] jrobinso commented on #502
I'll look into it,  but test is just that.   If you want a stable release
use "beta".

On Sat, Dec 16, 2017 at 6:15 PM, Jim Havrilla <notifications@github.com>
wrote:

[2017-12-17 07:18] jimhavrilla commented on #502
Seems like it was fixed. And thanks.
--
Jim Havrilla
PhD Candidate in Human Genetics, University of Utah
Accelerated BS/MS in Biomedical Engineering, Drexel University '12,
Concentration: Bioinformatics
*"Memory, comprehension, communication, motivation"*

[2017-12-17 07:22] jrobinso commented on #502
I'm not sure what problem you were having.    The whole-genome view is work
in progress,  I removed the initial setting of "all" in the test.html locus
property.

The multi-locus view is also a work in progress, not all track types are
done yet.  I can't reproduce the bug you reported though.    If it
continues to occur open a new ticket, if the report is buried in this one
it will be forgotten.

[2017-12-17 21:06] jimhavrilla commented on #503
By the way, now if I use more than one locus in an array as the default locus attribute, the initial loading works but as it loads the other tracks the title for the second locus seems to disappear for some reason.  If I type two in after, even the same two, it works just fine.  Not a huge bug I would imagine, and I probably won't default to that anyway, just thought you should know.
By default (i

[2017-12-17 21:19] jimhavrilla commented on #503
It seems to be the last one in the list too.  If I do this https://s3.us-east-2.amazonaws.com/ccrs/ccr.html#KCNQ2+ACTN1+ACTN2
<img width="1181" alt="screen shot 2017-12-17 at 2 16 25 pm" src="https://user-images.githubusercontent.com/6568964/34083915-35f15d4c-e335-11e7-93f0-95523bb7bf54.png">
You can notice that only the last one has an issue.

[2017-12-17 22:40] jrobinso commented on #503
As i said, that is under development.  Not ready for use.

On Sun, Dec 17, 2017 at 1:19 PM Jim Havrilla <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2017-12-20 01:58] renyaoxiang opened #506 "How to config a track menu?"
I read the wiki page track menu, It is a bit simple to understand. I also found no more infrmation about the track menu config in other pages. Could you give me more detail?

[2017-12-20 21:19] jimhavrilla commented on #503
I want to note that for me the aforementioned issue seems to be fixed now.

[2017-12-20 21:38] jrobinso commented on #503
That's probably luck.   The only tracks that multi-locus should work for
are non-indexed feature files and segmented copy number (".seg).
 Everything else will give you random behavior.

On Wed, Dec 20, 2017 at 1:19 PM, Jim Havrilla <notifications@github.com>
wrote:

[2017-12-20 21:40] jimhavrilla commented on #503
The only thing that seems to change is that Center Line and Cursor Guide go
away, which seems like an intentional function.

[2017-12-27 05:34] paul-shannon opened #507 "no luck creating TAIR10 gene annotation track"
After a few hours trying to recreate the solution reached here - [issue 241](https://github.com/igvteam/igv.js/issues/241) -
and failing, maybe it's time to ask for help.
I obtained the same ````Araport11_genes.20150701.gff3.gz```` file, sorted it, created an index, and used this track configuration:

           {name: 'Genes TAIR10',
            type: 'annotation',
            visibilityWindow: 5

[2017-12-27 21:29] paul-shannon commented on #507
I stumbled upon the solution.   TAIR spells chromsomes "ChrN".  That capital "C" leads to a silent failure by igv.js.  In case it will someday be helpful to others, here are some processing steps to create a useable gene annotation track from the tair10.genome downloaded with the help of igv desktop:
[code]
Here is a sample track configuration:
[code]

[2017-12-28 18:47] paul-shannon commented on #507
This "ChrN" problem, assuming I have diagnosed it properly, appears to affect bigwig tracks as well.
My test case, inspired by [issue 241](https://github.com/igvteam/igv.js/issues/241)  is [DNase Hypersentivity Site data](http://plantdhs.org/static/download/Ath_buds_DNase.bw).  After seeing that this file, though found and loaded without reported errors, displays nothing, I used Bioconductor tools

[2017-12-29 07:01] yarongolan opened #508 "Would be possible to add zoomFactor to zoomIn and zoomOut"

[2018-01-01 08:56] kzoabi commented on #391
Hi @jrobinso,
Thanks for this feature! And Happy New year
I understand that this feature will be on 1.1 release, any estimations when it will be officially released?

Regards,
Khaled

[2018-01-01 11:43] kzoabi opened #509 "How to hide some aberrations from Pileup?"
Hi,
I will give IGV.js a filtered variants as a result it will **show part of the variants** on the browser viewer.
How can I use browser viewer to show only relevant aberrations on the BAM alignments (Pileup), I mean aberrations that specific to the variants I would like to show, and hide or remove the irrelevant?
![image](https://user-images.githubusercontent.com/3586425/34467409-a6f2506c-eef9-1

[2018-01-03 21:53] jrobinso opened #510 "goto doesn't work with single base locus"
The goto function no longer works when specifying a single base,  for example

chr7:117,242,130

takes you to chr7:117,242,130-159,138,663

When specifying a single base it should center on the base with a range of +/- 20 bp or so.

[2018-01-05 19:08] jrobinso commented on #509
Hi,  you can't.

[2018-01-05 19:08] #509 closed

[2018-01-05 19:14] jrobinso opened #511 "Support IGV desktop style url links and session files"
This will ease the migration path for website developers.

[2018-01-05 21:08] jrobinso opened #513 "Support "consensus mode" for alignment tracks"
Support "consensus mode" for displaying base mismatches as in IGV desktop.   In this mode mismatches are shown at a position only if the % exceeds a threshold.   This is useful for cleaning up  3rd gene (pacbio) views.

[2018-01-05 21:09] jrobinso commented on #509
I've opened a related issue,  which you can follow here #513

[2018-01-07 21:09] paul-shannon commented on #507
All of what you see below may be more of me barking up the wrong tree.  If so, I apologize!

The Athaliana fasta file starts

      CCCTAAACCCTAAACCCTAAACCCTAAACCTCTGAATCCTTAATCCCTAAATCCCTAAAT
      CTTTAAATCCTACATCCATGAATCCCTAAATACCTAATTCCCTAAACCCGAAACCGGTTT

The problem I encountered  can be demonstrated using just the locus search box in the UI, after the above fasta reference track has been lo

[2018-01-07 23:06] jrobinso commented on #507
So the problem is, in fact, a mismatch between fasta and gff/gtf3/wig
files.    What is the name of the "N" chromosome in the fasta file?   I am
guessing its  "N" since the first chromosome is "1".      Ideally, you
shouldn't have to rely on alias mapping hacks,  such as IGV does for "1" ->
"chr1".   If you have control of the fasta file here changing the names to
match your annotation files would

[2018-01-09 22:57] hakanEdico opened #514 "igv.alert is undefined"
IGV.js version 1.09

Error: igv.alert is undefined
igv.presentAlert igv-1.0.9.js:15155:9

I have included all of the dependencies listed here: https://github.com/igvteam/igv.js/wiki/Dependencies

Code to reproduce (I pass in a local path to a bam/bai file):
Sorry for formatting, don't know how to fix.

`function createIgvBrowser(bam, bamIndex) {
    var igvContainer = $('#igv-container');
    var

[2018-01-09 23:14] jrobinso commented on #514
The presentAlert message should be fixed in snapshot and beta builds, as
well as the master branch.

You cannot use local file paths,  is that what you mean by "local path"?

On Tue, Jan 9, 2018 at 2:57 PM, hakanEdico <notifications@github.com> wrote:

[2018-01-09 23:18] hakanEdico commented on #514
No sorry that wasn't clear, they are URLs.

So I should use a beta build? Any stable one you recommend?

[2018-01-09 23:22] #514 closed

[2018-01-09 23:23] jrobinso commented on #514
The beta build is stable,  the snapshot build is the most up-to-date

On Tue, Jan 9, 2018 at 3:22 PM, hakanEdico <notifications@github.com> wrote:

[2018-01-09 23:24] hakanEdico commented on #514
@jrobinso thank you!

[2018-01-10 19:00] hakanEdico opened #515 "BAM Track Empty"
I am implementing igv.js in an internal company website and am having some problems with displaying the BAM.

The BAM file and the viewer are on the same domain, lets call it http://testing.com

The webpage is http://testing.com/cgi-bin/script.pl?invocation_id=33947&exec_id=1
The BAM file is accessible at
http://testing.com//mnt/suite_logs/33947/suite_def/Hakan_Test/EId1/SRA056922_hs37d5.bam

The

[2018-01-10 20:13] jrobinso commented on #515
A couple of suggestions, but  I  would need to see your config to really
offer any advice,   (1) are you zoomed in enough to see alignments?
 Nothing is loaded from the bam file until you are sufficiently zoomed in,
I don't recall the default (this is configurable)  but 1kb should be plenty
zoomed in,  (2) are your sure the sequence names in bam and fasta are the
same.

On Wed, Jan 10, 2018 at 11:

[2018-01-10 21:01] hakanEdico commented on #515
I am able to view BAM tracks now if I zoom in enough (generic BAM file)

However, I still get the "BAM header contains an invalid BAM magic" error on all of my BAM files. What is the source of this error? Cannot find it.

[2018-01-10 22:01] jrobinso commented on #515
I'm not sure what you mean by "source if the error",  ultimately whatever created the .bam files.  The first 4 bytes of the file should be "BAM\1" (from the spec).    This is checked if if the magic # is anything else an error is logged.   Its somewhat suprising that the magic number can be wrong, but the file otherwise works.

[2018-01-10 22:22] hakanEdico commented on #515
I see that the file does indeed start with BAM\1

First 4 bytes:
42 41 4d 01

[2018-01-10 22:46] jrobinso commented on #515
If you can share one of your bam files with me I'll look into it.
Otherwise, if you want to yourself the code that checks it is here, line
80:   https://github.com/igvteam/igv.js/blob/master/js/bam/bamUtils.js

On Wed, Jan 10, 2018 at 2:22 PM, hakanEdico <notifications@github.com>
wrote:

[2018-01-10 22:59] hakanEdico commented on #515
Looking at this code in a debugger:

unc = igv.unbgzf(compressedBuffer);
uncba = new Uint8Array(unc);\n
header = igv.BamUtils.decodeBamHeader(uncba, genome);

I see compressedBuffer has length 14512.
After the function call, unc has bytelength of 0, uncba is undefined, so when the magic is calculated it comes out to 0. I will trim this BAM (its 82GB) and share with you. Is just the header enough o

[2018-01-10 23:03] jrobinso commented on #515
Just the header should be enough,  but it needs to be a proper bam file so
maybe it needs a few reads.   After trimming you still have the problem
with the trimmed file.   This is rather curious.

On Wed, Jan 10, 2018 at 2:59 PM, hakanEdico <notifications@github.com>
wrote:

[2018-01-10 23:04] jrobinso commented on #515
Meant to say "after trimming confirm you still have the problem with the
trimmed file"

On Wed, Jan 10, 2018 at 3:03 PM, James Robinson <jrobinso@broadinstitute.org

[2018-01-10 23:21] hakanEdico commented on #515
Used samtools to keep the header and only keep part of chromosome 1, same error.

Need to get some proprietary information out of the header then will share along with the BAI.

[2018-01-10 23:44] hakanEdico commented on #515
[bam.zip](https://github.com/igvteam/igv.js/files/1620758/bam.zip)

[2018-01-11 04:36] jrobinso commented on #515
Unfortunately, I can't reproduce the error with the bam you sent.   The compressed size is 43,430 bytes,  uncompressed is 146,158 bytes,  and the magic number is as expected.   I assumed but did not confirm that your server supports range-byte requests.   If it doesn't you could get all sorts of weird behavior.

[2018-01-11 18:08] hakanEdico commented on #515
Thanks for trying. Did some more digging yesterday and have found out partially why some BAM files work and some don't.

As you noticed, my BAM file was compressed, as are most. When requesting a BAM file example I found online, looking at the http headers returned I see that the content type is binary/octet-stream and a file format is not given. Looking at this in an application like postman, I s

[2018-01-11 18:21] jrobinso commented on #515
Ahh yes,  good digging!   I now recall a problem like that on an Apache
server,  the server incorrectly returned the content-type gzip header.   I
actually wrote about it here (scroll to bottom):
https://github.com/igvteam/igv.js/wiki/Data-Server-Requirements.    As you
point out if that header is set the browser gunzips it,  you can't control
that.   The fix was to explicitly add the the content-

[2018-01-11 18:27] hakanEdico commented on #515
Alright I changed my Apache server config to return octet-stream for .bam extensions and viola! Thanks for your all of your help!

[2018-01-11 18:29] jrobinso commented on #515
If you can figure out why Apache was doing that I'll update the wiki,  I
could not,  probably not worth the time to find out.

On Thu, Jan 11, 2018 at 10:28 AM, hakanEdico <notifications@github.com>
wrote:

[2018-01-11 18:30] hakanEdico commented on #515
Yeah at this point I'm just happy it works. There was no type specified for .bam extensions. I don't know why it would auto unzip, pretty crazy behavior.

[2018-01-11 18:34] jrobinso commented on #515
All bam files are gzipped, actually bgzipped,  that's part of the format.
I suspect apache is looking at the header and discovering it is gzipped,
then adding the content-type header.    This causes the browser to gunzip
the response before javascript even sees it.     You can't recover from
this even if you detect it,  when the bam file is gunzipped none of the
index pointers are valid,  and ther

[2018-01-11 18:35] hakanEdico commented on #515
Yeah I agree that some error handling would be appropriate. It would save any future users the trouble of digging to find what happened. Thanks again for the help!

[2018-01-12 01:14] hakanEdico commented on #397
Hey @jrobinso, I would love this feature as well. I implemented the BAM viewer, but what we really want is to be able to have a table of some sort of VCF records, which I can click and it will take me to that position in the BAM file. Would be great to be able to use a tabix file along with the VCF, as well as be able to sort by qual/contig/etc.

[2018-01-12 01:19] jrobinso commented on #397
This needs speced out very carefully,  there are 3 of us in this conversation potentially (probably) talking about 3 different things.   My focus is on the igv browser.   What exactly are you requesting?  There is already an IGV API to take you to a genomic position.

[2018-01-12 01:24] hakanEdico commented on #397
So I want a table, just picture an HTML table with rows of VCF records. I would like to see parts or all of the VCF file in this sortable, searchable table. Then, when I click on one of the individual records, it takes me to that position the browser. I don't need the VCF track in the browser necessarily, just a way to link variant positions when clicked to the browser, to see the pileup at that p

[2018-01-12 01:30] hakanEdico commented on #397
Actually I guess you already have the API to do what I want. You don't need to make an HTML table or anything, I would just need to know how to use the API to be able to extract records using a tabix file, or for a given range, etc. Not sure what kind of object that returns but if it were a list for example of rows from a specified region, that would be enough for me, then I can build my own HTML

[2018-01-12 01:38] jrobinso commented on #397
You could create an igv.FeatureSource object for your vcf file.   See  feature/featureSource.   This object takes the same config that you use for a track.    Then use the "getFeatures" method to retrieve features for a genomic range.   The last argument ("bpPerPixel") is ignored.   This works for any feature file,  but if it is a VCF record you will get igv.Variant records back.

See also the uni

[2018-01-12 01:41] jrobinso commented on #397
This could be made part of the public API,  but you can use it as if it were,  its very stable.   If its useful I might add an API function to return the feature source,  rather than using "new igv.FeatureSource",  I think that's what I had in mind wrt my September 2017 comment.

[2018-01-12 08:00] matthdsm commented on #397
Hi @jrobinso,

This had been a bit on the backburner for me lately. Are the any updates regarding my initial question?

Thanks
M

[2018-01-12 08:03] jrobinso commented on #397
I think I provide it above,  use igv.FeatureSource (file  feature/featureSource.js).   It does exactly what you asked for.

[2018-01-12 08:04] matthdsm commented on #397
Oh, great, thanks a lot!
I'll close this issue then.

Thanks again
Cheers
M

[2018-01-12 08:06] #397 closed

[2018-01-14 12:52] slevkor opened #517 "When is the next formal version will be released?"
Hi @jrobinso
the feature im using was solved here: igvteam/igv.js#391
currently i downloaded and compiled the git repository because the formal release version is older.
do you know when will the next formal version will be released and will it contain the change?

Thanks
Lev

[2018-01-14 13:50] jrobinso commented on #517
No ETA,  but within the next 2 months.  You can use the beta in the
meantime, it is stable (not automatically built).

On Sun, Jan 14, 2018 at 4:52 AM, Lev Kordonsky <notifications@github.com>
wrote:

[2018-01-15 13:18] slevkor opened #518 "showing 'variant' track from JSON"
Hello @jrobinso
Im using your feature of getting track from api - with json response , it looks like that:
    {
        name: 'UrlTry',
        type: 'seg',
        sourceType: 'custom',
        displayMode: 'EXPANDED',
        source: {
          url: '/genomeViewer/getJson/?chr=$CHR&start=$START&end=$END',
          method: 'GET',
          parser : JSON.parse
         }
    }
and the JSON data

[2018-01-17 12:44] xirect opened #519 "Problem using WigTrack"
Whenever I try to make a new track with wig-format using variableStep and display it, it says TypeError: wig is undefined. Been searching for a while, can't seem to find a fix. Anybody got a clue?

[2018-01-17 12:55] xirect commented on #519
I tried to change the format to a .bigwig format, which now gives an RangeError...
RangeError: argument 1 accesses an index that is out of range.

[2018-01-17 13:06] xirect commented on #519
Going back to using the wig format and reducing the filesize, it somehow started to work, how big can the .wig files be? The full file still gives the errors...

[2018-01-17 15:26] jrobinso commented on #519
Where do you see the errors,  in the wigToBigWig conversion or after
creating the bigwig?  Can you use the bigwig with with UCSC command line
tools?

There is no maximum size for a wig file,  but the entire file has to be
loaded into memory so things will get very slow if its very large and you
do not convert it to bigwig.

On Wed, Jan 17, 2018 at 5:06 AM, Jeffrey Hiraki <notifications@github.com>

[2018-01-21 09:41] slevkor commented on #391
Hi @josephhalstead
maybe you me with same problem you had?
showing variant track from webservice

[2018-01-22 10:27] josephhalstead commented on #391
Hi @slevkor,

The config file that worked for me looked like:

      {
    name: "Lab Variants",
    sourceType: "custom",
    type: "annotation",

    source : {
         url: "/api/variants/?chr=$CHR&start=$START&end=$END&format=json",
         method: "GET",
         contentType: "application/x-www-form-urlencoded",
         parser: JSON.parse

    }
    }

My API returned something like this:

[2018-01-22 11:06] slevkor commented on #391
Thanks @josephhalstead !!

[2018-01-24 20:53] paul-shannon opened #521 "interested in a Bioconductor package for igv.js?"
Hi Jim,

Having used igv.js a lot over the last year, usually from R  via async websockets - and having found it incredibly useful - I now propose to dress up my work a bit for submission to Biocondcutor.  I maintain (and I am about to refactor) a somewhat related package, RCyjs.    Bioc tells me that such a package will be of interest.

Would this be welcome?  If so, I would invite your critique

[2018-01-26 16:27] jrobinso commented on #521
BTW @paul-shannon are you using the jupyter wrapper  (igv.js-jupyter)?

[2018-01-29 23:22] sparikh commented on #287
Hi Jim,

AWS EU version uses signature v4 by default and these are stricter. https://docs.aws.amazon.com/general/latest/gr/sigv4_changes.html

Sig v4 does not like any updates to the signed URL provided by AWS, causing an error when the signed URL is updated to include "someRandomSeed" as i think they do a hash match of the url provided vs accessed.

<Error><Code>SignatureDoesNotMatch</Code><Messa

[2018-01-29 23:50] jrobinso commented on #287
Thanks,  I wasn't aware of that problem.    I can perhaps do a check for a
AWS signed url and prevent adding that parameter in that case,  or have an
explicit option on the track to prevent adding it.

Of course if the Chrome cache issue still exists you would hit that error,
and as recently as 11/15/17 it had not been fixed.

On Mon, Jan 29, 2018 at 3:22 PM, sparikh <notifications@github.com> wro

[2018-01-30 00:02] jrobinso commented on #287
@sparikh Do you have a handy regex that could be used to detect Amazon S3 signed urls,  even better v4 signed URLs?   If not I'll provide a track option to suppress the query seed.   I think the only solution for now is to disable the query parameter for signed URLs,  and if the Chrome error then appears then Chrome cannot be supported for these resources.

I'll reopen this issue.

[2018-01-30 00:04] jrobinso commented on #287
Alternatively we could try disabling the query seed AND enabling cache-control headers,  however this would have to be by track parameter (optional) since it will fail for some common servers that do not list these headers in the "CORS" config.    I do not know if cache-control headers are enough but its worth a try.

[2018-01-30 00:24] sparikh commented on #287
I do not have a regex to detect v4 signed URLs but will do some research to see if there is an easy way to identify this.

The cache-control header also looks like a good option.

Thanks Jim for looking into this.

[2018-01-30 00:58] hakanEdico commented on #498
Is there a stable build with this fix? I have been using the beta build because 1.0.9 does not work for me. However, the beta build has this issue.

[2018-01-30 01:12] sparikh commented on #287
Here's the URLs for the two different versions

v4 Signed URL (https://docs.aws.amazon.com/general/latest/gr/signature-v4-troubleshooting.html)
https://iam.amazonaws.com/?MaxItems=100
&Action=ListGroupsForUser
&UserName=Test
&Version=2010-05-08
&X-Amz-Date=20120223T063000Z
&X-Amz-Algorithm=AWS4-HMAC-SHA256
&X-Amz-Credential=AKIAIOSFODNN7EXAMPLE/20120223/us-east-1/iam/aws4_request
&X-Amz-SignedHead

[2018-01-30 02:29] paul-shannon commented on #521
@jrobinso - Hi Jim,

No, I am not using the jupyter wrapper.   The R-igv.js package (which clearly needs a better name) sets up an async websocket connection between the browser and an R session.  websockets are native in the browser, and the httupv package (maintained by the RStudio folks) handles the R end.

The community might benefit if the R API I use overlaps as much as possible with the pyt

[2018-01-30 07:39] jrobinso commented on #287
It looks like the presence of the  "X-Amz-Signature" parameter would
identify the url as v4.   Is it your understanding that that parameter is
required?

On Mon, Jan 29, 2018 at 5:12 PM, sparikh <notifications@github.com> wrote:

[2018-01-30 19:06] jrobinso commented on #287
OK,  I've turned off the random-seed query parameter if the URL contains the "X-Amz-Signature" parameter.   Additionally,  the seed is only added if in the Chrome browser.    I have no way to test this.   Could you try the distribution at http://igv.org/web/test/dist/ and let me know the result?  Alternatively you can pull from master and build.

There is a high probability that you will encounter

[2018-02-01 13:30] rpique commented on #67
new track would be good, or a special flag for bam to show splice junctions used by more that x reads.

[2018-02-03 00:25] jimhavrilla commented on #67
I think a new track type is a great idea -- if that would be easy to implement.   I feel like most users would be happy with some form of it, and would accept the easier one for you to implement.

[2018-02-05 19:06] sparikh commented on #287
@jrobinso - From my preliminary verification, the fix looks good. I verified that for v4, it did not add "someRandomSeed" to URL on chrome and for v2 it did.

Thanks for quickly fixing this for us.

[2018-02-05 19:30] jrobinso commented on #287
Have you see the "ERR_CACHE_OPERATION_NOT_SUPPORTED"  error?   That is what
the "random seed" business was added to prevent.   It doesn't always
occur,  seems somewhat random.

On Mon, Feb 5, 2018 at 11:06 AM, sparikh <notifications@github.com> wrote:

[2018-02-06 22:40] paul-shannon commented on #507
Sorry for my delay in testing this out.   I am not sure it (or I) has it quite right yet.

 Using igv.js grunted from the latest git pull, and a chromosome aliasURL in this reference configuration

     reference: {id: "hg38",
                     fastaURL: "https://s3.amazonaws.com/igv.broadinstitute.org/genomes/seq/hg38/hg38.fa",
                  cytobandURL: "https://s3.amazonaws.com/igv.broad

[2018-02-07 08:33] Erin1147 commented on #475
In your picture,there's a function ,'Sort by base'. Can I  Sort by mapping quality?

[2018-02-08 04:24] jrobinso commented on #475
No you can't.   Even if you could,  it only sorts the alignments
intersecting a line over the click point.  This is probably not what you
want.

On Wed, Feb 7, 2018 at 12:33 AM, Erin1147 <notifications@github.com> wrote:

[2018-02-08 06:34] Erin1147 commented on #475
Ok,thank you!

[2018-02-08 19:14] jrobinso commented on #507
Sorry about that, there were bugs.   I just pushed a fix.

[2018-02-08 19:14] #507 closed

[2018-02-08 23:22] paul-shannon commented on #507
@jrobinso - I built igv.js after a fresh pull, but still see my idiosyncratic ````chrXVIII:start-stop```` fail.   The files I picked up don't, to my eye, have any obvious tie to chromosome aliases:
[code]
Any suggestions?

[2018-02-09 02:01] jrobinso commented on #507
Sorry, it looks like my push failed.   Try again, it should be there now.

On Thu, Feb 8, 2018 at 3:22 PM, Paul Shannon <notifications@github.com>
wrote:

[2018-02-12 01:18] bw2 commented on #247
Thanks Jim.
We're now able to use igv.js to view crams that are stored in google buckets
by using https://github.com/igvteam/igv.js-flask & gcsfuse mounts.

[2018-02-13 22:28] bw2 opened #522 "igv-beta.js - typing any chrX locus into the search bar results in "Unrecognized locus" error"
This occurs on hg19 and hg38

![image](https://user-images.githubusercontent.com/6240170/36177306-3e4022cc-10e3-11e8-8e01-f2b0fa63991c.png)

[2018-02-13 22:40] paul-shannon commented on #507
Seems to work just right - my silly chrXVIII:26,851,038-26,863,910 works perfectly.  I'll close this.  Thanks, @jrobinso!

[2018-02-13 22:41] paul-shannon commented on #522
Perhaps related?  https://github.com/igvteam/igv.js/issues/507

If so, this is fixed in the latest code from the github repo.

[2018-02-13 23:10] #522 closed

[2018-02-16 16:29] turner commented on #510
This was fixed a while ago. I can't locate the exact commit.

[2018-02-16 16:29] #510 closed

[2018-02-16 21:04] jimhavrilla opened #524 "Height adjustment when expanding"
So there are two things I want to discuss in this issue:

1.  There is a bug in generating the tracks:
![image](https://user-images.githubusercontent.com/6568964/36328912-2d4b555a-1321-11e8-8e85-bdf523ddd233.png)
There are actually 5 transcripts and you can't see them all even by scrolling until you adjust the height (even if you put it back to its original height afterwards - 50, the default - yo

[2018-02-17 21:10] andreyto opened #526 "Maybe reference event callbacks in the Wiki?"
Their very existence can currently only be discovered by browsing the examples directory and the doc directory in the repo, although they already work in the current release (1.0.9). The HTML file from the doc directory is not linked from Wiki or README.

[2018-02-19 20:23] bw2 commented on #146
would you be interested in someone contributing a PR for this?

[2018-02-20 05:14] jrobinso commented on #146
Yes, but let me look at it, to provide guidance at least.   This issue has
a lot of up votes so we should do it.   However,  no one has really
specified what they want to see.   The way we show soft clipping in IGV
desktop is really misleading,  the reads are just extended as if the soft
clipped portions had been aligned.   They really should not be displayed
against the genome reference.    In so

[2018-02-20 08:10] slevkor commented on #526
I also suggest adding more events:
currently there are - 'trackremoved' / 'locuschange' / 'trackdrag' / 'trackdragend' / 'trackclick'
maybe also adding 'trackloaded' (when spinner ends)

[2018-02-20 17:41] bw2 commented on #146
I'll gather some ideas.

[2018-02-20 17:42] bw2 opened #527 "color reads that align in the opposite direction to their mate"
very handy for spotting inversions

[2018-02-20 18:46] jrobinso commented on #527
I don't quite get this,  for the normal Illumina library it is normal for
reads to align opposite to their mate.    I think you are asking for reads
in unexpected orientation  (for illumina that would be  <--  -->,  -->
-->,  or  <-- <--).

On Tue, Feb 20, 2018 at 9:42 AM, bw2 <notifications@github.com> wrote:

[2018-02-20 22:57] vyx-rohan-jyoti opened #528 "Is there a way to use this on mobile devices? (Scrolling)"
In laptop/desktop browsers, moving the position is done by using cursor clicking and dragging left and right.

However, this doesnt work on touch interfaces. For example, I tried using on my iPad Pro, and could not move the reads left or right. Is there a way to accomplish this?

[2018-02-20 22:58] bw2 commented on #527
you're right

[2018-02-21 05:36] jrobinso commented on #528
I am working on touch support.

[2018-02-21 21:16] keqiang commented on #311
@turner Hi, I'm reading your last comment and wondering how to enable the drag & drop. Any example? Thanks!

[2018-02-21 21:36] turner commented on #311
Hi @keqiang i'll put together a screen shot. hang on.

[2018-02-21 22:18] turner commented on #311
@keqiang in the config add this option `showLoadFileWidget: true`

Here is a screencast of how to use it:
https://drive.google.com/open?id=1aCUPXx0Dwg0A38_xe-pRZJ0U6oBS7Jqz

[2018-02-21 22:41] keqiang commented on #311
@turner Thanks! I will give it a go!

[2018-02-22 15:14] keqiang commented on #311
Hi @turner , I managed to make the 'Load Track' button show using the dev version. However, the files I used didn't work(the page just freeze or break). Two questions: Is there a file size limit? What file format should I use? I saw you used .bed file. I also tried uploading bam and bai. If I drag only one file each time, the UI says it needs the other file. When I drag both at the same time, it d

[2018-02-22 21:58] turner commented on #311
@keqiang I fixed a bug that occurred when loading local indexed files  - so, bed and bam. Do a pull.

Loading a local file that is indexed requires you to select and drag/drop both the file and its index.

For a remote (URL) file the interfaces walks you through loading the file then the index.

Let me know if this works.

[2018-02-23 00:15] paul-shannon opened #530 "bed tracks confused after zooming out"
Using a build based on github pull just yesterday, I see that two easily distinguished tracks become two identical tracks after zooming out.  Note also that zooming out changes the order of the two green tracks.

I think this is a new problem, appearing in the last week or so.

  - Paul

![image](https://user-images.githubusercontent.com/2480712/36571418-683eaa62-17eb-11e8-9a0a-cd86671c9f6c.png)

[2018-02-23 00:17] jrobinso commented on #530
Could you zip up a test case, or at least the 2 bed tracks?  Thanks.

On Thu, Feb 22, 2018 at 4:15 PM, Paul Shannon <notifications@github.com>
wrote:

[2018-02-23 00:37] paul-shannon commented on #530
Jim,

You're right - no change of order.

Here's a tar.gz file containing two short bed files.  Or I should say, "bed" files.  I send these from R and have found (until possibly today) that igv.js makes good tracks out of even 3-column data.frames.

[bed.tar.gz](https://github.com/igvteam/igv.js/files/1750051/bed.tar.gz)

[2018-02-23 00:50] jrobinso commented on #530
I can't seem to reproduce it with those files.    I loaded them then jumped directly to  3:2,569,257-2,572,495.   Then I zoomed out with the "-" button a number of clicks.    Did you reproduce it with those files exactly?   Can you give me any more hints or instructions?

[2018-02-23 00:58] paul-shannon commented on #530
Those are the exact files - temporary files written in R, their names then sent to javascript, read and displayed by this js function, using the http server builtin to the websocket library I use, httpuv.
Is there any chance that the track I create is reloaded on a zoom out?  I lazily use the same name "tmp.bed" - though I will experiment now, using a randomized temporary bed file name.

[code]

[2018-02-23 01:03] jrobinso commented on #530
Yes, tracks can be re-loaded on zoom out,  although this should not happen with a non-indexed file since it would have all the data for the wider view from the initial load.    So that might be a bug, of sorts,  i.e. a needless reload.     That's a good hint.

[2018-02-23 01:05] jrobinso commented on #530
BTW,  for generated static data we have added support for "data:" urls,  which encodes all the data for the track in a uuencoded blob in the page itself.   No file loads.   This is not documented,  but will be.     That might be of interest, or might not.

[2018-02-23 01:11] jrobinso commented on #530
I can confirm that data for track is being loaded, which is a performance bug (but not a logical bug).  So there is a performance flaw on my side,  and a logical flaw on yours.   You should use distinct names because any indexed file type can reload on change of view,  it only loads what's needed.   I will fix the performance bug here,  it was a good catch.

[2018-02-23 04:14] jrobinso commented on #527
I've pushed changes to support this.

[2018-02-23 14:37] keqiang commented on #311
@turner I'm sorry I have a silly question... How can I get igv.js from source? I'm currently using the nightly build which is dated back in Jan.

[2018-02-23 17:14] jrobinso commented on #311
@keqiang I would point you to our github repository but you are posting on it.   Just clone the repository.

[2018-02-23 18:38] keqiang commented on #311
@jrobinso I have searched in the repo and found no igv.js or any compiled igv js library. Even the examples don't include the igv.js in the header and if I save the examples locally they would not run.

[2018-02-23 19:12] jrobinso commented on #311
You asked about the source,  the distributions are available here:
http://igv.org/web/release/   and here:  http://igv.org/web/beta/.      If
you want the absolute latest you will need to pull and build with grunt.

This directory is built nightly, sometimes more frequently:
http://igv.org/web/test/dist/.

On Fri, Feb 23, 2018 at 10:38 AM, Keqiang Li <notifications@github.com>
wrote:

[2018-02-23 19:35] keqiang commented on #311
@jrobinso Yes, exactly. I think it would be better if your repo contains instruction on how to build from source. And the link to the wiki saying Night build is actually the beta version, maybe you want to change that to avoid misleading as well.

[2018-02-23 20:28] jrobinso commented on #311
Good points, most people just pull and build with grunt,  this is the first
request but it is a fair point.    Will add a "readme" to the repo and
update the wiki.

On Fri, Feb 23, 2018 at 11:35 AM, Keqiang Li <notifications@github.com>
wrote:

[2018-02-24 04:04] jrobinso commented on #530
Paul, this should be resolved now.  However, I do recommend a unique name for each track.

[2018-02-24 04:04] #530 closed

[2018-02-24 04:09] jrobinso commented on #524
Hi Jim,  I can't reproduce your first issue.   Respect to 2),  that is what autoHeight is supposed to do.   However,  I can confirm that it is broken.  We'll fix it.

[2018-02-26 03:32] jrobinso commented on #526
Yes, we agree these should be documented.  They were contributed and have been considered experimental.   WRT "trackloaded",  that is tricky,  adding a track and loading data are separate operations.  In particular loading (spinny) is asynchronous and can happen multiple times as needed in the case of indexed files.  If a visibility window is set its possible to add a track and never load data.

[2018-02-26 23:50] jimhavrilla commented on #524
You seem to have fixed issue 1, and not issue 2 on my end.  The track doesn't get larger if autoHeight: true is set after clicking Expand.  But it does show all transcripts now and scrolls correctly so works PLENTY well for me!  Thanks a lot.  Issue 1 was the really annoying part.

[2018-02-27 14:10] el1jaC opened #535 "VCF track is not shown with igv-beta.min.js"
Hi all,

trying beta version of igv.js, I can't see track from vcf file; the problem doesn't occur with the latest stable release (1.0.9).
Consulting Firefox developer tools, every http get request is correct (with 200/206 return code as i expect), vcf/vcf.idx included.

Is there some piece of code in source of beta version that causes this glitch?

[2018-02-27 17:34] jrobinso commented on #535
Could you zip up a small example that reproduces the problem?  VCF is working in general, we use it heavily.

[2018-02-27 20:55] el1jaC commented on #535
Yes, tomorrow morning I'll send you a zip with a readme inside to reproduce the issue.

[2018-02-28 10:36] el1jaC commented on #535
[testigvjs.zip](https://github.com/igvteam/igv.js/files/1766616/testigvjs.zip)

Open this zip with Netbeans and simply click to Run Project to launch a simple, ugly http server :)

Then, go at http://127.0.0.1:8000/index.html to see IGV web version.

In the **index.html** source code, in header section, comment lines delimited with hashtags and uncomment lines of igv beta instead.

You can see tha

[2018-03-01 03:29] jrobinso commented on #535
Yes, I can reproduce it (I don't use netbeans, but its not needed).   I will update when I find the cause, but a word of caution about the Netbeans and other IDE servers.  In general, they don't support Range headers,  so you can't use them with indexed files.

[2018-03-01 04:08] jrobinso commented on #535
Hi, I think I found the problem.  What is the record below supposed to represent?

13	32915413	rs1234566	TTAA	.	30	PASS	NS=1;DP=1477;AF=0.4;DB;VF=252;VR=525;RF=467;RR=1010

There are no alternate alleles, and the parser doesn't know how to interpret this.  In 1.0.9 we were a little loose with this, but we are supporting a larger variety of variant types and had to tighten it up.  I think it was in

[2018-03-01 04:23] jrobinso commented on #535
I pushed a change to handle this, but I would still like help in interpreting this type of record.  What does it represent?

[2018-03-01 11:21] beskns opened #537 "Unrecognized locus chrX (reference id = hg19) in Beta Release 1.1"
Programm shows error message when call igv.browser.search() for locus on chrX.
(reference id: hg19)

Exaple: "chrX:138633329-138633330"

[2018-03-01 16:05] el1jaC commented on #535
Hi @jrobinso ,
I've tried the change, and now everything works.

Effectively, in that record there was a deletion, but with not clear notation.

Btw, thank you (and sorry for my english :D )! We really appreciate beta version of igv web.

[2018-03-01 17:12] jrobinso commented on #535
Hi,

If that's a deletion it is not legal VCF.   You need to add the base before
the event to both reference and alternate alleles.     See the VCF
specification.   You might have problems with other tools.

On Thu, Mar 1, 2018 at 8:05 AM, el1jaC <notifications@github.com> wrote:

[2018-03-01 17:34] el1jaC commented on #535
Yes I know it, but we have done a mistake with perl script that compile VCF :)

[2018-03-02 22:26] jrobinso commented on #537
This should be fixed now.  Thanks for the report.

[2018-03-02 22:26] #537 closed

[2018-03-05 16:23] romgrk opened #539 "BAM example is not working"
The example with BAM file at [https://igv.org/web/examples/bam.html](https://igv.org/web/examples/bam.html) is not working.

[2018-03-05 17:05] romgrk opened #540 "Network requests are made whenever the scroll-limit is reached"
I've setup a simple example with a BAM file, and I'm observing a weird behavior: whenever I reach the limit of what is rendered, a loading indicator appears and it seems that network requests are being made to redownload the **whole** files, everytime. I'm intrigued as to why it is necessary to have those requests, considering that the data has already been downloaded.

![screenshot from 2018-03-0

[2018-03-05 17:32] romgrk commented on #540
I just noticed that the requests are made with the `Range: ...` header, even when it's not accepted by the other server, which explains this behavior.

[2018-03-05 17:34] jrobinso commented on #540
Range header support is required.   You should have seen an error if the
other server did not respond with a 206 code.    Only the data in view is
requested,  when you move out of range it requests more data.   If it tried
to download an entire BAM file of typical length it would take several
hours.

On Mon, Mar 5, 2018 at 9:32 AM, Rom Grk <notifications@github.com> wrote:

[2018-03-05 17:43] #540 closed

[2018-03-05 18:03] jrobinso commented on #539
Thanks for the report.  It looks like that bam has been removed,  I will
find another example.

On Mon, Mar 5, 2018 at 8:23 AM, Rom Grk <notifications@github.com> wrote:

[2018-03-05 18:17] jrobinso commented on #539
Fixed

[2018-03-05 18:17] #539 closed

[2018-03-05 20:02] romgrk opened #541 "Undocumented "genome" option for createBrowser in examples/bam.html"
[https://github.com/igvteam/igv.js/blob/master/examples/bam.html#L65](https://github.com/igvteam/igv.js/blob/master/examples/bam.html#L65)

Not documented in https://github.com/igvteam/igv.js/wiki/Browser.

[2018-03-05 20:08] romgrk opened #542 "Wiki for "trackDefaults" option doesnt point to the correct location"
Description for "trackDefaults" [https://github.com/igvteam/igv.js/wiki/Browser](https://github.com/igvteam/igv.js/wiki/Browser) says:
[code]
But the description of tracks/tracksDefault is at [https://github.com/igvteam/igv.js/wiki/Tracks](https://github.com/igvteam/igv.js/wiki/Tracks) rather than "below".

[2018-03-05 21:41] romgrk opened #543 "React integration of IGV.js"
Hi,

I've integrated the IGV.js browser in a React application (with most of propTypes validation), I'm leaving a link to it here so anyone can re-use it. Might be interesting to mention it on the wiki:

https://gist.github.com/romgrk/87266e7fb0a6ed9058f25a8ed5375c23

Example usage:
[code]

The `showGenes` options will add a genes track at the end of the list of tracks.

[2018-03-05 22:38] jrobinso commented on #543
Yes thanks,  and I'll reconcile the doc with the examples.

On Mon, Mar 5, 2018 at 1:41 PM, Rom Grk <notifications@github.com> wrote:

[2018-03-06 06:46] jimhavrilla commented on #524
Now the scroll bar disappears until the height is adjusted and the track retains its original size in Expanded mode like so:
![image](https://user-images.githubusercontent.com/6568964/37017835-4f5ad5a6-20cf-11e8-94f1-6cbc9ab488c5.png)
Just thought an update would be helpful since recent changes have affected the way the error presents itself.  No rush.

[2018-03-06 06:47] jrobinso commented on #524
Yea I have this on my priority list to sort out when I get back to this
project.

On Mon, Mar 5, 2018 at 10:46 PM, Jim Havrilla <notifications@github.com>
wrote:

[2018-03-06 06:48] jimhavrilla commented on #524
Cool thanks

[2018-03-06 08:55] desnar opened #544 "some problems with bam track"
Hi,
    I find some problems when using the igv.js

    1. the code in bamUtils.js , cant get the blockQuals by wrong slice end
    2. when try to select the read in bamTrack, one base after the read end could also be selected

[2018-03-06 17:01] mbookman commented on #247
Hi Jim.

I was wondering if you had any intent of extending the [htsget](https://github.com/igvteam/igv.js/wiki/htsget) support in igv.js to support CRAMs. Or is server-side conversion the expected solution for the foreseeable future?

Thanks.

[2018-03-06 17:08] jrobinso commented on #247
There is no javascript decoder for CRAM, so yes that needs to be converted
on the server.    if you know of any efforts to support CRAM decoding in
javascript let me know.

We have a flask server that reads and converts CRAM files on the server to
stream to igv.js.

I don't check for CRAM in the htsget reading code so that will likely fail
if tried.   It would be a nice addition to be able to tell

[2018-03-06 18:11] romanzenka opened #545 "Retina display support"
Hello,

I am using IGV on a Mac and I'm noticing blurry display thanks to not using the retina display.

I would be interested in contributing support for retina.

Is this something you are at all interested in / willing to support long term?
I believe these displays will only be more prevalent over time.

In order to keep display fidelity, I would make larger canvas, scale it down using CSS, then

[2018-03-06 23:25] jrobinso commented on #524
I'm looking at this.  There is a miscalculation of required height which is affecting expanded feature tracks (last row(s) can be cut off).   But other than that I can't reproduce the problems you are seeing.  Screenshots are not really helpful,  don't know what I am supposed to see and how you got there.  Could you provide detailed steps to reproduce?   If you have cloned our project "dev/igv-dev

[2018-03-06 23:45] jrobinso commented on #524
OK, I can reproduce a scrollbar problem.   Not sure if its what you are seeing but let me fix it first then we'll go from there.

[2018-03-07 00:08] jimhavrilla commented on #524
Ok thanks. Sorry I just saw all this. You can go here: rebrand.ly/ccrregions
for this. You’ll see the issue if you interact with the track “ensembl
transcripts”. The source html is the html used. Contains igv.js

On Tue, Mar 6, 2018 at 4:45 PM Jim Robinson <notifications@github.com>
wrote:

--
Jim Havrilla
PhD Candidate in Human Genetics, University of Utah
Accelerated BS/MS in Biomedical Engineer

[2018-03-07 09:34] tsimakova opened #547 "Base count by strands"
Hello,

is it possible to configure IGV lite to display base count by strands as it is done in the desktop IGV (please see the attached screenshot)?

![igv_igv-lite](https://user-images.githubusercontent.com/24565787/37084526-d1b87d98-2203-11e8-8ac7-6e2a056457bf.png)

Best regards,
Tamara

[2018-03-07 16:25] romgrk opened #548 "cursor guide sometimes (rarely) prevents mouse drag"
When the user is moving it's mouse, then clicking, it happens that the cursor guide is still directly under the user mouse, and thus receives the click event.

Setting `pointer-events: none` on it should solve this.

[https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events](https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events)

[2018-03-07 17:44] romgrk commented on #548
I'm wondering if it's also because of this that the cursor guide location is wrong (as described in https://github.com/igvteam/igv.js/issues/280).
Would you be open to re-consider displaying the cursor guide directly under the cursor?

[2018-03-07 19:02] jrobinso commented on #524
@jimhavrilla Could you check it out now and see if its fixed / better.   I tried your page and it seems o.k.,  but if not give me some specific instructions.

[2018-03-07 19:31] jimhavrilla commented on #524
So when I change the track height, I can see a scroll bar for that track
(Ensembl Transcripts), but otherwise there is no scroll bar for me.  If you
click on the settings wheel, and change the height to, say 1500, you'll
notice that the Squished view has way more data shown, and the scroll bar
will appear magically.  If you then switch to Expanded and scroll, you'll
notice that while the track is

[2018-03-07 19:35] romgrk commented on #545
I 100% support @romanzenka, I've been thinking about this yesterday and I'm including here some things I found:
 - Canvas 2d text drawing will always be less perfect than DOM. It might be interesting to either render the text content through DOM, or through WebGL. WebGL could also be used to render lines, as it's made to be pixel perfect (albeit it's like shooting a target with a nuke)
 - [https:/

[2018-03-07 19:36] jrobinso commented on #524
@jimhavrilla Never mind,  hold off on testing for now.

[2018-03-07 19:58] jrobinso commented on #524
Jim,  first off are you sure you cleared your cache and are running the
latest version?  I do not see more transcripts after changing track height
to 1500.

Secondly,  please step-by-step to reproduce the issue.  Do it like you were
submitting a bug report which you are,  don't just jump straight to
symptoms.   I've played with your page and everything behaves as I expect
it.   You won't see scrol

[2018-03-07 19:59] jrobinso commented on #524
Also identify the track you are missing scrollbars for.    Wig type tracks don't have scrollbars, obviously.

[2018-03-07 20:01] jrobinso commented on #545
I haven't had time to study this yet.   Text is fuzzy on canvas, a solution
to that would be welcome.   We did an exhaustive performance study of
Canvas vs DOM approaches (mainly SVG) at the beginning of the project and
canvas won hands down for our use cases.   I think other similar projects,
including an IGV knock-off called "pileup.js" as well as "dalliance" used
an SVG approach initially and s

[2018-03-07 20:04] jimhavrilla commented on #524
It is the Ensembl Transcripts track, I'm sorry I thought I was being rather
detailed.  Clearing the cache seems to have allowed the track to properly
expand.  I hadn't thought of that before.  I also didn't know scrolling
would be disabled with autoHeight.  Without autoHeight, does scrolling work
properly?

Jim Havrilla
PhD Candidate in Human Genetics, University of Utah
Accelerated BS/MS in Biome

[2018-03-07 20:07] jrobinso commented on #524
Scroll bars only appear when they are needed.   With autoheight they aren't needed,  there is nothing to scroll.  This is true generally not just with IGV, its how scrollbars behave.

[2018-03-07 20:09] jrobinso commented on #524
WRT bug reports, a step-by-step would look something like this

1.  load "whatever" url
2.  select "expand" on whatever track
3.  note blah blah blah
4.  select squish on whatever track
5.  note blah blah blah

This helps me identify a problem quickly,  otherwise I have to do a lot of guessing.

[2018-03-07 20:14] jimhavrilla commented on #524
Seems to work now, after clearing cache proper expansion occurs, and if I
take out autoHeight it now does scroll all the transcripts (before it did
not).  Thanks for the fix!

[2018-03-07 20:16] jrobinso commented on #524
Thanks for the report.  There were a number of subtle issues affecting height.   They all stemmed from our implementation of multi-locus, which complicates the concept of height.   (mutli-locus => type  "egfr myc" into the locus box and search to see it).    I'll close this, if other height-issues arise re-open or submit a new issue.

[2018-03-07 20:16] #524 closed

[2018-03-07 20:20] jimhavrilla commented on #524
Will do
--
Jim Havrilla
PhD Candidate in Human Genetics, University of Utah
Accelerated BS/MS in Biomedical Engineering, Drexel University '12,
Concentration: Bioinformatics
*"Memory, comprehension, communication, motivation"*

[2018-03-07 20:24] jimhavrilla commented on #524
Sorry I thought that was what I did, but I will do a more step-by-step
version next time.

[2018-03-07 20:48] jrobinso commented on #524
No problem, when a thread gets as long as this one its hard to keep track of what the problem is.  Don't assume I know,  assume I'm a novice.

[2018-03-08 04:30] jrobinso commented on #545
Agree totally with both of you.  We've wanted to do something for high DPI screens for a while but other issues keep bumping it down.   We are exploring it a little, but I think the gist of your original ideas are the correct path.    We need to find the right place to implement them,  for minimal disruption.   The igv canvas class is a bit of a kludge,  I don't want to do it there,  more likely i

[2018-03-09 03:13] romanzenka commented on #545
I am putting together a testing branch here:

https://github.com/romanzenka/igv.js/tree/retina

I have so far achieved "retina ideogram", you can see what changes were needed for that.

This is tested in Chrome and Safari on Mac OS X.

Before:
![image](https://user-images.githubusercontent.com/66568/37188316-1646076c-2314-11e8-9c3c-52634f1979b1.png)

After:
![image](https://user-images.githubuserc

[2018-03-10 00:09] jrobinso commented on #545
@romanzenka This looks great,  and I like the implementation.   Let me study how we could apply this to tracks with minimal disruption.  The cached bitmaps for tracks, as well as the drawing of that image,  is done in a central place (in viewport.js).

[2018-03-10 00:57] jrobinso commented on #545
@romanzenka Do you have an opinion on this polyfill?  https://github.com/jondavidjohn/hidpi-canvas-polyfill

[2018-03-10 01:02] jrobinso commented on #545
In general, I don't like overriding core javascript prototypes.   However, the polyfill has the advantage of doing the right thing for Safari,  which already handles high DPI screens correctly.    To do this it depends on non-standard properties for the backing store,  but it looks safe as that defaults to 1  (e.g. webkitBackingStorePixelRatio).

[2018-03-10 17:54] jrobinso commented on #545
Never mind the polyfill,  it looks unnecessary and is mostly just manually applying scale.   Why not just use context.scale()?

[2018-03-10 20:05] jrobinso commented on #545
@romanzenka -- unfortunately we did a major restructuring of the ideogram after you forked in support of multiple loci and it was not possible to do a merge.   I just pushed an update to ideogram following the approach your approach to the branch highDPI.   If you care to comment or suggest changes please fork it and submit a PR.    One change -- I disabled the image caching to simplify the implem

[2018-03-12 12:08] amolpshinde07 opened #550 "unable to type multiple loci in the search box separated by a space"
@jrobinso
To see multiple location in split view, unable to type multiple loci in the search box separated by a space

old issue link #309

[2018-03-12 15:09] romanzenka commented on #545
@jrobinso
I would prefer to not use a polyfill simply because it adds a layer of indirection and there already is a layer of indirection in igv.js.
We can get inspired by what the polyfill does and mimic that if necessary.

The polyfill is trying to give you an illusion that you have a magic retina canvas that does everything just right.
However, I think that advanced visualizations can be retina

[2018-03-12 15:20] jrobinso commented on #545
Got it.  I've almost got this, with no polyfill.

On Mon, Mar 12, 2018 at 8:09 AM, Roman Zenka <notifications@github.com>
wrote:

[2018-03-12 16:00] jrobinso commented on #550
This is not a released feature, what version are you using?

[2018-03-13 05:06] amolpshinde07 commented on #550
We are using igv-1.0.9.js

[2018-03-13 05:08] jrobinso commented on #550
That feature is not available in 1.0.9.   It is not released yet.

[2018-03-13 05:08] #550 closed

[2018-03-13 05:08] gokulbontha commented on #550
When you are planning to include this feature in release?

[2018-03-13 05:09] jrobinso commented on #550
Nothing is scheduled yet, but I would expect to release it this spring.

On Mon, Mar 12, 2018 at 10:08 PM, gokulbontha <notifications@github.com>
wrote:

[2018-03-14 02:02] romanzenka commented on #545
I made a little bit of progress, but the existing code is somewhat confusing to me so I am not sure if I am doing it right. I kind of cringe every time I have to touch the canvas element to get its width/height - igv would ideally have these numbers in its model and force those upon the actual DOM elements, not vice versa. The only exception is when resize is triggered when you measure what happen

[2018-03-14 02:16] romanzenka commented on #545
I just noticed - the vertical scrollbars are not working... but that's broken in master as well so you probably know about this already?

[2018-03-14 02:19] romanzenka commented on #545
Oh boy the three frame translate gets spectacularly messed up:
![image](https://user-images.githubusercontent.com/66568/37379920-16ea1c64-2704-11e8-9dda-808cfd9986bb.png)
I think this happens whenever the drawing code asks the canvas for dimension instead of taking the dimension from the drawConfiguration.pixelWidth / pixelHeight (??). That will take some time to clean up...

[2018-03-14 02:25] jrobinso commented on #545
Thanks for your work on this, but viewport.js and related classes are being refactored now for multi-locus support,  so any work on high DPI would have to be redone after.  I have a good handle on it now and will tackle it when we finish multi-locus.   I'll look at your highDPI branch,  its really helpful but we couldn't merge a PR until post multi-locus.   We'll double-check the scrollbars post m

[2018-03-14 02:51] romanzenka commented on #545
That is okay, you are in no way obligated to use my work if it is not helpful right now.
I was simply curious to see what would IGV look like on retina and I like it a lot!

![image](https://user-images.githubusercontent.com/66568/37380777-2ea715ba-2708-11e8-8198-b9c82020c447.png)

Speaking of multi-locus, I am working on a project that displays mate pair data on a display with two windows for two

[2018-03-14 02:55] jrobinso commented on #545
Yes, that's exactly what we're doing.   Actually multi-locus has been
working for a while in beta igv,  and "View mate region"  from an alignment
is one of the options.  We have some newly introduced bugs however and are
fixing them and refactoring to clean up the model in general.   Until
that's done we can't handle high DPI changes because they are in the same
files (viewport.js chiefly).    So

[2018-03-14 16:28] romgrk commented on #545
@jrobinso: I think it is safe to assume that desktop machines with high DPI have enough memory to handle a 4X canvas. I'm not sure if there are mobile devices with high DPI, but mobile devices are detectable anyway ([here](https://stackoverflow.com/a/3540295/6303229), [here](https://github.com/hgoebl/mobile-detect.js/)) so you can always disable high DPI for mobiles only.

Note: On Chrome you can

[2018-03-16 12:07] crashete commented on #547
I was looking for this too, but as I couldn't find anything straightforward to display base count as IGV desktop does I just ended up modifying the source code to add negative and positive counts in the function that renders the text.

If it helps, you just need to modify the function CoverageTrack.prototype.popupData and do
 `  // A
            tmp = coverage.posA + coverage.negA;
            if

[2018-03-16 12:21] tsimakova commented on #547
Dear crashete,

thanks for the tip. Could you please show how the result is look in IGV lite?

Best wishes,
Tamara

[2018-03-16 12:52] crashete commented on #547
Sure. I just made it look like IGV desktop as my users are used to that (also that info is relevant for us).

![basecountbystrand](https://user-images.githubusercontent.com/5757138/37521188-1905cd0e-2920-11e8-8a7b-a2cfe7ce4483.PNG)

Best regards,
Sergio.

[2018-03-16 17:27] jrobinso commented on #547
@crashete Very nice.  Could you make a pull request?

[2018-03-16 18:28] crashete commented on #547
Sure, glad to help, even if it's a simple change as this :)

[2018-03-16 20:06] paul-shannon opened #557 "igv.js as a shiny widget (R+javascript): new track only visible after manual window resize"
I have wrapped igv.js to be an R/Shiny widget.  Everything works well -except- that when I load a bed (annotation) track programmatically (R sends a json message to the browser, loadTrack is called), the track does not appear.

When I use the mouse to manually resize the web browser window, then the new track is rendered.

Is there a function in the api which triggers the same sort of redrawing, a

[2018-03-16 21:22] jrobinso commented on #547
@crashete Everything helps, thanks.

[2018-03-16 21:22] #547 closed

[2018-03-16 21:53] jrobinso commented on #548
I aligned the guide back with the cursor.   I can't recall why we offset it, it was on purpose, but 2 people now have considered it a bug.

[2018-03-16 22:24] paul-shannon commented on #557
Figured this out:  igv does not render to a hidden div.  If I ensure that igv is visible - in my case, that the tab in which it is contained is active and on top - then the track is displayed as expected.

[2018-03-16 23:43] jrobinso commented on #557
Thanks for the update.  I hidden div has a width of zero, IIRC.   IGV creates a canvas based on the width of the track viewport.   So if it's zero it can't do it.   I don't know how to emulate the tabs in plain javascript to see if there is a workaround.

[2018-03-16 23:47] paul-shannon commented on #557
Is a jQuery tabs demo close enough to plain javascript?

[2018-03-17 00:26] jrobinso commented on #557
Yes, that should do.     Is there some "tab show" event?  If we could subscribe to an event and get notified we could do a global repaint.  This is how window resizing is handled.

[2018-03-17 00:44] paul-shannon commented on #557
Sure thing.  Once a Monday noon deadline passes I will put together a tiny demo using jQuery tabs.

 - Paul

[2018-03-19 19:02] paul-shannon commented on #557
@jrobinso

Here is a 62-line demonstration of the problem.   It should load and run as is.  The "explanation" tab describes the one line change needed to see igv render properly.

[code]

[2018-03-20 01:01] romanzenka commented on #545
@romgrk I think there are worse things that can happen than heap size - the canvas needs to be uploaded to the graphics card so you are probably more likely to run out of graphics card space than out of RAM. I think there is some sort of hardware acceleration of the canvas commands, which would point to the canvas buffer being on GPU at least in some instances.
I do not know enough about details o

[2018-03-20 05:46] jrobinso commented on #557
Paul,  try putting this in the <script> tag.

            $("#tabs").on("tabsactivate", function (event, ui) {
                igv.browser.resize();
            });

[2018-03-20 05:48] jrobinso commented on #557
There is a minor issue with the end position which I'll fix tomorrow (see screenshot), but I think this can be made to work.

<img width="409" alt="screen shot 2018-03-19 at 10 46 39 pm" src="https://user-images.githubusercontent.com/933148/37637922-94172214-2bc7-11e8-894d-6add2c68b0ab.png">

[2018-03-20 09:50] slevkor opened #558 "BAM files look different in same place"
Hi @jrobinso
I get some wierd behavior when opening IGV.js
here is the first time i open my application:
![image](https://user-images.githubusercontent.com/12125717/37647147-3affc920-2c34-11e8-80cf-7b871c0e4b90.png)
this is the second time:
![image](https://user-images.githubusercontent.com/12125717/37647162-45b75ef0-2c34-11e8-895c-acc01353f05a.png)

each time it looks different
track info:
{
colo

[2018-03-20 18:30] jrobinso commented on #558
I will look into it.   What version of igv.js are you using?   Is this file
public (will I be able to load it)?

On Tue, Mar 20, 2018 at 2:50 AM, Lev Kordonsky <notifications@github.com>
wrote:

[2018-03-20 19:40] zengzheng123 opened #559 "removeAllTracks bug and memory issue"
It seems that the removeAllTracks() function does not work as expected. tracks.length in the condition is decreased by 1 after each for loop iteration. So only half of the tracks are removed.
[code]

I think this should fix the problem:
[code]

And the other issue I have is after removing the track, the memory that track used does not get released. So if I keep removing and adding a track, the mem

[2018-03-20 19:48] slevkor commented on #558
This version is from master about two months ago.
And yes file is public - you can use link provided as url or download it...

[2018-03-20 22:04] jrobinso commented on #558
Lev, what locus do I use for the screenshot?

The black bar under the coverage track indicates that alignments were
downsampled,  however, that is strange as coverage doesn't look
particularly deep.

On Tue, Mar 20, 2018 at 12:48 PM, Lev Kordonsky <notifications@github.com>
wrote:

[2018-03-20 22:08] jrobinso commented on #559
Thanks,  I'll look into it.   removeAllTracks is not part of the public API,  how are you invoking it?  It could be removed or renamed at any time.

[2018-03-20 23:17] zengzheng123 commented on #559
I just used
[code]

[2018-03-21 09:03] slevkor commented on #558
locus is chr7:140,453,036-140,453,236
what do you mean by downsampled? some data is missing?

[2018-03-21 11:20] crashete commented on #557
I was facing the same problem but with modals instead of tabs.
Solved it with a workaround creating the IGV Browser object the first time the tab is shown instead of doing it when the page loads. Something similar as @jrobinso pointed out.

[code]

Didn't knew about the resize function, might be a better option.

[2018-03-21 18:00] ausinha commented on #526
@slevkor Could you please share how you use trackdragend or locuschange?

[2018-03-21 18:17] ausinha opened #561 "Get/Set data range of a loaded track"
If a track (e.g., bigwig track) is already loaded, is it possible to get the data range? and then set a different data range?

[2018-03-21 18:18] ausinha opened #562 "Edit multiple tracks together"
E.g, change color or set data range of many track at once (similar to desktop version)

[2018-03-21 18:19] ausinha opened #563 "Save high resolution image"
I understand the underlying tech is canvas so SVG will not be possible but I was wondering if there is a better way to get an image other than taking a browser screenshot.

[2018-03-21 18:21] jrobinso commented on #563
Not at this time,  its an important feature we will add but it is not s
small development task.

On Wed, Mar 21, 2018 at 11:19 AM, Amit <notifications@github.com> wrote:

[2018-03-22 03:51] jrobinso commented on #563
It would be helpful to start gathering use cases here.   For example,  what elements are critical and optional in the screenshot?  It will be possible soon to save a .png of an individual track element (basically its canvas).   This is already possible in some browsers context menu.    But I am guessing you want a single screenshot of the complete browser.   Anyway,  enumerating use cases would be

[2018-03-22 04:32] ausinha commented on #563
A good use case is a typical figure included in a manuscript, showing a few data tracks and the gene track. E.g.,
<img width="609" alt="screen shot 2018-03-22 at 12 31 50 am" src="https://user-images.githubusercontent.com/359261/37751377-8825e2ea-2d68-11e8-9cbf-372d93a61753.png">

[2018-03-22 04:34] ausinha commented on #563
Another example from a paper:
<img width="358" alt="screen shot 2018-03-22 at 12 33 40 am" src="https://user-images.githubusercontent.com/359261/37751408-b5957f88-2d68-11e8-955d-5c25c22f2e21.png">

[2018-03-22 05:31] jrobinso commented on #557
I'm working on this but its complicated.    The width of zero in the hidden tab caused some issues but I've fixe those.  Now the jquery-ui css stiles seem to be squashing the icons (font-awesome).   I will look at that next, hopefully tomorrow or by end of the week at the latest.

[2018-03-22 06:22] jrobinso commented on #558
Deep coverage files are randomly downsampled.   Otherwise you'll crash your browser.   The coverage here is ~3780x.    Parameters are described here under Alignment track:  https://github.com/igvteam/igv.js/wiki/Tracks.    You can effectively turn off downsampling by setting samplingDepth to a very large number.   You won't like the performance though.

Having said that,  your file is a pathologic

[2018-03-22 12:31] matthdsm commented on #311
Hi @turner, @jrobinso

Nice addition! Seems to work beautifully. Some further questions on this:
* Can the same result be achieved using some sort of API call? I'm building a web page using IGV.js, and I've already got several UI elements calling the API.
* On the same note, is it possible to remove the button from the browser itself? Ideally, I'd like to move as much of the buttons in the top bar

[2018-03-22 13:17] matthdsm opened #564 "loadTrack error"
Hi Jim,

I'm playing around with the nightly build and I'm getting the following error while calling
[code]

Error:
[code]

  | w.Deferred.exceptionHook | @ | jquery-3.3.1.min.js:2
-- | -- | -- | --
  | c | @ | jquery-3.3.1.min.js:2
  | setTimeout (async) |   |  
  | (anonymous) | @ | jquery-3.3.1.min.js:2
  | u | @ | jquery-3.3.1.min.js:2
  | fireWith | @ | jquery-3.3.1.min.js:2
  | fire | @ | jq

[2018-03-22 14:21] matthdsm commented on #564
Strangely enough, the following DOES work.
[code]

[2018-03-22 14:23] matthdsm opened #565 "changing genome builds"
Hi,

Is it possible to change the genome build of the browser without removing and reloading it completely?
Also, is it possible to show the current genome build somewhere in the browser?

Thanks
M

[2018-03-22 15:49] ausinha commented on #511
How do you plan to support saving a session?

Will it be similar to XML file of the Desktop version? Since web applications may have their own way of saving users' stuff, there could be an API call to save session, which will generate a json object, which can be used to regenerate the browser stat.

[2018-03-22 16:45] jrobinso commented on #311
cannot use or even know the actual file paths.

That could be supported when the API call is there.    Could you open a new
git issue for "API to load local files"?

[2018-03-22 16:47] jrobinso commented on #511
It will be json,  and in fact the desktop will be moving to json.    The
json will be close to or identical in form to the initial config object.

On Thu, Mar 22, 2018 at 8:49 AM, Amit <notifications@github.com> wrote:

[2018-03-22 16:47] jrobinso commented on #565
Not currently.    Will add it.

On Thu, Mar 22, 2018 at 7:23 AM, Matthias De Smet <notifications@github.com>
wrote:

[2018-03-22 18:49] zengzheng123 commented on #559
Btw, I was using igv 1.0.8. I just tested the newest igv beta version with Chrome and Safari. And the memory leaks issue still exists.

[2018-03-23 19:40] paul-shannon opened #566 "track/gear popup menu fails to show (mostly) in latest build"
I think I saw mention of fontawesome changes yesterday?   Maybe related to the sudden appearance today of the problem described in the subject line: when I click on the gear icon no in IGV.R's browser igv.js, I see no popup menu.

I fiddled with my css, creating a larger right margin, which worked once ... but no longer.

This may be interaction with my own css, and my own css may not be altogethe

[2018-03-23 20:35] jrobinso commented on #566
I noticed the icons do not work with jquery tabs,  it might be related, it
seems the font-awesome css does not work nicely with jquery-ui.

I'm completely redoing this now using svg and custom js code rather than
font-awesome css magic.   This should fix the problems.   Its tedious,  I
should have it done by later today.

On Fri, Mar 23, 2018 at 12:40 PM, Paul Shannon <notifications@github.com>
wr

[2018-03-24 19:03] turner opened #567 "Interactive track reordering does not preserve track.order property."

[2018-03-24 20:05] jrobinso commented on #558
Sorry for the delayed response.   Your did bring to light a bug in downsampling that wasn't noticed previously.   To get the fix pull and build again, or use the beta distribution: http://igv.org/web/beta/.

As mentioned, you can turn downsampling off by setting a large samplingDepth,  but you risk running out of memory and freezing the browser.   If you do set a large samplingDepth you can offset

[2018-03-24 20:05] #558 closed

[2018-03-26 06:43] matthdsm opened #568 "Feature request: API to load local files"
ref #311

Would it be possible to add API functionality for:
* reading client side files
* moving buttons from IGV header bar to other UI elements.

Thanks a lot!
M

[2018-03-26 06:45] matthdsm commented on #565
Great! Thanks! 👍

[2018-03-26 10:19] el1jaC commented on #568
For the first point, do you want to load local files dynamically from "load" button, or loading local file on  UI loading?
I would like to warn you that reading local file from browser is virtually a worst practice due to many security reasons.
It would be better to read blobs from URL by IGV.js API.

Fro the second point, do you want to drag buttons using the UI, or create buttons dynamically on

[2018-03-26 10:31] matthdsm commented on #568
Hi,

I'd like to be able to load local files to the application. This is already implemented as referenced in #311, but needs an API. I'm not very familiar with how everything should/can work, so the actual implementation is something I'd like to leave to more experienced minds.

As for the second question, I'd like to be able to remove the buttons currently in the IGV top bar, and create those bu

[2018-03-26 12:29] el1jaC commented on #559
@zengzheng123 @jrobinso  IMHO, the issue can be resolved using following trick, but the solution is little bit cleaner.

[code]

I've not tested it yet, but i think it can work well.

[2018-03-26 12:44] el1jaC commented on #568
To load local files, API must upload them in a temporary folder (obviously in workspace), and import them in browser using **browser.loadTrack** linking  relative path.
I try to develop it. I keep you updated.

For the second point, buttons do you mean **_Track Labels, Center Line, Cursor Guide and zoom plus/minus_**?

[2018-03-26 12:51] matthdsm commented on #568
Thanks a lot.
For the buttons, those are the ones indeed. The button aforementioned don't bother me all that much, it's mostly the "Load Track" button, as activated by enabling the `showLoadFileWidget` in the config.

Actually, if the functions bound to said widget had an API, I thinks all needed functionality should be there.

M

[2018-03-26 13:02] matthdsm commented on #430
+1 on this, would be useful for us too!

[2018-03-27 02:11] jrobinso commented on #568
Hi Matthew,
Sorry for the delay in responding,  we've been busy.    Yes I agree every button (not just load file) should have an associated API.   We will do that.  I think you can already hide the nav bar, so 1/2 of it is done.    WRT loading local files,  we will support loading from a blob object,  same as the current load file widget produces.   This is the only legal way to load local files,

[2018-03-27 02:13] jrobinso commented on #566
@paul-shannon the font-awesome replacement is implemented in the branch Multi-locus_edits.  We are still testing before merging to master.   It seems to fix the jquery-ui / fa clash that was causing icons to not work.

[2018-03-27 05:47] matthdsm commented on #568
Hi Jim,

Sounds awesome! Looking forward to testing the new functions? Will you be adding some docs to the wiki?

Thanks again
M

[2018-03-27 07:00] el1jaC commented on #568
@jrobinso I can develop a simple "file" button with an API, just tell me when the button must be placed. I've already done it in JavaFX, and I don't think it will take much.

[2018-03-27 15:59] jrobinso commented on #568
@el1jaC We already have solved this problem.  Mattias is requesting a load API.

@matthdsm It occurs to me we might already have the API.   Try loadTrack, but put the file blob in the URL field.

[2018-03-27 16:06] jrobinso commented on #568
Also,  @el1jaC is correct, you must get handles to both files for indexed formats and explicitly set indexURL (again with the file blob
).

[2018-03-27 20:50] jimhavrilla opened #570 "Rendering of zoom buttons and menu bar and settings doesn't work"
![image](https://user-images.githubusercontent.com/6568964/37994165-f43f9250-31cd-11e8-8605-824c8c51c099.png)
I have changed nothing in my html (https://s3.us-east-2.amazonaws.com/ccrs/ccr.html) and since the recent update the page looks like the above.  Is there a potential cause of this?  I can't give specifics because I truly do not know what change caused this.

[2018-03-27 20:57] jrobinso commented on #570
Hi, some dtails please.  What am I looking for (what us the problem?).
Update of what? Can you give me a url to the page?

On Tue, Mar 27, 2018 at 1:50 PM Jim Havrilla <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2018-03-27 20:58] jimhavrilla commented on #570
URL is above.

[2018-03-27 20:59] jimhavrilla commented on #570
The problem is that the zoom buttons and the menu bar on the top of the container, and the settings wheel on the right of the tracks has mysteriously vanished.  Not really sure what could be the cause.

[2018-03-27 21:02] jimhavrilla commented on #570
As you can see in the posted image above the top menu bar just says "cursor guide center line track labels" but no longer has buttons or functionality

[2018-03-27 21:08] jimhavrilla commented on #570
Also the update to which I am referring is your master branch

[2018-03-27 22:10] jrobinso commented on #570
Be sure you update the css as well.   Also, remove the font awesome
includes.  Could you give me a url to rhe page?

On Tue, Mar 27, 2018 at 2:08 PM Jim Havrilla <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2018-03-27 22:41] helgathorv commented on #570
@jimhavrilla A message from @jrobinso: He's not at a computer right now, but will take a look this evening (California time).

[2018-03-27 22:43] jimhavrilla commented on #570
I gathered as much -- got those github mobile labels in the comments.
Thanks for taking a look in advance.

[2018-03-28 01:18] jrobinso commented on #570
Hi jim,  I'll ook at this this evening.  But FYI  web/test/dist is not recommended for anything other than testing,  that is not built off master but off of our development branch, its primary purpose is to test prior to merging to master.     The most recent build from master will be at  http://igv.org/web/beta/

[2018-03-28 01:19] jimhavrilla commented on #570
I will make the switch then later and let you know if it works
--
Jim Havrilla
PhD Candidate in Human Genetics, University of Utah
Accelerated BS/MS in Biomedical Engineering, Drexel University '12,
Concentration: Bioinformatics
*"Memory, comprehension, communication, motivation"*

[2018-03-28 01:45] mofengfs opened #571 "How to apply igv.js to the web side?"
For those who have not contacted igv before, only developed front-end developers of the mall, how to use igv.js for web-side development work？

[2018-03-28 01:48] jrobinso commented on #570
OK, I found the problem.  The URL for the distribution css has changed,  its
[code]
instead of
[code]
To fix it I made a copy,  so you don't need to do anything now.

Since you are testing on our dev branch ,   the big change in that branch is the font-awesome css is no longer used.  Instead we embed font-awesome v5 in the igv.js and igv.css bundles.   The embedded code uses svg graphics, not font

[2018-03-28 02:21] bw2 opened #572 "magic error message occurs when crams are missing"
I'm using the igv.js-flask server to serve crams.

When a cram file is missing, the error popup shows "BAM header contains an invalid BAM magic".
Can this be changed to something like "BAM header error: invalid BAM magic. This may also mean the file could not be found."
https://github.com/igvteam/igv.js/blob/043d3d6b917353933cf05d5e68c72d8df3aa11e6/js/bam/bamUtils.js#L81

[2018-03-28 02:30] jimhavrilla commented on #570
Works now.  I like using your new features :) so that's why I use the dev
branch.  One question, for the future should I now use

https://igv.org/web/test/dist/css/igv.css

Or do you guys plan to go back to the old URL?

Jim Havrilla
PhD Candidate in Human Genetics, University of Utah
Accelerated BS/MS in Biomedical Engineering, Drexel University '12,
Concentration: Bioinformatics
*"Memory, compre

[2018-03-28 04:57] jrobinso commented on #572
Done as a stop gap.   @ishanley if the cram file is missing the response should set the status code to "404" for file not found.

[2018-03-28 05:29] jrobinso commented on #570
@jimhavrilla Its actually very helpful to have you using the latest bleeding edge,  as long as this isn't a production or public site that people count on.   If it is we can set some semi-stable process up for you to get regular updates but not multiple times per day.

Going forward, as in starting tomorrow, these are the urls for the latest build,  which is kicked off on literally every commit.

[2018-03-28 05:34] jimhavrilla commented on #570
Thanks.  It is used by other people, it is public and I am the only one who maintains it at the moment.  But a lot of your new features I incorporate pretty immediately, so if you are willing to make that semi-stable release I would appreciate it.

[2018-03-28 05:45] jrobinso commented on #570
We are working towards a process for more frequent releases, on the order of monthly, that are tagged so your site won't change until you are ready for it to.   In the meantime the "beta" distribution I pointed you to earlier is safer than the test one.     We don't push things to the beta until we have tested it.   That doesn't mean we will find all bugs but your odds are better there.

When we r

[2018-03-28 05:47] jrobinso commented on #571
@mofengfs I don't understand your question.   Have you reviewed the information on the wiki?

[2018-03-28 05:56] jimhavrilla commented on #570
Sounds good.  Thanks Jim.

[2018-03-28 12:45] el1jaC commented on #571
@mofengfs igv.js is a Javascript library, and you can link it like normal js file, or you can link the amazon URL.

Can you explain better what would you want to do?

[2018-03-28 12:47] el1jaC commented on #568
@jrobinso so I think you should explain in the wiki how to link indexed file (with index file named equal to content file).

[2018-03-28 12:49] el1jaC commented on #564
I think you must also register the BAI file, in "indexURL" option.

[2018-03-28 15:37] bw2 commented on #572
Thanks

[2018-03-28 16:20] jrobinso commented on #564
I will look into it, but if using the nightly build the font-awesome link is no longer necessary.   Also, the css to us is "https://igv.org/web/test/dist/igv-all.css".   See https://igv.org/web/test/test.html for an example.  This will be documented on wiki before merging to master.    This is not the cause of your error though.   @el1jaC you do not have to specify the index for urls  if it follow

[2018-03-28 17:03] jrobinso commented on #564
Mattias,  I can't reproduce your problem.  See http://igv.org/web/test/examples/api.html,  I added the bam to the "track" dropdown menu.  Also http://igv.org/web/test/examples/bam.html.

The current required includes for the test build are below.  Also, try clearing your cache.   The line number in your error message does not match the current igv.js.

[code]

[2018-03-28 19:49] paul-shannon commented on #566
Hi Jim,
Success!   I am not using jQuery tabs at present - I'll get back to that once the Bioconductor IGV package is submitted Monday.   But I built  igv.js just now from the github source and the new non-fontawesome "gear" track icons work fine.

They fail only in one minor circumstance.  I have an R command

    setGenome(igv, "hg38|hg19|mm10|tair10")   # choose 1

which destroys any existing c

[2018-03-28 20:23] turner commented on #568
Loading a local file is supported via the `loadTrack(config)` function. Here config is an object with a property named `url` that is set to a `File` object (which is a BLOB extension). The `File` object would typically be retrieved by navigating to the local file via - for example - the finder on a Mac.

[2018-03-29 01:28] mofengfs commented on #571
@jrobinso @el1jaC

[2018-03-29 01:28] mofengfs commented on #571
@jrobinso @el1jaC I am understanding the documentation in the wiki. Not bad. However, the documentation is still simple, such as no detailed description of the tracks object.

[2018-03-29 02:35] jrobinso commented on #571
Look at the source code

[2018-03-29 02:35] #571 closed

[2018-03-29 05:05] jrobinso commented on #566
Paul,  I assume you are re-creating the browser because we don't have a method to reset the session and load a different genome, correct?

[2018-03-29 05:28] #570 closed

[2018-03-29 07:00] toniher opened #573 "Event change functions"
Hello, I was checking documentation and so far I have not been able to find if there are any pre-built event change/obverse function (e.g., for triggering an action on changing coordinates or zooming)

Thanks!

[2018-03-29 07:08] #548 closed

[2018-03-29 07:41] jrobinso commented on #573
Yes, apologies this is not documented, it is contributed functionality but that is no reason not to document it.  See the examples in this folder.

http://igv.org/web/examples/events/

[2018-03-29 08:06] #566 closed

[2018-03-29 11:27] matthdsm commented on #564
Hi Jim,

Thanks for looking into this. I suppose this error is caused by some sort of async process. The data in my app that feeds into loadTrackList is read from a json file, so that might be the cause.

[2018-03-29 11:27] #564 closed

[2018-03-29 11:28] matthdsm commented on #568
Clear. Any pointers on how to get a File object from a form? I'm not all that experienced in JS and I'm having some issues getting it to work :/

Thank you for all the help
M

[2018-03-29 13:18] turner commented on #568
There are tons of examples in the Web. Here is a sketch.

I have a Bootstrap modal with an file load `input` element:
![screen shot 2018-03-29 at 9 09 33 am](https://user-images.githubusercontent.com/87169/38090852-d330e9dc-3331-11e8-8d12-82b57b135a57.png)

Code for the input element:
`<input id="my-local-file-widget" type="file" title="Load Local File"/>`

Click on the "Choose File" to present th

[2018-03-29 13:19] #568 closed

[2018-03-29 16:41] jrobinso commented on #564
If you can set up an example I can access I will see if I can debug it.

[2018-03-29 16:56] jrobinso commented on #566
@paul-shannon Could you try again?  I think its fixed, you can pull from master or use  our test distribution.   The includes now have changed, and are simplified,  no font-awesome just an igv css and js.  Note the name change for the css (igv-all.css)
[code]

[2018-03-30 01:14] mofengfs opened #577 "How to import local files ？"

[2018-03-30 04:50] jrobinso commented on #559
@zengzheng123 This issue, including the memory leak,  should be resolved now.   If the memory leak persists please reopen.

[2018-03-30 05:25] jrobinso commented on #577
If you want help you need to to do more than offer a sentence fragment.   Please tell us what you want to do, and what you have tried.

[2018-03-30 05:28] jrobinso commented on #566
Great.  We should tag whatever you submit to Bioconductor as a "release" so we know precisely what was submitted.   In what form do you submit the igv.js js and css files,  via a copy or by reference to one of our urls?

[2018-03-30 07:15] mofengfs commented on #577
What I mean is that igv browser can import files. How does igv.js web side import files?

[2018-03-30 07:49] matthdsm commented on #564
Hi Jim.

Thanks a lot for the offer. I've created a [repo with example code](https://github.com/matthdsm/IGVviewer-example). It also contains a Dockerfile for an image that should work out of the box.

It may be worth to note that everything works with version 1.0.9. It's only when using the test version that I get the error above.

Thanks again, you've already been a huge help.
M

[2018-03-30 15:11] paul-shannon commented on #566
Tagging the version released in bioc makes good sense.

I now, in classic npm style, assemble igv.js and igv-all.css into the final igv.html  my package builds.

 I use an expedient github repo, https://github.com/paul-shannon/igv.js.npm, containing a copy of your latest igv.js and igv-all.css from a manual build I do after a fresh pull of your igv.js repo, so that npm can find your library.
All o

[2018-03-30 15:51] jrobinso commented on #566
IGV has an npm repository,  but I build it manually and it has the released
IGV.   After tagging I will attempt to update it.    This will be later
today (pacific time).

On Fri, Mar 30, 2018 at 8:11 AM, Paul Shannon <notifications@github.com>
wrote:

[2018-03-30 18:42] mikesafdieh opened #580 "Locus search not working for certain gtf files"
We have some of our own sorted gtf files (hosted on aws) for gene tracks. However, when we do a locus search by gene name we get an "Unrecognized locus" error message from IGV. Genomes where this happens are: tair10, taeGut2, danRer7, danRer10, and others. Below is a screenshot for tair10:

<img width="1075" alt="screen shot 2018-03-30 at 2 23 49 pm" src="https://user-images.githubusercontent.com/

[2018-03-30 20:00] jrobinso commented on #580
Did you mark the annotation file as "searchable" in the config  (see
section 2 here https://github.com/igvteam/igv.js/wiki/Tracks)?

IGV uses a webservice for searches, and if that fails searches annotation
files that have been marked "searchable".    For the search to succeed the
annotation file cannot be indexed as it needs the entire contents in memory.

The search webservice we provide by defa

[2018-03-31 04:13] jrobinso commented on #577
@mofengfs igv.js is a pure javascript client program.  It loads files by XMLHttpRequest.   Everything a developer needs to know to imebed igv.js is explained in the wiki, and many have done so.  We don't have time or resources here to do basic web tutorials.

[2018-03-31 04:13] #577 closed

[2018-04-03 04:17] jrobinso commented on #545
I think this issue can be closed,  ideogram and tracks now support highDPI screens.    There are a few minor canvases, such as the X-axis for wig tracks,  that still need to be converted but they are noted elsewhere.  Thank you @romanzenka for your contributions.

[2018-04-03 04:17] #545 closed

[2018-04-03 15:52] zengzheng123 opened #586 "minor issues: track label, center guide, color alignments, remove track popup"
Hi, I was testing the code built from master branch, and found some minor issues.

1. When clicking the track label of an alignment track, the click event of the underneath element is also triggered(the coverage track). So the track label popup will show and disappear immediately, then the coverage popup will show.

2. The state of center guide toggle button is not properly set when IGV is initial

[2018-04-03 15:57] helgathorv commented on #586
Hi Zheng,

Thanks for the report. We already caught a couple of those in our testing, but not all - so this is much appreciated.

Helga

[2018-04-04 18:52] mikesafdieh opened #594 "Zoom buttons and track settings not rendering in beta version"
I'm using the beta version of IGV and the zoom buttons and track setting buttons are not rendering as shown below:

<img width="1087" alt="screen shot 2018-04-04 at 2 33 49 pm" src="https://user-images.githubusercontent.com/8171274/38327043-468aa62e-3815-11e8-9cb2-78c2c4008ead.png">

NOTE: If I use the links for the development branch (as described in #570) then the zoom and settings buttons appea

[2018-04-04 21:33] jrobinso commented on #594
Yes,  the dependencies have changed (much simpler now).   Scroll to the
bottom here  https://github.com/igvteam/igv.js/wiki/Dependencies

On Wed, Apr 4, 2018 at 11:52 AM, mikesafdieh <notifications@github.com>
wrote:

[2018-04-04 22:04] zengzheng123 opened #597 "sort by base function for alignment track not working"
Hi, It looks like "sort by base" function for alignment track is not working.

Best,
Zheng

[2018-04-04 22:49] jrobinso commented on #597
@zengzheng123 could you give us more details? It's working for me.

[2018-04-05 03:05] mikesafdieh commented on #594
I changed the new dependencies and still having the same issue. The issue also occurs on the beta example page http://igv.org/web/examples/beta.html#
I am using Chrome but had the same issue with the example page on safari. On Firefox the icons appeared oversized as shown below:

<img width="1274" alt="screen shot 2018-04-04 at 11 04 58 pm" src="https://user-images.githubusercontent.com/8171274/38

[2018-04-05 03:09] jrobinso commented on #594
The beta page is incorrect, thanks for the report.   Updated examples are
here:  http://igv.org/web/test/examples/

Could you post your web page,  or at least the <head> section?

On Wed, Apr 4, 2018 at 8:05 PM, mikesafdieh <notifications@github.com>
wrote:

[2018-04-05 04:25] jrobinso commented on #597
Zheng, what version are you testing?  We just discovered that "sort by base" was present in the "cog" menu on the right of the track.  It should not have been there, that function has been moved to the right-click context menu.

[2018-04-05 05:34] zengzheng123 commented on #597
Hi, I was testing master branch code from two days ago. Yes, I was using the button in the "cog" menu.
I just tried the button in the right-click menu. It did resort the alignments, but they are not sorted by nucleotide. If I click the button again, the alignments are then sorted by nucleotide, but in reverse order(alignments that did not cover the location will be at the top, and alignments with

[2018-04-05 05:38] jrobinso commented on #597
Sorting repeatedly should just flip the order (ascending, descending).
 Are you able to reproduce the sort problem with
http://igv.org/web/test/examples/bam.html,  or other page that I can access?

The "color by" problem is another bug,  it forces an alignment track to
reload when it shouldn't.   That causes resorting.   When I track that down
the sort should be stable.

On Wed, Apr 4, 2018 at 10:

[2018-04-05 06:08] zengzheng123 commented on #597
The bam example page seems to work fine for me. The only problem I can find is if you go to chr8:128,752,178, "sort by base" several times, sometimes there is an alignment that does not cover the base is at the top, sometimes that alignment is near the bottom, among other alignments that do not cover that base. I'm not sure if it is because that alignment has soft clipping. But it is different fro

[2018-04-05 18:25] mikesafdieh commented on #594
Here is our head section:

<img width="939" alt="screen shot 2018-04-05 at 2 19 52 pm" src="https://user-images.githubusercontent.com/8171274/38384266-ac164198-38dc-11e8-836d-056c4aabe27b.png">

And for the js, the end of our body:

<img width="933" alt="screen shot 2018-04-05 at 2 20 37 pm" src="https://user-images.githubusercontent.com/8171274/38384316-d0e27c62-38dc-11e8-827a-5e18fd9d0752.png">

[2018-04-05 19:37] zengzheng123 commented on #597
Hi, I was able to reproduce the problem with your bam example page. If you goto chr1:850,309, and sort that position by base, it doesn't work for me on the first try.

[2018-04-05 20:12] jrobinso commented on #594
If you want to run the nightly snapshot,  all you need is what is
documented in the page I referenced.  I see you have it there but its
commented out.   All other igv includes should be removed  (e.g.
igv-beta.min.js).    You may or may not need the jquery, bootstrap, and
font-awesome includes for your page, but they are not needed for igv.   Try

<link rel="stylesheet" type="text/css" href="
http

[2018-04-05 20:13] zengzheng123 opened #603 "single/double center line"
Hi,

When I turned on center line on initiation of IGV, and set the initial locus to to a 41bp region. It only shows a single center line at the center of that base. And if I do a search, and move it to another 41bp region, it becomes two lines that frame the base. I know that IGV decides whether to show a single or double center line based on the resolution of the region. But in this case, they a

[2018-04-05 20:24] zengzheng123 commented on #559
@jrobinso Hi, I just had a change to test this memory leak fix.

Before the fix neither removing the entire browser nor removing the tracks would release the memory.

After the fix, removing the entire browser seems to release all the memory. Removing all the tracks seems to release some of the memory, it is much better than before the fix, but the memory still keeps growing slowly if I keep remov

[2018-04-05 22:17] jrobinso commented on #597
This should be fixed.  The first sort was triggering a data reload,  which negated the sort.

[2018-04-05 22:30] jrobinso commented on #559
@zengzheng123  OK, we'll keep looking.  The culprit before was mouse handlers on window and document,  which kept references to track objects.    So from your test there is some residual that accumulates,  about 5mb total for the 3 tracks.   If you could repeat that for the BAM and VCF separately it might be informative,  i.e. the problem might be one or the other track type but not both.

[2018-04-06 00:08] zengzheng123 commented on #559
I tested it on a single bam track and a single vcf track separately, removing and adding the track 20 times. It seems that both vcf track and bam track are accumulating some residual. I repeated the test for 3 times and got similar result.

[2018-04-06 05:57] zengzheng123 commented on #559
Btw, "igv.removeBrowser()" is now giving me the following error with the latest master branch build. It was working fine with the master branch build from two days ago.

[code]

[2018-04-06 06:03] jrobinso commented on #559
OK,  thanks for the report,  but don't use any of the "beta" urls.   I will
be removing that folder soon,  we are moving towards tagged betas.   If you
want to use the latest use  igv.org/web/test,  specifically

<link rel="stylesheet" type="text/css"
href="https://igv.org/web/test/dist/igv-all.css">
<script type="text/javascript"
src="https://igv.org/web/test/dist/igv.min.js"></script>

On Thu, A

[2018-04-06 06:07] zengzheng123 commented on #559
I built it from the latest source code myself. I just happened to name the files the same way as the "beta" version.

[2018-04-06 06:08] jrobinso commented on #559
OK,  I couldn't reproduce the bug in the development branch so I just
merged development -> master.   Try again.

On Thu, Apr 5, 2018 at 11:07 PM, zengzheng123 <notifications@github.com>
wrote:

[2018-04-06 06:15] zengzheng123 commented on #559
Thank you so much. "igv.removeBrowser()" is working again.

[2018-04-09 01:47] mofengfs opened #612 "Is there a ‘showLoadFileWidget’ attribute?"
I want to read a local file

[2018-04-09 04:06] jrobinso commented on #612
Not supported yet, stay tuned.  Are you building a website, or trying to
use this as a personal application?

On Sun, Apr 8, 2018 at 6:47 PM, mofengfs <notifications@github.com> wrote:

[2018-04-09 16:08] jrobinso commented on #612
At the moment igv.js is a component for web developers.

[2018-04-09 16:08] #612 closed

[2018-04-09 18:18] romgrk opened #613 "Remove console.log from production version"
Currently, IGV.js contains `console.log`s even in the minified production version.

[2018-04-09 21:28] jrobinso commented on #613
Yes, we should remove them,  so do many other libraries but I agree we should remove them.

[2018-04-10 02:34] mofengfs opened #615 "Apache header response error"
"Request header field Range is not allowed by Access-Control-Allow-Headers in preflight response.", my apachea server, according to the rules in the document to configure, but reported this error, what is the matter? How to solve it?

[2018-04-10 03:42] jrobinso commented on #615
Rules are listed here:  https://github.com/igvteam/igv.js/wiki/Data-Server-Requirements.  You must set access control to allow the Range header.   This is not in igv.js problem, it is a server configuration problem.   Google "CORS" and you will get lots of links to read.

[2018-04-10 03:42] #615 closed

[2018-04-10 03:43] jrobinso commented on #615
Also,  watch the network traffic (request and response), for example in Chrome tools.

[2018-04-10 05:22] mofengfs opened #616 "invalid block type"
'invalid block type',What caused this error?

[2018-04-10 07:13] el1jaC commented on #616
Hi @mofengfs ,
can you explain better, maybe with some screenshot/example?

[2018-04-10 07:57] mofengfs commented on #616
![1](https://user-images.githubusercontent.com/16655229/38543708-e3d81f26-3cd7-11e8-9f8b-76231965727b.png)
![2](https://user-images.githubusercontent.com/16655229/38543710-e40e7ba2-3cd7-11e8-8c1f-90e48146eff5.png)

[2018-04-10 08:44] el1jaC commented on #616
Hi @mofengfs ,
can you upload also he screenshot of browser console?
In most cases i browser console there is the clearest explanation.

[2018-04-10 08:54] mofengfs commented on #616
Hi @el1jaC
![3](https://user-images.githubusercontent.com/16655229/38546637-b92b6cee-3cdf-11e8-99f8-8817819210aa.png)
![4](https://user-images.githubusercontent.com/16655229/38546638-b95d462e-3cdf-11e8-9a51-25290254346f.png)

[2018-04-10 15:40] romgrk commented on #613
Babel is great for transforming code, you could integrate a step in your production build script with the [remove-console plugin](https://babeljs.io/docs/plugins/transform-remove-console/).

[2018-04-10 18:51] romgrk opened #617 "Use semantic versionning"
I was reading some parts of the documentation sooner today, and I noticed that you've been making some changes in the 1.1 release, and some of them seem to be incompatible with the 1.0 release.

Semantic versionning is the standard versionning system for quite all javascript projects. It allows very simple communication of the compatibility of your API.
E.g. at 1.0.0, if you're adding backwards co

[2018-04-10 19:03] jrobinso commented on #617
Hi @romgrk We are using semantic versioning,  all changes should be backward compatible.  What specifically have you found that is not backward compatible?

Having said that,  the number of new features are substantial and we might bump this to 2.0.0.

[2018-04-10 19:11] jrobinso commented on #617
@romgrk -- yes per-version wiki would be nice.  I don't know an easy way to do that.   Using wiki for documentation is not idea,  but there is a very low threshold to creating it which is important since I do all the documentation,  as well as coding on 3 projects.

[2018-04-10 19:18] romgrk commented on #617
[Tracks Menu](https://github.com/igvteam/igv.js/wiki/Track-menu)
[Tracks Menu (1.1)](https://github.com/igvteam/igv.js/wiki/Track-menus-(v-1.1))

The `click` handler changes from `click` to `clickHandler`.
(Also it's unclear in 1.1 if it should be `label` or `name/object`.)

If you're already using semver, you can close this. :)

[2018-04-10 20:48] jrobinso commented on #617
Thanks for catching that,  the problem is clearly defining what in the Wiki is part of the API and what is not.   The pages you reference are developer notes, basically notes to myself, but that is not clear.   I will leave this issue open as a reminder to clearly delineate the API,  which consists of the pages  "API",  "Browser",  and "Tracks".

[2018-04-10 22:16] jrobinso commented on #617
I've made a stab at delineating the API on the wiki.   I will close this but thanks again for raising the issue.

[2018-04-10 22:16] #617 closed

[2018-04-12 06:42] mofengfs opened #622 "Use the same file source.Why is the difference between Desktop version of igv and Html5 end result is so big? Html5 reported an error"
This question is related to #628

The same file source+chr7:128,486,170-128,486,210
![3603-1](https://user-images.githubusercontent.com/16655229/38660393-a8bb3c3c-3e5f-11e8-880f-74412b2f7e1c.png)
![3603](https://user-images.githubusercontent.com/16655229/38660670-a95d050c-3e60-11e8-91c7-0f67c52ded4e.png)
![image](https://user-images.githubusercontent.com/16655229/38665362-d196ac2c-3e6e-11e8-9875-1

[2018-04-12 18:42] hakanEdico opened #624 "Array Buffer Allocation Failed"
Uncaught (in promise) RangeError: Array buffer allocation failed
    at new ArrayBuffer (<anonymous>)
    at typedArrayConstructByLength (<anonymous>)
    at new Uint8Array (/cgi-bin/native)
    at Object.igv.unbgzf (igv-beta.js:27642)
    at success (igv-beta.js:33315)

I am using the readFeatures function to extract information out of a vcf.gz file
The first time I loaded the page, this worked f

[2018-04-12 21:03] jrobinso commented on #624
The old "beta" folder is obsolete and will be deleted soon.   Documentation is being updated.

Try this release:  https://igv.org/web/release/2.0.0-beta1/dist/

You need only include the igv.min.js and igv-all.css files.    (https://github.com/igvteam/igv.js/wiki/Dependencies-2.0)

[2018-04-12 21:09] jrobinso commented on #613
I don't think all browsers are compatible with ES6+ yet.   "Modernizing" our codebase is not a priority.

[2018-04-12 21:10] #559 closed

[2018-04-12 21:39] jrobinso commented on #622
I don't understand your question at all.  What is  "H5"?   Also, the screenshots you show are for different bam files.

[2018-04-12 21:43] hakanEdico commented on #624
Thank you for the suggestion. I can now see the request for the VCF being made, after it finishes, my browser locks up completely! Not sure what the issue is.

[2018-04-12 21:52] hakanEdico commented on #624
Lock up is something on my side after the data is returned. I appreciate your help! One quick question - I am querying for chr1, position 1 - 249,250,621 and the request takes around 20 seconds to get 29MB of data, is this normal?

[2018-04-12 22:38] mikesafdieh commented on #580
We ended up going with writing our own webservice for the unsupported aasemblies.
Thank you

[2018-04-13 00:24] mofengfs commented on #622
Hi @jrobinso ,
Which bam file does the desktop version of igv use?

[2018-04-13 00:58] #616 closed

[2018-04-13 02:34] mofengfs opened #625 "As shown in the picture, what is the relationship between the three parties?"
![num3](https://user-images.githubusercontent.com/16655229/38714112-47198bca-3f07-11e8-8830-b277b849dbac.png)

[2018-04-13 03:01] mofengfs opened #626 "Igv v2.0 open file error"
![igv2 0 1](https://user-images.githubusercontent.com/16655229/38714718-132def9c-3f0a-11e8-9a17-d88be1cde75e.png)
![igv2 0](https://user-images.githubusercontent.com/16655229/38714719-135fb1bc-3f0a-11e8-916b-ac8ad148ee0c.png)

[2018-04-16 00:58] mofengfs opened #628 "I do not understand the relationship between each file. Which of the following two methods is correct?"
This question is related to #622

![qq](https://user-images.githubusercontent.com/16655229/38785691-0a44d560-4155-11e8-881a-36d143b0f4a8.png)

![q2](https://user-images.githubusercontent.com/16655229/38785589-1e498110-4154-11e8-8a7e-65e604c2ef85.png)

[2018-04-16 04:29] jrobinso commented on #628
You're question doesn't make any sense.   Do you understand the basics of a URL?

[2018-04-16 04:29] #628 closed

[2018-04-16 06:37] mofengfs commented on #628
Hi @jrobinso ，
Yes, I understand that what I do not understand now is the role of the track file. For example, what does the hg19.bed file in your demo do? And the role of the HG01879*******.bam file. This is also the reason why I can't figure out #622.

[2018-04-16 06:39] jrobinso commented on #628
If the documentation and examples are not enough for you I can't help you
further.

On Sun, Apr 15, 2018 at 11:37 PM, mofengfs <notifications@github.com> wrote:

[2018-04-16 06:42] mofengfs commented on #628
@jrobinso
Sorry, reading English documents was a bit difficult for me. I also read through the documents, but it did not solve my problems. I'm very sorry to trouble you.

[2018-04-16 17:38] #624 closed

[2018-04-17 15:06] turner commented on #586
As of commit b0ad489d all of these issues are resolved.

[2018-04-17 15:06] #586 closed

[2018-04-17 17:16] turner commented on #603
Fixed with commit cb619bf8

[2018-04-17 17:16] #603 closed

[2018-04-18 22:13] romgrk opened #634 "Add title attribute on track's label"
Use HTML `title` attribute to display the label name when it is too long rather than a popup that opens on click.
E.g.
[code]

Current:
![screenshot from 2018-04-18 18-09-59](https://user-images.githubusercontent.com/1423607/38960814-f03c8768-4333-11e8-9aad-9140769e1f52.png)

Proposed:
![screenshot from 2018-04-18 18-09-53](https://user-images.githubusercontent.com/1423607/38960820-f5bf184a-4333-1

[2018-04-19 02:34] mofengfs opened #636 "Found some problems with igv2.0"
![igv2 0--01](https://user-images.githubusercontent.com/16655229/38968218-06af17de-43bd-11e8-976b-d395b65b7175.png)
1.Click to hide also takes up space
![igv2 0--02](https://user-images.githubusercontent.com/16655229/38968254-253c5c2a-43bd-11e8-8e3b-7b82c607b877.png)
2.Click tag to output error

[2018-04-19 04:07] jrobinso commented on #634
@romgrk We can do the html title attribute but it is not a replacement for the popup.  Showing the name is default behavior but you can attach detailed track descriptions with links, etc.  Some portals make extensive use of this, for example the GTEX portal.

[2018-04-19 15:45] romgrk commented on #634
@jrobinso Ok no problem, the [PR](https://github.com/igvteam/igv.js/pull/635) I've submitted adds the HTML attribute without removing the popup.

[2018-04-19 16:25] romgrk opened #637 "Display error message when track cannot be loaded"
Currently, there is no visual warning if a track could not be loaded (e.g. network error, server error, etc). It would be great if there was a message to let the user know that the track is not loaded, because the current display can mislead the user to think the track is just empty instead of not loaded.

Proposition:
![screenshot from 2018-04-19 12-20-30](https://user-images.githubusercontent.co

[2018-04-19 16:49] jrobinso commented on #637
Yes, agreed.  Could you make the PR to the "development" branch?  This allows us to test before committing to master.

[2018-04-19 19:05] #634 closed

[2018-04-20 00:45] mofengfs opened #642 "Some optimization suggestions for igv2.0"
1.Where is the data distributed? To read a bam file, the current version must click on each chromosome to know where the data is. I hope to know more intuitively where there is data.
2.The functional module's experience is not good, not just by clicking events to display certain information. For example, I want to hide the Core panel, display the cursor guide and Three-frame translation after the

[2018-04-20 03:21] mofengfs opened #643 "Amino acid error"
![qq 20180420112117](https://user-images.githubusercontent.com/16655229/39029158-f82bae2c-448c-11e8-9b61-c70f7dd5f68e.png)

[2018-04-20 04:57] jrobinso commented on #643
What is the error?  Please do not open git issues with vague or incomplete
descriptions of the problem.  They will be closed.

On Thu, Apr 19, 2018 at 8:21 PM, mofengfs <notifications@github.com> wrote:

[2018-04-20 06:02] mofengfs commented on #643
Hi @jrobinso
It should be from start to stop, but here is stop to stop.

[2018-04-20 06:07] mofengfs commented on #643
![111](https://user-images.githubusercontent.com/16655229/39033297-efbc829a-44a3-11e8-9070-8aac0f496611.png)
After opening the first track, the second track has no content. Is this a bug?

[2018-04-20 13:40] jrobinso commented on #643
That is not a bug,  what you are viewing is just the 3 frame translation table.

[2018-04-20 13:40] #643 closed

[2018-04-23 02:24] mofengfs opened #649 "Is this server-side reason? Can you solve it?"
![q1](https://user-images.githubusercontent.com/16655229/39103950-6fce342c-46e0-11e8-95d2-79ee6ecb5e70.png)

[2018-04-23 02:29] mofengfs opened #650 "Is there no desktop version of igv.js this track?"
![q2](https://user-images.githubusercontent.com/16655229/39104006-cc700a5c-46e0-11e8-933a-f2547ae31594.png)
![q3](https://user-images.githubusercontent.com/16655229/39104080-2ef0089e-46e1-11e8-9405-5ed4fef6ec51.png)

[2018-04-23 06:05] jrobinso commented on #650
No, you have some fundamental misunderstanding here.  You are pointing at
an annotation track in desktop.

On Sun, Apr 22, 2018 at 7:29 PM, mofengfs <notifications@github.com> wrote:

[2018-04-23 06:05] #650 closed

[2018-04-23 06:06] jrobinso commented on #649
That has nothing to do with igv.js,  look at the URL.

[2018-04-23 06:06] #649 closed

[2018-04-23 07:37] mofengfs commented on #650
Hi @jrobinso I just want the same track as the desktop version

[2018-04-23 07:42] mofengfs opened #651 "Can the color blocks in the track be represented by letters? Similar to the desktop version."
![Uploading qq1.png…]()

[2018-04-23 07:55] mofengfs opened #652 "Can the transcript track be displayed?"
![qq5](https://user-images.githubusercontent.com/16655229/39113598-c029f432-470e-11e8-8f9d-0303a0282850.png)

[2018-04-23 08:09] mofengfs opened #653 "This error is reported after selecting bam file."
![q8](https://user-images.githubusercontent.com/16655229/39114152-8bb56b4e-4710-11e8-84f8-91505646f85d.png)

[2018-04-23 14:57] jrobinso commented on #653
What version of igv.js are you using?

On Mon, Apr 23, 2018 at 1:09 AM, mofengfs <notifications@github.com> wrote:

[2018-04-23 14:57] jrobinso commented on #652
You must load a transcript track for it to be displayed.

On Mon, Apr 23, 2018 at 12:55 AM, mofengfs <notifications@github.com> wrote:

[2018-04-23 14:57] #652 closed

[2018-04-24 00:43] mofengfs commented on #653
Hi @jrobinso

[2018-04-24 00:43] mofengfs commented on #653
@jrobinso
I use igv.js 2.0

[2018-04-24 00:50] jrobinso commented on #653
Look at the console, the error is in your code not igv.js.  Please stop filing so many issues without doing a little study yourself first.   When you do file an issue be complete in your description, and supply test cases.

[2018-04-24 00:50] #653 closed

[2018-04-24 01:57] mofengfs commented on #653
@jrobinso
I checked my code and I didn't change anything, just the url of the calling file changed. This error is only occasionally present.

[2018-04-24 02:03] mofengfs opened #656 "I tried to load the transcript track but it was not displayed correctly."
![transcript](https://user-images.githubusercontent.com/16655229/39162696-5dc685c6-47a9-11e8-8ae8-4fc6c53ee828.png)

This is my transcript
[refGene.txt](https://github.com/igvteam/igv.js/files/1940577/refGene.txt)

[2018-04-24 02:11] mofengfs commented on #653
@jrobinso
This error occurs when the translation option is selected.
![qq333](https://user-images.githubusercontent.com/16655229/39162387-d844a906-47a7-11e8-9d72-2415f0c98a59.png)

[2018-04-24 02:25] jrobinso commented on #656
That is how transcripts are displayed in igv.js.  Amino acids are not supported.   This might come in a future release.

[2018-04-24 02:25] #656 closed

[2018-04-24 02:32] mofengfs commented on #656
@jrobinso
Yes, thanks, look forward to the next version.

[2018-04-24 02:59] mofengfs commented on #653
@jrobinso
This error occurs occasionally. I suspect it is a problem with the network request.

[2018-04-26 06:26] mofengfs opened #657 "The loadTrack in Beta3 is not good, not as good as before Beta3. There is a lack of karyoPanel."

[2018-04-26 06:29] jrobinso commented on #657
Karyo panel is not supported in the upcoming version 2.0.   If you need karyoPanel please use version 1.0.9.  This was a feature contributed by ThermoFischer and they no longer are supporting it.

I'm curious, what did you use karyoPanel for?

[2018-04-26 06:29] #657 closed

[2018-04-26 17:30] vemcshane commented on #597
Sort alignment by base still not working. Wont sort at all and is not checked in the option when selected.

[2018-04-26 18:08] jrobinso commented on #597
Are you running from master, or a release?   I'm looking at it now.    It will never be checked,  this is an action not a state.

[2018-04-26 18:51] jrobinso commented on #597
What version are you using?   I can reproduce the problem,  can you
reproduce it here

http://igv.org/web/release/2.0.0-beta3/examples/bam.html

or here

http://igv.org/web/test/test.html?

On Thu, Apr 26, 2018 at 10:30 AM, vemcshane <notifications@github.com>
wrote:

[2018-04-26 18:51] jrobinso commented on #597
That's "can't reproduce the problem",  not "can reproduce the problem"  (corrected).

[2018-04-27 14:04] jaime11 opened #658 "Multiple tracks group autoscale (as in IGV desktop) possible?"
Hello,

Just wanted to check if it is possible to group Autoscale multiple tracks whether automatically when showing them or through manual multiple track selection and selecting autoscale.

Thanks!

[2018-04-27 14:13] jaime11 commented on #658
I just saw this, so I think this can be done through sessions, sorry:
https://github.com/igvteam/igv.js/blob/f05dc77dacc497b09c1b00bfe327502f96ba542c/dev/test.xml

[2018-04-27 14:13] #658 closed

[2018-04-27 14:31] jaime11 opened #659 "Single track autoscaling"
Hello,

I am setting up an IGV js with the following tracks and options (autoscale on the first track):
tracks: [
{
url: '../RS_1.10.bigWig',
autoscale: true,
color: "#ff8080",
name: 'RS_1.10'
}
,
{
url: '../RS_1.11.bigWig',
name: 'RS_1.11'
}
...

Initially, IGV-js seems to have autoscaled the track properly:

![before zooming in](https://user-images.githubusercontent.com/9539906/39367435-01e50954

[2018-04-27 14:40] gumuslab-mssm opened #660 "Deprecared beta igv.css file"
Hi,

I have been using the css file located at https://igv.org/web/beta/igv.css
and have built a massive application on top of it. I noticed that, that version has been deprecated and no longer available. As a result, my application breaks severely and (unless restored in some way) would need major revisions. I sincerely hope that you can share the above-mentioned css version (through a link or so