[2020-10-28 21:10] #994 closed

[2020-10-28 21:11] jrobinso commented on #893
This is done and available in the master branch.  It will be released in 2.7.0.

[2020-10-28 21:11] #893 closed

[2020-10-28 21:25] #814 closed

[2020-10-28 21:26] jrobinso commented on #814
Sorry for the ridiculously long delay, I'm sure you have another solution by now.   This is implemented and will be released in 2.7.0.  Example below
[code]

[2020-10-28 21:35] jrobinso opened #1207 "Sequence track appears above ruler"
In the session below the sequence track appears above the ruler.    This should be impossible, irrespective of "order" parameter which is settable by the user.   The psuedo tracks ideogram & ruler should always appear as the top 2.

https://tinyurl.com/y2eahqgj

This is a regression, doesn't happen in current release.

[2020-10-28 21:39] jrobinso opened #1208 "Red locus box incorrect on initial browser display"
The red locus box is off on the initial browser display.   This is most evident when setting the initial locus to a whole chromosome, the red box implies a zoom to about 95% of the chromosome, when it should not appear at all.   Open dev/igv-dev.html for an example.

<img width="1674" alt="Screen Shot 2020-10-28 at 2 36 45 PM" src="https://user-images.githubusercontent.com/933148/97499604-6133b980

[2020-10-29 13:33] turner commented on #1188
Closed with commit 7c3cd069ddaddef8b938f7de878533c758707e58

[2020-10-29 13:33] #1188 closed

[2020-10-29 13:34] turner commented on #773
Closed with commit b1e948b

[2020-10-29 13:34] #773 closed

[2020-10-29 13:35] turner commented on #846
Closed with commit b1e948b

[2020-10-29 13:35] #846 closed

[2020-10-29 13:48] turner commented on #1208
This PR will fix this https://github.com/igvteam/igv.js/pull/1209

[2020-10-30 18:06] #1208 closed

[2020-10-30 18:07] #1207 closed

[2020-10-30 18:08] #1153 closed

[2020-10-30 18:12] jrobinso commented on #1153
This has been pushed to master, will be released with 2.7.0.  The option works as follows,  a value of "normalize: true" will multiple values by  1.0e6 / totalReadCount  IFF totalReadCount is available.   In other words for TDF format files created with igvtools.   Alternatively a scaleFactor can be set for any wig track data source, all values will be multiplied by the scale factor.   Example fol

[2020-11-03 13:56] yaronmaz opened #1212 "CRAM track causes out of memory"
Hi,
I was testing IGV v2.4 and v2.6.8 with a CRAM track.
I tested with several CRAM/CRAI files that worked perfectly but also found some CRAM files that caused IGV to freeze and the browser (chrome, latest on windows 10 OS) indicated out of memory.
When I tried the BAM files for those failing CRAMs IGV worked just fine.

Attached is a zip with a failing pair

[fail1.zip](https://github.com/igvteam

[2020-11-03 16:33] jrobinso commented on #1212
Thanks for the report and test data.   What genomic region should I try?  I
zoomed into chr1:39,876,726-39,879,627  and got a different error,
"seqFetch returned a reference sequence of the wrong length".

Although this file loads in IGV desktop,  igvtools gives me warnings about
MD5 mismatches for reference sequence when loaded with "hg19" as the
reference.

On Tue, Nov 3, 2020 at 5:56 AM yaronma

[2020-11-03 17:11] yaronmaz commented on #1212
I tested it with hg19, chr1  1:42,880,538-42,880,576

On Tue, Nov 3, 2020 at 6:33 PM Jim Robinson <notifications@github.com>
wrote:

--

Yaron Mazor | VP R&D

Mobile: +972 54 313 1863

  <https://geneyx.com/> <https://www.linkedin.com/company/40735774/admin/>
<https://www.facebook.com/geneyx.io/> <https://twitter.com/Geneyx2>
<https://www.youtube.com/results?search_query=Geneyx>

[2020-11-03 17:50] jrobinso commented on #1212
OK,  thanks.  This is the error I get, not an out-of-memory or freeze.   I'm not sure what this means.  We use the GMOD/cram-js library for reading crams and I might need to file a report there, but will do some investigation first.

<img width="409" alt="Screen Shot 2020-11-03 at 9 48 35 AM" src="https://user-images.githubusercontent.com/933148/98022098-07fbd800-1dba-11eb-88da-f8c959eff8ca.png">

[2020-11-03 17:55] yaronmaz commented on #1212
for me the js IGV freezes and i get out of memory. I have more tracks, but I don't think those tracks related to this issue.
Really appreciate your help, having IGV work with CRAM will really help us reduce disk footprint and finalize our pipelines..

[2020-11-03 18:06] jrobinso commented on #1212
There's something unusual about this CRAM,  even igvtools complains about MD5 mismatches with the reference, it might take me some time to get to the bottom of it but will update here when I do.

[2020-11-03 18:38] gaitat commented on #933
Streamcode is an excellent idea. Any idea when will it be released. I noticed there hasn't been too much activity.

[2020-11-03 18:50] jrobinso commented on #933
@gaitat most of my time is spent on igv.js and IGV,  its not clear to me that "streamcode" is needed with the existence of the GMOD modules.   The long term plan is to break igv.js into multiple modules, one of which would be effectively "streamcode" but probably called something else.   We have made a small step in this direction with some of the UI components in igv-ui.   However I don't have an

[2020-11-03 19:03] gaitat commented on #933
I did see the separation of `igv-ui`, `igv-util` and `data-modal` and thought that something like `igv-data` (or `streamcode`) that "presents a consistent interface for all IGV file types" would be natural. Do the GMOD modules provide such a consistency ?

[2020-11-03 19:57] jrobinso commented on #933
You can check the GMOD modules out yourself,  I am not an expert in all of them, but in general they are more heterogenous in their output.

[2020-11-03 20:22] jrobinso commented on #1212
I've made some progress on this.  What's unsual about this CRAM file, at least compared to those we normally see, is its very sparse.   So the alignments are getting compressed in blocks that span a very large genomic range,   at the locus you are testing with the block spans 889,172 to 249,240,443, for a length of 248,351,271 bases.   Sequence is not stored in CRAM so to decompress a block and cr

[2020-11-03 20:26] jrobinso commented on #1212
I should add that CRAM is used quite heavily with igv.js at a number of sites,  this is the first report of this situation.

[2020-11-05 09:14] yaronmaz commented on #1212
We also check it here in some scenarios, we have data from gene panel sequences (not only WGS/WES) that result with small CRAM files. Do you know if other site are using IGV with Gene Panels as well?
When are you going to release a fix?
Thanks,
Yaron

[2020-11-05 15:27] jrobinso commented on #1212
Sorry if my explanation wan't clear.   Since it is neccessary to read ~250 MB of sequence to decode this cram, and that is not possible in a web browser,  there is no fix for this.    At most we can detect the situation and present an error message.    IGV desktop can handle a 250 MB load,  web browsers cannot reliably do that.    If you want to display files of this size with igv.js you will need

[2020-11-07 00:04] amanpatel commented on #1092
I understand this is in the next sprint. Any foresight to when this could be realized.

In the mean time, I'm looking for a hack around to achieve this. I'm thinkin I can create a floating (non-movable) window that has the sample names spread out vertically that corresponds to the exact track position. But obviously determining the height of each sample's variants will be tricky (as they sometimes

[2020-11-07 23:23] jrobinso opened #1216 "Color options for nucelotides"
See https://github.com/igvteam/igv/issues/862

[2020-11-09 05:43] #1212 closed

[2020-11-09 05:49] jrobinso commented on #1183
Thanks for the report, and test dat.  I will get to it asap.  From your screenshot it does look misaligned.

[2020-11-09 17:33] diogokawamoto opened #1217 "Is it possible to change colors of VCF track according to the values in a specific column?"
Hi,

I am currently working with structural variants and I have some VCF files that have multiple SVs events in the same region, I would like to have some visual way to easily differentiate the events by its type (DEL, DUP etc).

Is there any setting to change the color of VCF tracks according to its 'ALT' value or something like this?

Thank you in advance.

[2020-11-09 17:46] jrobinso commented on #1217
Currently it is not, although its a good suggestion and should be implemented.   I will leave this open as a suggestion.

If you are a javascript programmer you could modify "js/variant/variantTrack.js" , lines 198-203 for the variant and 229-237 for the call, to accomplish this until we implement it.

[2020-11-09 18:17] diogokawamoto commented on #1217
Thank you! I appreciate your attention!

[2020-11-10 00:51] jrobinso commented on #1134
Full support is released in 2.7.0

[2020-11-10 00:51] #1134 closed

[2020-11-10 05:44] jrobinso commented on #1098
This issue should be resolved with 2.7.0, limit is now MAX_SAFE_INTEGER

[2020-11-10 05:44] #1098 closed

[2020-11-10 05:46] #750 closed

[2020-11-10 17:49] jrobinso opened #1960 "Options to set or select A,C,T,G colors"
Needed for accessibility.    See https://github.com/igvteam/igv/issues/862

[2020-11-13 03:03] bioShaun opened #1218 "CSI index for annotation track [gtf/bed] seems not supported"
with tbi index for gtf file
![tbi-index](https://user-images.githubusercontent.com/22510535/99023540-c4665280-259f-11eb-8cc6-b2d26cf25845.jpg)

with csi index
![csi-index](https://user-images.githubusercontent.com/22510535/99023565-cfb97e00-259f-11eb-832e-31d30dbd9f90.jpg)

and no error messages found.

[2020-11-13 03:07] jrobinso commented on #1218
It is supported, many people use it.   Can you zip up and post an example file, including the "config" part of your html?   Also state the version of igv.js you are using.

[2020-11-13 03:22] bioShaun commented on #1218
<div id="igv-div"></div>
    <script src="https://cdn.jsdelivr.net/npm/igv@2.7.0/dist/igv.min.js"></script>
    <script>
      var igvDiv = document.getElementById("igv-div");

      var dbBase = `http://localhost:3100/public/ref/oryza_sativa`;

      var annTrack = [
        {
          name: "Genes-tbi",
          format: "gtf",
          url: `${dbBase}/sorted.genes.gtf.gz`,
          indexURL:

[2020-11-13 03:24] bioShaun commented on #1218
![tbi-csi](https://user-images.githubusercontent.com/22510535/99025008-c251c300-25a2-11eb-8f71-095f1f8eccde.jpg)

this is the display

[2020-11-13 03:25] jrobinso commented on #1218
Thanks,  I'll check it out.   Your code looks fine.

[2020-11-13 03:26] bioShaun commented on #1218
thanks!

[2020-11-13 03:30] bioShaun commented on #1218
[example_file.tar.gz](https://github.com/igvteam/igv.js/files/5534593/example_file.tar.gz)
this is my test file

[2020-11-13 04:30] jrobinso commented on #1218
I can reproduce the issue with your config code.   It works for me without a visibility window set, but does not (as you observer) if visibility window is not set.   To be honest we always set a visibility window and I'm not sure this has been tried before.

Here's what works for me, and screenshot.   I will dig into this further tomorrow and try to figure out why it won't work without a visibilit

[2020-11-13 06:46] bioShaun commented on #1218
After add the visibilityWindow, it worked with the wheat genome, thanks a lot.
![wheat-fullzoom](https://user-images.githubusercontent.com/22510535/99037592-f2a75a80-25be-11eb-893e-9e8446251872.jpg)
![wheat-visiblezoom](https://user-images.githubusercontent.com/22510535/99037602-f89d3b80-25be-11eb-8afb-bbb9089ef298.jpg)

[2020-11-13 16:56] haoyuanli commented on #1217
@diogokawamoto

Random question, do you just host your VCF files on some static hosting server, like aws?

[2020-11-13 18:53] #1218 closed

[2020-11-13 18:54] jrobinso commented on #1218
I just pushed a fix that will allow csi to be used without a visibility window.   You should still use one if your data density is high as without it data will be loaded by whole chromosome.    This fix will be in release 2.7.1,  in the next few days.

[2020-11-14 04:04] jrobinso commented on #1217
@haoyuanli Mostly AWS, yes,  but sometimes Dropbox and Google, as well as an apache server on our own site.  But always static hosting.

[2020-11-14 04:05] jrobinso commented on #1217
@diogokawamoto Since you are working with VCFs containain SVs and I'm not could you provide me a list of types for colors (DEL, DUP, what else???).   Also feel free to suggest colors.   We could use just random colors from a pallete.

[2020-11-14 04:17] #1216 closed

[2020-11-14 04:20] jrobinso commented on #1217
@haoyuanli See this link for tips on setting up a static server for use with javascript.  In particular you have to do something about CORS,  not these solutions necessarily but it has to be dealt with  https://github.com/igvteam/igv.js/wiki/Data-Server-Requirements

[2020-11-14 18:19] aardes opened #1219 "Search a position"
Dear IGV team,

In the new version, I am seeing a new behavior which I am not sure it's correct or not.

Use to be when I searched for a position on IGV online it visualizes the alignment in the center of the screen like what we see in desktop IGV.

![image](https://user-images.githubusercontent.com/12953535/99154234-82780200-26ae-11eb-961c-8498af4c1c54.png)

While in the new version when I lookin

[2020-11-16 02:23] #1219 closed

[2020-11-16 05:36] jrobinso commented on #1219
I identified the issue, it will be fixed in the next igv.js point release at the end of the week.

[2020-11-16 15:25] gaitat opened #1222 "bed file format issue with trailing comma in exons list"
Regarding a bed file, there are cases where there is a trailing comma ',' at the end of the `blockSizes` and `blockStarts`.
This causes the following code in ucsc.js
[code]
to succeed ending prematurely the parsing of the exons.

If you think this is a valid issue, may I suggest changing
[code]
to
[code]
in order to eliminate the trailing comma ',' from the two lists.

[2020-11-16 16:19] #1222 closed

[2020-11-16 16:19] jrobinso commented on #1222
Yes, thank you for the fix.

[2020-11-17 16:50] #1183 closed

[2020-11-17 17:27] haoyuanli commented on #1217
Thanks! I will give those a read.

[2020-11-17 20:12] diogokawamoto commented on #1217
@jrobinso sorry for the delayed response. Well...

According to the [spec](https://samtools.github.io/hts-specs/VCFv4.3.pdf)
The SVTYPE should be one of the following values: DEL, INS, DUP, INV, CNV, BND.

For the color palette, I don’t know if there is a official standard, but in the following [website](https://www.ncbi.nlm.nih.gov/dbvar/content/overview/) in the section ‘dbVar Variant rendering’

[2020-11-17 22:35] helgathorv opened #1224 "Viewing mate in split screen is disabled when viewing alignments as pairs"
When viewing paired end alignments and you select 'view as pairs' from the gear menu, then the item 'view mate in split screen' is not presented in the right-click menu. This was done because the pairs don't line up across split screen boundaries. But you should be able to select that option anyway. Note that you are not prevented from Viewing as pairs when you are already in split screen mode.

[2020-11-18 03:27] #1224 closed

[2020-11-18 19:38] gaitat opened #1226 "VCF with SVTYPE=BND is not being parsed"
This example was copied from the VCF 4.3 spec (it also exists in the 4.2 spec)
[code]

igv.js v2.7.1 returns 0 features for it.

The same holds true for all the `SVTYPE=BND` examples from the spec.

[2020-11-18 20:10] jrobinso commented on #1226
Its probably failing parsing the "ALT" string,  I'm quite sure I didn't account for anything like that.

[2020-11-18 20:26] gaitat commented on #1226
This used to work (igv.js v.2.3.5). For example this input line
[code]
returned this feature (here in json)
[code]

[2020-11-18 20:38] jrobinso commented on #1226
Thanks, if it did it was an accident.  In earlier version the alt allele was not parsed, leading to many incorrect representations especially for SVs.    At the moment we can say that svtype=bnd is not supported, or there is a bug for svtype=bnd,  either way I will get to this as soon as I can.

[2020-11-18 20:52] gaitat commented on #1226
Great. Thank you for your time.

[2020-11-19 16:26] hrehrauer opened #1227 "Searchable annotation tracks are not working"
We load our own reference together with bed and gtf files. Things worked fine but now we get the error this.config.browser is undefined and the features are in the end displayed but not searchable. fyi. our code is:

`<!DOCTYPE html>
  <html lang="en">
    <head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=devi

[2020-11-19 16:29] gaitat opened #1228 "BED file with a space delimiter misses the first annotation"
I have these two bed files:

BED file with a space delimiter
[code]

BED file with a tab delimiter
[code]

I load them into igv with:
[code]

but the first annotation of the bed file with spaces does not show up. (I use a `locus: "chr2:1-20"`)

It doesn't seem that specifying the `delimiter` key makes a difference.
Even If I add 100 to the genomic location, I dont see a difference. The first annot

[2020-11-19 16:31] jrobinso commented on #1227
Which version of igv.js are you using?

[2020-11-19 16:43] hrehrauer commented on #1227
We are using
`            <script src="https://cdn.jsdelivr.net/npm/igv@2.7.1/dist/igv.min.js"></script>
`
best
hubert

[2020-11-19 16:44] hrehrauer commented on #1227
In fact we are unsure, if we should run our own igv.js or if it is save to refer to your server?
best
hubert

[2020-11-19 16:50] jrobinso commented on #1227
Running from the server is fine, that is a permanent URL for that release.   Version 2.7.1 is a very recent release, I'm searching now to see when this bug was introduced.

[2020-11-19 17:03] jrobinso commented on #1227
I found the problem and it will be fixed in this weekends release (2.7.2).   In the meantime, do you recall the release you were using that was working?  It looks like 2.6.8 should not have this problem, but I'm not certain.

[2020-11-19 17:16] jrobinso commented on #1228
Thanks for the report.   Its not specified at UCSC, but the general consensus seems to be that bed files should be tab delimited.  For sure a space delimited bed file will not work with many tools.   Having said that, as its not specified we have tried to be whitespace agnostic, and I will fix this.

[2020-11-19 17:16] jrobinso commented on #1228
See, for example https://bedtools.readthedocs.io/en/latest/

[2020-11-19 22:44] hrehrauer commented on #1227
unfortunately, I don't know the release that was still working. ;-(
We probably used it succesfully in September.
many thanks
hubert

[2020-11-20 05:13] jrobinso commented on #1227
Well the fix ill be released this weekend, as 2.7.2,  but if you need a faster solution the "2.6.8" version should work.

[2020-11-20 07:32] hrehrauer commented on #1227
thanks. we will give it a try next week.
best
hubert

[2020-11-23 00:58] gaitat commented on #1228
Maybe this is helpful. Just observed that when I add a line with `#` on top of the BED file with a space delimiter, then it works fine. i.e.
[code]

[2020-11-23 05:00] jrobinso commented on #1228
Yes I see the issue, it a little bit tricky to fix but I will get to it in
the next release, there is a point release already tested and it won't make
that one.   By the end of the month.   In the meantime a leading header
line will work as you discovered.   Or just make the files tab delimited.
 Most tools that accept bed files are going to assume tab delimitation,
bedtools requires it for exampl

[2020-11-24 11:02] dppss90008 opened #1233 "searchable problem"
Hi jrobinso:

I am trying to make the track "searchable"

tracks: [{
          name: "Gene",
          type: "annotation",
          format: "gff3",
          url: "http://127.0.0.1:8000/static/IGV/TAIR10_GFF3_genes3.gff",
          displayMode: "EXPANDED",
          searchable: true,
        },

while I changed the searchable property into true, an error raised
![image](https://user-images.github

[2020-11-24 13:06] hrehrauer commented on #1227
any news on when it will be rolled out?

[2020-11-24 17:06] jrobinso commented on #1233
I think this is fixed, and will be released soon.  Could you try igv.js
from this test distribution to verify it works for you?
http://igv.org/web/snapshot/dist/

On Tue, Nov 24, 2020 at 6:02 AM dppss90008 <notifications@github.com> wrote:

[2020-11-24 17:07] jrobinso commented on #1227
Soon, apologies for the delay.   Could you test the distribution here to verify it works for you?

http://igv.org/web/snapshot/dist/

[2020-11-24 19:54] jrobinso commented on #1233
The fix was just released in 2.7.2

[2020-11-24 19:54] jrobinso commented on #1227
Just released as 2.7.2

[2020-11-24 19:54] #1227 closed

[2020-11-25 02:03] dppss90008 commented on #1233
Thanks jrobinso ! it is fixed !

[2020-11-25 03:22] #1233 closed

[2020-11-27 18:03] #1228 closed

[2020-11-28 17:05] gaitat commented on #1228
Thanks

[2020-11-29 20:56] gaitat commented on #933
@jrobinso You might find helpful our attempt at separating the `igv-data` parsing code from the rest of `igv`. You can take a look at https://github.com/dtsamitros/igv.js under the branch `saki/data`.
Basically we use a new index file https://github.com/dtsamitros/igv.js/blob/saki/data/src/main.js to generate a data parsing only bundle:
[code]

and convert an `Alert()` message to a regular `alert(

[2020-12-01 04:15] bw2 opened #1235 "gCNV track (and maybe other tabixed feature tracks): feature parser fails when lines are longer than bgzBlockSize"
I pulled in recent igv.js changes and saw some of my gCNV .bed files stopped rendering. It turned out to only be an issue for  the largest files (those with ~1000 samples). The underlying cause is that featureFileReader (https://github.com/igvteam/igv.js/blob/master/js/feature/featureFileReader.js#L122) returns data strings shorter than a complete line, and featureParser then fails to find a '\n'.

[2020-12-01 13:11] jrobinso commented on #1235
That is a large line!  Could you send me a test file for this case?  A file with just a couple of lines would be ideal.   Thanks.

[2020-12-01 14:15] bw2 commented on #1235
Sure, [example.zip](https://github.com/igvteam/igv.js/files/5623084/example.zip)

[code]

[2020-12-03 04:50] jrobinso commented on #1235
This should be fixed

[2020-12-03 04:50] #1235 closed

[2020-12-03 05:11] #1226 closed

[2020-12-03 16:46] helgathorv opened #1236 "Don't display bp window size in multilocus view"
In multi locus view the bp window size shown next to the locus input/search box just represents the window size of the first (leftmost) locus. It should just be left blank if in multi-locus view.

[2020-12-03 21:07] bw2 opened #1237 "VCF bgz block parsing Error: invalid code length: 7"
I tried updating to latest master, but saw bgz parsing errors on VCF and large gCNV tracks. This is an example of the 1st error when parsing a regular-sized single-sample VCF:
[code]
Reverting to commit 0c9f19c8f1dccea2680577d4ff2220e29d4e38fe fixes this.
I can share an example file next week if needed.

[2020-12-03 21:15] bw2 opened #1238 "Feature request: allow listeners for track order changes"
I'd like to be able to listen for track order changes, and get the new track order from the event (maybe as an array of track view objects?).  This would allow me to save/restore this from cookies, etc.

[2020-12-03 22:20] jrobinso commented on #1237
So far I can't reproduce it, have tried 1KG VCFs.   If you can point me to a file that will reproduce it please do.

[2020-12-03 23:21] #1237 closed

[2020-12-03 23:33] jrobinso commented on #1237
This should be fixed now, re-open if not with a test file.

[2020-12-04 00:46] bw2 commented on #1237
Thanks, everything is working (gCNV and VCF).

[2020-12-04 01:04] bw2 commented on #1237
![image](https://user-images.githubusercontent.com/6240170/101108559-c621a580-35a2-11eb-88e2-6f39aa82b6ad.png)

[2020-12-04 01:51] bw2 opened #1239 "FeatureTrack click detection returns too many features"
In the spliceJunctions.html example, if I click on the last junction in CHD2, the popup contains entries for ~25 junctions, but only 1 of them overlaps the clicked genomic location:

![image](https://user-images.githubusercontent.com/6240170/101111467-37fced80-35a9-11eb-9dee-7b7df2736611.png)

[2020-12-04 01:55] bw2 opened #1240 "Feature Request: allow feature track config to be updated after track has been added"
Currently, if I want to change a setting in the track config, I remove and then re-add the track with the updated config. It would be nice if there was a method that allowed me to update the config & rerender the track.

[2020-12-10 07:02] GSYongWu opened #1244 "sort for insertion and soft-clip reads"
When we used igv.js, we found that the ‘sort by base ’ support for SNV and deletion is very good, but the sorting for insertion and fusion soft-clip reads is very unfriendly. The java version is very friendly to these, I hope that the next version can use these two functions better.

[2020-12-10 17:09] jrobinso commented on #1244
Could you state what version of igv.js you are using,  and also what is unfriendly about it?

[2020-12-11 01:34] GSYongWu commented on #1244
Thank you for your reply!
The version was updated yesterday and used v2.7.4, but the problem has not been solved.

for fusion, sort cannot put soft clip on top, as follows:
![image](https://user-images.githubusercontent.com/34832292/101849192-2790d800-3b92-11eb-97b9-7f5369bd1645.png)

for insertion, sort cannot put insert bases on top,
![image](https://user-images.githubusercontent.com/34832292/10

[2020-12-14 15:02] GuilhemSempere opened #1245 "working more dynamically with variation data"
Hi

I am thinking of integrating IGV.js into a web application that manages variation data hosted in a MongoDB database. This system relies on the database for filtering variants and finally allows to export to VCF (or other formats) once the user is happy with his filtering.

However, because of obvious data-size and processing-time considerations, I would like to avoid having to generate a full

[2020-12-14 17:17] pedrocr83 commented on #1201
hi guys, Awesome tool btw! any ETA on a implementation of this yet?

[2020-12-14 19:15] jrobinso commented on #1201
@pedrocr83 @alexjacobsCDS No ETA,  how would you imagine this working in the context of igv.js?   Put another way, wat are your expectations for it?

[2020-12-14 19:24] jrobinso commented on #1245
I would suggest implementing a custom data "source" or custom "reader" to access a webservice on your end.     See custom-webservice and custom-reader in the examples folder.   You custom object will return "variant" object.    The variant object is rather complex, but you can avoid dealing that complexity by using the Variant constructor or "createVCFVariant" method in js/variant/variant.js in yo

[2020-12-15 11:45] pedrocr83 commented on #1201
@jrobinso thanks for the reply! Maybe something like a pop-up with list of hits and its locations would be sufficient.

[2020-12-15 17:04] jrobinso commented on #1201
@pedrocr83 I ask because we could only search for motifs over a small region,  if you want to search the entire sequence (genome) a command line tool is needed.    This is what IGV desktop does as well (searches a limited region around the current view) but there is sometimes confusion around this point.

[2020-12-15 17:07] pedrocr83 commented on #1201
@jrobinso understood! In that case can it be gene-specific or depending on the gene is it still too large?

[2020-12-15 17:09] jrobinso commented on #1201
Somewhere between 10 and 100 kb I think,  it will require some experimentation.

[2020-12-17 19:04] ksdaly opened #1246 "Issue with http encoded chromosome names"
Hi,

I am using igv.js v2.0.0-rc2
I have a chromosome name `Bacillus%20subtilis%20KO7A%20%20hislE::CmR`. The name appears as is in *fasta.fai (as well as *fasta and *bam):
`Bacillus%20subtilis%20KO7A%20%20hislE::CmR	4019070	66	60	61`

This causes IGV.js to opt for external lookup for https://portals.broadinstitute.org/webservices/igv/locus?genome=s31067005%20(s31669391)&name=Bacillus%20subtilis%20

[2020-12-17 19:44] jrobinso commented on #1246
Could you share the fasta file?  What should happen here is the locus lookup on our server should return nothing, because we don't know this assembly.    I do not know what you mean by "... instead of using our assets".   Have you configured a custom locus lookup service?

2.0.0 is not supported anymore, and release candidates (tags that have "-rc" appended), are never supported (and sometimes del

[2020-12-17 22:07] Chris7 commented on #1246
This is a weird issue. We have a fasta reference file that due to some nonsense ended up with the webserver urlencoding the header sequence, putting a `%20` in there when it was generated and aligned to. When we load the bam into igv.js, we provide the reference fasta file as well as the bam, so no lookup should be occurring. However, it seems like this encoding causes the lookup to miss when view

[2020-12-17 22:17] jrobinso commented on #1246
OK,  I can try to simulate this.    When you load the reference igv.js will typically do a "goto" command to the home locus, which is defined as a psuedo "whole genome" chromosome for a multi sequence fasta,  or the first sequence if the fasta contains only one.   What I think is probably happening is there's not a match, somehow, for the sequence in the fasta so it asks our webservice for the loc

[2020-12-22 13:09] dnil opened #1247 "In read insertion marker obi-one?"
Thank you for developing a lovely and highly useful program!

One of our users @ielvers found what appears an off-by-one, or a 5'/3' drawing issue in the insertion marker positioning? The change is GTAAG -> GTAAAG in the reads, but insertion is shown as G|TAAG insead of GT|AAG.

It may just be that the line is drawn to the "left" of the base at the position, although indel variants would normally

[2020-12-22 18:40] jrobinso commented on #1247
Thanks I'll try to simulate this, it might be post-holiday.   In cases of
discrepancy the desktop is more likely correct.

On Tue, Dec 22, 2020 at 5:09 AM Daniel Nilsson <notifications@github.com>
wrote:

[2021-01-04 04:02] fwet opened #1251 "Unrecognized index type error after update"
Hi- I just updated to latest igv.js and I'm getting this error (see screenshot below).

This tabix index is not a directly served file by the web server, it's processing the request range headers server side and serving the bytes for that range.  This worked before in a previous version of IGV.js so not sure what exactly changed (apparently quite a few things)

Previously I ended up setting the pa

[2021-01-04 04:29] jrobinso commented on #1251
I don't understand your setup, you say the "tabix index is not a directly served file...".   If you set indexURL its going to expect a tabix (or tribble) index.   Of course igv.js is just making requests for bytes to the server,  whether that's backed by a file or not is not relevant, but the bytes returned would have to conform exactly to the tabix spec.      If you're not using an actual tabix i

[2021-01-04 05:10] fwet commented on #1251
I believe it does conform to the spec, and it worked fine until the upgrade.
Last time there was an issue with the file names being as follows:

```/files/bs?f=2e9be1d69785f8209a15f40675cbd93a.tbi```
and
```/files/bs?f=1b3c66905e8d63d7e59311b756e1d155.gz```

 vs

```myfile.vcf.gz``` and  ```myfile.vcf.gz.tbi```

Hoping it's something that simple again but I'll see if I can narrow it down, if nothi

[2021-01-04 16:45] jrobinso commented on #1251
Are you sure the magic number returned is correct?  The type of index (bam,
tabix, or tribble) is determined from the magic number,  I think in the
past the extension was used.    The filenames should no longer matter, as
long as you are setting the format property in the config to "vcf".

On Sun, Jan 3, 2021 at 9:10 PM fwet <notifications@github.com> wrote:

[2021-01-05 08:17] fwet commented on #1251
The magic numbers seem correct- Will let you know what I find.

This BAM and BAI that I loaded directly from the file system (bypassed the proxy w/ range headers) into igv.js also produced the error "Unknown file type: test-mapped-sorted-mkdup.bam"

It's from pretty standard mapping piepline, bwa, samtools- I think gatk or picard mark duplicates is in there at the end. Same pipeline I've been usin

[2021-01-05 17:07] jrobinso commented on #1251
See the examples at http://igv.org/web/release/2.7.4/examples and http://igv.org/web/release/2.7.4/examples/test.  Also,  igv.org/app usese igv.js 2.7.4 and there are bam and vcf files you can load from the "Tracks" menu for hg19.

Can you create a reproducible test case I can run?

[2021-01-06 09:01] oyvinev opened #1252 "Support for htsget+CRAM?"
Hi,

We are considering implementing htsget, and are happy to see that igvjs supports the htsget protocol. However, am I understanding the code correctly in that CRAM over htsget is not supported? If so, is there anything blocking this?

https://github.com/igvteam/igv.js/blob/8b1d63c0b477385ca2815cbe19d031f6f0804ca7/js/bam/htsgetReader.js#L42

[2021-01-06 16:07] jrobinso commented on #1252
I'm not sure I understand the question,  there is nothing in principal that would block this but the code to support it needs to be developed.   I doubt I would personally have time for it, there is not enough (or any until now) demand to justify its prioritization over other open issues, but would consider a pull request.

[2021-01-08 01:58] fwet commented on #1251
One issue solved-
The prior verison would accept track config

```'type':'bam'```

whereas now it needs:

[code]

[2021-01-08 02:28] jrobinso commented on #1251
The track type is "alignment",  format is "bam".      See the documentation.

On Thu, Jan 7, 2021 at 5:58 PM fwet <notifications@github.com> wrote:

[2021-01-08 06:22] fwet commented on #1251
Seems like all my downstream bugs were just related to the above. The old version was able to handle my misconfiguration of the track whereas the new version wasn't, probably due to no longer relying on file extensions? At any rate it's working now.

Thanks for your help. Closing this issue.

[2021-01-08 06:22] #1251 closed

[2021-01-08 06:57] jrobinso commented on #1251
I'm not really sure, but glad it is working.

On Thu, Jan 7, 2021 at 10:23 PM fwet <notifications@github.com> wrote:

[2021-01-13 17:44] mmanokhov opened #1254 "Codon information for `RefSeq Genes` track"
Desktop version of IGV shows codon information on 'RefSeq Genes' track. It would be nice to see the same information in web version too. Is it feasible to add codon information in igv.js lib for 'RefSeq Genes' track?

<img width="1096" alt="codon_info" src="https://user-images.githubusercontent.com/2229434/104487507-41349d80-55de-11eb-9fa7-374bf259f33d.png">

Thanks.

[2021-01-13 17:46] jrobinso commented on #1254
There is already an issue open for this.   Yes its feasible,  I don't know when I will get to it.

[2021-01-13 17:47] jrobinso commented on #1254
duplicate of #1069

[2021-01-13 17:47] #1254 closed

[2021-01-15 22:53] aram10 opened #1255 "Support for .MUT?"

[2021-01-20 22:36] aram10 opened #1256 "Annotation File Coloring by Feature"
I am working with GFF/GTF files and am trying to display data in different colors based on a value in the file's attributes column (9). How do I do this? I tried adding 'field' and 'palette' attributes to the file configuration where I specified a GFF attribute in 'field' but this does not seem to work.

[2021-01-20 22:58] jrobinso commented on #1256
You can't do this with igv directly, the only way to do this is to add an explicit "color" attribute to column 9.

[2021-01-20 23:05] aram10 commented on #1256
I tried that as well, an example is as follows:

`NC_045512.2	20CVa_018_CV19_S25	Non-coding Transcript	241	241	.	.	.	sample_id "20CVa_018_CV19_S25"; mutation "T"; color "#ff0000";`

That didn't work.

[2021-01-20 23:23] jrobinso commented on #1256
I don't think the color value should be quoted

On Wed, Jan 20, 2021 at 3:05 PM aram10 <notifications@github.com> wrote:

[2021-01-20 23:25] jrobinso commented on #1256
Actually that doesn't look like a valid GFF file, in particular the column 9 syntax.   If you zip and attach an example GFF3 file that isn't working I will look into it.

[2021-01-20 23:48] aram10 commented on #1256
Are you sure? I'm using this: https://useast.ensembl.org/info/website/upload/gff.html

IGV seems to be able to render the file fine

[2021-01-21 01:15] aram10 commented on #1256
Ok, I got it to work with GFF3, the format looks identical except for column 9

[2021-01-21 01:20] jrobinso commented on #1256
Yes, the difference in all of these is column 9.   GFF2 should never be used, its long deprecated.  I am going to keep this issue open as a reminder to add support for Ensemble style GTF (there are 4 GTF format descriptions out there, actually 5 GenCode has a variant).

[2021-01-23 17:52] aram10 opened #1257 "Is it possible to hide track name?"
The track name is blocking information on the track, and I can't find a suitable solution other than changing the name to " ".

[2021-01-23 20:05] jrobinso commented on #1257
Did you notice the "Track Labels" toggle in the toolbar?

[2021-01-24 15:45] mohgh opened #1258 "RangeError: Invalid typed array length"
I'm using the igv js inside react project.
I'm using the following confiugration for my igv instance.
{
        genome: "hg19",
        locus: "chr20:10000000-10200000",
        tracks: [
            {
                "name": props.singleRun.sampleName,
                "url": "bam fil url",
                "indexURL": "bai url",
                "format": "bam",
                "type": "alignment"

[2021-01-24 16:46] jrobinso commented on #1258
If all requests return 200 there is a server issue,  for the BAM file you should see a mix of 200 for OPTION requests and 206 for GET requests.  You should never see a 200 for a GET with an indexed BAM file.

It might be instructive to see if you load your BAM file in IGV desktop using "load from URL".

Also, I don't think it is causing your issue but take note of the occasional MIME type issue wi

[2021-01-24 17:51] aram10 commented on #1257
Yes, I see that, thanks. Is there a way that I can have this selected by default upon page load?

[2021-01-24 17:55] aram10 opened #1259 "Load directory of files into tracks"
Hello, is there a way to tell IGV to create tracks for all files in a directory, with the same config settings? I have ~300 annotation tracks for SARS-CoV-2 and I am trying to avoid having to insert these by hand.

[2021-01-24 18:28] jrobinso commented on #1259
Do you mean IGV desktop or igv.js?  Either way the answer is no, and it would be impossible with a web app in any event.   I would suggest writing a script to generate the required json.

[2021-01-24 18:32] jrobinso commented on #1257
After initializing the igv "browser" you can call
[code]

[2021-01-24 21:10] #1257 closed

[2021-01-24 21:10] #1259 closed

[2021-01-24 23:02] jrobinso opened #1260 "Support tab-delimited bed files with spaces in name field."
See https://github.com/igvteam/igv/issues/890

[2021-01-29 15:04] northwestwitch opened #1261 "Issue displaying a gene track"
Hello!
I apologize in advance if this has been discussed/solved.  We've recently updated to version 2.7.4 and and we noticed a strange behavior when trying to display a gene coordinate from this track:

[code]

If you open the browser at the following coordinates: chr14:55,369,194-55,369,443 (gene GCH1) then you won't see any gene, but if you zoom a bit out the gene will appear, and will stay ther

[2021-01-29 15:07] dnil commented on #1261
It seems to work as before in version 2.7.0, but change in 2.7.1 onwards all the way to development. Something with the index change perhaps?

[2021-01-29 18:52] jrobinso commented on #1261
Thanks for the report, I will look into it.

On Fri, Jan 29, 2021 at 7:07 AM Daniel Nilsson <notifications@github.com>
wrote:

[2021-02-10 19:35] jrobinso commented on #1240
@bw2 Could you elaborate on why you would want to change the "config" object, rather than a particular property of a track?

[2021-02-10 20:01] bw2 commented on #1240
My code uses React, so it's easier to do track state updates without worrying about which particular property changed.
Also, more generally, it seems like a useful feature to be able to update multiple properties and repaint once.

[2021-02-10 20:14] jrobinso commented on #1240
The possible issue is config initialization wasn't designed for this,  it is not the same thing as reloading a track with fresh state, although it might be close or identical in many situations.  I'll look into the PR more carefully later just asking.

[2021-02-10 20:27] bw2 commented on #1240
I might be missing deeper issues, but moving initialization code out of the track constructors didn't take much work and seemed like an ok thing to do regardless of whether it's used for this.

[2021-02-10 20:49] bw2 opened #1262 "specific gCNV track .bed file causes track to spin indefinitely, continuously send range requests"
A particular gCNV track file has been failing to load while other larger track files have loaded without issue.
This particular track spins and continuously sends range requests. I've tried recompressing and re-tabixing the file, but that doesn't fix this.

These are the requests Chrome keeps making (copied out of the Chrome dev window)

[code]
[code]

[2021-02-10 20:57] bw2 commented on #1262
The example files are @
gs://collaborator-data-share-bw2/cluster_5.bed.gz (or https://storage.cloud.google.com/collaborator-data-share-bw2/cluster_5.bed.gz)
gs://collaborator-data-share-bw2/cluster_5.bed.gz.tbi

[2021-02-10 20:58] bw2 commented on #1262
Using this track config
[code]

[2021-02-10 22:23] jrobinso commented on #1262
I'll look into it.

[2021-02-10 22:36] jrobinso commented on #1262
@bw2 I'm not sure how to download those buckets.  I logged into google on chrome and tried the https url,  access forbidden.  I do not have a "cloud storage" account.   How do I get them?

[2021-02-10 22:56] bw2 commented on #1262
The file is 330 Mb so I can't attach to an email. How do you prefer to share files?

[2021-02-10 23:07] jrobinso commented on #1262
If you can copy it to the broad file system I can get it from there,  email me the location.   I don't see any way to access google cloud storage without a GCS account, if you know of some way to get it directly let me know.

[2021-02-10 23:13] jrobinso commented on #1262
@bw2 You could also create signed URLs,  and send me those URLs (privately by email).

[2021-02-11 00:37] #1262 closed

[2021-02-11 03:32] jrobinso commented on #1240
@bw2 Yes I think its safe, what I'm saying is rerunning the initialization code at a later date will not necessarily bring you to the same state as reloading the track, which is what you are replacing.  Just a warning.

[2021-02-11 03:53] jrobinso commented on #1261
Hi,  sorry for the delay.   I can't reproduce this,  the example below shows the gene upon loading, as shown in the screenshot.   Can you try this and tell me if it works for you?

[code]

<img width="1761" alt="Screen Shot 2021-02-10 at 7 53 19 PM" src="https://user-images.githubusercontent.com/933148/107600805-ad082700-6bd9-11eb-909b-80867d73f635.png">

[2021-02-11 03:54] jrobinso commented on #1258
Closing due to lack fo response

[2021-02-11 03:54] #1258 closed

[2021-02-11 03:55] jrobinso commented on #1252
Closing, nothing really to do here.

[2021-02-11 03:55] #1252 closed

[2021-02-11 04:38] #1247 closed

[2021-02-11 05:23] #1245 closed

[2021-02-11 10:47] zareifar commented on #1261
Hi IGV team,

I have a similar issue as @northwestwitch. In my IGV browser, before I set the annotation track autoHeight to true, everything worked fine. However, now that the height of the annotation track is set to auto, for some locations, sometimes the canvas is not rendered properly. Sometimes it is just blank and sometimes it is not covering everything. Strangely, for the same locations, thi

[2021-02-11 17:49] jrobinso commented on #1261
@zareifar This looks to be a separate issue, can you open a new ticket?  You can cut and paste.   Also,  when tell us the version you are using, and if possible some steps we can take to reproduce the problem.

[2021-02-12 00:03] jrobinso commented on #1236
@turner ping

[2021-02-12 00:04] jrobinso commented on #1240
Done

[code]

[2021-02-12 00:04] #1240 closed

[2021-02-12 07:53] northwestwitch commented on #1261
Dear Jim, the provided code works for me, see screenshot:

![image](https://user-images.githubusercontent.com/28093618/107739880-328af480-6d0a-11eb-954d-8db480f25251.png)

When I first modified our portal page by switching igv.js versions (2.7.0 vs 2.7.4) then the same window didn't show the gene:

![image](https://user-images.githubusercontent.com/28093618/107740713-125c3500-6d0c-11eb-8c10-003250

[2021-02-12 07:53] #1261 closed

[2021-02-12 12:36] zareifar opened #1264 "Canvas height doesn't expand to fill viewport in annotation track with autoHeight"
Dear IGV team,

I am using IGV version 2.7.4 and in my IGV browser, before I set the annotation track autoHeight to true, everything worked fine. However, now that the height of the annotation track is set to auto, for some locations, the canvas height doesn't expand to fill the viewport and results in genes not being visible. As an example, you can use the code below the recreate the problem:

[c

[2021-02-12 12:38] zareifar commented on #1261
Thanks @jrobinso for your reply. Here is a link to the issue: [Issue#1264](https://github.com/igvteam/igv.js/issues/1264)

[2021-02-12 17:02] jrobinso commented on #1261
@northwestwitch Thank you for that detail on the visibilityWindow,  I am able to reproduce the problem now.   That is a bug, visibilityWindow should not have that effect.   You might consider waiting a few days before updating as I am working on a fix for that now.    I am planning to release this and a few other bug fixes next week as 2.7.5.

[2021-02-12 17:17] helgathorv commented on #1236
This was already completed and released.

[2021-02-12 17:17] #1236 closed

[2021-02-12 20:07] northwestwitch commented on #1261
Ok! I was convinced I had it fixed by removing the visibilityWindow parameter! Of course we'll upgrade to the new release as soon as you publish it, but now I'm curious: what does the visibilityWindow param do, and in which situations do we need it?

[2021-02-12 20:19] jrobinso commented on #1261
@northwestwitch Removing visibilityWindow does fix it in this case, but it was a side effect.  The visibilityWindow sets the maximum genomic region (the "window") for which features will be visualized.  If you zoom out past this window you will get a "zoom in to see features" message in the track.   It is needed for very dense tracks, such as dbSNP,  for which loading an entire chromosome of data

[2021-02-12 22:49] oleraj commented on #430
+1, would be very useful here too.  We'd be interested in using this for annotation tracks (e.g., genes) as well as variant tracks (e.g., linkout to lookup coordinates on external website).

[2021-02-12 23:01] oleraj commented on #430
After a bit of digging, it looks like this is potentially already possible in the way described by this example:
https://github.com/igvteam/igv.js/blob/master/examples/events/custom-track-click.html
Does that example work to allow clicking out to an external site?

[2021-02-12 23:02] jrobinso commented on #1264
This should be fixed now, to be released next week.

[2021-02-12 23:06] jrobinso commented on #430
@oleraj The example that is most relevant, perhaps, is custom-track-popover, which you can run in the link below.  Note there is a link to an external site inserted into the poup.

http://igv.org/web/release/2.7.4/examples/events/custom-track-popover.html

[2021-02-13 22:32] #1244 closed

[2021-02-13 22:34] jrobinso commented on #1244
Insertions and deletions are now included in the "sort by base" option.  Insertions are between bases, but for purposes of sorting they are assigned to the base to the right of the insertion.

Sort-clips are not considered when sorting,  either in IGV desktop or here.    Soft clips are not part of the alignment, they have no genome location.

[2021-02-16 02:56] #1238 closed

[2021-02-16 20:06] jrobinso commented on #1264
This is released now as 2.7.5

[2021-02-16 20:06] #1264 closed

[2021-02-16 20:37] aram10 opened #1265 "Performance issues with large volume of annotation tracks, merging tracks"
Hello,

I have roughly 300 different tracks of mutational data corresponding to 300 different samples of the novel coronavirus. The file format is GFF3. Currently I have all of these tracks loaded through the configuration file, but this is causing very long loading times. The reason I don't conglomerate them into one track is because it is important to have the vertical axis correspond to the dif

[2021-02-16 20:44] jrobinso commented on #1265
The best format or what you describe is VCF with genotype (sample) columns.   That does exactly what you want.    Currently however igv.js does not show the sample names,  you can get them by mousing over but they aren't displayed.   We are working on that however.

Are these files tabix indexed?   That will only help with zoomed in views of the variants,  if you want to get a view of the entire s

[2021-02-16 20:51] aram10 commented on #1265
But even with VCF, if I understand you correctly, there will still be 300 different tracks? Or is it one track that parses all 300 files? If the bottleneck still ends up being with http requests instead of time to render then it sounds like it wouldn't make a difference.

[2021-02-16 21:01] jrobinso commented on #1265
The would be one file, which will produce 300 rows of variants (1 per sample).

[2021-02-16 21:02] jrobinso commented on #1265
How large are these files (what is the sum total of their size)?

[2021-02-16 21:04] aram10 commented on #1265
Roughly 2 mb.

[2021-02-16 21:04] jrobinso commented on #1265
Oh that's tiny.   Is that gzipped?

[2021-02-16 21:05] aram10 commented on #1265
No. If that is relatively small, then why do you believe the performance issues arise?

[2021-02-16 21:08] jrobinso commented on #1265
You would need to profile that,  I don't have access to your system and anyway you haven't quantified the "performance",  so it would be just wild guessing on my part.   But I suspect its what I said,  300 http requests each with overhead.    You can get some idea with Chrome or Safari development tools by watching the network requests.    The first thing to do is gzip all the files, that should s

[2021-02-16 21:10] aram10 commented on #1265
Alright, thanks. The original source file that I used to generate the individual annotation tracks is a MUT file (which, if I understand correctly, IGV does not support). Are there any good existing pipelines for a MUT to VCF conversion, or would I need to do this myself?

[2021-02-16 21:14] jrobinso commented on #1265
I don't know, a web search might turn something up.    I had support for .mut on my radar then the issue was closed by the poster.  Was that you?  .mut is a quite old and I think deprecated format from the TCGA project (I know I worked on it), and there hasn't been any requests for it save one, which again was closed..    .maf is likely to get supported first.

On your side gzipping the files is f

[2021-02-16 21:17] jrobinso commented on #1265
Some useful info on web performance, instructions are for Mozilla tools but Chrome is similar. https://developer.mozilla.org/en-US/docs/Web/Performance/Understanding_latency

[2021-02-16 21:19] aram10 commented on #1265
For everything to be fully loaded in its current state, roughly 20 seconds. But I appreciate the avenues you have recommended and will pursue them further. I consider this resolved.

[2021-02-16 22:02] jrobinso commented on #1265
20 seconds would be ~ 150 ms per file, if I did the math right.   That seems like high latency, but I don't know your network environment.   In any event its very easy to time this with browser development tools.   Again gzip all the gff3 files.

[2021-02-16 22:45] jrobinso commented on #1265
@aram10 Is this data public, or are you building a public website?   I thought of another solution using a custom data source, or custom reader.    You would use this by concatenating all your gff3 records into a single file,  with the sample identified by an attribute (column 9).   A custom data source would read this file at once, then piece out the records to each track based on the attribute.

[2021-02-16 22:51] aram10 commented on #1265
We are building a public website. I've attached a ZIP of a handful of the files.

[gff3files_sample.zip](https://github.com/igvteam/igv.js/files/5992078/gff3files_sample.zip)

[2021-02-16 22:52] aram10 commented on #1265
We already use column 9 in GFF3 to identify the sample.

[2021-02-16 23:08] jrobinso commented on #1265
OK, give me a day or two,  I think I can make this work.

[2021-02-16 23:09] aram10 commented on #1265
Brilliant! Thanks for your dedication.

[2021-02-17 00:06] jrobinso commented on #1265
@aram10 I can't unzip the samples, it looks corrupt.   The size is only 5kb.

[2021-02-17 00:37] aram10 commented on #1265
My apologies, I've rezipped them and attached it.
[Uploading gff3files_sample.zip…]()

[2021-02-17 02:23] jrobinso commented on #1265
@aram10 Give this a try.  First unzip it, copy it to your webserver leaving the directory structure intact, enter <url to your server/example.html> in a web browse, and see if it works.   To use it with your full dataset

* concatenate all gff3 files
* remove the header lines (starts with sequenceName, this is not legal gff3.  Alternatively put a leading # symbol on the line)
* edit example.html a

[2021-02-18 06:08] jrobinso commented on #1265
@aram10 Also, if you can share your original "mut" file I will look at supporting that, and be done with this gff3 hack.  It should be straightforward.

[2021-02-18 14:27] aram10 commented on #1265
I've attached it here. Sorry for the delay, busy week for me, I will take a look at your gff3 fix as soon as I can.
[mutfile.txt](https://github.com/igvteam/igv.js/files/6003414/mutfile.txt)

[2021-02-18 21:08] helgathorv opened #1268 "Use crosshairs for cursor guide"
Currently the optional cursor guide is a vertical line. Let's change it to crosshairs so it's also useful as a horizontal guide.

[2021-02-19 15:26] oleraj commented on #430
Thanks, @jrobinso, we'll try this out.

[2021-02-20 03:03] bigbigJ opened #1269 "When used with the vxe-table component, an error will be reported"
When the project uses igv and vxe-table at the same time, igv will have this error:Uncaught (in promise) TypeError: Cannot convert object to primitive value

I can't find the reason, it makes me very confused

[2021-02-20 03:12] bigbigJ commented on #1269
I guess it is related to the utils library? Both vxe-table and igv have utils libraries, may their function names be repeated?

[2021-02-20 04:08] jrobinso commented on #1269
I don't know anything about xve-table, but  igv.js's libraries are encapsulated, the function names are not visible in global ("window") scope.     I can't really help you with the minimal information provided.

[2021-02-20 05:39] bigbigJ commented on #1269
That's a pity, I will continue to explore

[2021-02-20 07:35] #1269 closed

[2021-02-21 01:14] aram10 commented on #1265
What did you mean by the genotype (sample) columns of a VCF file?

[2021-02-21 01:39] jrobinso commented on #1265
See. https://samtools.github.io/hts-specs/VCFv4.2.pdf,    however this is unnecessary as I will add support for "mut" shortly.

[2021-02-22 20:23] aram10 opened #1271 "WIG track elements small, difficult to click on"
Hello,

I am using a WIG file to show the frequency of mutations, but the icons are difficult to see zoomed out and hard to click on. I understand that there are space constraints as to what can be rendered, but it is possible to toy with the size of these vertical bars or perhaps their clickable element? I've attached a picture.
![wig](https://user-images.githubusercontent.com/59741191/108765541-

[2021-02-23 16:46] aram10 commented on #1265
Ok sounds good, please let me know when you do and I would be more than happy to try it out.

[2021-02-24 00:22] tuh00621 opened #1272 "How to use local genome and vcf?"
Is there a way to load a genome and vcf from local files? I only see loading from URL for variants and a small list of genomes.

[2021-02-24 00:32] jrobinso commented on #1272
igv.js is not an end-user tool, it is a component for developers.   What are you trying to do, are you building a website or portal embedding igv.js?

[2021-02-24 00:34] jrobinso commented on #1272
To answer your question, documentation is here:  https://github.com/igvteam/igv.js/wiki.   Any field that will take a URL will take a File blob object,  you will need to provide buttons or other means for your users to browse files using the standard Javascript classes.   The File object can be passed to igv.js.

[2021-02-24 00:41] tuh00621 commented on #1272
@jrobinso I'm using an edited igv.js-flask in Google Colab to display a temporary webpage to view a VCF generated by a pipeline earlier in the notebook.
I've gotten the VCFs to load with the webpage (the vcf and the index had to be in a specific folder to be seen), but am now working on loading the reference genome from a fasta.
Thank you for the link to the wiki; I'll be experimenting with loadin

[2021-02-24 01:54] jrobinso commented on #1272
You'll need to use URLs,  but since you are using flask that shouldn't be an issue.    Reference genome doc is here https://github.com/igvteam/igv.js/wiki/Reference-Genome

[2021-02-25 13:21] gujarwasia opened #1273 "BW tracks not showing"
Hi I am using igv.js version 2.7.4,

I have upload a BW file which is working in igv web as shown below in first pic but in my application it is not working please suggest, 2nd pic of my application.
![igv,web](https://user-images.githubusercontent.com/11008949/109159318-7bc35580-779a-11eb-85fa-0c05d487d92c.JPG)
![myapplication](https://user-images.githubusercontent.com/11008949/109159338-80880980

[2021-02-26 23:15] tuh00621 commented on #1272
@jrobinso Thank you for the help! I figured out how to add a custom fasta as a reference genome as well as a custom vcf track.

[2021-03-01 23:45] athomson-archerdx opened #1275 "Cursor position tooltip"
It would be nice if a tooltip showing the cursor position showed up after a moment of hovering. Such as `bp` in the `setCustomCursorGuideMouseHandler` handler. Not always easy to tell, even with a cursor guide. Thoughts?

[2021-03-02 20:57] jrobinso commented on #1265
@aram10 I'm working on this now.   Could you give me your coloring scheme, which I assume is based no "type".   Thanks.

Also, what software produced this file?

[2021-03-02 21:19] aram10 commented on #1265
We based the coloring on the alternative base pair for SNPs, and had one coloring for insertions/deletions, but we do have labels for mutation type in the data (synonymous, missense, etc.) and we are open to having those have some indication as well. The file was generated through a Python script reading Excel documents. Here are the colors:

A: rgb(69, 193, 38)
T: rgb(237, 52, 31)
G: rgb(192, 108

[2021-03-02 21:27] athomson-archerdx opened #1276 "Three-Frame Translation doesn't seem to work for custom reference tracks"
When attempting to view the three frame translation using custom reference tracks such as the attached, the translation doesn't show anything when viewing forward and doesn't line up properly when viewed in reverse. The translation data displays fine in JBrowse, is my index file missing something?
[sample_reference.zip](https://github.com/igvteam/igv.js/files/6071906/sample_reference.zip)

[2021-03-02 21:32] athomson-archerdx opened #1277 "Quality Scores for all bases in a read"
Can you please add a way to view all Base Quality scores for a read? Ideally, something similar to the Sequence and Quality section of JBrowse as below, but just a list of raw scores like the View Read Sequence modal would work as well.

![Screen Shot 2021-03-02 at 2 30 07 PM](https://user-images.githubusercontent.com/38264214/109718061-15588180-7b64-11eb-9160-c92f784fb8ac.png)

[2021-03-02 22:36] jrobinso commented on #1265
OK, maybe there should be 2 options, color by alt allele or color by mutation type.   It would be confusing, I think, to try to color by both.

[2021-03-02 22:37] aram10 commented on #1265
Yes, I agree.

[2021-03-02 22:39] jrobinso commented on #1265
Actually any track that will take a "color" field will take a function.   Since this is a non-standard mut file, with alt allele in "notes",  I think we can use the function option.   It is the most flexible.   It will look something like

```function(feature) { switch:  'A' === feature.notes return rgb(...    etc```

[2021-03-02 22:58] jrobinso commented on #1277
This is not likely to get prioritized anytime soon.   If JBrowse does it I suggest you use that.   The colors are alpha-shaded by quality, which gives you some indication if you turn on "show all bases".

[2021-03-02 23:00] jrobinso commented on #1276
I'll look into it, it should work, if not its a bug I will try to fix for the next release.

[2021-03-02 23:04] jrobinso commented on #1275
I agree that would be useful.   We would not have it on all the time though,  tooltips get really annoying if you don't want them.  I can think of 2 possibilities,  have it on when the cursor guide is on,  or have it on all the time but in the "ruler track" only.  @turner @helgathorv  any thoughts?

[2021-03-02 23:07] aram10 commented on #1265
Ok, I see. What is non-standard about the MUT file?

[2021-03-02 23:15] jrobinso commented on #1265
@aram10 Well the problem with these formats is that there are a number of standards.   The description I have from TCGA does not define columns beyond "type".    Perhaps a "notes" column, and other columns, are common but I don't think we can guarantee the "notes" will always have alt alleles.    Having an option to color by an arbitrary columns is not a bad idea, but for now using a function in t

[2021-03-02 23:20] aram10 commented on #1265
I did not personally produce this file, but to the best of my knowledge one of my collaborators wrote the Python to do it.

[2021-03-02 23:24] athomson-archerdx commented on #1277
Thank you, I'll see if the alpha shading is a suitable workaround for us :+1:

[2021-03-02 23:33] jrobinso commented on #1265
I should be able to wrap this up sometime tomorrow,  its basically working now.    We will need a new igv.js release prior to a production release on your side but that should be no problem.    Do you have a time frame for releasing your website or more specifically this visualization?

[2021-03-02 23:55] aram10 commented on #1265
For this particular aspect of it, we do not have a cemented time frame yet.

[2021-03-03 06:03] jrobinso commented on #1057
Wow this is a year old.   I think the place for that is the popup text on the track label.

[2021-03-03 14:24] turner commented on #1275
I like it. I would add a time out to the tooltip of a few seconds. We could, if required, make that timeout length configurable.

[2021-03-03 15:00] athomson-archerdx commented on #1275
Thanks @jrobinso , I think either of those would work well. I really like the idea of it being in the ruler track so the tooltip doesn't get in the way :+1:

[2021-03-03 15:06] helgathorv commented on #1275
I also like the idea of it being in the ruler track.

[2021-03-03 15:08] zareifar opened #1278 "Cannot import the library in a react app"
I have created a react app using create-react-app script and I was using IGV JS library version 2.7.4 in it. When I updated the IGV JS library to the latest version, I am not able to import it into the react app and I get the following error:

    Module not found: Can't resolve 'igv' in '/home/frontend-dev/igv-project/src/components/IGVBrowser'

I am using the following import statement:

import

[2021-03-03 17:57] jrobinso commented on #1278
Ahh, I see the probable cause.    One or all of the following lines probably need added to package.json,  I'm not sure why they were removed.   This will require a new release which I will do today (it will be 2.7.8).

[code]

[2021-03-03 18:09] jrobinso commented on #1278
@zareifar Could you try again with version 2.7.8?  This should be fixed.    Sorry you wasted time on this.

[2021-03-03 19:43] #1276 closed

[2021-03-03 19:44] jrobinso commented on #1276
There were 2 issues,  "N" was not properly handled, resulting in an exception which stopped drawing.  Also lower case bases caused an error in reverse translation.

[2021-03-04 01:29] bw2 commented on #1057
that makes sense

[2021-03-04 03:42] bw2 opened #1279 "support for gcloud requester-pays buckets"
Would it be possible to set a 'requester pays' project in the track config?

[2021-03-04 08:43] zareifar commented on #1278
@jrobinso Works perfectly. Thanks Jim, you are a lifesaver!

[2021-03-04 18:56] oyvinev opened #1280 "BAM index bug causes wrong data shown"
Hi,

I was made aware of a problem with a bam-file of ours, specifically that it did not match what was shown in standalone IGV. After digging through it, I found that the problem most likely lies in the BAM index reader. Below is shown the same file with and without index (data shown in `without-index.bam` is correct, verified with standalone IGV, samtools and sambamba):

![image](https://user-im

[2021-03-04 18:58] oyvinev commented on #1280
This is sensitive data, so I'm unfortunately not able to share the bam-file, but I'm happy to help both debugging it, or creating a non-sensitive example, if I can get some pointers on what to look for.

[2021-03-04 22:10] jrobinso commented on #1280
Well that is disturbing, thanks for the report.   I will try to reproduce it with public data.  Are you able to build and test from github, should I have something to test?   If not I can build for you.

[2021-03-04 22:38] jrobinso commented on #1280
From the screenshot it doesn't look like "wrong" data is shown, but that not all data is shown.   By that I mean the alignments that are shown look correct.   Also, they stop abruptlyafter a specific start position (that's how alignments are sorted).  I suspect the stopping point is at a compressed block boundary,  but I'm still trying to create a reproducible test case.

[2021-03-05 00:44] jrobinso commented on #1280
@oyvinev Since I can't reproduce this (yet) your help would be appreciated.   I just pushed a possible fix, or workaround, based on code inspection.   If it works it is useful information.   Could you try the version here, or pull from master and build?   http://igv.org/web/snapshot/dist/

Is there any unusual characteristics of your BAM file, that might be useful as I try to create one with the s

[2021-03-05 01:21] jrobinso commented on #1279
You can set that directly on the URL to the resource, no need for an additional config parameter.    e.g.
[code]

[2021-03-05 01:21] #1278 closed

[2021-03-05 08:26] oyvinev commented on #1280
Thanks for the quick reply! I agree, it looks like it's just truncated, not "wrong".

I will build with this, and see if it has an effect.

The bam file is from exome capture but it's also been sliced heavily (to relevant variants +/- 4000). It's a total of 212k reads (77MB uncompressed bam).

[2021-03-05 10:14] oyvinev commented on #1280
Unfortunately, that did not resolve it. It does not hit that block.

I will try to figure out if this indeed is happening on a block "border", and if so, where that block goes missing.

[2021-03-05 16:26] jrobinso commented on #1280
@oyvinev OK thanks for test that is good information.    I'm combing though the comb today, its like archaeology.   This originated in "c" in samtools in a previous epoch.     The index is something like an R tree,  with each node called a "bin".    Its described in section 5.1 of the samtools spec. http://samtools.github.io/hts-specs/SAMv1.pdf.   The flow basically goes like this

1. Compute bin

[2021-03-05 16:52] oyvinev commented on #1280
Thanks a lot for looking into it, and for outlining the flow in
understandable lingo. I've also suspected the optimization there, but I'm
still banging my head against the wall that is the sam spec.

This isn't completely verified, but it seems like all the data is pulled
from the backend, which I guess suggests that something is indeed off in
step 3? Due to family commitments, I won't be able to

[2021-03-05 20:23] jrobinso commented on #1280
If by data you mean from the bam file, as opposed to the index file,  then that would implicate decoding the bams, rather than the index.   I know the bams are properly decoded when not indexed but the problem could be the loop through chunks.

I'm glad its not just me that finds the sam spec a challenge.   I don't think you can understand it without looking at code.  I had the advantage of quizzi

[2021-03-08 05:47] jrobinso commented on #1280
@oyvinev
I've pushed 3 branches that might help us isolate this problem.  They are focused on chunk optimization.   If you could pull these and do a quick test it would be most helpful.  The branches are

1. no_optimization --  this does not optimization at all,  try this one first.   If it fails you do not need to try 2 and 3
2. no_linear -- does not use the linear index,  this will be slow
3. no

[2021-03-08 11:51] oyvinev commented on #1280
Hi Jim,

Unfortunately this did not resolve it. I'll do some more debugging, and see if I can pinpoint where the reads are lost.

I've done some work on parsing the bam-file manually using Python. Here are some findings:
- All overlapping alignments are in bin 9994.
- Two gzip blocks have overlapping alignments
     - Block 434 starting at 3142789
     - Block 435 starting at 3151559
- All alignme

[2021-03-08 12:02] oyvinev commented on #1280
Well, the `parseIndex` function see 1 chunk for bin 9994...

[2021-03-08 12:58] oyvinev commented on #1280
Wrote a BAI-parser, and I'm starting to wonder if the index-file is wrong:

![image](https://user-images.githubusercontent.com/4920368/110324365-24cd4400-8016-11eb-9a0a-c7982cafbe8d.png)

And iterating over the blocks in the bam-file:

![image](https://user-images.githubusercontent.com/4920368/110324377-2860cb00-8016-11eb-8ff7-d68d96a4ca60.png)

So the chunk ends at 3151559, but the block starting

[2021-03-08 14:17] oyvinev commented on #1280
Pretty sure I found the bug. Parenthesis here are wrong: https://github.com/igvteam/igv-utils/blob/b01d4e5c6f1448e4b3abb955c813c1163c7b0bda/src/bgzf.js#L64

![image](https://user-images.githubusercontent.com/4920368/110333002-60214000-8021-11eb-8036-b591655ce6c5.png)

[2021-03-08 14:34] oyvinev commented on #1280
Confirmed that https://github.com/igvteam/igv-utils/pull/8 resolves it.

[2021-03-08 15:36] oyvinev commented on #1280
I guess it's this line that actually causes it to fail silently: https://github.com/igvteam/igv-utils/blob/b01d4e5c6f1448e4b3abb955c813c1163c7b0bda/src/bgzf.js#L32

[2021-03-08 15:49] jrobinso commented on #1280
Wow, great!   I was going to ask if you share just the index for the file,  there is no patient data in it,  but I guess I don't need it now.

[2021-03-08 16:38] oyvinev commented on #1280
I guess the problem only happens when byte 16 in the header of the gzip block is `0xff`, as this shortens the BSIZE (all other are correct).

This was a very interesting deep dive into BAM and bgzf (although a bit complex for a novice). Thanks for the help, @jrobinso, and thanks for a great tool which provide so much value to our lab!

[2021-03-08 16:46] jrobinso commented on #1280
Kudos for finding that!  I'll leave this open until I merge and release the fix.

[2021-03-08 23:59] brainstorm opened #1283 "Color items by pair orientation and insert size. (was IGV desktop feature parity)"
At @UMCCR we are working in htsget integrations with our internal data portal and the curators have identified some mismatches on functionality between igv-desktop and igv-js, most notably the [**lack of htsget-variants support**](https://github.com/igvteam/igv.js/issues/1187) and some particular unsupported desktop view features that are missing on the JS version, namely from one of our curators,

[2021-03-09 00:10] brainstorm commented on #1187
Yes, there are: https://htsget.ga4gh.org/variants/service-info

/cc @jb-adams

[2021-03-09 03:38] jrobinso commented on #1283
@brainstorm As I'm sure you have figured out I do virtually all the development for this as well as IGV desktop, plus a few other projects you aren't involved in like juicebox.js.   No I do not have a feature matrix, I've learned that would be pointless as external events will intervene.   Open separate issues for igv.js features, the more atomic the better, you would like to see and I will get to

[2021-03-09 19:08] skycolloredo commented on #243
Hi Jim,
I am having a similar issue with seg files. When I set the height in the track configuration in the way demonstrated above, it the heatmap track height remains very short. Is there a way to adjust the height of heatmap tracks?
Thanks!
Sky

[2021-03-09 20:33] skycolloredo commented on #243
Hi Turner,
My problem was I was using height when the relevant property was expandedRowHeight. Adjusting that fixed things.
Thanks!
Sky

[2021-03-09 22:25] aram10 opened #1284 "New MUT functionality popup error"
Hello,

I really appreciate the work you've done so far with the MUT integration. I am having a small issue with a popup error for the track. So here is an image of the track on the webpage:

![muttrack](https://user-images.githubusercontent.com/59741191/110545177-b8784080-80fa-11eb-8a5a-aaa7b56b1153.PNG)

When I tried to click on one of the icons, nothing happened, so I checked the console and sa

[2021-03-09 23:29] jrobinso commented on #1284
@aram10 I assume you are running from master as I haven't released anything yet.   I think the track type should be "mut", not "variant".    In another branch we are working on sample name display,  which will be to the right of the track, when that's done all will be merged and released.    In any event the intent is to dedicate a row to each sample.

So try. ```type:"mut"```. and see how that wo

[2021-03-09 23:48] jrobinso commented on #1283
I'm going to rename this to cover request (1).   Request 2 already has an open issue.

[2021-03-10 01:10] jrobinso commented on #1154
@skycolloredo IIRC there are no type restrictions, but I don't think non-wig tracks have been tried.   I'm working on IGV desktop this week and don't have time to investigate now, but here's the track config from one of our examples.

[code]

[2021-03-10 04:11] skycolloredo commented on #1154
Thanks!

[2021-03-10 05:23] jrobinso commented on #1154
@skycolloredo Do let me know how it works.   I split my time between IGV desktop (Java)  and igv.js (javascript) and have found I can't just jump back and forth on a dime,  I hope to return to a block of work on igv.js in the next few weeks and can look more deeply then.

[2021-03-10 08:21] oyvinev commented on #1280
Hi @jrobinso. Do you have an ETA for the update?

[2021-03-10 16:02] jrobinso commented on #1280
Now released in 2.7.9.   Please give it a try

[2021-03-10 16:04] #1280 closed

[2021-03-10 16:37] blajoie opened #1285 "Request to control alleleFreqThreshold via UI bam/track settings"
Similar to IGV desktop, users would benefit from the ability to adjust alleleFreqThreshold via the bam track settings.  As is, it seems to only be accessible via the track settings.

igv.js
![c528c245-79b4-43f7-8842-d4a25aa4f7cd](https://user-images.githubusercontent.com/8889420/110663835-aee2ed00-817b-11eb-8f90-7020ba504aee.png)

igv desktop
![igv-desktop](https://user-images.githubusercontent.co

[2021-03-10 16:45] blajoie opened #1286 "Request to control alleleFreqThreshold via UI bam/track settings"
Similar to IGV desktop, users would benefit from the ability to adjust alleleFreqThreshold via the bam track settings. As is, it seems to only be accessible via the track settings.

igv.js
![c528c245-79b4-43f7-8842-d4a25aa4f7cd](https://user-images.githubusercontent.com/8889420/110665213-fa49cb00-817c-11eb-9691-c8a721302922.png)

igv desktop
![igv-desktop](https://user-images.githubusercontent.com

[2021-03-11 03:04] blajoie opened #1288 "Request to control duplicate-read filtering via UI bam/track settings"
Is it possible to provide the user to ability to toggle filter-duplicate-reads / filter-vendor-failed reads within igv.js?

![MicrosoftTeams-image](https://user-images.githubusercontent.com/8889420/110729273-41fb4180-81d3-11eb-8a68-5b452425a5d1.png)

[2021-03-12 18:37] jrobinso commented on #1284
I'm closing this because the error above is with the track type. ("variant" instead of "mut").   See "dev/issue_1256.html" for a full example config you can try with the latest in master.  substitute your own URLs where appropriate.

[2021-03-12 20:03] jrobinso commented on #1284
@aram10 BTW,  there are 2 extra tabs in the header (first line) of the mut file you supplied which mess up the popup text.  The first is between the "type" and "gene" headings,  then there is a tab after the last column.

[2021-03-12 20:03] #1284 closed

[2021-03-17 05:26] feedlord18 opened #1291 "issue with frequency track popup data"
Hi!

I am current facing an issue in the igv-webapp. When clicking on frequency bars, there is a high probability that I will get this error.
![image](https://user-images.githubusercontent.com/65100114/111419164-55b91300-86bf-11eb-93a4-ab1f2422dcac.png)

I tried fixing this by checking for null values with some if statements. However I've only done that in igv.min.js. I am having some trouble figu

[2021-03-17 05:45] #1291 closed

[2021-03-17 05:45] feedlord18 commented on #1291
issue is still there, but managed to fix it from wigTrack.js

[2021-03-17 05:51] jrobinso commented on #1291
@feedlord18 For the benefit of others could you describe the problem and fix?  What did you change in wigTrack.js?

[2021-03-17 05:56] feedlord18 commented on #1291
Hi!

The problem was:
1. when I load up a frequency track, and I try to click on some of the features, it would give me an error saying that in function h(t, e, n), t.start was undefined.
2. That wouldn't cause the webapp to crash but will just give console errors and popup will show.

So I am not really sure if the changes I did really solved the problem or hid a deeper issue. But here are the ch

[2021-03-17 15:01] jrobinso commented on #1291
Thanks.  I will look into this,   feature or position should never be null, null is an explicit value that would need to be set somewhere.    I can see that they might be undefined, but your test would fail if they were undefined.     I will investigate further.

[2021-03-17 17:23] jrobinso commented on #1291
@feedlord18 Correction -- your test will work for undefined as well,  !== will not.   A "truthy" test would be better for the feature,  i.e.   ```if(feature)```, but would not work for position as position == 0 is not "truthy".

[2021-03-19 17:10] AlanRace opened #1292 "SVG export after transformation applied to context?"
Firstly, thanks for the great tool - it really is easy to drop in and use. I am trying to do something that is perhaps not intended by the library, but I don't see why it wouldn't be theoretically possible. I am trying to export SVG with some transformation (e.g. rotation). I feel like this should be possible from the bits of code that I have read, but for some reason `renderSVGContext` seems to i

[2021-03-22 10:32] AlanRace commented on #1292
Quick update to this. It seems to only be a problem if the C2S context is used to draw something else prior and/or after to the call to `renderSVGContext` which includes some (different) transformation.

After I realised that, I implemented a workaround, which involves generating two C2S contexts; one for igv.js browser and one for generating the main diagram. Then its possible to add the generate

[2021-03-22 13:25] turner commented on #1292
Thanks for the update. Your use case sounds interesting, but not one we had anticipated. Your new implementation looks like the way to go. Glad it worked for you.

[2021-03-22 13:56] valleema opened #1293 "No 'Access-Control-Allow-Origin' header is present on the requested resource."
Hi,

I am trying to understand why I cannot load hg19 genome track.

In Chrome devtools, I can see this error:

`Access to XMLHttpRequest at 'https://s3.amazonaws.com/igv.broadinstitute.org/genomes/seq/hg19/hg19.fasta.fai' from origin 'https://my.website.com' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.`

Any help will be greatly ap

[2021-03-22 15:58] jrobinso commented on #1293
@valleema I can't reproduce the error, that URL works fine for me and the CORS headers are set.  Sometimes CORS policy errors are not the underlying issue.  Is there anything else in the console?   Another place to look is the network tab,  the failed request will be in red font, clicking the "response" tab sometimes has information.

[2021-03-22 16:15] valleema commented on #1293
Here is the info for `hg19.fasta.fai`.
![image](https://user-images.githubusercontent.com/55448719/112021868-085efa80-8b32-11eb-9fd4-49d68dd899e9.png)

What I do not get, is that it worked for months and few days ago it broke.

[2021-03-22 16:29] jrobinso commented on #1293
Yes I can see there are no CORS headers in your response.   Is there a proxy or firewall that your requests are going through?  Proxies can sometimes strip out headers, if its removes the CORs headers (the headers that start with Access-Control) its not going to work.   Here's what I see.

<img width="994" alt="Screen Shot 2021-03-22 at 9 23 59 AM" src="https://user-images.githubusercontent.com/93

[2021-03-23 20:12] jrobinso commented on #1279
@bw2 Did you try adding the parameter in the URL?

[2021-03-23 20:25] #1265 closed

[2021-03-23 20:25] #1255 closed

[2021-03-23 20:31] jrobinso commented on #1265
This is fixed now with support for "mut" files (issue #1255).   Here is the test file from your "mut" file, edit the fasta and mut file URLs as needed.  I included a "color" function to illustrate how you can customize color, if you remove it you will get default coloring (by mutation type).   Also note there were some issues with the mut file you shared, noted in #1284, and repeated here.   This

[2021-03-24 18:43] bw2 commented on #1279
I didn't realize you could do this with the url. The issue resolved itself before I went to try it as some crams moved to a different bucket. I will try this next time I run into requester-pays buckets.
Thanks

[2021-03-24 19:12] skycolloredo commented on #1154
No luck on merging two different types, but works great with two wig files.

One other question, is it possible to specify a custom min/max on the merged track? When I add min/max to the tracks, they seem to be disregarded.

[2021-03-24 20:03] jrobinso commented on #1154
I'll look into that when I get a chance.  Did you try setting min/max on
the merged track itself?

On Wed, Mar 24, 2021 at 12:12 PM skycolloredo ***@***.***>
wrote:

[2021-03-26 08:50] kwon0299 opened #1295 "error making variant track : "TypeError: n is undefined""
Hello, I'm a student who is trying to make a web database for our lab's research results.
Currently I succesfully made igv.js embedded with custom reference genome and custom tracks.
However, when I'm trying to add variant track with custom vcf file, the console log (also in website error message) sends me the error message like following:
![image](https://user-images.githubusercontent.com/3457278

[2021-03-26 15:57] jrobinso commented on #1295
This file works fine for me (see screenshot).    What version of igv.js are you using?

[2021-03-26 19:55] jrobinso commented on #1273
Closing for lack of response

[2021-03-26 19:55] #1273 closed

[2021-03-26 19:57] jrobinso commented on #1268
This is done

[2021-03-26 19:57] #1268 closed

[2021-03-26 20:04] jrobinso commented on #808
@helgathorv Assigning to you to figure out how to do this from the UI perspective.

[2021-03-26 20:04] #1292 closed

[2021-03-26 20:13] jrobinso commented on #1275
@athomson-archerdx This is implemented now, but I just realized it is with neither option we proposed earlier.   You will see the genomic position if "cursor guide" is turned on, in the ruler track.      Its pushed to master but not released.

[2021-03-27 15:57] kwon0299 commented on #1295
currently using 2.7.6 by html <script scr>.

[2021-03-27 16:36] jrobinso commented on #1295
I need a reproducible test case, again the file you sent works fine for me.   Please zip up your html and attach it here, or just paste the contents of the file.

[2021-03-28 04:25] #808 closed

[2021-03-28 05:53] #1272 closed

[2021-03-28 06:12] xzhub opened #1297 "This cram file crashes igv.js"
I've tried many different versions of igv.js, from 2.2.9/2.2.17/2.7.6 to 2.7.9, they all crash with this cram file. I think there might be something wrong with cram file, but I can't locate the issue.

Could you please take a look and see what is the cause? Thanks very much!

Error message:
![image](https://user-images.githubusercontent.com/3990687/112744149-008ad480-8fd0-11eb-99db-0c33b839b023.pn

[2021-03-28 23:30] jrobinso commented on #1297
This looks like it is a very sparse cram file, which in turn leads to large genomic regions being compressed into a single slice.  To decode these large slices correspondingly large reference sequence regions need to be loaded.   This is not possible in a web browser, you will run out of memory.   The workaround is to use "bam" files for such sparse files.    Alternatively you could setup an htsge

[2021-03-28 23:30] #1297 closed

[2021-03-29 00:47] xzhub opened #1298 "DEL is always 0"
Is this behavior normal? While clicking on the depth track, the popup window always shows "DEL 0", even there is a del.
![image](https://user-images.githubusercontent.com/3990687/112774149-4ea0e600-906b-11eb-9581-bbb81c88ed31.png)

Tested with the latest version.

[2021-03-29 01:00] jrobinso commented on #1298
That's not normal, and I can't reproduce it.

[2021-03-29 01:49] xzhub commented on #1298
Seems the latest version v2.7.9 has fixed this issue, but at least v2.3.0 is still vulnerable. Let me do more tests then get back here.

[2021-03-29 02:21] xzhub commented on #1298
I will simply switch to the latest version. Thanks!

[2021-03-29 02:21] #1298 closed

[2021-03-29 03:55] kwon0299 commented on #1295
[upload.zip](https://github.com/igvteam/igv.js/files/6219101/upload.zip)
here's the aggregated essential html codes and custom bed file for custom tracks.
If you need .fa and .fai files for the refreence track, please refer to following link:

http://bidas.kaist.ac.kr/static/genome/reference.fa
http://bidas.kaist.ac.kr/static/genome/reference.fa.fai

Thanks.

[2021-03-29 05:18] jrobinso commented on #1295
I can't reference your fastas, your server is down, but the VCF loads fine.   Try switching to version 2.7.9, and give me any steps you can to reproduce the error.  For example what genomic location are you viewing?

Your html looks o.k., but try adding a format specifier to your vcf track definition.  ```format: 'vcf',```

See the screenshot below from your VCF

<img width="1401" alt="Screen Shot

[2021-03-29 06:18] kwon0299 commented on #1295
It seems like problem is related with my server. when i used the original vcf file, it kept throwing me errors. However, when i unzipped the vcf file and used it, it worked well. Thanks for the help! Closing this issue.

[2021-03-29 06:18] #1295 closed

[2021-03-30 23:23] sereeena opened #1300 "Tracks not lining up when loaded via browser.loadTrack?"
I'm using igv.js version 2.7.9 in my app and when trying to load and display an alignment and variant track together, notice that they are not lined up properly, as seen in this screenshot (where cogs on right are not in line and the variant is not lined up with the reads):
![image](https://user-images.githubusercontent.com/13515255/113068045-05849980-9205-11eb-8f38-635d7e0f39bf.png)

I noticed th

[2021-03-31 00:51] jrobinso commented on #1300
Yes this looks like a bug, and we will fix it.   In the meantime, as a work around, you might try the following, as a temporary workaround until the bug is fixed.   This uses non-API functions so it is not a permanent solution.  Also I didn't try to run this there might be syntax errors, but the idea is to force a repaint after the async search function completes.   If this doesn't work let me kno

[2021-03-31 01:38] sereeena commented on #1300
Thanks for your quick response. Unfortunately the repaint/update workaround (both types) don't work though.
I can debug/see it redrawing the track, but it doesn't change the way it lines up with the other tracks.

[2021-03-31 01:57] jrobinso commented on #1300
This is what that toggle does, on the bam track object

[code]

where adjustTrackHeight is
[code]

[2021-03-31 03:00] jrobinso commented on #1300
The first step to fixing the bug is to reproduce it, and so far I have not been successful.  I am trying to simulate your case with public data,  see the attached html.   Do you see anything different?

[issue_1300.zip](https://github.com/igvteam/igv.js/files/6233524/issue_1300.zip)

[2021-03-31 03:02] jrobinso commented on #1300
Also, are there any errors in your javascript console?  These could be important.

[2021-03-31 05:04] sereeena commented on #1300
OK so my app uses lit-element in the UI so this is obviously the cause of the problem, and I think it is causing a timing related drawing issue. I understand if you don't find my use case a priority but I appreciate any help you can give.

It took me a little while to create a test case for you to reproduce the problem. It is not exactly like my code, (which is actually running in electron, not th

[2021-03-31 07:47] dennishendriksen opened #1301 "Reference with multiple sequences per chromosome"
First of all thank you very much for creating and maintaining the Integrative Genomics Viewer. We are very happy after having migrated from the Dalliance genome browser to IGV.

We are embedding the genome browser in a standalone report (somewhat similar to [igv-reports](https://github.com/igvteam/igv-reports)) using data URIs to load reference, variant and alignment data. The reference and alignm

[2021-03-31 14:22] jrobinso commented on #1301
Yes, 1 sequence per chromosome is a requirement, in fact that is what a "chromosome" is.   To make this work you will need to change your model, as igv-reports does, so that each of your slices is envisioned as a new assembly (new genome) with a single sequence.     You can save this assembly and all the related tracks as a session,  then add a menu external to igv.js to select the "session".    I

[2021-03-31 15:12] jrobinso commented on #1300
@sereeena Thanks for the test app, I was able to reproduce it, and although I did not find the cause I did discover that it appears to be fixed in the latest (unreleased) master branch.   Please try the following for your igv import, which is built automatically from master

[code]

[2021-03-31 16:21] #1256 closed

[2021-03-31 17:12] jrobinso commented on #1239
The bug is in "merged track", which I will fix,  however there will still be a problem because we are relying on the generic "feature track" hit test for the click.   I don't see a hit test on the actual arc anywhere,  which will be necessary to distinguish between overlapping arcs.   However first I will fix the main bug here,  it looks like merged track does not do any hit testing at all.

[2021-03-31 23:54] sereeena commented on #1300
Thank you, this build of igv fixes the track lining up issue, but it now seems to have a different bug with displaying my vcf data? It doesn't seem to be occurring in the public data you provided, it is in my vcf file, only occurring for some/most variants and there are no errors in the console.

See the following screenshot which is the same region as the screenshot in my original post. The sampl

[2021-04-01 00:41] #1239 closed

[2021-04-01 00:48] bw2 commented on #1239
thanks. I think the generic interval boundary test is good enough since there are 1 to a handful of arcs overlapping a region in most cases (especially after filtering using the other junction track options). Detecting down to the specific arc seems not worth the effort and extra compute cost.

[2021-04-01 01:01] jrobinso commented on #1300
Are there any errors in the javascript console?   Also, is it possible to share a small VCF that reproduces this issue?  If there is private data involved perhaps you can create a simulated VCF by, for example,  changing chromosome names.

[2021-04-01 02:52] sereeena commented on #1300
No there are no errors in the console. Here is the vcf, put it and the tbi in the files/ folder, and put the my-element.js file and the new igv.esm.min.js file in the root directory of the project and run as before, then try to click on the variant shown.

[modified.tar.gz](https://github.com/igvteam/igv.js/files/6240610/modified.tar.gz)

[2021-04-01 03:33] jrobinso commented on #1239
You tend to pickup a lot of "wig track" intervals if zoomed out, nothing we
can do about that.  To make the junctions appear first have the junction
track first in the merged track list.

On Wed, Mar 31, 2021 at 5:48 PM bw2 ***@***.***> wrote:

[2021-04-01 05:15] jrobinso commented on #1300
OK thanks for the data, this should be fixed now as well.   Try  ```https://igv.org/web/snapshot/dist/igv.esm.js```

[2021-04-01 05:42] dennishendriksen commented on #1301
Thanks for the quick response, I'll look into updating my model.

[2021-04-01 06:13] jrobinso commented on #1301
@dennishendriksen No problem.   If you have further questions post them here.    You will use [browser.loadSession](https://github.com/igvteam/igv.js/wiki/Browser-API-2.0#loadsessionurl) to load your session json.   This method can also take a dataURI if needed, which igv-reports produces, or you can just use plain text session json files.    If you are working in javascript instead of python look

[2021-04-01 06:29] sereeena commented on #1300
Confirmed, it's all working well. Thank you!

[2021-04-01 13:19] nlapalu opened #1302 "Reference genome from local file"
Hello,

Is it possible to load a ref genome with the reference object from a local file without getting a CORS exception of the browser ?
I would like to set up a browser in a html page to visualize results from an analysis without web server.
Thanks for your help.

nico

[2021-04-01 15:02] jrobinso commented on #1302
The only way to load local files is to use the "FileReader" object, which enables the user to select the file and returns an opaque "File" object.   CORS is not the issue,  javascript is not allowed to go fishing about your local file system.   igv.js accepts the "File" object in place of a URL, but it is up your containing application to present this to the user.   This is how igv-webapp works.

[2021-04-01 15:02] #1302 closed

[2021-04-01 15:27] #1300 closed

[2021-04-01 17:05] jrobinso commented on #1293
@valleema Were you able to determine why the CORS headers are getting stripped off the response?

[2021-04-01 17:07] jrobinso commented on #1217
I'm working on this now.   The request is a bit ambiguous as there are 2 types of objects displayed in a VCF track:  variants and genotypes (i.e. samples or calls).   SVTYPE is an info field for the variant, so I am working on that now.

[2021-04-01 19:28] jrobinso commented on #1217
Here's a very general way for a developer to set a custom color based on any info field using a color function.   I will work next on a  solution for end users through the track menu, but this is more difficult to handle in a general way since info fields can have many types.   Perhaps the menu will be restricted to "string" info fields.

Note support for this hasn't been released yet

[code]

[2021-04-01 22:29] athomson-archerdx opened #1303 "Variant genotype not iterable"
I'm getting the following error when trying to visualize a variant track that combines data from individual sources. Each of the three individual tracks will display just fine, but when loading the `combined.sorted.vcf` file, this is the console log:

[code]

I couldn't see anything relating to genotype that was different between the working tracks and combined, any thoughts?

[Combined VCFs.zip](

[2021-04-02 00:04] jrobinso commented on #1303
How were the VCFs combined?  You can't just concatenate VCFS, you need to use a tool to do that.

[2021-04-02 00:07] jrobinso commented on #1303
That's too many files for me to sort through.   A couple of things to check,  all vcfs will need to have the same number of genotypes, in the same order, and with the exact fields (again in the same order).   That's a minimum.   There are tools, I think, that will safely combined VCFs.    Also, there should be tools out there to validate a VCF.

[2021-04-02 05:00] athomson-archerdx commented on #1303
Thanks, I'll check with my team that does the combination to make sure that we're following those rules and get back to you if we have something more clear.

[2021-04-02 05:08] jrobinso commented on #1303
Look at section 1.6.2 here if you haven't before, its rather specific  https://samtools.github.io/hts-specs/VCFv4.3.pdf.     I will look at igv.js for possible bugs in the meantime.

[2021-04-02 06:05] #1303 closed

[2021-04-02 06:22] jrobinso commented on #1303
@athomson-archerdx Actually I think I see it, its an igv.js bug.  The error isn't from combining, its present in the "lofreq.ann.vcf".   This vcf has a genotype column, but no genotype field (GT).   This is the first such VCF I have seen, , but from the spec it looks like it should be allowed.   The spec just says GT must be the first field if present, but no fields are required.   I should have a

[2021-04-02 15:57] jrobinso commented on #1303
This should be fixed now in the master branch.

[2021-04-02 17:13] athomson-archerdx commented on #1303
Thanks! I appreciate the quick fix 😄

[2021-04-06 08:19] feifei9606 opened #1304 "Issue displaying cram track"
Hello~ I encountered the unconsistant diplay of the cram and the bam file recently. The position of **3-bp insertion** does not same. The cram file was converted from bam using samtools-1.10. The lastest igv.js and igv web app were tried. The bug describled below,

![image](https://user-images.githubusercontent.com/24381328/113678373-23fd0000-96f1-11eb-8fb4-80a993e7fb37.png)

but, the IGV desktop

[2021-04-06 09:06] yaarau opened #1305 "Genes track doesn't show specific genes"
Hi,
when using IGV javascript with refGene.sorted.txt.gz for the Genes track, we don't see specific genes in this track - e.g. POLG in locations 15:89,862,175-89,862,214 and HTRA2 in locations 2:74,757,174-74,757,212. While these genes are seen in the UCSC browser, they are not shown in the IGV jafascript page as well: https://igv.org/web/release/2.7.9/examples/functional-url.html.
We do manage to

[2021-04-06 16:24] jrobinso commented on #1305
I see that gene at the location specified (see screenshot) with https://igv.org/web/release/2.7.9/examples/functional-url.html..   Perhaps its scrolled out of view?  Try using the scrollbar or change the track height

<img width="1857" alt="Screen Shot 2021-04-06 at 9 22 14 AM" src="https://user-images.githubusercontent.com/933148/113744672-c39e9c00-96b9-11eb-9f37-169a3c7193cd.png">

[2021-04-06 16:27] jrobinso commented on #1304
Thanks for the report.   When you say "the latest" for igv.js and igv-webapp are you referring to the latest code in the master branch, or to the latest release?

[2021-04-06 17:03] #1304 closed

[2021-04-06 17:05] jrobinso commented on #1304
@feifei9606 Thanks for the report and the test data, this is fixed and will be released soon.

[2021-04-06 18:52] jrobinso commented on #1092
For anyone still following this issue the sample names implementation is more or less complete in master and will be released in the next few weeks.   When loading a track that includes a concept of "samples", such as VCF with genotypes or "seg" copy number,  a new button will appear in the navbar,  "Samples",  clicking it will open a panel on the right with rows labeled by sample name.   This is

[2021-04-06 20:21] amanpatel commented on #1092
Great news. I will check this out soon. Co-incidentally, I was working on the IGV integration in our app, and was glad to hear about this.

[2021-04-06 20:39] #1018 closed

[2021-04-06 20:42] jrobinso commented on #1057
@bw2 This has actually been in place for a long time, I had forgotten about it, but it is up to you to set the meta data for display in a "description" field for the track.    You can set anything you want in this field, and it can include html.   It can even be a function.    I will change the default behavior to include the full path,  if you provide a "description" it will override the default.

[2021-04-06 21:04] jrobinso commented on #1092
@amanpatel There are some developer options not documented yet.  I will do so here by example.  These are all optional and have defaults.

[code]

[2021-04-06 22:03] #921 closed

[2021-04-07 00:43] feifei9606 commented on #1304
Thanks for the quick fix~

[2021-04-07 04:19] feedlord18 opened #1306 "MUT file support not available from local file upload"

[2021-04-07 04:28] jrobinso commented on #1306
Please give a more complete description of the problem,  issues filed with no description will be closed.

[2021-04-07 04:34] feedlord18 commented on #1306
When I upload a MUT file from the menu, it says, "Unable to load track file test.mut - unknown file format"

[2021-04-07 05:10] jrobinso commented on #1306
@feedlord18 What is confusing here is igv.js does not have a load menu.  What menu are you referring too?

[2021-04-07 05:26] feedlord18 commented on #1306
oh wait, sorry about this. I was referring to the webapp. Posted issue in the wrong repo. :)

[2021-04-07 05:27] feedlord18 commented on #1306
I'll close this issue and post in igv-webapp

[2021-04-07 05:27] #1306 closed

[2021-04-07 05:37] jrobinso commented on #1306
@feedlord18 mut files are not supported yet in igv-webapp,  what led you to think they were?   In fact they are not released yet in igv.js.

[2021-04-07 08:09] yaarau commented on #1305
Hi,the screenshot you added shows the gene we manage to see. Please look at the ticket - examples for genes we don't see are POLG in location 15:89,862,175-89,862,214 and HTRA2 in location 2:74,757,174-74,757,212.
Can you please check these locations?
Thank you,Yaara
    On Tuesday, April 6, 2021, 07:24:35 PM GMT+3, Jim Robinson ***@***.***> wrote:

I see that gene at the location specified (see s

[2021-04-07 15:46] helgathorv commented on #1305
In  https://igv.org/web/release/2.7.9/examples/functional-url.html I do see POLG in location 15:89,862,175-89,862,214 and HTRA2 in location 2:74,757,174-74,757,212. But note the SCROLLBAR in the track -- you need to either scroll down or use the gear menu to make the track taller.

[2021-04-07 15:55] #1305 closed

[2021-04-08 05:05] jrobinso commented on #811
Finally we have an appropriate track type, "mut", which makes this easy.   I answered on the cBioPortal issue but will repeat here.  The basic idea is to query for features first, then supply these explicitly when configuring the igv.js track.

[code]

[2021-04-08 05:08] #811 closed

[2021-04-08 05:08] jrobinso commented on #1057
I added the file url to the default metadata, you get it when you click on the track label.

[2021-04-08 05:08] #1057 closed

[2021-04-08 05:09] #1293 closed

[2021-04-08 06:13] yaarau commented on #1305
OK, thank you.
Can you please tell me whether there's a way to show all the track, so that there's no need to scroll down in order to see the genes?

[2021-04-08 14:18] jrobinso commented on #1305
As a developer or an end user?

[2021-04-11 06:47] yaarau commented on #1305
as a developer

[2021-04-12 22:42] jrobinso commented on #1305
To control aspects of the annotation track you will need to use a "reference" object instead of just specifying the genome id with the "genome" property.   For hg19 you can use this for a start.   Then either set  a large initial height for the gene annotation, or use "COLLAPSED" for display mode.   See the documentation in the wiki or more details.

[code]

[2021-04-14 09:32] valleema commented on #1293
Thanks @jrobinso for pointing me to the right direction.

For people with the same issue, stumbling upon this : yes it was my institute proxy which was stripping CORS headers. Long exchanges with sysadmins led to correcting the zealous proxy. Works like a charm now.

[2021-04-16 04:25] RoadRoller opened #1314 "Unparsable bed record error while load indexed BED file track"
igv.js version is 2.7.4.

I added custom BED file track with following config:

[code]
Source and index files prepared in a standard way with bgzip and tabix utils.

For the most part of regions it works as expected, but for some regions I face with errors like "Unparsable bed record: chr2 208271304".

After some investigations I found out that when IGV request part of BED, response ends in the mi

[2021-04-23 03:37] #1275 closed

[2021-04-23 03:37] jrobinso commented on #1092
This is released now with 2.8.0

[2021-04-23 03:37] #1092 closed

[2021-04-23 03:37] jrobinso commented on #1217
This is released now with 2.8.0

[2021-04-23 03:37] #1217 closed

[2021-04-23 10:35] northwestwitch commented on #1314
What version of IGV.js are you using? Our software has a [similar problem](https://github.com/Clinical-Genomics/scout/issues/2565). We are using version 2.7.5

[2021-04-23 11:08] northwestwitch commented on #1314
Tested version 2.8 now and we still see the problem. Our issue arises in genes track, when you look for a specific gene (FLT3). This is the gene track we use: https://s3.amazonaws.com/igv.broadinstitute.org/annotations/hg19/genes/refGene.hg19.bed.gz

[2021-04-23 16:01] #1314 closed

[2021-04-23 16:02] #1301 closed

[2021-04-23 16:02] #1277 closed

[2021-04-23 16:33] jrobinso commented on #1314
This is fixed now and released in 2.8.1

[2021-04-26 21:58] athomson-archerdx opened #1319 "Add "copy sequence" popup menu item."
When viewing the details of an annotation feature, it would be handy if the popup included the length and full sequence associated with that feature for easy copy+pasting.  Thoughts?

[2021-04-26 22:58] jrobinso commented on #1319
That's too much information, could be many megabases.  Some features span a chromosome.

[2021-04-26 23:00] jrobinso commented on #1319
Perhaps a "copy sequence" popup menu item as IGV desktop has,  this is active if the feature is < some maximum length.    I will rename this issue to that effect if its o.k. with you.

[2021-04-26 23:01] athomson-archerdx commented on #1319
That should work for me, thanks :+1:

[2021-04-27 02:18] sehilyi opened #1320 "Mutation example is broken in README.md"
It looks the following link in the README.md is broken, which results in the 404 error.

***[Mutation Annotation Format (MAF)](https://igv.org/web/release/2.8.1/examples/mmaf-tcga.html)***

[2021-04-27 04:45] #1320 closed

[2021-04-30 19:44] sannagudmundsson opened #1322 "Jumping frames and some Feature requests"
Hi, I am a postdoc at Broad working with gnomAD data. Thank you for a fantastic tool that I have been using for years. Nowadays I mostly use IGV for variant curation on the gnomAD browser (interactive IGV.js visualization).

Here are some suggestions/feature requests in case it is of interest to improve your great resource!

Error (I think)
- When extending to see "three-frame translation" and zoo

[2021-05-04 16:02] sridnona commented on #1286
Would be great to add this feature. Thanks..

[2021-05-05 13:21] scalavision opened #1323 "read count from cram popup is sometimes wrong"
Sometimes the read count is a few counts off for cram files. It is shown in the image below, which is from HG002 sample in opened in https://allel.es/, updated with the newest version of igv, 2.8.1. It usually diverges between 1 and 5-6 counts, and it seems to consistently be increased. It might have improved a bit from 2.7.9 which we used when we first encountered this, but this is not confirmed

[2021-05-11 13:24] bioinfo-chru-strasbourg opened #1324 "IGV-Web and CRAM encoded with samtools "no_ref" option"
Dear all,

I'm trying to deploy IGV-Web on a docker service. It mainly works, but I've some problem with CRAM decoding, especially with CRAM files encoded with "no_ref" option (infinite loading... no crash...). It works with a default encoded CRAM (version=3.0,level=5).

I see that it works on online IGV-Web app (https://igv.org/app/), and I suppose due to a specific configuration, i.e. mount of d

[2021-05-11 15:19] smalesys opened #1325 "btoa package breaks upgrade from 2.7.9 to 2.8 in webpack"
Hello,

I have an issue with the upgrade from 2.7.9 to 2.8 and webpack 4. Upgrading to 2.8 or higher make breaks the build with the error:
[code]
When comparing the build of the 2.7.9 and 2.8.1 versions, it seems that there were some changes made in the code concerning the btoa package, but i can't figure the exact origin, nor if i can fix it by changing my webpack config.

Thanks in advance for y

[2021-05-11 16:20] IvanOdd opened #1326 "Updates for the documentation"
Hello,

I open this issue just to pinpoint some possible updates for the wiki:

- The referenceFrame object returned by the "locuschange" event contains 4 properties (chr, start, end, label) but in the [wiki page](https://github.com/igvteam/igv.js/wiki/Events#example) the label is shown as being the second parameter returned by the event.
-  When [looking at the code of the WIG tracks](https://git

[2021-05-11 23:25] #1325 closed

[2021-05-11 23:31] jrobinso commented on #1325
We don't use webpack but I did find an inadvertent run-time dependency on btoa in the "igv-utils" package.  It is only used for unit tests, which are run in node, and should not be needed for the browser runtime.   I have removed it and pushed the fix as release 2.8.2.   Again we don't use webpack so I couldn't verify it but it should fix the problem.

[2021-05-12 11:17] smalesys commented on #1325
Thank you for the update, i think [this change](https://github.com/igvteam/igv-utils/compare/v1.2.6...v1.2.7#diff-67a66d59ceb6ebd18c59e4d7db242fe21a16b2ec391851d5398e245401e5f9f1) indeed partially fix the issue, since the problem is with the import of the btoa package.

There is still an error, this time with igv-ui i think. To be as accurate i can, when i look in the igv.js build of my node modul

[2021-05-12 15:59] rsmeral opened #1328 "Numeric tags in BAM files interpreted incorrectly"
I have a BAM file with a read with this tag (as shown by `samtools view`): `AS:i:-8` (alignment score, 32-bit signed int, value = -8).

However, when I view the same read in IGV.js, it shows **AS: 248**.
I think the issue is in how IGV interprets data types of tags in BAM files.

In the BAM file, this number is represented as the `c` type (8-bit signed int), since _"...while all single (i.e., non-

[2021-05-12 16:47] jrobinso commented on #1325
Ah yes, igv-ui uses igv-utils.   Sorry I missed that one.   Webpack must be very aggressive about finding "require".

[2021-05-12 20:50] jrobinso commented on #1325
@smalesys OK let's try again, 2.8.3

[2021-05-12 20:59] skycolloredo commented on #651
Hi Jim,
Sorry if I am missing something obvious here but is there a setting you need to enable to see the letters? I am only seeing colors no matter how far in I zoom on my alignment track.
Thanks!
Sky

[2021-05-12 21:29] jrobinso commented on #651
@skycolloredo That's not normal.  Your screenshot is not zoomed in as far as the desktop version, there is ~ 1/2 the width per pixel.  See this link, which is igv.js. https://tinyurl.com/ygvvawso

[2021-05-12 21:29] jrobinso commented on #651
To answer your question, there are no settings, but igv.js and desktop behave the same.  You just aren't zoomed in far enough on your screenshot to display letters.

[2021-05-13 18:15] skycolloredo commented on #651
Hi Jim,
Thanks for your response. And good to know. I actually did not attach a screen shot in my above post but have attached one here. I am zoomed all the way in but experiencing different behavior than the link you sent (which shows letter at max zoom).
<img width="1174" alt="Screen Shot 2021-05-13 at 2 11 22 PM" src="https://user-images.githubusercontent.com/45737265/118168279-add97080-b3f5-11

[2021-05-13 18:24] helgathorv commented on #651
@skycolloredo Looks like you are displaying the alignments in squished mode and they are not tall enough to accommodated the letters in that mode. Click on the track's gear icon and select "expand" for the Display mode.

[2021-05-13 19:29] skycolloredo commented on #651
Ah yes, that was the issue. I was defining a default track height which was preventing the the alignments from expanding. Thanks!

[2021-05-13 21:12] smalesys commented on #1325
Build complete, and everything seems to be working fine.

Thank you very much !

[2021-05-14 16:09] namratasp20 opened #1329 "fastaURL"
1) fastaURL accepts url only and not local files.
Thus, I wanted to understand if google drive/one drive link to fasta files can be used? If yes, how should it be configured?
(I tried making folder containing sequences as public and using the same link, which didn't yield results)

2) Currently if I provide ncbi ftp url, it is not working to display genome browser. I wanted to understand if the pr

[2021-05-14 17:10] jrobinso commented on #1329
ftp protocol is not supported, only http and https.   Also, fastaURL will accept a local File blob object, but cannot of course accept a local file path as this is javascropt.

[2021-05-14 17:11] jrobinso commented on #1329
Also, gzipped fastas are not supported.

[2021-05-14 18:01] namratasp20 commented on #1329
Thanks for the response

Could you provide some more information regarding local File blob object, how to use it in place of fastaURL or any related helpful link? I haven't come across or used this concept before.

[2021-05-14 19:09] jrobinso commented on #1329
The File object is standard javascript,  there is lots of information.  Try a web search.   Ditto for your ftp question, mixed protocols are not allowed in javascript, as the page is loaded by http/https those are the only protocols you can use to load data.

[2021-05-14 19:09] #1329 closed

[2021-05-17 19:39] skycolloredo commented on #922
This would be great!

[2021-05-17 19:47] jrobinso commented on #922
When implementing this for IGV desktop I discovered there is no standard for exon number,  your exon number 3 might be someone else's exon number 4,  but I can investigate what we did and do the same.   It is our interpretation of exon number however, whatever we implement,  that is where my hesitancy comes from.

[2021-05-17 19:56] jrobinso commented on #1324
There is no special configuration that I am aware of.  When you say it works at igv.org/app, what do you mean?   Do you have a URL to a no-ref CRAM that works at igv.org/app but does not work in your container?

The CRAM reader comes from the JBrowse project, @cmdcolin might have some insight.

[2021-05-17 19:57] skycolloredo commented on #922
Yes this makes complete sense. I would be interested in knowing how the determination is made in the desktop version.

[2021-05-17 20:01] jrobinso commented on #922
It looks like it just counts from the 5' end, starting at 1.    This includes any UTRs before the first coding section.   The count is per transcript.   So the same exon on different isoforms of a gene can have different exon numbers.

[2021-05-17 21:01] skycolloredo commented on #922
Ah yeah, that makes sense. Do you have plans to bring that over to the javascript implementation? Or too imprecise?

[2021-05-17 22:27] skycolloredo commented on #1322
Looking back through past issues, it appears adding a peptide translation of the reference gene is something that has been brought up before. I am sure that you have looked into this before when those issues were raised, but for what it is worth, I would also be very interested in that feature if it is feasible?

[2021-05-17 22:50] jrobinso commented on #922
@skycolloredo It would be nice. The basic issue is there are 44 open issues here and slightly more in IGV desktop.   I can't do them all so they get prioritized, and this hasn't landed at the top yet.

[2021-05-18 00:11] skycolloredo commented on #922
@jrobinso Yes completely understand, this is a huge amount of work and all tremendously valuable. Thank you for all that you do and your team do!

[2021-05-18 08:58] namratasp20 opened #1330 "Adding images and hyperlinks within genome browser"
I want add hyperlinks for specific regions of interest
Currently, using roi.html as reference, my regions of interest within genome are getting highlighted

1) Is it possible to add an image or a certain symbol at these locations instead of regular view?
2) Is it possible to convert the highlighted roi as hyperlinks ?

Any guidance on how the above is achievable will be really helpful

[2021-05-20 09:05] namratasp20 commented on #1330
Thanks for the response.
With help of reference example, I was able to simulate a hyperlink

Just wanted to clarify, as u said we cannot substitute our own image, is it possible to draw any shape using html or js features above or on the track ?

[2021-05-20 15:14] jrobinso commented on #1330
@namratasp20 For that you would need to use javascript, and its not something that anyone has tried as far as I know.  Look at js/feature/featureTrack.js,  in particular the "renderFeature" function starting at line 496.  You can supply your own "render" function to replace this one with the ```render``` configuration parameter (see line 186).   The function is a bit long and complex as you can se

[2021-05-20 18:14] paul-shannon opened #1332 "svg of +/- bedgraph lacks the zero line (chrom, safari, firefox)"
Just upgraded to igv 2.8.2, running with igvR 1.13.1.

toSVG() returns a mostly faithful rendition of these data, but with the left-side vertical scale partly obscured.
[code]
The svg file, when examined in a browser, does a good job with the vertical scale, but the zero line is missing.
igv.js via igvR in Chrome:
![Screen Shot 2021-05-20 at 11 08 59 AM](https://user-images.githubusercontent.com/2

[2021-05-20 18:30] paul-shannon opened #1333 "minor feature request: programmatic hide/show track labels"
Dear igv team,

I could not find this in the api - forgive me if I missed it.

An igvR user asked for programmatic control, similar to that offered for the "Save SVG" button, for hiding and showing track labels.   If this makes sense to you, perhaps this low-key request could go on your to-do list?

 - Pa ul

[2021-05-20 18:48] paul-shannon opened #1334 "currentLoci() slightly off"
Maybe of interest?

[code]
"chr1:153,588,447-153,707,037"

The current locus readout has the expected value:  ```chr1:153,588,447-153,707,067```

[2021-05-21 18:36] turner commented on #1333
Paul,
If you want a button to show/hide at `showTrackLabelButton = true` to the browser config.
If you want programmatic controls use the API: `browser.hideTrackLabels()` and `browser.showTrackLabels()`.

[2021-05-24 18:35] paul-shannon commented on #1333
My bad.  I overlooked browser.[hide|show]TrackLabels.

Thanks.

[2021-05-24 18:35] #1333 closed

[2021-05-26 13:09] northwestwitch opened #1336 "Question: how to jump to another gene (locus) from splice junctions track"
Hello!

We have recently introduced a splice junctions view in our software is it's working fine, at least as long as one doesn't want to change locus and go to another gene. I suspect the fix is quite easy but so far I haven't found it.

Behavior: if I am on a gene, for instance "POT1" , it works fine:

![image](https://user-images.githubusercontent.com/28093618/119664718-e7699d00-be33-11eb-93cf-

[2021-05-26 22:12] jrobinso commented on #1336
Hi, this should be fixed now.  The problem was our search service was not recognizing "GRCh38" as a synonym for "hg38".  It was not related so splice junction tracks.

[2021-05-26 22:12] #1336 closed

[2021-05-27 05:33] northwestwitch commented on #1336
Thanks, it works perfectly!

[2021-06-01 02:58] yingfeikeji opened #1337 "arriba"
hi:
  How to use Arriba data to render IGV?
  Thanks you!

[2021-06-01 03:10] jrobinso commented on #1337
What is "Arriba" data?

[2021-06-01 03:11] yingfeikeji commented on #1337
https://github.com/suhrig/arriba

[2021-06-01 03:24] yingfeikeji commented on #1337
This is the result file from Arriba
[http://www.lpf929.com/wp-content/uploads/2021/06/fusions.pdf](url)

[2021-06-01 03:27] yingfeikeji commented on #1337
This PDF is produced by Arriba's R script. Can it be converted to JSON and then used for IGV?

[2021-06-01 04:00] jrobinso commented on #1337
The short answer is no.  You can possibly write scripts to convert the tsv output to bedpe, which can be loaded into IGV, but I don't know what you would accomplish in doing that.  BTW you are posting to the igv.js javascript component forum, not IGV.

[2021-06-01 04:00] #1337 closed

[2021-06-01 07:15] brentp opened #1338 "sessions with cytobandURL data uri"
Hi, thanks again for this great software.

 I am trying to write my own serializer, similar to igv-reports. I have bam, vcf, bed, etc working, but the cytoband is not working. If I copy the base64+gzip encoded data from an igv-reports file, then it works, but if I use another, it does not; there is no error but the bands do not render. I'm not sure how to debug.

Here is the relevant part from the

[2021-06-01 07:26] jrobinso commented on #1338
I would suggest setting a breakpoint in the function loadCytobands of genome.js and see what is going on from there.    Make a copy of one of the "dev" htmls and use your decoded session for the "config".

[2021-06-01 12:29] aksenia opened #1339 "Pin a selected annotation track on top of the window"
Hello,
It would be great if it was possible to pin a selected annotation track (for example, variants in a sample, a vcf/bed) on top/bottom of the annotation view. The selected annotation track would essentially receive its own window, unaffected by scrolling of the rest of annotation, as shown on the screenshot for bigWig window, which is "pinned" with respect to the annotations (A - original vie

[2021-06-01 16:51] jrobinso commented on #1339
@aksenia Yes agreed, challenging though as its the browser that is controlling scrolling.   Technically all of our tracks are pinned relative to the document.   Ideas on how to do this are welcome,  probably though configuration rather than end user actions.

[2021-06-02 06:54] brentp commented on #1338
ok. thanks for the reply. I plan to have a look at this when I get other critical parts sorted.

[2021-06-03 07:01] dnil opened #1340 "Allow fallback for fetching genomes.json e.g. if igv.org is unreachable"
Hi, I'm fairly sure it has not gone unnoticed, but just to get updates: the certificate on igv.org expired tonight, which is causing some issues downstream with automation (and possible concern for users visiting).

[code]

[2021-06-03 07:05] RoadRoller opened #1341 "Problem with SSL certificate for igv.org"
IGV not opened because of SSL ERR_CERT_COMMON_NAME_INVALID error when IGV try to load genomes.json file, URL: https://igv.org/genomes/genomes.json?randomSeed=0.j6g294ghhi&version=2.8.1

[2021-06-03 07:10] RoadRoller commented on #1340
It's not certificate expiration, the error is ERR_CERT_COMMON_NAME_INVALID.

[2021-06-03 07:10] RoadRoller commented on #1341
Close as duplicate of https://github.com/igvteam/igv.js/issues/1340

[2021-06-03 07:10] #1341 closed

[2021-06-03 08:02] dnil commented on #1340
Right, the new certificate from tonight appears to be for data.igv.org. It may be very obvious, but a workaround for your users can be to point their browsers to https://igv.org and accept the situation for now.
We use the https://cdn.jsdelivr.net/ to mirror the code, but the app seems to request a few files from igv.org during runtime. Perhaps it would be a good idea to allow them to be mirrored

[2021-06-03 08:14] dnil commented on #1340
One might e.g. change
https://github.com/igvteam/igv.js/blob/8dbe2cb7992e964de8436882604c49e2a4e5ee76/js/genome/genome.js#L66
to directly retrieve https://s3.amazonaws.com/igv.org.genomes/genomes.json or even a local version as a fallback if there are exceptions on that request.

[2021-06-03 09:00] dnil opened #1342 "Gene symbol placement"
Since v2.8.1, gene symbol placement appears to have some issues. Something with the calculation of center position placement has changed from previous versions and desktop version behaviour. Gene symbols (the name labels) are no longer centered on the gene in the view after load. On large zoom levels, with multiple genes in sight, it is possible to see them, and with detailed zooms and avid scroll

[2021-06-03 10:42] brentp commented on #1338
For what it's worth, the example from igv-reports show this for the first variant. All other variants render the ideogram correctly, but not the first variant it's almost like the ideogram is zoomed in, only showing a part of the chromosome.

here's the command I ran to see it (directly from igv-reports README):
[code]

[2021-06-03 11:18] helios commented on #1340
There is also something I do not understand: I am using igv-webapp and in my setup igv-webapp loads first my custom reference `genomes.json` AND then there is second call to the outside pointing to https://igv.org/genomes/genomes.json. Why do you need this second call ? Shouldn't the first be enough ?

[2021-06-03 14:33] jrobinso commented on #1340
The certificate issue has been fixed.  @helios Yes there is some duplication, its on my list to fix.   The first call is from the webapp, the second call from igv.js.

[2021-06-03 15:05] jrobinso commented on #1342
Thanks for the report.  Looking at the log there are some commits that might be implicated, but they would also have affected v2.8.0.     I can reproduce it, will investigate.

[2021-06-04 02:08] #1342 closed

[2021-06-04 02:50] jrobinso commented on #1342
This should be fixed and released as 2.8.5.

[2021-06-04 06:20] dnil commented on #1342
Thank you kindly! Confirm solved with v2.8.5 on my end!

[2021-06-04 07:49] helios commented on #1340
@jrobinso at the moment I fixed it replacing the remote call with a reference to a local resource. This, within my deployment stack to have minimum impact of the overall code base and build system (starting from your source).

[2021-06-04 16:04] jrobinso commented on #1340
@helios Looking at the code I think this is configurable without code changes. by (1) setting ```loadDefaultGenomes: false``` and (2) ```genomeList: urlToYourJson```,  or ```genomes: {genomeJson}```

[2021-06-08 20:18] turner commented on #852
I took another look at the igv desktop ruler tick algorithm and tried to replicated in igvjs. I think this is pretty close

Example 0
![igv-git-852-example-0](https://user-images.githubusercontent.com/87169/121251705-2a386580-c875-11eb-87fd-a21cc7b6d6eb.png)

Example 1
![igv-git-852-example-1](https://user-images.githubusercontent.com/87169/121251725-30c6dd00-c875-11eb-8bba-36f4bb575dd9.png)

[2021-06-08 22:12] blajoie opened #1343 "Expose coverage 'qualityweight' option to user"
IGV desktop allows the user to chose whether or not to weight the coverage by quality.
--
Coverage allele-fraction threshold: Sets the mismatch threshold at which bases on an alignment coverage track are colored. The default is 0.2, i.e., if a nucleotide differs from the reference sequence in greater than 20% of reads, IGV colors the bar in the coverage bar chart in proportion to the read count of

[2021-06-09 08:53] victorskl opened #1344 "Setting OAuth token globally is broken?"
I'm setting OAuth token globally like this as described [in Wiki entry](https://github.com/igvteam/igv.js/wiki/OAuth-Support#setting-the-token-globally).
[code]

It seems `oauth.js` is refactored into `igv-utils`. [Version 2.7.4](https://github.com/igvteam/igv.js/blob/v2.7.4/js/index.js#L23) is the last release to able to set OAuth token globally this way.

Will it be possible to reinstate this fe

[2021-06-09 11:28] victorskl commented on #1344
Just to further note, [fallback to use oauthToken for track config](https://github.com/umccr/data-portal-client/pull/65) didn't work for `htsgetReader` as track oauthToken [`this.config`](https://github.com/igvteam/igv.js/blob/master/js/bam/htsgetReader.js#L66) at this line does not propagate to [subsequence htsget data fetch calls](https://github.com/igvteam/igv.js/blob/master/js/bam/htsgetReader

[2021-06-09 15:47] jrobinso commented on #1344
@victorskl Both of the issues you mention here would be bugs,  I will look into it.

[2021-06-09 16:53] jrobinso commented on #1344
I have exposed the "oauth" object so. igv.oauth.setToken(accessToken, "*htsget*") should now work.  This will be kept for backward compatibility for some time, however I also added a new function that does not expose that object that should be used going forward

[code]

[2021-06-09 17:23] jrobinso commented on #1187
@brainstorm Sorry maybe I wasn't clear.  Are there any public endpoints I can use?   I don't see how the json you reference addresses the question but maybe I'm missing something.   I'm not interested in running a server myself.

[2021-06-10 04:29] brainstorm commented on #1187
Far point plus it seems like [the documentation link on that JSON result is 404'ing] (/cc @jb-adams), which makes understanding how those endpoints work unnecessarily cumbersome (a clear/simple example that can be accessed easily from the service-info endpoint would help a ton to casual developers).

That being said, here you have an example of use while the service-info documentation for this pub

[2021-06-10 04:42] cangfengzhe opened #1345 "Click on the reads to mark color( IGV desktop support)"
igv.js is a awesome tools.

We want to distinguish reads with variation by color  just like the IGV desktop.
Now I can get the reads information by `browser.on('trackclick', function (track, popoverData)`, but cannot set the reads color.
Could you please add the function to igv.js, or develop more API.

[2021-06-10 04:51] jrobinso commented on #1187
@brainstorm  That's helpful but I don't know how you can derive that from the info json.

As far as I know there are only 2 services described in the API,  reads and variant (http://samtools.github.io/hts-specs/htsget.html)..  If the endpoint you list above follows the recommended pattern I suppose the "id" of the data is  ```1000genomes.phase1.chrY```.

What I'm really looking for now is a "reads

[2021-06-10 04:53] jrobinso commented on #1345
I don't understand what you mean "distringuish reads with variation by color".   There isn't any option like that in IGV desktop.  If you mean the "colorBy" options they are available in igv.js from the track menu (the "gear" menu).   If a particular color by option is missing that you need please note it here, but most of them are available.

[2021-06-10 05:25] cangfengzhe commented on #1345
In the IGV desktop, ctrl + click can mark reads with color.

[2021-06-10 05:28] brainstorm commented on #1187
Yeah, the reads endpoint as you were getting at follows pretty much the same logic with regexps, i.e, check this one:

https://htsget.ga4gh.org/reads/giab.NA12878.NIST7086.1

[2021-06-10 05:41] jrobinso commented on #1345
Ahh.  It might be some time before I get to that.

[2021-06-10 05:44] jrobinso commented on #1187
OK that worked, finally something to test against.  Its been more than 3 years since that was implemented and there isn't much evidence of it being used, but its nice to get a minimal test for reads working again.

[2021-06-10 09:11] victorskl commented on #1344
Thanks Jim for the fixes, will try again once it get release and report.

_**re: htsget public endpoint**_

Yep, please ditto to @brainstorm pointer in #1187

Plus my notes as follows:
- ReDoc (include explain test dataset) is avail at:  https://htsget.ga4gh.org/docs/
- Depends on test setup, may encounter CORS:  https://github.com/ga4gh/htsget-refserver/issues/23
- Unfortunately, our endpoints ar

[2021-06-10 12:08] jb-adams commented on #1187
The documentation page is now being hosted on the same server as the htsget service itself. Please try this new documentation link: https://htsget.ga4gh.org/docs/index.html

The page gives a breakdown of "Reads Datasets" and "Variants Datasets" and some of the ids the reference server supports.

Please let me know if this documentation is sufficient to construct test queries, or if more info is ne

[2021-06-10 12:21] brainstorm commented on #1187
Jeremy, the service info documentation is still 404'ing:

<img width="679" alt="Screen Shot 2021-06-10 at 10 20 27 pm" src="https://user-images.githubusercontent.com/175587/121523924-19851c80-ca3a-11eb-94b7-350c1d15bf52.png">

Would you mind redeploying the official GA4GH public htsget server accordingly to the new docs to avoid confusion?

[2021-06-11 05:44] #1338 closed

[2021-06-11 05:48] jrobinso commented on #1338
I tracked this down, the bug was not in igv-reports but igv.js.  To scale the cytoband the bp length of the chromosome was used, which in turn was computed from the sequence length.  The report generated fastas contain only a slice of the sequence, and the bp length of the chromosome was == start postition + sequence length.    Variants at the beginning of the chromosome looked worse, but they wer

[2021-06-11 06:15] brentp commented on #1338
great! thanks for the fix, and the software!

[2021-06-11 10:59] rsmeral commented on #1328
Hi @jrobinso – is there any timeline for the 2.8.4 release?
Not trying to rush you – just curious, so that we can plan around it in my product.

Have you started work on this yet? I think I could make a PR if not.

[2021-06-11 11:09] Hamza-Yousuf commented on #756
i solved this issue by this browser.resize();

[2021-06-11 12:20] jb-adams commented on #1187
@brainstorm good catch :) I will try to redeploy the server today

[2021-06-11 16:49] jrobinso commented on #1328
@rsmeral Apologies, 2.8.4 was released but this is still open.  If you can make a PR that would be helpful, otherwise I will get to it ASAP.

[2021-06-11 19:37] jrobinso commented on #1328
The htsjdk does this
[code]

[2021-06-11 20:55] #1328 closed

[2021-06-11 21:20] rsmeral commented on #1328
@jrobinso Thanks for the quick fix!

[2021-06-11 21:45] jrobinso commented on #1328
@rsmeral Have you tested it?  I don't have any bams with "C" tags so I had to simulate it.

[2021-06-12 05:09] jrobinso commented on #1187
@brainstorm @jb-adams Thanks for the pointers to test data and variant spec.  I'm looking at the variant service now.   Right away I notice it has the same, in my opinion, fundamental problem as the reads service.  I raised this years ago, before it was even part of GA4GH.  It was going to be discussed but I never learned of the results if any.   The basic problem is there is no way to discover wh

[2021-06-12 05:23] jrobinso commented on #1187
@jb-adams The request would be to provide a service that returns all reference names in a dataset (reads or variants).  This should be trivial to implement, if backed by files the information is in the indexes (or sequence dictionary if a bam file).

[2021-06-12 06:15] jrobinso commented on #1187
@jb-adams. Where is the official doc?  The 1.4.1 page you reference above does not seem to describe a "ticket".   Coming in through the GA4GH home page I get a pointer to ```https://samtools.github.io/hts-specs/htsget.html``` which does describe a "ticket".

I'm finding strange behavior with the reference variant service and don't know if its a misunderstanding on my part of the spec, a bug in the

[2021-06-12 06:51] jrobinso commented on #1187
@jb-adams final info for this evening,  this is what I'm trying to get working

[code]

Just can't get there.  Following the URLs from the ticket gets me a portion of the VCF file containing that region, with random bits before and after, but no VCF header.   Its almost like its just a raw tabix query.    The "class=header" directive doesn't seem to do anything.

[2021-06-12 06:57] jrobinso commented on #1344
@victorskl I've been trying to add support for variants, but not getting very far.  You can see my progress or lack thereof  at https://github.com/igvteam/igv.js/issues/1187 (scroll to bottom) .    It feels like I'm an early adopter here. However, in doing that I noticed a bug in the "fix" I pushed from per track oAuth.   I don't think it will work, the headers from the htsget "ticket" will probab

[2021-06-12 07:31] victorskl commented on #1344
Yes Jim, you are absolutely right about that. I also realise that after I made [my remark](https://github.com/igvteam/igv.js/issues/1344#issuecomment-857616086). It looks like it is server responsibility to provide how to access the (data block) URLs i.e. pass along OAuth token for client to include as auth Bearer header... TBH, this is a bit awkward in Htsget spec for typical SPA / app xhr reques

[2021-06-12 07:53] victorskl commented on #1187
@jrobinso, please see if this help.

`referenceName=1`  is equal to `bcftool view --region xx` flag, behind the scene, IIRC.

- Get by ID
[code]

- Get ticket for Region 1. Response contains header block and body block for client to fetch.
[code]

- Fetch header
[code]

- Check header size
[code]

- Fetch body
[code]

- Check body size
[code]

- Assemble the blocks
[code]

- Check/view them
[code]

[2021-06-12 11:09] brainstorm commented on #1187
It depends, for the htsget spec itself, I've just opened https://github.com/samtools/hts-specs/issues/578 for your remarks and good points about refName discoverability for clients.

For things that pertain to the particular reference implementation of htsget, I'd head to:

https://github.com/ga4gh/htsget-refserver

I agree with you that htsget should allow some sort of basic discovery/enumeration

[2021-06-12 13:00] jmarshall commented on #1187
@jrobinso wrote:

[…]

As you've realised in this second comment, `…?class=header` requests are htsget's mechanism for referenceName discovery (as was advocated for by @jrobinso in https://github.com/samtools/hts-specs/pull/311#issuecomment-389029404 :smile:).

If `class=header` isn't causing the returned ticket to represent just a VCF header, that would appear to be an issue in the server impleme

[2021-06-12 14:54] jrobinso commented on #1187
@jmarshall thanks for the response, and for the "class=header" implementation.  Yes I did request that, and its an indirect way to get reference names for alignments, which works perfectly for me.   However the reference names are not in a VCF header, at least they aren't required to be.

[2021-06-12 15:42] jrobinso commented on #1187
@victorskl Thanks, yes that is helpful.   I will give this another try next week.

[2021-06-12 15:54] jrobinso commented on #1187
@brainstorm re "rabbit holes", a call with a referenceName that isn't in the dataset is an actual error, if its an error the legal names should be discoverable.   I've long had a workaround in place obviously, and there is a solution now for BAM/CRAM with the header option, so I'll let this one die.

[2021-06-12 16:07] victorskl commented on #1187
For header only, I tried this way and it works for me, too.

- Get ticket for header only
[code]

- Fetch header

[code]

- Check header file size

[code]

- Check headers

[code]

Yep; I reckon, this is due to this underlay dataset itself?

[code]

---

Would you mind try `giab.NA12878` dataset?

- Get ticket (header only)
[code]

- Fetch header
[code]

- Check file size
[code]

- View headers
[c

[2021-06-12 19:23] jrobinso commented on #1344
@victorskl So if I understand you correctly, if the server returns an "authorization bearer" header with the urls this should override any token set initially in the track config?   In that case the code as published in the last release should work as is.   I will try to set up some simulated mode to test this.   In any event respond here if there are further problems.

[2021-06-12 23:59] victorskl commented on #1344
Yes, Jim.

Client have to use all headers hinted by Server for fetching data; that includes authorization bearer token. Though, I reckon this flow is rarely the case. In that sense, at track config, Client has to use (override if any) this auth bearer header.

[2021-06-13 16:46] rsmeral commented on #1328
@jrobinso Yeah, just tested on a BAM file with a `c` (signed):
* in 2.7.3 – `AS: 239`
* in 2.8.6 – `AS: -17`

Thanks 👍

[2021-06-14 17:32] jrobinso commented on #1187
I have this working via node unit tests, however its not working in the browser because there doesn't seem to be CORS headers on the responses, at least for this URL. @jb-adams I will raise on issue on the test server repo

[code]

[2021-06-14 18:12] jrobinso commented on #1187
Variant support has been added.   The configuration below should work once CORS is implemented on the reference server.

[code]

[2021-06-15 00:51] brainstorm commented on #1187
@jb-adams Time to review and merge https://github.com/ga4gh/htsget-refserver/pull/24 ? :)

[2021-06-15 03:27] jrobinso commented on #1187
@victorskl @brainstorm I'm not sure I'm happy with the form of the config above,  I'm mulling over changing it to a single URL string, rather than a url + ID, this would be more consistent with other URL based sources.   I would of course try to figure out how to do it in a backward compatible way, but with almost no servers extant I think @victorskl might be the only actual user of htsget through

[2021-06-15 10:05] victorskl commented on #1187
Just reminder, currently is `endpoint` and `id` according to the [Wiki entry](https://github.com/igvteam/igv.js/wiki/htsget).

I think, this is ok. I would say, it will become a complete `url` config instead of `endpoint` and `id` split. Track config is typically dynamic loading track in most app, I reckon. At least, this is the case in our [data portal client](https://github.com/umccr/data-portal

[2021-06-15 11:47] victorskl commented on #1344
It is working! Happy to close this. Thanks again Jim.

Cheers!

[2021-06-15 18:40] jrobinso commented on #1187
I will support the following options going forward,  not backward compatible but we're allowed to break it once.

[code]

[code]

[2021-06-15 20:06] jb-adams commented on #1187
| @jb-adams Time to review and merge ga4gh/htsget-refserver#24 ? :)

I merged this into `develop`, but I am not seeing any CORS headers in the response when I run the server under default settings.

e.g. a `GET` request to `http://localhost:3000/reads/service-info` does not respond with a header of `Access-Control-Allow-Origin: http://localhost`

Is this something I need to configure on my end? I

[2021-06-15 20:19] jb-adams commented on #1187
Yes, any issues with the reference server can be raised here -> https://github.com/ga4gh/htsget-refserver/issues.

If it's an issue with the htsget spec itself (such as no way to discover referenceNames), then that issue is best raised on the hts-specs repo (where the htsget spec is housed) -> https://github.com/samtools/hts-specs/issues

The reference server aims to stay closely aligned with the

[2021-06-15 20:27] jb-adams commented on #1187
@jmarshall @jrobinso I'm not quite seeing why the `?class=header` parameter request is said to be broken.
[code]

If I construct a request in Postman using the provided URL and apply all 3 `HtsgetXYZ` HTTP headers, I receive the VCF header for the underlying object:

![image](https://user-images.githubusercontent.com/16997902/122118824-7f84f180-cdf6-11eb-9ece-a10a3353dadc.png)

[2021-06-15 20:47] jrobinso commented on #1187
@jb-adams I think that was user error on my part,  @jmarshall might have found a different issue.   I had 2 expectations that were false,  (1) I expected to receive the header, not a "ticket" for the header,  (2) I expected to receive the header as text, not as bgz compressed data.   Its now working fine with my newly calibrated expectations,  well with the exception of the CORS issue raised elsew

[2021-06-15 20:57] jrobinso commented on #1187
@jb-adams RE the different urls for whole file vs range, a word of caution.   Many organizations strip range headers from outgoing client requests,  if the entire file is requested a url for the entire file (rather than multiple parts with range requests) will have a higher chance of success.   We actually run a service for IGV desktop to work around this, its so common, and the service still gets

[2021-06-15 20:57] #1344 closed

[2021-06-15 22:11] jmarshall commented on #1187
@jb-adams: This was user error on my part too, as described in an update to https://github.com/igvteam/igv.js/issues/1187#issuecomment-860050394. This was my fault, but for pedagogical purposes you might consider making the different URLs used by the example server a bit more visually obviously different!

@jrobinso: We considered and rejected having this request return the header directly rather

[2021-06-15 22:40] jrobinso commented on #1187
@jmarshall Sorry if I'm causing confusing,  its the BAM header that is bgzipped, not the variant file.  I expected to get a plain text SAM header from the /reads/ endpoint, but OTOH the request is for "bam" format so my expectation is not reasonable.  It is bgzipped, but that's what I asked for.

I don't think stripping range and other headers is that unusual, crazy is a value judgement. The conso

[2021-06-15 22:58] jmarshall commented on #1187
Thank you for clarifying that that bit was about reads and BAM, not variants and VCF. It's slightly unfortunate that you can't currently ask for `?class=header&format=SAM` — the historical reason `SAM` is not a valid value for htsget's `format` is that it's uncompressed and would be a silly choice for sending large amounts of sequencing data over the wire. (OTOH the good news is that you are guara

[2021-06-16 01:02] victorskl commented on #1187
Thanks for merging, Jeremy @jb-adams

Nop; you do not need to configure if you just run it locally with default settings. Default setting allows [CORS from `http://localhost`](https://github.com/ga4gh/htsget-refserver/blob/develop/internal/htsconstants/serverprops.go#L25).

Please try as follows:

[code]

Verify CORS with curl as follows:

- Note that response header contains `Access-Control-Allow

[2021-06-16 04:31] jrobinso commented on #1187
Hi all, this thread has now diverged a bit, but variants are supported now in master so I'm closing this.   See dev/htsget.html for a browser example, and test/testHtsgetReader.js for some (minimal) node unit tests.

[2021-06-16 04:31] #1187 closed

[2021-06-16 16:05] haoyuanli commented on #1187
Thanks everyone for your work into this. Iclearly missed out on a long and interesting conversation 😂

[2021-06-18 16:39] SimonLi5601 opened #1346 "Is there a way to turn off the refgene track?"
I am debugging a loading issue, is there is a possible to turn off the refgene track? It seems a default track added by the IGV js.
It's referring to the file below. I didn't add it to my tracks, I already set showSequence: false.
https://s3.amazonaws.com/igv.org.genomes/hg38/ncbiRefGene.txt.gz

[2021-06-18 16:47] jrobinso commented on #1346
See the section on defining the reference, nothing is loaded by default unless you use the shortcut "genome" property:  https://github.com/igvteam/igv.js/wiki/Reference-Genome

[2021-06-18 17:31] SimonLi5601 commented on #1346
Got it! Thank you!

[2021-06-21 19:04] SimonLi5601 commented on #1346
Hi Jim, sorry I have to reopen this ticket since I found the issue is related to the genome track. I am working with IgvJs in a React framework. However, I found it took a long time for IgvJs to load the genome track for either HG19 or HG38. I debugged and tracked down to the line of code  below to see why it takes quite a long time to load the tracks.  I am wondering what is this doing, it takes

[2021-06-21 19:20] jrobinso commented on #1346
Hi, sorry I don't know anything about react, but that line of code loads in much less than a second for both hg19 and hg38 for me.   Can you confirm you are using the latest igv.js release, and reproduce the issue with a plain (non-react) html page?    If so zip and post the html page here.

This doesn't appear to be related to the issue as originally posted, to turn the refGene track off you cann

[2021-06-21 19:33] namratasp20 opened #1347 "Issue in loading tracks"
Hi Team,

I am currently using python - django to build a webpage and deploying it using heroku

I have loaded annotation tracks (.gff3 and .bed) using igv.js.
I am able to view these tracks on local server. However, the tracks are not being rendered upon deploying the webpage (only empty IGV browser is being displayed).

Are there any options which needs to be taken care of, so that tracks are re

[2021-06-21 19:49] SimonLi5601 commented on #1346
Hi Jim, thanks for you reply even you are in traveling. I can't reproduce the issue in a plain html page, and I guess the issue is only triggered in some circumstances with React.
Why I think it is related to the original post because I found the refgene track slow down the display at the beginning. I thought there is a way to turn it off, but as you figured out, the gene track is from the genome

[2021-06-21 22:49] jrobinso commented on #1346
@SimonLi5601 actually what I said is you need to define your reference with the "reference" property, as I noted in the link, and do not use the "genome" property.  That is how you turn it off.  Is that clear?  If you continue to use the "genome" property it will continue to load the refGene track.

Yes it is normal to parse the features if the track is loaded.   Its not normal to take so long, bu

[2021-06-21 22:54] jrobinso commented on #1347
I'm not sure I understand your question,  all options are described in the wiki page.   There are no special options other than what are described there.

Are you calling "createBrowser" before the page is rendered?  If so you will have to call

[code]

after the div igv.js is placed in is visible, as documented here:  https://github.com/igvteam/igv.js/wiki/Browser-API-2.0#visibilitychange.    For

[2021-06-21 23:12] SimonLi5601 commented on #1346
Hi Jim. Thanks for your patience! It works! It's much faster if I takes off the default refgene  track from the reference genome and add another refgene track using "url": "https://s3.amazonaws.com/igv.org.genomes/hg38/refGene.sorted.txt.gz",
What's difference between refGene.sorted.txt.gz and ncbiRefGene.txt.gz?

reference = {
    "id": "hg38",
    "name": "Human (GRCh38/hg38)",
    "fastaURL": "

[2021-06-21 23:23] jrobinso commented on #1346
There's no substantial difference between the 2 refGene tracks.   If you
are in a slow internet environment using an index for the gene track will
speed things up.   The index url. (property indexURL) for that track is.
https://s3.amazonaws.com/igv.org.genomes/hg38/refGene.sorted.txt.gz.tbi

On Mon, Jun 21, 2021 at 7:12 PM SimonLi5601 ***@***.***>
wrote:

[2021-06-22 13:09] SimonLi5601 commented on #1346
Thanks for the help, Jim! I will close this. I think this might be helpful for other users are having the same issue. I don't think it is related to the slow network though, the memory usage in the application context might contribute to the issue.

[2021-06-22 13:09] #1346 closed

[2021-06-29 18:31] namratasp20 commented on #1347
I tried above , but issue is not resolved.

The tracks are visible when website is tested locally. On deploying over https, igv tracks are not rendered and only the logo appears

[2021-06-29 18:37] namratasp20 opened #1348 "Issue in rendering tracks while using http url"
Currently I am providing http links for fastaURL, indexURL, track urls.
However I receive the following message and tracks are not displayed -
**Error accessing resource: http://pallab.cds.iisc.ac.in/INTERPIN/Bordtella/NZ_CP010265.bed Status: 0: http://pallab.cds.iisc.ac.in/INTERPIN/Bordtella/NZ_CP010265.bed**

I am using following http link to for providing urls ->  **http://pallab.cds.iisc.ac.in

[2021-06-29 19:14] jrobinso commented on #1347
@namratasp20 I really can't help you debug your system without a reproducible test case.  One suggestion would be to examine the network traffic using a browser development tool to see requests and responses for the track data.

I do not understand what you mean by "On deploying over https",  deploying what?

[2021-06-29 19:17] jrobinso commented on #1348
igv.js does not have anything to do with http or https protocol, that is enforced at the level of the web browser itself.   If your page is loaded over https:// you cannot load any data or links over http://, this is forbidden.   Do a web search, this is basic web protocol rules it has nothing to do with igv.js.

[2021-07-01 19:02] namratasp20 commented on #1348
My webpage is loaded over http. The links I am using to load data are also over http.

[2021-07-01 21:54] jrobinso commented on #1348
You mentioned elsewhere "deployed via https", or something like that, so I guessed that was the problem.   As it is I don't know, if you think its an igv.js problem specifically I will probably need a reproducible test case I can run.

[2021-07-02 01:36] jrobinso commented on #1348
This looks like a duplicate of #1347, is that correct.   As I suggested there, it might be helpful for you to examine the network requests and responses in a web browser development tool, such as the ones built into Chrome and Safari,  as well as look for any error messages in the console.    Also, is CORS support enabled on the servers you are trying to access?

[2021-07-06 18:20] namratasp20 commented on #1348
Thanks for the response

I checked for browser console message - **Access to XMLHttpRequest at 'http://pallab.cds.iisc.ac.in/INTERPIN/Ecoli/ex_hp.bed' from origin 'http://localhost:8000' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.**

However I dont get above error if I am trying to access .fasta files placed in above url. This issu

[2021-07-06 18:22] namratasp20 commented on #1348
**Below is the script I am using in my html code for igv **
<script type="text/javascript">

    $(document).ready(function () {

       var options =
        {
        reference:{
                "id": "Bordetella pertussis",
                "name": "Bordetella pertussis",
                "fastaURL": "http://pallab.cds.iisc.ac.in/INTERPIN/Bordtella/NZ_CP010265.fasta",
                "indexURL":

[2021-07-06 18:26] #1347 closed

[2021-07-06 22:22] jrobinso commented on #1348
I'm not sure what your question is.  If you have CORS errors they will have to be addressed on the server.   I tried your config and get a CORS error on the fasta index.    Checking the response there are no CORS headers present.   There is lots of information on CORS available on the web.

[2021-07-09 00:52] feedlord18 opened #1349 "MUT popup rendering issues"
The popups for MUT file is not displaying Genes and Notes column. I have attached the file.

![image](https://user-images.githubusercontent.com/65100114/125007188-b46b1980-e02d-11eb-8dde-3ae8b037b66b.png)
[test_mut.txt](https://github.com/igvteam/igv.js/files/6787957/test_mut.txt)

[2021-07-09 22:04] helgathorv commented on #1349
The columns must be tab-separated, but there seem to be spaces in your file after the first 5 required columns.
When I fixed that in your file, it displayed the Genes and Notes columns too.

Note however that there is something not quite right with the igv.js popup display in the whole-genome view, but when viewing individual chromosomes it works correctly when the file is tab-separated.

[2021-07-09 22:25] helgathorv opened #1350 "Issues with info popup with .mut files"
Load this .mut file: [example.mut.zip](https://github.com/igvteam/igv.js/files/6794121/example.mut.zip)

Go to chr17; click on one of the two mutations. =>
<img width="250" alt="Screen Shot 2021-07-09 at 6 12 47 PM" src="https://user-images.githubusercontent.com/1265859/125141044-eb9b0280-e0e1-11eb-8ef2-9a1a909906ed.png">

Go to whole-genome view; click on one of the mutations =>
<img width="253"

[2021-07-09 22:25] #1349 closed

[2021-07-14 05:09] ggydush opened #1351 "Request: add bisulfite options to color by"
Hi IGV team,

I was wondering if there are plans to add additional options to color alignments. In IGV desktop, there are various options for bisulfite mode - I'd love to see the `CG` options supported in igv.js!

[2021-07-15 18:41] #1348 closed

[2021-07-16 09:11] christianbioinf opened #1352 "Slow performance when using contig-level reference even with disabling "showChromosomeWidget""
Hi all,
I am using igv.js with a custom reference sequence that consists of more than 100k contigs which are almost equally sized (hence reduction via option `showAllChromosomes` does not work well). For this, it was already recommended before that one should disable the whole genome view using the option `reference: wholeGenomeView: false` as well as disable the chromosome widget in the navigatio

[2021-07-16 19:38] nroak opened #1354 "Sashimi plot on IGV-MacOS"
I'm trying to visualize Sashimi plot using standalone IGV on Mac OS. There are a ton of reads in the region. However, all the junction arcs are squeezed within a small window and there's a ton of white-space around it. Is there any setting that I can change for the IGV?

I checked with a colleague who doesn't have any issues on Windows standalone version.

### MAC
![Mac](https://user-images.github

[2021-07-16 20:13] helgathorv commented on #1354
We just released IGV 2.10.2 which has a fix for this. You can get it from the current [downloads page](https://software.broadinstitute.org/software/igv/download).  I'll close this issue now, but please reopen if you still have problems with this when you try IGV 2.10.2.

[2021-07-16 20:13] #1354 closed

[2021-07-17 03:08] #1352 closed

[2021-07-17 03:09] jrobinso commented on #1352
Thanks for the report and the PR.   I found a simpler solution, namely don't create the widget if show == false.   This should fix the issue.

[2021-07-17 05:25] #1324 closed

[2021-07-17 05:51] jrobinso commented on #1323
Aplogoies for the delay looking into these.   I can't reproduce this with the example data you provided,  the config object for my test case is below.   If you can modify the config to reproduce the issue, or give me other instructions, I will investigate further.

[code]

[2021-07-18 04:32] #1279 closed

[2021-07-18 04:32] #1112 closed

[2021-07-21 10:35] scalavision commented on #1323
Thanks for looking into this. I am on vacation but will look into it again when I am back, in a couple of weeks. You can close this if you want, and I can reopen it, if I still have problems.

[2021-07-21 14:50] alberto1189 commented on #67
Hello,

Do you know if the sashimi plot and the exon junctions visualization are supported by the latest igv.js? If so, where can I find them?
Thanks!

[2021-07-21 15:21] jrobinso commented on #67
@alberto1189 See https://github.com/igvteam/igv.js/wiki/Splice-Junctions

[2021-07-21 15:42] jrobinso commented on #1323
@scalavision Actually on closer inspection I found the issue.   Alignments marked "duplicate" are being filtered from BAM sources, but not from CRAM sources.   I will correct this for the next release (they should be filtered from both).

[2021-07-21 15:52] #1323 closed

[2021-07-23 18:17] scalavision commented on #1323
That is great! Looking forward to the fix :-)

[2021-07-23 18:50] jrobinso commented on #1323
This should be fixed now, igv.js version 2.9.3

[2021-07-25 03:57] omarwagih opened #1355 "Switch scale of manhattan plots from log to linear"
Loading .gwas files in a locally run igv.js shows manhattan plots in linear scale and has an option to make it a log scale.
For igv.js, it seems it automatically applies a log scale with no way to make it linear.

Is there a way to do this that I'm not aware of?

Thanks

[2021-07-26 06:17] jrobinso commented on #1355
What type of values are your GWAS scores?  As documented here, by default pValues are assumed, but there is an option to indicate the values are probability (and thus use a linear scale):   https://github.com/igvteam/igv.js/wiki/GWAS.

[2021-07-26 12:44] omarwagih commented on #1355
I'm actually using it to, in a roundabout way, plot fold changes by converting my values into into p-values (10^-val) since the output is expected to be plotted as a -log10 (If there's a better way of doing this please let me know!).

In the local browser I see what I expect, which is the -log10 p-value plotted in linear scale by default (attached screenshot).

![](https://i.ibb.co/qmj2BTM/Screen-

[2021-07-26 12:46] omarwagih commented on #1355
I'm actually using it to, in a roundabout way, plot fold changes by converting my values into into p-values (10^-val) since the output is expected to be plotted as a -log10 (If there's a better way of doing this please let me know!).

In the local browser I see what I expect, which is the -log10 p-value plotted in linear scale by default (attached screenshot).

![](https://i.ibb.co/f97BPgv/Screen-

[2021-07-26 13:03] omarwagih commented on #1355
I'm actually using it to, in a roundabout way, plot fold changes by converting my values into into p-values (10^-val) since the output is expected to be plotted as a -log10 (If there's a better way of doing this please let me know!).

I made a mistake. The values are showing up as expected in igv.js!

[2021-07-26 13:04] omarwagih commented on #1355
For the link you shared, are we able to add a track header as such?

`track type=gwas name=test_track posteriorProbability=true`

to gwas files?

[2021-07-26 14:10] omarwagih commented on #1355
Consider the simple example of:
[code]

When visualized in igv.js, this is what I get

![](https://i.ibb.co/m882Fkn/Screen-Shot-2021-07-26-at-10-09-28-AM.png)

The first example should give a -log10 pvalue very close to 0, yet on the scale it shows as ~2.

[2021-07-26 16:14] jrobinso commented on #1355
The settings are for the track configuration, not the header line.   I will add more options but that's what exists now.   These instructions are for igv.js (this project) screenshot you show, by the way, is for igv-webapp.

[2021-07-26 16:38] jrobinso commented on #1355
I will add some more options for the next release.

[2021-07-26 16:47] omarwagih commented on #1355
Thanks!

[2021-07-26 17:17] jrobinso commented on #1355
@omarwagih let's leave it open, otherwise I will not remember.

[2021-08-03 14:28] bbarrick commented on #922
I just wanted to throw my support behind this feature. It would be great if it could accessed  programmatically.

[2021-08-04 19:32] jrobinso commented on #884
@brentp Could you expand on what you mean?  Obviously the vcf and bed track files are available to the app that has embedded IGV,  these records aren't created by igv.

[2021-08-04 19:54] brentp commented on #884
maybe in cases where the entire VCF or BED was read in (no index), then it would be possible to have an API in igv.js that let's the user know the index of the current record (variant or bed region) and then to access the chrom, start, end of a region based on the index

[2021-08-06 16:23] jrobinso commented on #884
@brentp I'm still not following the use case but you can always get the current region in view with [browser.currentLoci](https://github.com/igvteam/igv.js/wiki/Browser-API-2.0#currentloci),  or get a clicked object with events.  In any event this is not related to the issue opened here.

[2021-08-11 20:30] marhabaie commented on #1346
I have experienced the same issue using it in React (it takes so long for it to load the genome) and when I used "reference" property instead of "genome" it loaded almost instantly! Thanks for your help!

[2021-08-12 20:12] ecolijpb opened #1357 "GtexSelection; gene.toUpperCase is not a function"
Using embedded igv.js v2.9.4
package.json
`"igv": "^2.9.4"`

When searching for a valid locus tag
![image](https://user-images.githubusercontent.com/88856259/129261520-3035e0bb-58c4-444d-962f-5e91621d71e0.png)

An error of `toUpperCase is not a function` is presented
![image](https://user-images.githubusercontent.com/88856259/129261867-e815c252-35cc-4750-9098-021ab804b0bf.png)

I can track this do

[2021-08-12 22:36] jrobinso commented on #1357
I'm trying to reproduce this, but so far unsuccessfully.   What genome
assembly is this for?  And have you customized the search service?

On Thu, Aug 12, 2021 at 1:12 PM ecolijpb ***@***.***> wrote:

[2021-08-13 16:20] ecolijpb commented on #1357
I'm using a GFF3 file as input

The relevant entry is
[code]

No search service customization

[2021-08-13 16:45] jrobinso commented on #1357
Thanks, after fixing the missing tabs I loaded that as gff3 and was able to search for "HTZ1" without an issue.    If you can zip up a self contained test case that reproduces the problem I will investigate further.  You can avoid the need to reference your fasta by changing "chrXV.0" to, for example, "chrX", then just use "genome: "hg38"" as a reference.

[2021-08-17 11:26] bartcharbon opened #1359 "Error when loading bam file without index: this.parseAlignments is not a function"
We are using igv to view small bam slices without a bai index file.

This worked fine for the previous version we used (3.8.6) of igv.js, but since updating to the 3.9.4 release an error occurs while loading the track:
"this.parseAlignments is not a function"

[2021-08-17 22:58] jrobinso commented on #1359
Could you post the track "config" you are using to load the bam?

[2021-08-18 20:07] jrobinso opened #1361 "Wait spinner doesn't appear on startup or when loading a track"
For some track types,  neither track nor wait cursor appear until the track data is fully loaded.   This is possibly true of all track types, but is very noticeable with the example. ```dev/maf/maf_tcga.html```.  Nothing happens for around 5-10 seconds after starting it, after which the track appears fully loaded.   Compare this to behavior prior to the "dom refactor" commit (10725d29),  a spinner

[2021-08-19 00:13] jrobinso commented on #1361
The same problem exists if loading a track from a URL,  for example try loading this by url from igv.org/app-test

[code]

[2021-08-19 04:50] jrobinso commented on #1361
OK I found the cause of this.  Track classes have an optional "postInit" function that is called after track creation from "loadTrack"from what is now(as I type) at line 792.   This function can take a lot of time, particularly for large non-indexed files.  Basically the entire file is read.   There used to be a spinner wrapping "loadTrack", started at the top and closed in a finally block.   This

[2021-08-19 10:28] algarsi3 opened #1362 "Typo in colorBy causes the following error: this.config.colorBy.pallete is undefined."
I am using igv.js as follows:
[code]

And I am getting this error: `Unhandled Rejection (TypeError): this.config.colorBy.pallete is undefined`

Searching in the code I saw the following:
[code]

The error is solved by changing `palette` to `pallete`, but the [docs](https://github.com/igvteam/igv.js/wiki/Annotation-Track) indicates that `palette` should be used.

[2021-08-19 12:32] algarsi3 opened #1363 "can we return custom components in the trackclick event?"
I have seen that we can [modify](https://igv.org/web/release/current/examples/custom-track-popover.html) what happens when the trackclick event is fired.

I tried to modify it so it returned a div component, which worked great (i.e., `"return <div>It works</div>"`). My doubt is if it is possible to return a React component like this one: `<CustomTable data={data} />`. If I return the component, it

[2021-08-19 15:39] jrobinso commented on #1362
OK, thanks for letting my know,  I'll fix the typo.

[2021-08-19 16:23] ecolijpb commented on #1357
Please see the attached for a minimalist angular project that reproduces the issue.

See the `igv-wrapper` component. Included are fasta/gff3 dummy files. The text to search for is `G3N3`, that will reproduce the issue.

[angular-igvjs-1357.zip](https://github.com/igvteam/igv.js/files/7016058/angular-igvjs-1357.zip)

[2021-08-20 03:26] #1357 closed

[2021-08-20 03:27] jrobinso commented on #1357
Thanks for the test case, I wasn't able to use it as I do not use or know anything about Angular, but I was able to reproduce it with your gff3 file.    The problem is specific to gff3 files with certain characteristics.   I have pushed a fix to master.

[2021-08-20 09:21] bartcharbon commented on #1359
Sorry, I forgot to mention that we are using the "data urls"

Our code to create the track config looks like this:

[code]

[2021-08-20 16:18] jrobinso commented on #1359
Ah, important detail.   This is fixed in the master branch, and will be in the next release.

[2021-08-20 18:06] jrobinso commented on #1363
I'm not sure what you mean precisely by "component", but certainly igv.js will not understand React, you need to return valid html if you want to use the igv.js popover window.

However you can do anything you like from the "trackclick" callback, including I suppose opening a React component,   then return "false" to prevent igv.js from opening the default popove window.   See examples/custom-trac

[2021-08-22 05:19] jrobinso opened #1364 "locus-change event API broken"
The locus-change example. (examples/events/locus-change.html) is broken.  It displays "undefined" in the browser address bar for the locus.  The "locus-change" event is part of our public API,  we can change the API if we must but need to also update the documentation and example(s).    It looks like that event API has changed.

The next release will get a major number, so can have breaking change

[2021-08-23 09:34] algarsi3 commented on #1363
Thank you @jrobinso, I managed to modify it so that a custom React Dialog opens when the `trackclick` event fires.

[2021-08-23 09:34] #1363 closed

[2021-08-23 14:20] 529871255 opened #1365 "showSVGButton in Browser configuration options"
![image](https://user-images.githubusercontent.com/43419741/130463449-b9569bfe-f8fa-45f2-9dfc-135f94bfc3e7.png)
I think the default of this parameter is true

[2021-08-23 16:48] jrobinso commented on #1365
Yes, you are correct

[2021-08-23 18:06] gaitat opened #1366 "Support for encoded data of binary files"
I would like to ask if there is support for base64 encoded data (i.e. data:application/octed-stream) of binary files. For example I have a case of bigbed and bigwig files that I need to encode before passing them to igv and they dont seem to work.
On the other hand I also tested base64 data encoded wig files and they worked fine.
For example this sequence works:
`const bwSource = new BWSource({url

[2021-08-23 18:13] flowersjg commented on #1319
Hey folks, just curious if this one is coming up on the roadmap anytime soon. Thanks, really enjoying igv.js so far!

[2021-08-23 21:30] jrobinso commented on #1319
Yes, this is planned for the next release, which will be 2.10.0

[2021-08-23 21:34] flowersjg commented on #1319
Wonderful! Do you have a rough idea of when that might be released?

[2021-08-23 21:54] jrobinso commented on #1319
By the end of the month

On Mon, Aug 23, 2021 at 2:34 PM Johnny Flowers ***@***.***>
wrote:

[2021-08-23 22:04] jrobinso commented on #1366
data URIs (including gzipped data) should work for fasta, bam, and plain text formats (e.g. wig and bed),  but will not work for cram or "bb" formats (bigwig and bigbed).  If you need to do that I suggest first converting to bed or wig,   then gzip (optionall) and create the data URI.   For some examples see the files in. "dev/datauri".

[2021-08-23 22:12] gaitat commented on #1366
Is it a technical limitation?

[2021-08-23 23:06] jrobinso commented on #1366
I'm not sure what you mean, its not implemented, of course it could be done.

[2021-08-25 16:23] jrobinso commented on #1366
This should work now, but it has not been exhaustively tested.    See https://github.com/igvteam/igv.js/blob/master/dev/datauri/ucsc-interact3.html for an example

[2021-08-25 16:50] gaitat commented on #1366
Thank you, will do some testing.

[2021-08-27 04:40] jrobinso opened #1367 "Space between tracks too tight"
The vertical space between tracks is too tight, 2 pixels I think, making it really hard to distinguish the boundaries for certain types of tracks such as seg and alignments.   Maybe 5 pixels is enough, really it probably should be configurable, but at a minimum let's try 5 pixels.  Prior to the dom refactor I think it was 4 pixels.

[2021-08-27 18:51] jrobinso opened #1368 "Transparent background on track label mouseover"
When mousing over the track label, the background becomes grey with transparency.  The grey is good, but not the transparency.  In some cases the label text becomes hard to read.

<img width="189" alt="Screen Shot 2021-08-27 at 11 48 35 AM" src="https://user-images.githubusercontent.com/933148/131175336-fa9e5ae0-874f-4c9e-9db7-47a886f4b74b.png">

[2021-08-30 03:39] jrobinso opened #1369 ""Zoom In" message not always displayed"
The "zoom in to see features" message is not always displayed when it should be.   For example, load the example html dev/variant/1kg_phase3.html.   Zoom out twice with the "-" zoom control, the middle track is now blank with no zoom-in message.

[2021-08-30 03:48] #1361 closed

[2021-08-30 17:47] jrobinso opened #1370 "Whole genome view chromosome link indicator"
The cursor does not change when over a chromosome name to indicate its clickable.

[2021-08-31 04:06] jrobinso opened #1371 "Track label does not initially appear"
This issue can be reproduced with ```dev/issue_1371.html```.   On initial load there is no track label.  Toggling the "Track Labels" button doesn't help.   The only way I've made it appear is to jump to somewhere else on the chromosome, then return to the initial locus ```chr22:10,000,000-10,020,000```.

[2021-08-31 04:14] #1364 closed

[2021-08-31 04:18] jrobinso commented on #852
Appears to be fixed

[2021-08-31 04:18] #852 closed

[2021-08-31 04:26] #430 closed

[2021-08-31 04:30] jrobinso commented on #430
Hi all, sorry its taken so long to close this.   In addition to the customization above, I just pushed a configuration option to be released with 2.10.0 shortly, example follows.   $$ in the url is replaced with the feature name

[code]

In addition, for bed files you can set this in a track line with the "url" property, per UCSC convention.  This has actually been supported for a number of releas

[2021-08-31 16:31] #1359 closed

[2021-08-31 17:24] #1366 closed

[2021-08-31 18:33] #1350 closed

[2021-08-31 18:43] helgathorv commented on #1365
Wiki page has been updated

[2021-08-31 18:43] #1365 closed

[2021-08-31 19:31] turner commented on #1367
Fixed with commit ab472a7a

[2021-08-31 19:31] turner commented on #1368
Fixed with commit ab472a7

[2021-08-31 19:32] turner commented on #1369
Fixed with commit ab472a7

[2021-08-31 23:21] #1371 closed

[2021-09-01 13:03] #1370 closed

[2021-09-01 13:04] #1368 closed

[2021-09-01 13:04] #1367 closed

[2021-09-01 15:22] #922 closed

[2021-09-02 06:27] jrobinso commented on #922
This is implemented and will go out in the next release, probably by the end of the week.  To recap, it just counts exons from the 5' end starting at 1.  In some rare cases it might not be able to safely do this,  specifically if using an indexed GFF file and the parent feature is not completely contained in the query window (the "visibility window").   When that happens we might not have all the

[2021-09-02 17:56] turner commented on #1334
Closed with commit 10725d29

[2021-09-02 19:33] turner commented on #1332
Closed with commit 10725d29

[2021-09-02 19:33] #1332 closed

[2021-09-03 00:35] carolnaomivars opened #1373 "Update already opened igv window"
Hello!

I would like to know if something like this would be possible:

If I open an IGV window in any position and then want to view another region, is it possible to automatically update the existing window? (without opening another window or browser)
I cannot think of any way to perform this "identification" that a window is already opened, but I would like to know if anyone has come across som

[2021-09-03 02:54] jrobinso commented on #1373
Sorry I don't really understand your question.  Note this is the forum for the igv.js javascript component.

[2021-09-03 13:50] carolnaomivars commented on #1373
Sorry I will try to explain it better.
I am using igv.js in an application. Currently, when I want to look at a genomic region, a new window opens in this region of interest.
However, if I want to look at another region I need to open another new browser window that wiil direct me to this other region.
My question is if it would be possible to "detect" that an instance of igv.js ia already created

[2021-09-03 16:36] carolnaomivars commented on #1373
Oh yes, I meant programatically.
Thanks, I think you answers gave me some insight!

[2021-09-03 16:36] #1373 closed

[2021-09-08 03:20] jrobinso opened #1374 "Additional color items for annotation files"
* Allow functions for color and altColor (as currently for wig and variant tracks)
* Add colorBy: "strand" option, also in menu.  Implement default colors for strand, overridable with colorTable property.

[2021-09-08 04:42] jrobinso opened #1375 "Bug in gff colorBy option"
There is a bug in the gff colorBy option in version 2.10.1,  color for the initial paint of a set of features is incorrect.  Subsequent paint of the same features (e.g. by zooming in) are correct.   Still it makes this option unusable.

[2021-09-08 04:44] #1375 closed

[2021-09-08 04:45] #1340 closed

[2021-09-12 06:53] boyangzhao commented on #160
Hi any updates on this? I see it was planned for 2.7.0 milestone and then got deleted. In loading the latest version of igv.js, I don't yet see this option. Thanks!

[2021-09-12 19:50] jrobinso commented on #160
It is definitely there, it has been for almost a year, see the screenshot, so I'm not sure why you aren't seeing it.   Could I see a screenshot of what your alignment track menu looks like.

<img width="428" alt="Screen Shot 2021-09-12 at 12 47 56 PM" src="https://user-images.githubusercontent.com/933148/133000801-0f372738-4e1b-4888-a1a5-a4c9eaadcbef.png">

[2021-09-13 19:07] boyangzhao commented on #160
Thanks! My mistake - I was viewing through the wrong options. I just reran the latest version, and see the same as your screenshot. I was initially using igv.js ported version from dashbio, and it seemed they didn't upgrade to the latest yet.

[2021-09-14 17:53] rootux opened #1376 "Feature suggestion - Native typing support"
Thank you for creating this library.

Having an IDE automatically understand typing, requires a `@typing/igv` library

[Here](https://github.com/datavisyn/igv_wrapper/blob/master/typings/index.d.ts) is a project that can be used as a base for typing (4 years old :sweat_smile: )

Would love to see this in this project

[2021-09-14 18:06] jrobinso commented on #1376
Its an interesting idea but I doubt I would have time to support this and keep it up to date.

[2021-09-16 10:47] GuilhemSempere opened #1378 "support for compressed fasta genomes"
Hi

Thanks again for the great work

As far as I understood from this issue https://github.com/igvteam/igv/issues/321 the standalone version is able to deal with fasta.gz files indexed with faidx. Any chance this is going to be supported by IGV.js too?

G.

[2021-09-16 15:09] #1378 closed

[2021-09-16 15:09] jrobinso commented on #1378
It will be eventually, closing as there is already an issue open for this.

[2021-09-17 14:23] scalavision opened #1380 "Add ability to mark ROI interactively"
Our interpreters would really like to have the ability to mark a region on the RulerSweeper. In this way, they can scroll down the track list, but keep the overview of a variants position etc.

Is this something that could be added?

I could make an attempt on this, if you are considering such a feature but don't have time for adding it.

[2021-09-17 16:05] jrobinso commented on #1380
Could you describe in a little more detail how you envision this looking?    Would it be some sort of transparent overlay running over all the tracks after a sweep action?

[2021-09-17 18:25] scalavision commented on #1380
Sorry for my vague explanation @jrobinso , I was thinking the ability to mark the `ruler` like this:

![igv_marked_sweeper](https://user-images.githubusercontent.com/3958212/133835771-c726ea18-70a8-4bf2-8787-b2e9ea5d642e.png)

I see a couple of ways doing it:

* The user press CTRL key, while dragging the mouse on the ruler, and instead of  zooming in,
   the squared marked selection just sticks t

[2021-09-17 21:05] jrobinso commented on #1380
Yes that makes sense,  we already have this ability but its not interactive with "regions of interest".   So this is defining a region-of-interest interactively.    See this for example, the blue regions are global (all tracks), green ones are track specific.

We do intend to remove the ugly gaps in the region overlays between tracks

https://igv.org/web/release/2.10.1/examples/roi.html

[2021-09-20 08:08] scalavision commented on #1380
Thanks @jrobinso , I think the ability to interactively select regions of interest would be highly appreciated from our interpreters. We will use the static roi for now.

[2021-09-23 16:01] dridk opened #1381 "graphType in bedgraph or wiggle are ignored"
I didn't success to display a track with "point" instead of "bar" by specify the graph type in the file.
Indeed, Bedgraph and wiggle format can specify the "graphType" from the header data.

For instance, the following file display points in IGV Desktop Java but bars in IGV.js.

[code]

To display point, I should specify the "graph type" outside the file in the JS track option.

[2021-09-24 14:28] GMignerot opened #1382 "Zoom slider not working on Firefox"
Hello,

It seems that the zoom widget's slider doesn't work in Firefox (but does in Chrome)
After messing around a bit, it turns out the `change` event is not triggered, and creating a browser makes other `range` inputs on the page unresponsive as well, even though they worked before.
This can be reproduced in the IGV webapp.

Thanks for your great work !

[2021-09-24 23:25] flowersjg commented on #1319
FYI, evidently `navigator.clipboard` only works with https enabled (or localhost). Not a huge deal, but wanted to let you know.

[2021-09-24 23:44] jrobinso commented on #1319
OK, thanks, I suppose if the page is http we will just remove that menu
item.

On Fri, Sep 24, 2021 at 7:26 PM Johnny Flowers ***@***.***>
wrote:

[2021-09-25 00:07] flowersjg commented on #1319
There are some workarounds to access the clipboard in other ways, I think. Your call, obviously! Thanks as always @jrobinso.

[2021-09-26 16:11] haoyuanli opened #1384 "Does GWAS track support *.gz file?"
I assume it does since the example seems to be the gz one

Thanks

[2021-09-26 18:51] jrobinso commented on #1384
Have you tried it?

[2021-09-26 21:49] haoyuanli commented on #1384
Not yet 😂 i will give it a try tomorrow :)

[2021-09-26 22:47] jrobinso commented on #1384
If you find an issue reopen this with an explanation.

[2021-09-26 22:47] #1384 closed

[2021-09-27 02:43] jrobinso commented on #1381
I'll look into it, I'm traveling until Tuesday.

[2021-09-27 04:20] jrobinso commented on #1381
BTW, what is this line supposed to do?

[code]

[2021-09-27 07:44] dridk commented on #1381
A mistake, I guess... I copy paste from an example

[2021-10-01 15:19] jrobinso commented on #1382
Fixed with commit https://github.com/igvteam/igv.js/commit/cd4f361f08d105c48c4d40762a31d281699f77ae

[2021-10-01 15:19] #1382 closed

[2021-10-01 15:21] jrobinso commented on #1381
This should be fixed now in the master branch.   It will be included in the next release.

[2021-10-01 15:23] #1381 closed

[2021-10-04 09:30] GMignerot opened #1386 "Error when removing a browser : this.eventHandlers is undefined"
Hello,
It seems that in the latest commits, removing a browser throws errors.
Apparently, it tries to remove event handlers even though they have already been removed and set to `undefined` in `Browser.dispose`.
Thanks again for your great work !

[2021-10-05 20:13] #1386 closed

[2021-10-06 08:11] SchwarzMarek opened #1388 "browser.toSVG() now returns promise"
Hello,
the `browser.toSVG()` fucntionality now returns promise instead of rendered SVG. This is an undocumented change, which was introduced in https://github.com/igvteam/igv.js/commit/912a960843e31b96388e7092274e36f60fedd814.
This functionality change is also not reflected in current documentation https://github.com/igvteam/igv.js/wiki/Browser-API-2.0#tosvg.

I expect, that there are some perform

[2021-10-06 11:00] GMignerot opened #1389 "Bug : list of sequences not cleared when changing genome"
Hello,
We found another minor bug working with IGV.js : when loading a new genome in an existing browser, the list of the new genome's chromosomes is only appended to the chromosome selector, instead of completely replacing the previous one.
This can be reproduced in the IGV webapp.
Thanks a lot !

[2021-10-06 14:22] vpandey-om opened #1390 "Color features by json"
Hi,
I would like add features by json.  How can put label name  and color for each feature.
Here is the example of my tracks.
tracks:
                    [
                        {
                            name: "3HA tag",
                            type: "seg",
                            displayMode: "EXPANDED",
                            features: [
                                {

[2021-10-09 03:32] jrobinso commented on #1388
Closed, rendering problem was unrelated (and resolved).

[2021-10-09 03:32] #1388 closed

[2021-10-11 13:17] jrobinso opened #1395 "SVG output for proportional arcs fail - "ellipse" not implemented"
Output of "proportional" arcs fails because ```ellipse``` is not implemented.

* Test html is dev/misc/arcs.html, the first track is "proportional".
* I've added a commented out stub for the function in canvas2svg.js,  line 1107, just after function "arc"

Note that for our usage its not neccessary to implement the general canvas "ellipse" function,  in particular we always draw 1/2 the ellipse, n

[2021-10-11 14:32] jrobinso commented on #1395
This might be useful http://xahlee.info/js/svg_path_ellipse_arc.html

[2021-10-12 07:31] #1389 closed

[2021-10-13 17:14] thedam opened #1397 "showCenterGuide doesn't work"
Hey, in my case `showCenterGuide: true `doesn't work; the line doesn't show up and the button "Center Line" is not clicked.

      let config = {
        queryParametersSupported: true,
        genome: "hg19",
        locus: locus,
        showCenterGuide: true,
        showCursorTrackingGuide: true,
        tracks: [...]

I use npm, the package.json contains entry:
`"igv": "^2.10.1"`

Cheers

[2021-10-14 05:27] joegeorgeson opened #1398 "Specify which column 9 GFF fields are searchable"
From google group - make 'column 9' fields of a GFF searchable, thanks!

[2021-10-15 15:43] turner commented on #1397
Fixed with commit 6639a9e2

[2021-10-15 16:18] jrobinso commented on #1397
@thedam Apologies, an inadvertent change on our part.  The fix will be rolled out in 2.10.2 early next week.

[2021-10-15 21:03] paul-shannon opened #1400 "browser.zoomIn(), browser.zoomOut() gone?"
I just installed https://cdn.jsdelivr.net/npm/igv@2.10.1/dist/igv.min.js in igvR, discovering (I believe)  that

[code]
are no longer defined, though they still appear in the 2.0 API:
https://github.com/igvteam/igv.js/wiki/Browser-API-2.0#zoomin

![image](https://user-images.githubusercontent.com/2480712/137552864-5e9e24cb-6b4e-497e-b037-e42176bff8cb.png)

where ```igvBrowser``` is my global varia

[2021-10-15 21:54] turner opened #1402 "CursorGuide. Support for customMouseHandler not working."

[2021-10-18 22:21] turner commented on #1400
Fixed with commit b7a6285e

[2021-10-18 22:21] #1400 closed

[2021-10-18 22:23] #1397 closed, assigned to turner

[2021-10-19 20:55] #1395 closed, assigned to turner

[2021-10-22 13:07] bw2 opened #1406 "spliceJunction track - popup and appearance issues"
In the current version, clicking on a splice junction shows an empty popup without any metadata fields:

![image](https://user-images.githubusercontent.com/6240170/138457547-82f51baf-2055-41e6-9432-aa3da68d9241.png)

Reverting to Aug. 23 (81ee2624f531c5ccc641439d2189d8fae2069cf0) fixes popups :

![image](https://user-images.githubusercontent.com/6240170/138457935-743cf501-9d05-4f31-8863-0bac3c0c9a

[2021-10-22 16:58] #1406 closed, assigned to turner, jrobinso

[2021-10-22 17:04] bw2 opened #1407 "RNA-seq splice junction track: update igv.js to incorporate recent bug fixes"
See https://github.com/igvteam/igv.js/issues/1406

[2021-10-22 17:04] #1407 closed, assigned to nobody

[2021-10-25 13:57] fidibidi opened #1409 "[Feature Request] Customizable Hot Keys"
Hello all!

Long story short, our chief medical officer who uses IGV pretty much for every case, is starting to develop wrist issues from using the ctrl-f hotkey, to progress through IGV sessions.

If we could create our own hotkeys for this action, to be more ergonomic, it would be a huge help for making sure he doesn't start developing more serious RSI issues.

Thanks!
As always, love the softwa

[2021-10-26 13:23] #1409 closed, assigned to nobody

[2021-10-26 15:18] f-krull opened #1410 "stuck in rendering for large features in bed file"
This single-line bed file blocks the main js thread when zooming into the feature:

[code]

The browser becomes unresponsive. Pausing the js execution shows this:

![Selection_418](https://user-images.githubusercontent.com/11461352/138908787-07dedfe7-f1dc-447a-8754-a5a2f2433c9e.png)

Tested with 2.10.0 and just now with master.

Test setup:

[code]

[indb_test.bed.gz](https://github.com/igvteam/ig

[2021-10-26 23:54] #1410 closed, assigned to nobody

[2021-10-27 15:39] jethror1 opened #1411 "Highlight samples in gcnv bed on click instead of specifying in file"
It would be great if when loading bed files of copy ratios from gcnv if the highlighting on samples could be done 'on click' instead of having to specify these either in loading config or written into the first line of the bed file.

At the moment I know it is possible to add the following:

`track  type=gcnv height=500 highlight=sample-X12345;red\n`

![image](https://user-images.githubusercontent

[2021-10-30 03:44] jrobinso commented on #1406
Fix is released in 2.10.4

[2021-10-30 03:45] jrobinso commented on #1410
The fix for this is now released in 2.10.4

[2021-11-07 04:32] #885 closed

[2021-11-07 04:33] jrobinso opened #1415 "support "igv" file format"

[2021-11-08 18:28] jrobinso opened #1416 "estimate visibility window"
If large indexed files (e.g. dbsnp) are loaded without an explicit visibility window the browser can freeze.   Attempt to estimate a safe window size.  Tabix indexes have some useful parameters, such as the file block locations, which me might use to estimate. file megabytes / genomic megabases

[2021-11-09 18:55] ShifaSZ opened #1417 "Possible optimization for gCNV data loading"
We integrated `igv.js` into [seqr](https://seqr.broadinstitute.org/) to visualize the genome data. The performance for the `gCNV` tracks is very slow. There are a couple of reasons for that: firstly, the igv.js loads all the rows (or features) in the current chromosome rather than just the rows required for the current view; secondly, it re-loads all the data when zooming in or out.
For example, a

[2021-11-09 19:10] jrobinso commented on #1417
Did you set a visibilityWindow?

On Tue, Nov 9, 2021 at 10:55 AM ShifaSZ ***@***.***> wrote:

[2021-11-09 19:13] jrobinso commented on #1417
Reloading the data looks like a bug, please confirm you are using the latest release and I will look into that.  If you don't set a visibilityWindow loading a whole chromosome is normal, but it should not then reload the data if you zoom out.  I will look into that if you confirm this is the latest version.

[2021-11-09 19:55] jrobinso commented on #1417
@ShifaSZ it would help a lot of you could give me a test case,  you can send a link to data by Broad email, it won't be shared.

[2021-11-09 20:27] ShifaSZ commented on #1417
I tried both setting and not setting a visibilityWindow. It has the same behavior. I'm figuring out how I can give you a test case because you may need access to certain Google buckets.

[2021-11-09 20:45] ShifaSZ commented on #1417
You may try this link https://seqr.broadinstitute.org/project/R0555_seqr_demo/saved_variants/family/F031959_demofamily1
There is a `SHOW gCNV` button in the middle of the screen. Click on the button to show the IGV.

[2021-11-09 20:46] jrobinso commented on #1417
My Broad email /google id is jrobinso (at) broadinstitute dot org.   We might need Ben's @bw2 help with this.

[2021-11-09 20:48] jrobinso commented on #1417
@ShifaSZ ok got it.   I'll try to see what's going on here, and pull @bw2 in if needed.

[2021-11-09 20:50] jrobinso commented on #1417
@ShifaSZ Could you confirm for me what version of igv.js is in use here?

[2021-11-09 20:57] ShifaSZ commented on #1417
The igv.js version is "2.10.1".

[2021-11-09 21:29] jrobinso commented on #1417
@ShifaSZ @bw2 OK there is some issue with indexed files specific to the gcnvTrack,  not the fault of Ben it just evolved that way.   I will sort this out.   When its working you will need to decide on a visibilityWindow appropriate for this data, but first let me get it working.

[2021-11-09 22:03] jrobinso commented on #1417
OK here's part of the issue, which I do need Ben's @bw2 hep with.  The gcnvTrack queries for all features for the entire chromosome irrespective of visibility window, and then does some logic to slice it to what's requested.   The question is why does it do this?   I'm going to assume there is no reason to do this, but I might be missing some subtleties on how this track works.

[code]

[2021-11-09 22:13] jrobinso commented on #1417
Also,  I'm seeing a lot of warnings like this in the example dataset

[code]

[2021-11-09 23:39] jrobinso commented on #1417
I just pushed a fix for the reloading of features, it was due to the use of Number.MAX_VALUE for the query end noted above.  However, visibilityWindow cannot be used as it is necessary for this track to load all the feature for a chromosome as currently implemented.    That is because the feature just out of view on both ends is needed to reliably draw the track.  There isn't any way to know where

[2021-11-10 05:19] jrobinso commented on #1416
Fixed with commit 7f43c9a5

[2021-11-10 05:19] #1416 closed

[2021-11-10 14:25] asthara10 opened #1418 "using browser.search() from an html button error"
Hi all,

I am trying to link a table in html with the genome browser, so that a user can click on a button from a list of positions and the genome browser reloads to that position.

I am using the function browser.search() but an error appears:
[code]

My html code looks like this, I tried both with a link or a button, but I get the same error.
[code]

Any help would be appreciated. Thank you!

Jú

[2021-11-10 15:37] asthara10 commented on #1418
I am using v.2.10.4
`<script src="https://cdn.jsdelivr.net/npm/igv@2.10.4/dist/igv.min.js"></script>`

Probably the problem is that I haven't set the "igv.browser". Could you show me how to do it?

I create the browser with the javascript genome-browser.js
[code]
And inside the html:
[code]

[2021-11-10 15:49] jrobinso commented on #1418
As I said before you are referencing the global "igv.browser" in your button action, but that global does not exist.  You must be copying some really old example,  it would be helpful if you could tell us where you got the reference to using the global "igv.browser" from, did you copy an example from somewhere?

Probably the best way to do this is attach your click handler function to "browser" fr

[2021-11-10 15:57] asthara10 commented on #1418
I tried to adapt it from the example [loadTrack](https://github.com/igvteam/igv.js/blob/master/examples/loadTracks.html).

[2021-11-10 15:59] asthara10 commented on #1418
Now I see that they use the form that you suggested by defining the global "igv.browser".
Thank you!

[2021-11-11 18:10] robertaboukhalil opened #1420 "Listen to track sorting/colorby events"
Hello and thanks for the amazing tool!

I'm wondering whether it's possible to listen to track sorting/coloring events, and whether there's a way to programmatically set a track's sort/color settings? I see there's a `browser.toJSON()` and `browser.loadSessionObject(json)` and that works well but reloads the tracks, so I wonder if there's a way to only update the settings without changing the trac

[2021-11-11 18:56] jrobinso commented on #1420
Very cool.

There are no events or API for these but there could be.   Let's leave this open until there are.

For setting color you can get the track object with findTracks().   See dev/misc/findTracks.html for an example.   Once you have the track object you will need to use a hack for now to set color, again there is no API for this currently.  This should work but I haven't tried it.  Color he

[2021-11-11 21:08] robertaboukhalil commented on #1420
Using `findTracks()`, `track.color` and `track.sort()` works! Also, yes I'm planning on releasing it as open-source.

[2021-11-11 21:24] jrobinso commented on #1420
OK, great, that's a really neat app you're building.  I'm thinking we might generalize the events to listen for any user menu action, and package that up as some kind of general object rather than have events for sort, color, etc.    This is a vague notion at the moment,  I'll look into this more next week.

[2021-11-13 00:10] antonylebechec opened #1421 "VCF loaded but not the corresponding VCF.gz (without VCF.gz.tbi)"
Dear IGV Team,

I use dceoy/igv-webapp docker image to load my data through https://github.com/igvteam/igv.js-flask.git (docker service named "DAS")

I perfectly load BAM, CRAM and BED files.

However, I've some problems to load VCF files.
I used multiples VCF files (*vcf and *vcf.gz), all passing BCFTOOLS "validation" (no error when "view" and "sort")
They all work using Tracks > Local Files...
W

[2021-11-13 03:19] jrobinso commented on #1421
I can't reproduce the issue.  All 4 of these configurations work for me (see screenshot).
<img width="1786" alt="Screen Shot 2021-11-12 at 7 17 08 PM" src="https://user-images.githubusercontent.com/933148/141603864-f66337af-6396-49cc-8462-ee40681bfb30.png">

[code]

[2021-11-13 03:21] jrobinso commented on #1421
BTW you did not specify a version for igv-webapp or igv.js.   I am using the latest.

[2021-11-13 12:26] antonylebechec commented on #1421
Thanks for that!

First, I used the latest release (just rebuild docker images yesterday) :
IGV-Web app version 1.6.3
igv.js version 2.10.4

I tried without "indexURL" and with "indexed: false", but I got the same problem.

You're probably right, it can be a problem with igv.js, suggesting that vcf.gz file is truncated from the source. There files are not huge, and BAM files (huge) are well loaded