[2019-11-22 05:47] jrobinso commented on #295
I can't reproduce this issue, it behaves properly with gtfs I've tested (gencodev24).  If its still an issue please attach a zipped example gtf to reproduce.

[2019-11-22 05:47] #295 closed

[2019-11-22 05:50] #209 closed

[2019-11-22 05:52] jrobinso commented on #807
This is beyond the scope of igv.js.

[2019-11-22 05:52] #807 closed

[2019-11-26 11:32] dnil commented on #956
For the record, in the end we met success with explicit `format: bigwig`or `format: wig` on each track. Something was a bit off with auto-detection using our flask solution for serving partial files.

[2019-11-26 15:49] blajoie commented on #1023
Will do - more soon @jrobinso

[2019-11-26 18:32] jrobinso commented on #956
Auto-detection simply looks  at the file extension, I don't see any reason that wouldn't work from a flask server but in any event its better to be explicit.   Thanks for the update.

[2019-11-27 09:32] shenjia1 opened #1025 "How to use the index file for seg file?"
My seg file is too large. I want to use the index file. But I used the command below to get the index file:
tabix -b 3 -e 4 -s 2  XXX.seg.gz
But it doesn't work.

[2019-11-27 14:27] valleema opened #1026 "Example CRAM file, locally saved, crashes browser"
Hello!

I am testing out `igv.js` with [this example](https://igv.org/web/release/2.3.5/examples/cram.html) and it works well, with the s3 files:

[code]

The web page is super light (around 3 MB, if we trust the browser's devtools) and works nicely.

However, to simulate my project (using Laravel), I locally downloaded them, and used them this way:

[code]

Laravel has seen that I required those

[2019-11-27 17:35] jrobinso commented on #1026
Yes, most likely.  Possibly your server is ignoring the Range header and trying to load the entire file.   See here for server requirements,  CORS does not apply if the data and page is loaded from the same domain.    https://github.com/igvteam/igv.js/wiki/Data-Server-Requirements

[2019-11-27 19:40] jrobinso commented on #1026
I see Laravel is based on PHP.  Here is some PHP that properly handles the range header, or at least properly enough for the various IGVs (I used it).  This snippet reads from remote files using curl, but you could modify it to do something similar with local files.  The key thing is to only return the byte range requested, not the entire file.

[code]

[2019-11-27 19:43] jrobinso commented on #1026
I posted a snippet to do range requests with PHP but realized it was not exactly what you need.  If you do a web search you should find an implementation.   You need to parse the range header, then read and return in the request only the bytes requested, not the entire file.  Most servers will do this for you, including simple ones like flask and Node's http-server.

[2019-11-27 19:43] #1026 closed

[2019-11-28 06:29] valleema commented on #1026
Thank you @jrobinso, I will look into it.

[2019-12-03 10:11] stefan-leye opened #1027 "Error on removing browser"
Sometimes, when a running IGV browser is removed (shortly after creating, e.g. if the user switches views), igv.js throws the following error:

TrackView
_callee9$
tryCatch
invoke
defineIteratorMethods/</prototype[method]
asyncGeneratorStep

This probably results from the DOM element being not visible, before the IGV browser is correctly disposed.

[2019-12-05 01:05] docwarren opened #1028 "Ability to specify color and opacity for wig tracks"
Hi Jim,

When doing an IGVGraphics.fillRect its possible to specify a properties object that modifies things like strokeStyle. However this is not possible for drawing a point with IGVGraphics.fillCircle.
We like the idea of modifying opacity quite a bit because when you have multiple overlapping features they stack up and are darker where more overlap occurs and lighter where less overlap occurs.

[2019-12-05 01:14] jrobinso commented on #1028
That was an oversight,  I just pushed an update.  I don't know how to reset a context's properties to defaults other than creating a new one, but all these methods reset the context to values they had prior to the call with this

[code]

[2019-12-05 21:15] blajoie commented on #1028
Awesome - thanks Jim - this will help us quite a bit!

[2019-12-06 05:29] docwarren commented on #1028
Thanks Jim.

[2019-12-06 05:46] docwarren commented on #1028
Any chance you could modify line 201 in wigTrack
`IGVGraphics.fillCircle(ctx, px, py, pointSize / 2, {fillStyle: color, strokeStyle: color});`
I don't seem to have permission to push a new branch.

[2019-12-06 06:15] shenjia1 commented on #816
Hi , how to use the the fillCircle / strokeCircle methods to set a color ?

[2019-12-06 06:24] bw2 opened #1029 "When creating browser, have option to show Gencode along-side/instead of RefSeq"
Just in case others are also interested in a Gencode track,

![image](https://user-images.githubusercontent.com/6240170/70300382-5dec8800-17c5-11ea-85fb-e54a525dc137.png)

I created this track by
1) downloading the Gencode v32 knownGene.txt table from [https://genome.ucsc.edu/...](https://genome.ucsc.edu/cgi-bin/hgTables?hgsid=781208525_T8nvhQvX2wKgGYJE1KRgUZ6rIida&clade=mammal&org=Human&db=hg38&h

[2019-12-08 18:53] bw2 opened #1030 ""Cannot read property 'tabix' of undefined" error message when a user logs in but doesn't doesn't have permissions to access a particular Google bucket path"
![image](https://user-images.githubusercontent.com/6240170/70394299-f94a4c80-19c1-11ea-8ec2-add5680bf7a7.png)

![image](https://user-images.githubusercontent.com/6240170/70394301-fcddd380-19c1-11ea-9816-81e9c8357c6a.png)

When I look at igv.js:26825 it's

![image](https://user-images.githubusercontent.com/6240170/70394305-036c4b00-19c2-11ea-8020-0e5bdd58e7dd.png)

[2019-12-09 18:28] docwarren commented on #1023
https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/setLineDash

[2019-12-10 03:38] jrobinso commented on #1030
Hi @bw2, as communicated by email I couldn't reproduce this exactly, however commit 5645557cda1eed1ed686d41aa3f68574cb583afb should solve the problem.  Merge this into your branch and try again.   Thanks.

[2019-12-10 17:44] blajoie commented on #1023
Yes exactly, this is only logical for 'data' tracks.  bedgraph/wig

[2019-12-10 18:54] docwarren commented on #1023
@blajoie We will need to update the wiki if these changes are accepted

[2019-12-10 19:29] #1028 closed

[2019-12-11 08:03] valleema commented on #1026
Hi @jrobinso,
For those encountering the same problem:

I tried with MAMP and it works beautifully.
So it was the `php artisan serve` which cannot handle CORS (as of today).

Cheers!

[2019-12-11 11:41] pratibha-strand opened #1035 "setCustomCursorGuideMouseHandler is not called when mouse clicks outside the content div"
Can we call this when the mouse clicks on viewport container but outside content div?

<img width="1160" alt="Screenshot 2019-12-11 at 5 09 58 PM" src="https://user-images.githubusercontent.com/24718636/70618520-1ccafc80-1c39-11ea-9882-a794b5d08828.png">
<img width="1160" alt="Screenshot 2019-12-11 at 5 10 06 PM" src="https://user-images.githubusercontent.com/24718636/70618531-22c0dd80-1c39-11ea-9

[2019-12-12 09:40] sjsachinrj opened #1037 "autoHeight value is not true by default for alignment track in IGV 2.2.0"
In previous version  of IGV.js this value is true by default. Do we need to set it true explicitly for v2.2.0

[2019-12-12 17:27] jrobinso commented on #1037
@sjsachinrj In what version do you find autoHeight defaulting to true?

[2019-12-13 01:42] sjsachinrj commented on #1037
@jrobinso In v1.0.8 .Also in IGV is document default value for this field is specified as true.
After looking into IGV code i found that v2.2 default track height is assigned to track config.height which were missing in v1.0.8

[2019-12-13 02:36] jrobinso commented on #1037
Yes, the documentation was wrong, its been corrected.

[2019-12-13 02:36] #1037 closed

[2019-12-13 17:22] jrobinso commented on #1013
Thanks @pratibha-strand for the PR.   I'm leaving this open until we release and update the wiki doc.  Also - note to self - we should add a similar method to BaseTrack for the track-specific ROIs.

[2019-12-14 18:09] jrobinso commented on #1035
@pratibha-strand This should be fixed now, can you pull and try?

[2019-12-14 18:22] jrobinso commented on #1035
@pratibha-strand ignore last message, now deleted, we need to do more testing.

[2019-12-19 10:34] sjsachinrj opened #1044 "Less alignments reads are shown in IGV.js(v2.3.5) compared to IGV desktop"
In IGV desktop around 40 reads are shown where as in IGV.js only 5 reads is shown. Please see screenshot for both viewer
IGV Desktop viewer
![image](https://user-images.githubusercontent.com/31273045/71166496-df89ee80-2278-11ea-93e0-6bd4eedd0963.png)

IGV.js(v2.3.5) viewer

![image](https://user-images.githubusercontent.com/31273045/71166538-fd575380-2278-11ea-9a83-3503d6343617.png)

Could you ple

[2019-12-19 12:31] sjsachinrj commented on #1044
Sorry for confusion, there is very large blank space between intermediate reads which i haven't noticed. So now in  both viewer reads count is same just in IGV.js reads are  rendered in reverse  order of  Desktop.
Can you please tell reason for such behavior?

[2019-12-19 19:28] jrobinso commented on #1044
Could you explain what you mean by "read order"?

[2019-12-19 21:56] jrobinso commented on #1044
I don't have your data so I can't tell you why there is a gap, but in general the order of reads is arbitrary.  You should not expect IGV desktop and igv.js to have the exact order.

[2019-12-19 21:56] #1044 closed

[2019-12-26 19:20] jrobinso commented on #1025
Hi, sorry for the delayed response,  I'm traveling for the holidays, will look at this when I return.

[2019-12-30 07:39] shenjia1 commented on #1025
Thanks. Could you please tell me whether the lasted version support the indexed seg files?

[2019-12-30 22:30] jrobinso commented on #1025
No version of IGV or igv.js supports indexed seg files.  When I return after new years I will investigate if it is possible to supporting it.   I'm not aware of any software that supports this, but it might be possible.

[2020-01-05 17:23] bw2 commented on #1030
I think this is fixed now.

[2020-01-05 17:23] #1030 closed

[2020-01-08 22:00] DarioS opened #1045 "Side by Side Comparison to IGV in Wiki"
My collaborators asked what features are in common and unique between IGV desktop allocation  and IGV.js. It would be convenient to have a table with ticks in it to show what feature each software has.

[2020-01-08 22:22] jrobinso commented on #1045
We've thought about that but there are too many features in IGV desktop, and its a moving target on both sides.  Its easier to respond to specific questions,  if you have a list of features you would like to see I can say yes/no/future wrt igv.js.

[2020-01-08 23:00] DarioS commented on #1045
Not sure what the most popular features for biologists are, since I'm not one. I was thinking of a table of a dozen or so features. Perhaps it's something for the distant future to include.

[2020-01-08 23:19] jrobinso commented on #1045
Most people asking this question are interested in what IGV desktop features are in igv.js, and the answer is generally all of them that have been requested.  The problem with a table is its static, and implies some fixed answer.   No one should make a decision wrt igv.js based on such a table, if there is a missing feature they should rather request it.    With respect to major features igv.js is

[2020-01-08 23:19] #1045 closed

[2020-01-13 12:21] a-slide opened #1046 "Colors not showing on color coded bed tracks"
Hi @jrobinso,

I recently generated bed tracks with a color-code field in the 9th column as defined in the standard format. Here is an example file head.

[code]

This work fine with the standalone IGV version but all the annotations are black with the Jupyter client.

**IGV standalone**

![igv_snapshot](https://user-images.githubusercontent.com/5701192/72255515-d8979700-35fe-11ea-9d1c-b75e37c0bdd

[2020-01-13 21:29] #1046 closed

[2020-01-13 21:38] a-slide commented on #1046
I can also confirm that on the same data without the quotes I get the expected colors
Thanks

[2020-01-15 00:19] paul-shannon opened #1047 "hg38 gene track always 70 pixels high"
Using ```https://cdn.jsdelivr.net/npm/igv@2.3.5/dist/igv.min.js``` (2.3.2 also) the track options shown below always produce a gene track 70 pixels high.  It is likely to be my error - any suggestions?

![image](https://user-images.githubusercontent.com/2480712/72393970-62bc2a00-36e9-11ea-9a23-2a31ab88dc13.png)

![image](https://user-images.githubusercontent.com/2480712/72394024-9434f580-36e9-11ea

[2020-01-15 20:17] jrobinso commented on #1047
@paul-shannon There is no way to control the height of the hosted genome gene track.  The height settings have no effect outside the context of a track,  the global settings you are trying won't work.

You can get around this by defining a "reference" object in lieu of using genomeId.  For hg38 use this, and add your track height settings or anything else you want:
[code]

[2020-01-17 00:05] jrobinso commented on #1029
Thanks @bw2 very nice.

[2020-01-17 14:12] paul-shannon commented on #1047
Thanks, Jim.  I will use the approach you suggest.

[2020-01-17 14:12] #1047 closed

[2020-01-23 00:24] oootif commented on #182
Hi, i still don't see the amino acid coding on igv.js like the desktop version has. Is there a work around recommended? I just need the hg19 AA sequenc to pair up with the RefSeq DNA sequence. Thanks

[2020-01-23 03:19] jrobinso commented on #182
Do you mean the 3 frame translation?  Did you try the menu for the sequence
track (gear icon)?

On Wed, Jan 22, 2020 at 4:24 PM oootif <notifications@github.com> wrote:

[2020-01-23 03:25] oootif commented on #182
Not the 3-frame translation. I’m talking about the Amino acid coding, which
is only 1-frame, like how the IGV desktop displays the AA coding at the
RefSeq track.

On Wed, Jan 22, 2020 at 8:19 PM Jim Robinson <notifications@github.com>
wrote:

[2020-01-23 03:35] jrobinso commented on #182
That's not implemented in igv.js.    Looking  back through this thread at some point it got confused with the 3-frame translation and closed.  I will reopen it.  No ETA though.

[2020-01-23 03:37] oootif commented on #182
No problem. Can I add a separate track for hg19 amino acid sequence that
matches the DNA seq that igv uses? Do you have a recommended one that I can
use?

On Wed, Jan 22, 2020 at 8:35 PM Jim Robinson <notifications@github.com>
wrote:

[2020-01-23 03:44] jrobinso commented on #182
@oootif I don't understand how that would work, the AA sequence needs to be computed from fields in the annotation file, specifically the frame shift taking account the strand combined of course with the nucleotide sequence.  I don't know of any format to do this.   I would welcome a pull request if you are able to implement it, but there is not off-the-shelf file for this that I am aware of.

[2020-01-24 13:12] el1jaC opened #1048 "Hide navigation controls"
Hi all,
I wonder if there is a way to hide the topbar with all of controls (like search, show/hide cursor, etc.) with an API or function, without editing the CSS file.

Thanks in advance :)

[2020-01-24 14:59] turner commented on #1048
There is a igv browser configuration setting to do that named `showControls`. Set it to `false` to hide the controls:

[code]

[2020-01-24 22:43] romanzenka opened #1049 "ERROR: range-byte header was ignored for url"
This is basically the same issue as #680.

We are doing some testing, so we are loading very small files.

Chrome seems to give up asking for tiny file slivers, instead delivers entire file contents all at once.

IGV.js considers this a serious error and reports it.

Technically it is not an issue that you got more data than what you asked for!

I will try to make a tiny PR that will return a subs

[2020-01-24 22:47] jrobinso commented on #1049
@romanzenka I've never seen Chrome do this.  Are you sure its not your server?  It is an issue in many cases, for example a 300 GB bam file.

[2020-01-24 23:17] romanzenka commented on #1049
I am using the built-in python server on a tiny VCF file. I guess it could be the server giving up, good point, will do more reading about it. It serves ranges just fine but once the ranges get small, it gives up.

[2020-01-30 17:09] crashete opened #1051 "[TypeError: Cannot read property 'end' of undefined] on MT locus"
Hello,

We've been using igv.js for a while now with no issues, but recently I've stepped on an error trying to visualize MT data on the viewer.

I've changed the reference from hg19 to b37 and, while I can browse data from chromosomes 1-22, X or Y, trying to search for anything MT-related (from whole MT to a specific locus) drops an error in Dev Tools "igv.js:53433 Uncaught (in promise) TypeError

[2020-01-30 17:50] jrobinso commented on #893
bump

[2020-01-30 20:26] jrobinso commented on #1051
I'll look into it.   Are you able to search for MT loci here:
http://igv.org/app/ ?

On Thu, Jan 30, 2020 at 12:09 PM crashete <notifications@github.com> wrote:

[2020-01-31 08:51] crashete commented on #1051
Hi Jim,

No, I can't. It drops the same error on the console.
![image](https://user-images.githubusercontent.com/5757138/73524246-06594a00-440d-11ea-8829-48e307bf7c20.png)

Tried also with Firefox to discard that the issue is related with the browser. This one drops TypeError: f[(f.length - 1)] is undefined @ igv.js:53432:8

Haven't got time yet to go further into debugging this, but I just realiz

[2020-01-31 12:42] jrobinso commented on #1051
OK I see the error in the console also but it really doesn't affect
anything.   It still goes to the locus requested.   It is erroring
trying to draw the cytoband,  there is no cytoband defined for MT.   i will
correct that but for me at least this is a harmless error.

On Fri, Jan 31, 2020 at 3:51 AM crashete <notifications@github.com> wrote:

[2020-01-31 13:18] #1051 closed

[2020-01-31 14:26] crashete commented on #1051
Thanks for the fast fix Jim. Actually the error on the cytoband drawing was also causing the other tracks to not render, so it wasn't as harmless as it might look. All good now, thanks again!

[2020-02-03 08:05] yubau1112 opened #1052 "how to accelerate to open?"
my case:
http://203.73.62.11:2020/yubau_test/HLA/HLA42_20200130/alignment/HLA_H9-12_S6.html

![image](https://user-images.githubusercontent.com/45645173/73635725-17b98500-469f-11ea-8ab5-199c6de87f06.png)

spend time: 27s

how to accelerate to open?

thanks!

[2020-02-03 11:47] el1jaC commented on #1048
Thank you turner :)
I'll try it soon!

[2020-02-03 11:47] #1048 closed

[2020-02-03 11:52] el1jaC opened #1053 "Igv "search" crashes my pc."
Hi all,
I embedded the IGV browser js in Java Webview.
In a partiular case, when i open the view and I load the BAM (+BAI), when i launch the igv.search method my PC is completely freezed and I must reboot it.

There is any solution about the memory/CPU usage limitations?
Do you need any other information about my system?

Best,
Elia

[2020-02-03 14:19] jrobinso commented on #1052
Faster server?  What is serving this file? It took almost a minute to just
load the html page before loading the cram file.

On Mon, Feb 3, 2020 at 3:05 AM yubau1112 <notifications@github.com> wrote:

[2020-02-03 14:20] jrobinso commented on #1053
See if you can reproduce the problem from the igv web application at
igv.org/app.  You can load the same files and go to the same locus there.
 This will help isolate the problem.

On Mon, Feb 3, 2020 at 6:52 AM Elia Callegari <notifications@github.com>
wrote:

[2020-02-03 15:55] yubau1112 commented on #1052
I use apache as a web server.

I hope that data can be load into igv at the same time when the webpage is opened, but I think this is difficult. This function has greatly solved my problem, thank you!

[2020-02-03 15:55] #1052 closed

[2020-02-03 16:22] yubau1112 opened #1054 "Add ability to set data range & autoscale for coverage track"
![image](https://user-images.githubusercontent.com/45645173/73670466-38f09480-46e4-11ea-8734-ba4aa68ef3bc.png)

![image](https://user-images.githubusercontent.com/45645173/73670496-46a61a00-46e4-11ea-93f4-ef77ce0f3414.png)

how to auto adjust coverage height when using igv.js?

thanks!

[2020-02-03 19:37] jrobinso commented on #1054
I assume you mean coverage scale.  Did you try right-clicking over the track?  Select "set data range" from the menu.

[2020-02-04 00:12] yubau1112 commented on #1054
Yes, but I mean using  igv.js not windows IGV

thanks!

[2020-02-04 00:21] jrobinso commented on #1049
I think this is resolved, re-open if not.

[2020-02-04 00:21] #1049 closed

[2020-02-04 00:30] jrobinso commented on #1054
Sorry, my confusion.   There is currently no way to set this in igv.js.  I will re-open this and change the title and treat it as a feature request.

[2020-02-04 11:07] el1jaC commented on #1053
Updating igv.js to the latest version resolves my issue, and igv seems to be very faster :)

My previous version was 2.2.14, and i saw you have improved the igv performance on big depth coverage files.

Could this be the reason?

[2020-02-04 14:29] jrobinso commented on #1053
@el1jaC Yes, of course it could be the reason.   Generally you should always try a recent version before posting an issue, we assume you are using the most reason version when you post here.

[2020-02-04 14:29] #1053 closed

[2020-02-04 15:06] el1jaC commented on #1053
@jrobinso yes, from now we will try to stay updated with igv js new versions :)

Thanks a lot.

[2020-02-04 17:45] jrobinso commented on #1035
Fixed with commit 2487f50ae02257741436b27fec9f4d4e399661fb

[2020-02-04 17:45] #1035 closed

[2020-02-06 01:10] bw2 opened #1056 "Don't redraw tracks when user zoom or drag action doesn't change viewport coordinates."
It would be nice if the code that triggers track redraws could check whether a drag or zoom action actually changed coordinates before triggering. Currently, if you are zoomed out to chromosome level, clicking zoom-out doesn't do anything, but the track draw functions still get called.
Same thing for trying to drag to the left when you're already at the left edge of the chromosome.
gCNV draw takes

[2020-02-06 01:13] bw2 opened #1057 "Add new global gear menu item that shows the track's source file path"
Add a new gear menu item to all tracks called "Source File Path"  (or "Track Info" or similar) which would bring up a dialog that shows the full file path and any other basic metadata not already visible in the UI.

I can't think of any other info to include except maybe (if easily available)
the source file date-last-modified, file size, and total number of features?

[2020-02-07 00:06] petermchale opened #1058 "gap in read not displayed as black bar"
The attached screenshots indicate that the two reads that the popovers are "attached to" are in fact the same read. Yet there is no black bar connecting the different parts of the read. Is that a bug? If so, does it have something to do with the presence of the 1bp insertion immediately adjacent to the deletion (on its "right side")?

Let me know if you want the bam.

![left part of read](https://

[2020-02-07 03:02] jrobinso commented on #1058
Hi Peter.  This looks like a bug, and yes I suspect the insertion is involved as well.  The BAM would be helpful,  or a slice of the bam from this region.

[2020-02-07 18:16] petermchale commented on #1058
Mini bam at http://home.chpc.utah.edu/~u6018199/bams_igv_bug/
Reference is GRCh38.

[2020-02-07 23:43] #1056 closed

[2020-02-07 23:45] jrobinso commented on #1056
@bw2 should be fixed.   As a side note -- redrawing after a drag is triggered if autoscale == true even if the cached image is not out of view.  This is necessary because the data in view might change.   But redrawing is no longer triggered if view coordinates or zoom have not changed.

[2020-02-08 00:01] jrobinso commented on #1058
@petermchale thanks for the bam, unfortunately I can't read.  Samtools error is ```[W::bam_hdr_read] EOF marker is absent. The input is probably truncated```.   Its only 245 bytes, does that seem correct?

[2020-02-08 00:08] jrobinso commented on #1058
Stepping through, the file is truncated after 245 bytes,  the first compressed block is at least 13,871 bytes according to the header.

[2020-02-08 23:13] bw2 commented on #1056
great, thanks

[2020-02-10 18:49] petermchale commented on #1058
I downloaded the bam and ran `samtools quickcheck` (see attached screenshot). It seems to indicate that the bam contains an EOF: http://www.htslib.org/doc/samtools-quickcheck.html

The downloaded bam takes 4096 bytes on disk (see attached screenshot), so the fact that you report 245 bytes suggests that there was a problem downloading the file. Could you test this by comparing the output of `samtoo

[2020-02-10 20:51] jrobinso commented on #1058
OK, my mistake, I was downloading directly from Chrome and it consistently stops at 245 bytes.  Using wget I got the whole file.

I got 13,871 from the bsize field in the compressed header block, but that is probably the uncompressed size.   In any event I think this bug is fixed, in master,  it will be ~2 weeks before we do a release.  Thanks for the report and test data.  Attached is a screensho

[2020-02-10 22:54] ggydush opened #1059 "Feature Request: Select by name"
In IGV desktop, we can select by read name - it would be awesome if we could do the same in IGVJS. I'm looking to highlight certain reads based on tag, but highlighting by read name would work as well to be consistent with IGV desktop.

[2020-02-10 23:39] petermchale commented on #1058
Thanks for fixing the bug.

[2020-02-10 23:39] #1058 closed

[2020-02-11 00:08] petermchale opened #1060 "variant track popover data missing"
When I click on a `variant` track at the location of a variant, I find that `popoverData` is empty:
![Screen Shot 2020-02-10 at 4 51 48 PM](https://user-images.githubusercontent.com/19557137/74201431-ffa9ae80-4c26-11ea-921b-12e811cdca85.png)

Expected behavior is for `popoverData` to contain the values of the various fields in the corresponding row of the vcf file, as that is what https://github.c

[2020-02-11 00:49] jrobinso commented on #1060
The following works as expected for me.   I'll probably need a reproducible test case from you to figure out what's going on.

[code]

[2020-02-11 18:53] petermchale commented on #1060
In my case, I had included the key-value pair `displayMode: "collapsed"` in the `tracks[0]` object. Removing that key-value pair caused `popoverData` to get populated.

The following however suggests to me that `popoverData` should have contained something even in "collapsed" mode:
https://github.com/igvteam/igv.js/blob/f20804acf30cc7031427a6a456717d8d65bb6884/js/variant/variantTrack.js#L274
Is a

[2020-02-11 18:55] jrobinso commented on #1060
No, null is not expected, that is a bug.

[2020-02-12 06:27] jrobinso commented on #1060
OK, pretty sure I fixed this with last commit but re-open if not.

[2020-02-12 16:29] petermchale commented on #1060
Fixed. Thanks.

[2020-02-12 16:29] #1060 closed

[2020-02-14 12:33] GrishaH opened #1061 "htsget endpoint path is partially hardcoded"
We are testing a deployment of htsget using your genome browser.
We are currently having issues with a section of code that is hardcoding a section of the endpoint path as `/reads/`.
Our understanding of the htsget spec is that `/reads/` and `/variants/` are recommended, but other alternative names may be used.
Would it be possible to expose this as a parameter in the tracks? So the user can speci

[2020-02-14 16:32] jrobinso commented on #1061
Hmm, the text does say "recommended",  the open API specification implies it is required:  http://samtools.github.io/hts-specs/pub/htsget-openapi.yaml

Yes it can be a parameter, in fact maybe nothing should be hardcoded and "self.config.endpoint" should include '/reads/'.    @lbergelson do you have any thoughts on this?

[2020-02-14 17:06] jrobinso commented on #1061
Here's a proposed solution that will keep backward compatibility with the current implementation,  htsget alignment resources will be specified as follows.

[code]

[2020-02-20 09:44] GrishaH commented on #1061
Thanks for making the new changes, we were wondering if it is likely the new commit would be pushed to a release of igv.js in the near future? It's possible for us to use the version in master, but we would prefer to work with an official release if possible.

[2020-02-20 11:31] GrishaH opened #1062 "Unable to view tracks on local server via htsget"
Unfortunately, data doesn't seem to load when requesting data from our own htsget server.
Using the Network Developer tools in-browser, I'm able to see that 2 requests are made, one to retrieve the htsget json that includes the URL to follow, and the other to actually retrieve the data using said url. (In fact, there's two copies of the two requests being made at the same time, one for chromosome

[2020-02-20 19:01] jrobinso commented on #1061
I will be doing a release this weekend or early next week.

[2020-02-20 19:05] jrobinso commented on #1062
I'm not really able to debug your server, do you see any errors in the console?     If you can capture the results of the requests with curl, zip, and share them maybe I can simulate your server to see what's happening.

I don't know what you are referring to wrt  "the tracking bar".

[2020-02-21 09:56] GrishaH commented on #1061
Thank you for the help.

[2020-02-21 23:54] helgathorv opened #1064 "Support * in locus search"
Entering '*' in the locus search box should be the same as entering 'all', i.e. go to whole genome view

[2020-02-25 17:19] ggydush opened #1065 "Support mm9 genome"
It would be great if IGVJs would support the mouse mm9 genome.

[2020-02-26 07:36] lkalbert001 opened #1066 "Support load bam file from server."
I use the igv.js by docker image decoy/igv-webapp.
But when I load bam file, I can't find the button loading bam from the host that running the server.
How can I do to make it have this function?

Thank you very much.

[2020-02-26 07:49] jrobinso commented on #1066
Hi,  I don't understand your question,  there is no button to load a bam file.  If you want to configure custom tracks you need to do that yourself.

Also I don't know the docker image you are referring too.

[2020-02-26 22:24] Alex-Willenbrink opened #1068 "Override Bed Plot Colors"
Hello,

Currently, if you load a BED file in to the genome browser, you can only change the color of the plots if you did not specify color of your plots in the BED file. Can this behavior be changed, so we can override an initial specified plot color?

Thanks,

-Alex

[2020-02-26 22:56] jrobinso commented on #1068
@Alex-Willenbrink For clarification -- are you saying the menu item (set color) doesn't work if you set an initial color?

[2020-02-27 01:55] lkalbert001 commented on #1066
What I want to do is loading 'track' from a host that the igv-webapp is running on. I think the server is running on the host, so it should have an entrance to get the bam file in the host.
Tracks ->
- Local File
- Dropbox...
- URL
- [Server]  # This is what i need.

And I a newer to use igv-webapp don't know how to configure it.
I hope you can give me some advice, more kindly an updated igv-webap

[2020-02-27 02:27] jrobinso commented on #1066
The server might be running on the host, but igv-webapp is a client application and has no visibility on the server.  It is running on the client.  In fact, due to web security restrictions it has no visibility of files on even the client, but that is not relevant.

[2020-02-27 02:27] #1066 closed

[2020-02-27 12:06] GrishaH commented on #1062
We are still having issues with reads not displaying in the viewer, and we have prepared an example and the steps we have taken so that you can see what we have done so far.

We began by building the required js and min.js files from the instructions on the Github, cloning latest release (master) and building it. The required .html file is set up the same as the ones given in the examples, using a

[2020-02-27 19:31] petermchale commented on #976
Any progress on visualizing supplementary alignments?

[2020-02-28 00:33] Alex-Willenbrink commented on #1068
@jrobinso Yes, the menu is one of the places that the color can't be changed BUT you also can't change the color of your plots even if you specify the color in the track object you pass into the "loadTrack" function.

For example if this is my bed file:
2	21016630	21016650	301012	1000	-	21016630	21016650	0,0,255	1	20,	0,

This plot will always show up as blue even if I add the "color" property in

[2020-02-28 00:36] jrobinso commented on #1068
OK, I would call that a bug, certainly not intended.  Will fix.

On Thu, Feb 27, 2020 at 4:34 PM Alex Willenbrink <notifications@github.com>
wrote:

[2020-02-28 00:49] Alex-Willenbrink commented on #1068
Thanks! Also one last thing I promise, is there an eventHandler for track color changes? If not, how would you recommend we listen for the track color state change?

[2020-02-28 00:54] jrobinso commented on #1068
No, and that's rather specific to add a handler for.   Why do you want to
catch this?  I ask because there might be another way to accomplish what
you are trying to do.

On Thu, Feb 27, 2020 at 4:49 PM Alex Willenbrink <notifications@github.com>
wrote:

[2020-02-28 19:32] Alex-Willenbrink commented on #1068
I'm trying to capture the state of the genome browser (genome, locus, tracks, track order, plot colors, etc.) in the URL so that users will be able to reproduce the same state of the genome browser if they wanted to copy the URL and revisit the link later or share it with another person.

[2020-02-28 20:49] jrobinso commented on #1068
Hi, we already have a method that does that,  I just looked and realized its not documented.  We use it to support links at igv.org/app,  like this one:  http://tinyurl.com/vrhmrtl

To use this first enable query parameters in our igv config

[code]
You will construct a url for bookmarking / sharing something like this

[code]
To get <igv blob string> call

[code]

Let me know how it works, AFAIK

[2020-02-28 21:33] jrobinso commented on #1068
I've updated the doc for this: https://github.com/igvteam/igv.js/wiki/Query-Parameters

[2020-02-28 23:47] jrobinso commented on #1062
@GrishaH Sorry I thought I responded to this.  yes could you provide a test URL, and steps to reproduce if different than above.  You can send it by email to igv-team (at) broadinstitute.org.

[2020-02-29 01:17] jrobinso commented on #978
This is going to be too difficult to realistically do in any reasonable time.

[2020-02-29 01:17] #978 closed

[2020-03-02 19:49] jrobinso commented on #1061
Thanks for the test data.   The igv.js htsget reader expects to get the same bam "header" on every request for a given resource.  This is to avoid decoding the header every time.   Also, behavior will be in general unpredictable if the header varies on every request.

In my test I'm using "hg19" which uses "chr1, ..." naming, so 2 requests are made (see explanation below).   On the first request t

[2020-03-02 19:57] #1061 closed

[2020-03-02 22:34] jrobinso commented on #1062
@GrishaH I responded to this on #1061 .  It should be fixed now.  Your server is returning a lightly different header  on each request, this was not expected.

[2020-03-02 22:34] #1062 closed

[2020-03-02 22:36] #1064 closed

[2020-03-02 22:37] #1029 closed

[2020-03-02 22:38] jrobinso commented on #1023
This has been merged

[2020-03-02 22:38] #1023 closed

[2020-03-02 22:55] #1013 closed

[2020-03-02 22:57] jrobinso commented on #934
Hi, sorry for the long delay.  There is a new option "noCallColor" to be released with 1.4.0 shortly.  By default it is very light gray, almost white, but can be set in the config object.

[2020-03-02 22:57] #934 closed

[2020-03-02 22:58] jrobinso commented on #865
Not enough demand for this.

[2020-03-02 22:58] #865 closed

[2020-03-03 03:07] jrobinso commented on #893
@ggydush Sorry for the long delay!  I've started working on this in a branch, its a little complicated due to the asynchronous nature of searching and alignment loading.

[2020-03-03 07:19] jrobinso commented on #902
done

[2020-03-03 07:19] #902 closed

[2020-03-03 08:23] kzoabi opened #1069 "Amino Acid sequences"
Hello guys,
I would like to know if there an example that shows Amino Acid sequences (if this is supported by igv.js) on any track when zooming in?

Thanks a lot,
Khaled Zoabi

[2020-03-03 12:41] GrishaH opened #1070 "Assumption made on header caching for BAMs for htsget requests"
Continuing on from the issue at #1061 , and specifically the comment on https://github.com/igvteam/igv.js/issues/1061#issuecomment-593584840 ,
It is our understanding no presumptions can be safely made regarding the bam headers for raw data from an htsget request.

BAM headers are not guaranteed to be the same between different requests, and while this assumption was relaxed, we have worries that

[2020-03-03 16:38] Z-Zen opened #1072 "Change minimumBases ?"
This isn't really an issue but I could not find anywhere on the wiki or the internet about my question. In which file should I change the `minimumBases` parameter ?

Thanks in advance !

[2020-03-03 16:57] jrobinso commented on #1070
Hi @GrishaH , sorry, I did not mean to alarm you.   It is unlikely you will encounter problems, but theoretically if the header can change anything can change, for example the sequence dictionary, or read group.   As long as you don't change the sequence dictionary to, for example mouse from human,  it should be fine.  Actually as currently coded igv.js would not crash even in this instance, but t

[2020-03-03 17:00] jrobinso commented on #1069
Hi Kaheld,  this is not yet supported.

On Tue, Mar 3, 2020 at 12:23 AM Khaled Zoabi <notifications@github.com>
wrote:

[2020-03-03 17:01] jrobinso commented on #1072
Hi, sorry but offhand I don't recognize "minimumBases", in what context do
you find this parameter?  Also, what do you mean by "file"?

On Tue, Mar 3, 2020 at 8:38 AM Alaa Badredine <notifications@github.com>
wrote:

[2020-03-03 22:51] Z-Zen commented on #1072
@jrobinso thanks for replying and sorry if I somewhat misconfused you. In the browser configuration [here](https://github.com/igvteam/igv.js/wiki/Browser-Configuration-1.0), it states the default value for the option `minimumBases` is 40. I was wondering how can I change this threshold so that we can see features without zooming a lot in IGV since our servers have a lot of memory.

Thanks !

[2020-03-03 23:27] jrobinso commented on #1072
Ahh,  you want to change "visibilityWindow" in your track configuration,
see https://github.com/igvteam/igv.js/wiki/Tracks-2.0.   You don't set this
globally, but per track.

Minimum bases just sets a value beyond which you cannot zoom.   For example
you can't zoom into a 10 base window.   The wording there is confusing, I
will work on it.

On Tue, Mar 3, 2020 at 2:51 PM Alaa Badredine <notificati

[2020-03-04 00:02] Z-Zen commented on #1072
I see ! Thanks for the explanation @jrobinso ! sorry if my question was too simple. I am closing it now.

[2020-03-04 00:02] #1072 closed

[2020-03-04 15:52] #1070 closed

[2020-03-04 15:58] jmtcsngr commented on #1070
Hi @jrobinso , I think our confusion comes from now being sure why some htsget requests seem to work correctly in the viewer, but others do not show any reads. We can manually check all requests and they return valid data, so we assume the viewers is having problems displaying them.

[2020-03-04 16:08] jrobinso commented on #1070
@jmtcsngr Is this still a problem?  The error was a wrong assumption in igv.js that the bam header would not be changing between requests, that is now fixed.   If you are still having issues with the latest code (version 2.4.0) please open a new issue.   Sorry for any confusion.  Thanks.

[2020-03-04 16:57] jmtcsngr commented on #1070
@jrobinso My bad, @GrishaH just confirmed it is working for us. I got stuck with the idea it was still pending. Thanks for the help!

[2020-03-05 15:44] Z-Zen commented on #1072
I have an additional question @jrobinso, I uploaded a VCF file on IGV and I would like to set the "visibilityWindow" to maximum, is it possible ? If yes, could you please guide me to which file I should modify ?

Thanks in advance.

[2020-03-05 15:48] jrobinso commented on #1072
@Z-Zen I don't understand what you mean by "which file", what are you referring to?   You configure igv.js through the configuration object, have you looked at the documentation?

[2020-03-05 16:04] Z-Zen commented on #1072
@jrobinso I seem to be lost in Javascript. I installed IGV-web by cloning github, building the source code and then starting IGV. I did read the documentation before. By re-reading it again, I realized that igv.js has a different name in my dist folder:

![image](https://user-images.githubusercontent.com/19333943/75999897-2ba51080-5f03-11ea-9669-77797d4136dc.png)

When I was reading the documentio

[2020-03-05 16:09] jrobinso commented on #1072
I see, you are asking about igv-webapp, that's a different project with its own issue tracker.   igv-webapp is an application, as opposed to a component for developers like igv.js.   To change the visibility window of a track use the menu (click the gear icon for the track).

[2020-03-05 16:11] Z-Zen commented on #1072
I understand better now and sorry for not mentioning it before. Is there a way to change it systematically ?

[2020-03-05 16:34] jrobinso commented on #1072
Currently no, there is no configurable global setting for this.

On Thu, Mar 5, 2020 at 8:11 AM Alaa Badredine <notifications@github.com>
wrote:

[2020-03-05 16:39] Z-Zen commented on #1072
Alright, thanks for the reply

[2020-03-05 16:40] jrobinso commented on #1072
Open an issue here for "global visibilityWindow setting".

[2020-03-06 17:58] petermchale commented on #1058
Bug fix available in https://github.com/igvteam/igv.js/releases/tag/v2.4.0

[2020-03-06 18:42] Z-Zen opened #1074 "global visibilityWindow setting"
Hello,

As requested by @jrobinso  on my previous [closed issue](https://github.com/igvteam/igv.js/issues/1072), I think a setting for a global visibilityWindow can be really useful when you have many tracks to change.

In our case, we have servers with a lot of memory so RAM usage is not a problem for us. For this reason, users tend to upload multiple tracks on IGV. When having multiple tracks, t

[2020-03-07 04:20] jrobinso commented on #976
@petermchale Not with igv.js.  I'm up to my ears on this very topic with IGV desktop, when I get that under control I'll cycle back to this.  Please ping it periodically.

[2020-03-08 15:56] jrobinso commented on #1074
Hi @Z-Zen .   First I agree we need a global setting.  It will have to be on a per track type basis, you would not want the same setting for VCF and BAM for example.

In the meantime you can set this value for each track in in the  configuration file that populates your "load tracks" menu so the users do not have to.

Also, note that igv.js / igv-webapp are 100% client programs.  They run in the u

[2020-03-09 17:19] petermchale opened #1075 "4th column of bed file not displayed"
In release 2.3.5, the 4th column of a bed file annotated intervals in the browser and was accessible as popover data from the console:

`chr1    7829887 7830126 name=trf;period=54;copy_number=4.4;percentage_match=87;percentage_indel=1`

![Screen Shot 2020-03-09 at 11 04 55 AM](https://user-images.githubusercontent.com/19557137/76239462-3b6c6f80-61f7-11ea-8ac8-d7ef18aeccd4.png)

![Screen Shot 2020-

[2020-03-09 18:52] jrobinso commented on #1075
That looks like a bug, I will look into it.

[2020-03-09 22:33] javadnoorb commented on #393
Hi. How do you set the query parameter in the url? Does it work with uri as well?

[2020-03-10 01:56] jrobinso commented on #393
@javadnoorb I don't understand your question, are you asking what the Google parameter name?  That's probably a Google question, igv.js doesn't care it just passes through any parameters it finds.

[2020-03-10 13:29] javadnoorb commented on #393
@jrobinso I'm trying to set payer project in jupyter-igv. The only Google option I can find is [this](https://cloud.google.com/storage/docs/using-requester-pays#enable-requester-pays-json). But this is based on URL (not URI) and requires extra JSON (or XML) file. So I don't see how this can be set in the URI. I'm asking this because IGV desktop has an implementation where you can set the payer pro

[2020-03-10 14:26] jrobinso commented on #393
@javadnoorb I don't understand the distinction you are making between URI and URL,  igv.js only supports http/https protocol so what is the difference?

In a URL you can set the user project as a query parameter:  &userProject=[PROJECT_ID]

[2020-03-10 15:20] javadnoorb commented on #393
@jrobinso I've tried `&userProject=[PROJECT_ID]` in the URLs without success. By URI I just meant the google cloud storage paths which start which 'gs://'. Maybe my question is more suited for jupyter-igv section (but I just assumed the backend is the same igv.js). There you can use the URIs directly and skip http/https, as in:

[code]

[2020-03-10 15:22] jrobinso commented on #393
OK, there might be a bug then.   Could you try the https equivalent url and see if it works?  That's not a long term solution but is information.    Yes igv-jupyter uses igv.js.

[2020-03-10 15:23] jrobinso commented on #393
igv.js translates the gs url to its https equivalent, it might be stripping the parameter off in the process.  You could watch this from the network tab.

[2020-03-10 15:33] javadnoorb commented on #393
No, it doesn't work either way. To confirm, I tried a URL with the following structure:

https://storage.cloud.google.com/[BUCKET_NAME]/[PATH_TO_BAM_FILE]/my.bam?authuser=2&userProject=[PROJECT_ID]

I copied the first part of the path (https://storage.cloud.google.com/[BUCKET_NAME]/[PATH_TO_BAM_FILE]/my.bam?authuser=2) directly from google console.

FYI, I don't encounter this issue in the IGV Des

[2020-03-10 15:42] jrobinso commented on #393
Can you check the errors / response in the network tab?  I don't have a
billable google project to test this with.

On Tue, Mar 10, 2020 at 8:33 AM Javad Noorbakhsh <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2020-03-10 15:47] javadnoorb commented on #393
Unfortunately I have very limited console access as well. Is there any command line option by any chance that you'd know of? I tend to have more access through command line.

[2020-03-10 15:50] jrobinso commented on #393
curl.

On Tue, Mar 10, 2020 at 8:47 AM Javad Noorbakhsh <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2020-03-10 18:04] javadnoorb commented on #393
Not sure why curl doesn't do anything. wget does. It just gets downloaded as html though. Not the bam file.

[2020-03-10 19:24] jrobinso commented on #393
@javadnoorb can you post your curl command?

If you can give me access and a project ID to your test file I'll see if I can reproduce this.  Obviously don't post it here.   You can email it securely to igv-team (at) broadinstitute.org.  Otherwise I'll try to simulate the issue in some other way.

[2020-03-10 19:24] mbookman commented on #393
I have seen the following successfully used with igv.js:

[code]

I noticed in the post earlier:

Should that be "?userProject=[PROJECT_ID]"?

[2020-03-10 19:27] jrobinso commented on #393
@mbookman If its the first parameter, which I guess it usually is, then ?.  If second or greater &.  Sorry if that wasn't obvious.

[2020-03-10 21:18] javadnoorb commented on #393
@jrobinso

curl https://storage.cloud.google.com/[BUCKET_NAME]/wgs/22Rv1.bam?authuser=2

I think that would be complicated since I don't have sufficient IAM rights.

@mbookman I've tried both. The track doesn't load.

[2020-03-10 21:22] jrobinso commented on #393
@javadnoorb If that curl command does not work (does not download the bam),  then I think this is a more general problem with the buckets, not igv.js specific.  I assume you entering your project id in place of [PROJECT_ID].   I don't know what "authuser" does in a google context.

[2020-03-10 21:29] javadnoorb commented on #393
@jrobinso  Yes, I put the same [PROJECT_ID] which is the payer project (using that in the IGV Desktop version works). 'authuser' is added because I have multiple Google accounts. No. 2 is the one that is authorized to access the files.

I don't know of any way to download files using HTTPS URLS in Google Cloud, except through the console. Normally I do it using URI (the one starting with gs) toget

[2020-03-10 21:40] jrobinso commented on #393
@javadnoorb Its probably an authentication issue, this should have occured to me earlier.  If you are using Chrome or Firefox you can open developer tools and see what the actual error is.

If you are using a private Google resource you need to authenticate with oAuth and get an access token,  in addition to providing the project ID.   This happens in IGV desktop when you login (the oAuth).  igv.j

[2020-03-10 21:56] jrobinso commented on #393
@javadnoorb I don't think enabling oAuth interactions in the context of an individual users jupyter installation is practical but if its something you want to pursue let me know.  AFAIK you would be the first to do that.  I do know that other projects successfully use igv-jupyter in Google oAuth contexts,  but they handle the oAuth in an enclosing web page and pass the token to igv.js as outlined

[2020-03-11 16:11] shihai832 opened #1076 "igv.js in react"
Can igv.js be used with react? if so, is there something I can download?

[2020-03-11 16:17] jrobinso commented on #1076
Many people use igv.js with react.  I don't understand what you mean "is
there something I can download".

On Wed, Mar 11, 2020 at 9:12 AM shihai832 <notifications@github.com> wrote:

[2020-03-11 16:29] shihai832 commented on #1076
I mean if there is an example you are aware that I may find in github to
get me start?

Thanks,
shihai

On Wed, Mar 11, 2020 at 10:17 AM Jim Robinson <notifications@github.com>
wrote:

[2020-03-11 16:32] jrobinso commented on #393
Googling "igv.js and react" gave me this.

https://github.com/eweitz/igv.js-react

[2020-03-11 17:21] javadnoorb commented on #393
Thanks @jrobinso! Sorry. I've been distracted by some other tasks and didn't get to this. I have been trying to get oAuth to work based on the wiki page but didn't succeed. I'll take another jab at it. But basically I've been trying to get the token using `gcloud auth application-default print-access-token` and then put that into `oauthToken` field of the JSON. I also tried the other solution with

[2020-03-11 17:26] jrobinso commented on #393
Using the oauth token in one of the ways documented (setting it globally or
on a track specific basis) should work.   Really the only way to get to the
bottom of this is to use development tools in Chrome or Firefox and examine
the request and response to see what kind of error message you are getting
from the google server.     As a first step though I would get it working
with curl.  You can set

[2020-03-12 15:43] northwestwitch opened #1077 "BigBed track flattened up on one line"
Hello and thanks for the amazing software, we are using it in our repo and our alignments look great!

Some days ago I decided to try to load the bigbed tracks that UCSC is providing as clinvar tracks (http://hgdownload.soe.ucsc.edu/gbdb/hg19/bbi/clinvar/) and I got weird results, see this issue for reference: https://github.com/Clinical-Genomics/scout/issues/1793

Looks like all the variants are

[2020-03-12 16:49] jrobinso commented on #1077
Try setting the display mode to EXPANDED

[code]

By default it is set to collapsed.  This will put the variants on multiple
lines, however its not doing to look like the UCSC track you reference.  It
looks like the display mode there is set to "FULL",  which puts every
variant on a new line.

On Thu, Mar 12, 2020 at 8:44 AM Chiara Rasi <notifications@github.com>
wrote:

[2020-03-12 23:33] javadnoorb commented on #393
I'm probably using an incorrect token. Here's the error I get in Chrome development tools:

[2020-03-13 01:09] jrobinso commented on #393
Is CORS enabled for this bucket?  That's probably a question for the administrator.

This looks like a console error message.  In the network tab, is there anything in the "response".

[2020-03-13 02:19] javadnoorb commented on #393
I'm not sure about CORS. But no, there's nothing in the response for the bam file. It just says 'Failed to load response data'

[2020-03-13 02:47] jrobinso commented on #393
BTW did you try curl, setting the authorization bearer header as well as userProject parameter?  That is an important test,  curl will not have CORS restrictions.    A CORS error does not always indicate that CORS is the root cause.

The most efficient way for me to debug this is to get added to the project so I can try this myself.   Are you at the Broad per chance?  Do you have a contact their c

[2020-03-13 03:36] javadnoorb commented on #393
Yes, but the curl command didn't return anything again.

I am at Broad. Let me figure out how I can add you. I'll send you an email.

[2020-03-13 05:31] jrobinso commented on #393
OK,  BTW there are a lot of Google experts at the Broad, and igv.js is integrated into various Terra projects.

[2020-03-13 07:47] northwestwitch commented on #1077
Thanks for your answer @jrobinso!
I've tried to set the displayMode to EXPANDED or even FULL but the result is exactly the same, all variants on the same line..

[2020-03-13 08:04] jrobinso commented on #1077
If they don't overlap they will be on the same line.   igv.js does not
support "FULL".    Can you post a screenshot?

On Fri, Mar 13, 2020 at 12:47 AM Chiara Rasi <notifications@github.com>
wrote:

[2020-03-13 08:33] northwestwitch commented on #1077
Here is how the "EXPANDED" displayMode looks like in the interval: chr21:47408993-47409093

![image](https://user-images.githubusercontent.com/28093618/76603501-5d266900-650d-11ea-8169-3a88252e5ee2.png)

But when I read the bigBed in the same interval there are the following variants:

[code]

[2020-03-13 15:46] jrobinso commented on #1077
OK that does look like a problem.   Could you post your track configuration below and I will look into this later today.    Also, what version of igv.js are you using?

[2020-03-13 17:49] qpyuan opened #1078 "Support GWAS Manhattan plots"
Hi, I made a a simple GWAS file ("test.gwas") with columns "CHR", "BP", "SNP",	"P". After I load this "test.gwas" file to the standalone IGV under Windows 10, the manhattan plot was displayed nicely as I expected. My "test.gwas" file contains:
CHR	BP	SNP	P
chr1	865584	G/A	0.32191
chr1	865738	A/G	0.38702
chr1	874336	T/G	1
....

But when I put the following setting for igv.js, I couldn't get anythin

[2020-03-13 18:51] northwestwitch commented on #1077
It's very likely that I'm using some wrong parameters in the track settings!

My complete track configuration looks like this:

[code]

where clinvar_snvs is https://hgdownload.soe.ucsc.edu/gbdb/hg38/bbi/clinvar/clinvarMain.bb

First I was using version 2.3, then I switched to 2.4, but the visualization didn't improve.

Thank you so much for the help!

[2020-03-14 00:12] jrobinso commented on #1078
@qpyuan Manhattan plots are not supported in igv.js.   Supported track types are documented here.  I will rename this issue to "support gwas manhattan plots".

[2020-03-18 14:19] brentp commented on #884
related to this, is there an API for accessing the variants in a VCF track? or records in a BED track?

[2020-03-18 14:23] brentp commented on #573
hi, regarding events, given a mouse event captured in the browser, is there a way in igv.js to know which track the mouse is over? this would be for events like `hover`, not e.g. `trackdrag` or other igv.js specific events.

[2020-03-19 22:58] bw2 commented on #1076
A number of previous Issues have examples such as
https://github.com/igvteam/igv.js/issues/891#issuecomment-552225941

[2020-03-19 23:07] jrobinso commented on #1076
Thanks @bw2 .  Sorry @shihai832 I thought I had responded but I see that I have not.  A web search "igv.js and react" brought this up, looks like what you need:  https://github.com/eweitz/igv.js-react

[2020-03-19 23:09] #1076 closed

[2020-03-20 13:42] shihai832 commented on #1076
Thanks a lot

On Thu, Mar 19, 2020, 17:09 Jim Robinson <notifications@github.com> wrote:

[2020-03-23 19:09] petermchale opened #1079 "problem parsing vcf file"
Here is a vcf (bgzipped), with its index, that igv fails to parse:

https://drive.google.com/file/d/1ZOSPejgXT8S11qlfnWWZ7ctln7tdXR8m/view?usp=sharing
https://drive.google.com/file/d/1GzX5DW5rTkxvogB2tm4fOwWcRLFKxch5/view?usp=sharing

Concretely, though many variants are parsed correctly, like this one:

<img width="538" alt="Screen Shot 2020-03-23 at 1 05 00 PM" src="https://user-images.githubuse

[2020-03-23 19:48] jrobinso commented on #1079
It looks like a problem with igv.js,  I can read it in IGV desktop.   I'll look into it.

[2020-03-23 23:04] petermchale commented on #1079
Here is an observation that may help pinpoint the problem:

igv.js fails to render when the vcf header looks like this:

[code]

But when I remove the header line containing `SVCLASS`:

[code]

the vcf gets rendered by igv.js.

[2020-03-23 23:14] petermchale commented on #1079
Not being able to render a vcf in which that `INFO` field is declared in the header is problematic because another tool that I run on that vcf, [truvari](https://github.com/spiralgenetics/truvari), requires that I include that `INFO` field.

[2020-03-23 23:16] jrobinso commented on #1079
OK, that's helpful,  I'll get to the bottom of it.  I assume you are running the latest, but if not give me a version.

[2020-03-24 00:03] jrobinso commented on #1079
@petermchale What version of igv.js are you running?  I can't reproduce your error with the file you provided.

[2020-03-24 13:42] petermchale commented on #1079
`<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/igv@2.4.0/dist/igv.min.js"></script>`

[2020-03-24 13:58] petermchale commented on #1079
@jrobinso The code I hacked to reveal that igv.js is failing to parse some lines is in `dist/igv.js` in an outdated version of the igv.js repo. The package.json file is

[code]

[2020-03-24 14:49] jrobinso commented on #1079
Ahh, interesting, I wasn't using the index before (indexed: false),  using the index I can reproduce it.  I'll have this fixed today.

[2020-03-24 17:04] petermchale commented on #1079
Yes, in both contexts I tested, I used:

[code]

[2020-03-24 19:00] jrobinso commented on #1079
What you've uncovered here is a strange edge case with igv.js loading bgzip/tabix.   I'll get to the bottom of it, but in the meantime I think you can fix your case by simply changing the visibility window to whole chromosome (-1).    For example
[code]

Also, the removal of "svclass" is just shifting the text by enough characters to change the bgzip blocks slightly, which appears to fix the probl

[2020-03-24 20:52] petermchale commented on #1079
`visibilityWindow: -1` works for the locus I tested on:

<img width="1394" alt="Screen Shot 2020-03-24 at 2 42 25 PM" src="https://user-images.githubusercontent.com/19557137/77475479-859c4600-6dde-11ea-95af-bbc9743c0cf6.png">

but not for others:

<img width="1385" alt="Screen Shot 2020-03-24 at 2 42 38 PM" src="https://user-images.githubusercontent.com/19557137/77475526-977de900-6dde-11ea-9f1e-74

[2020-03-24 21:22] jrobinso commented on #1079
@petermchale I've found the problem, should have a fix by the end of the day.

[2020-03-24 21:27] petermchale commented on #1079
In the meantime, the following seems to work, robustly:

[code]

[2020-03-24 21:33] jrobinso commented on #1079
Yes, that will work, but you loose the benefit of indexing.

[2020-03-24 21:53] petermchale commented on #1079
Correct, but the vcf file is small enough that the benefit of indexing seems to be insignificant. In any case, I just want a temporary but robust workaround until your permanent fix is implemented. Thanks for your efforts and speedy response. Really appreciate that.

[2020-03-24 21:55] jrobinso commented on #1079
If the vcf is small yes your solution works fine.  In fact it's even better as you load everything once.

[2020-03-25 03:17] jrobinso commented on #1079
@petermchale I think this is fixed.  Could you try the following igv.js?  If it works I'll push this release to npm.

[code]

[2020-03-25 07:22] northwestwitch commented on #1077
Hi @jrobinso, I was wondering if you had time to take a look at this. I totally understand if you are busy so no rush! :)

[2020-03-25 07:24] jrobinso commented on #1077
Sorry, other things intervened.  Thanks for the reminder, I will look at it
tomorrow.

On Wed, Mar 25, 2020 at 12:22 AM Chiara Rasi <notifications@github.com>
wrote:

[2020-03-25 07:25] northwestwitch commented on #1077
Thanks!

[2020-03-25 16:57] petermchale commented on #1079
Works for `chr10:10,266,955-10,267,361` but not for, say, `chr1:8,668,541-8,669,348`.

[2020-03-25 17:07] jrobinso commented on #1077
OK I found the problem, thanks for your patience.  Bigbed files were not properly "paced" for expanded mode.  Your example figure was in a region with a single long variant, which covered up the smaller variants.  See the screenshot below for what it should look like.

The fix will require some testing before release, I will update here when it is released.

<img width="1586" alt="Screen Shot 2020

[2020-03-25 17:09] northwestwitch commented on #1077
Thank you so much!! 🥇

[2020-03-25 17:39] jrobinso commented on #1079
OK, its released as version 2.4.1.

[2020-03-25 17:39] #1079 closed

[2020-03-25 18:12] petermchale commented on #1079
@jrobinso Does version 2.4.1 fail on `chr1:8,668,541-8,669,348` as it did for me?

[2020-03-25 18:29] jrobinso commented on #1079
@petermchale In what way is it failing?  This is what I see

<img width="1949" alt="Screen Shot 2020-03-25 at 11 27 52 AM" src="https://user-images.githubusercontent.com/933148/77572188-c900be00-6e8b-11ea-8d88-e7a5516f3850.png">

[2020-03-25 21:30] petermchale commented on #1079
I restarted the igv.js-flask server and now it does work for that locus:

<img width="805" alt="Screen Shot 2020-03-25 at 3 24 10 PM" src="https://user-images.githubusercontent.com/19557137/77587161-fe69d380-6eac-11ea-8d10-d916d3031e8e.png">
<img width="564" alt="Screen Shot 2020-03-25 at 3 24 22 PM" src="https://user-images.githubusercontent.com/19557137/77587166-00cc2d80-6ead-11ea-94cf-ef0faa42b

[2020-03-25 21:46] jrobinso commented on #1079
The script should be loaded anytime the web page (not server) is reloaded.  However sometimes the script gets cached in the browser, it should reload if it changes but occasionally it doesn't.

Yes you can log the igv version as follows
[code]

[2020-03-25 22:11] petermchale commented on #1079
Thanks for the version diagnostic code.

Just FYI: When I change the version number in the html template, and then do "Empty cache and hard reload" in chrome, `console.log(igv.version())` does not report the updated version number.
On the other hand, relaunching the flask server does cause `console.log(igv.version())` to report the version currently entered in the html file.

Thanks for resolving

[2020-03-26 06:22] jrobinso commented on #1078
@qpyuan This will be supported in the next release, or now if you want to pull and build.

[2020-03-26 21:28] anderspitman opened #1082 "igv.js hanging on latest version"
Have there been any breaking changes to the config API in the past 6 months or so? We have a barebones HTML wrapper for igv.js (you can see the version I'm trying to get working here: https://github.com/anderspitman/igv-static/blob/update-igv/index.html). All it does is take the IGV config as a URL parameter config= in the JSON format, and passes it to IGV. This has been working well, but we're ru

[2020-03-26 22:02] jrobinso commented on #1082
@anderspitman Breaking api changes will be indicated by a change to major number.  There have been none in the last 6 months.

Both links are working for me, although there are some long latency delays at times with the bam (note those are bams, not crams).     Do you have something that hangs reliably?   Also, you mentioned "certain cram files",   if cram is the issue provide a link with a cram f

[2020-03-26 22:13] jrobinso commented on #1082
OK I've now observed both links hanging.   There are some long latencies with the Amazon requests, I don't know if its an igv.js bug or network issue.   See screenshot.     Investigating

<img width="1681" alt="Screen Shot 2020-03-26 at 3 11 18 PM" src="https://user-images.githubusercontent.com/933148/77701775-44d63580-6f74-11ea-82bd-add86967df1e.png">

[2020-03-26 22:18] jrobinso commented on #1082
In the time it took to compose the last comment the server responded and both links are now working.   This is strange.  How long have you observed this?  If you're able to test with locally hosted files please try that and let me know.    I'll setup some tests.   And also, are you using released versions of igv.js, or building from a release tag?   There are no release numbers on these so I don't

[2020-03-26 22:31] jrobinso commented on #1082
Well now both links are really snappy.

[2020-03-26 23:24] petermchale commented on #1075
@jrobinso Any luck with this issue? It persists in version 2.4.1. Here are the test data:

https://drive.google.com/file/d/1ABm7is5obPBNaF_F4XdTPj_qHwiaHqsn/view?usp=sharing
https://drive.google.com/file/d/1mC5q4whdJ_KWYSEemBkO-ePmQbe5I-pK/view?usp=sharing

[2020-03-27 00:58] anderspitman commented on #1082
We've pretty much always had intermittent issues with igv.js. It usually manifests as tracks failing to load. It's never been consistent enough or high enough priority to debug, but we thought we had identified a consistent failure mode with the "certain crams" I mentioned. But we're now observing those files sometimes working even on the old version. The 2nd link above is running version 2.4.1, l

[2020-03-27 00:59] anderspitman commented on #1082
**1st link is 2.4.1

[2020-03-27 01:03] anderspitman commented on #1082
Unfortunately it's not entirely clear which version we're currently running in production. Best guess is a git build from 2019-01-17 (to fix cram support, coincidentally).

[2020-03-27 01:05] anderspitman commented on #1082
We don't necessarily need to worry about that older unofficial release, unless it's helpful for you. I'll try testing 2.4.1 with locally hosted files (bams and crams) and report back on that.

[2020-03-27 04:19] jrobinso commented on #1082
What I observed when it was hanging was very slow latency on those S3 buckets.   I don't know why your S3 buckets should be slower than anyone else's but requests would just hang in "pending" state for up to a minute or more.    I think you next step is the right one, try with local files or rather files hosted on a local server.

Yes we don't need to worry about the older releases.

[2020-03-27 04:52] jrobinso commented on #1075
@petermchale Are you using one of the event APIs?  Directly accessing "popoverData" in init.js is not supported in any event, implementation details like that can and will change.    I need to document and nail down the event APIs, which I will start on tomorrow, but could you tell me exactly how you are getting access to "popoverData"?

[2020-03-27 13:56] qpyuan commented on #1078
Thanks.

From: "Jim Robinson" <notifications@github.com<mailto:notifications@github.com>>
Date: Thursday, March 26, 2020 at 2:23:08 AM
To: "igvteam/igv.js" <igv.js@noreply.github.com<mailto:igv.js@noreply.github.com>>
Cc: "Yuan, Qiaoping (NIH/NIAAA) [E]" <qyuan@mail.nih.gov<mailto:qyuan@mail.nih.gov>>, "Mention" <mention@noreply.github.com<mailto:mention@noreply.github.com>>
Subject: Re: [igvteam/

[2020-03-27 15:55] #1075 closed

[2020-03-27 16:16] jrobinso commented on #1075
@petermchale I just pushed a fix for this.   I assume you are using a track click event here to get popoverData,  however if you are not please let me know how you are getting the popover data.

The name field of your bed file looks like a gff attribute string.  If that is your intent you can use the IGV desktop ```#gffTags``` directive at the beginning of the file to have the contents parsed and

[2020-03-27 17:09] petermchale commented on #1075
@jrobinso I'm loading igv.js via a HTML script tag (in your flask server). So I would need a URL for an updated `igv.min.js` to test your commits.

This makes me think that it would be easier for you and me if I were using the `http-server` that comes packaged with this repo, since then I wouldn't need to request a HTTP link. Would you agree?

[2020-03-27 17:12] petermchale commented on #1075
Yes, I was using the `trackclick` event API:

[code]

[2020-03-27 17:33] jrobinso commented on #1075
You would still need a link,  sorry I should have included it

[code]

[2020-03-28 05:52] jrobinso commented on #1082
@anderspitman I've been trying your 2 test links periodically and occasionally they are slow, then a few minutes later fine.  No pattern wrt link 1 vs link 2.   I don't know if this is productive at the moment, as I'm sure you are aware the internet generally is at max capacity now.

I am using this opportunity to look for bottlenecks, deadlocks, etc.

[2020-03-30 23:09] petermchale commented on #1075
Would the build step at https://github.com/igvteam/igv.js#building not generate an updated igv.min.js that incorporates the commits you made to this repository?

[2020-03-30 23:34] jrobinso commented on #1075
That should work fine.

You can avoid the need to build by using the snapshot build, available
here:  https://igv.org/web/snapshot/dist/igv.min.js

On Mon, Mar 30, 2020 at 4:09 PM Peter McHale <notifications@github.com>
wrote:

[2020-03-30 23:45] petermchale commented on #1075
The following works. Thanks for resolving the issue.

[2020-03-31 01:58] jrobinso commented on #1082
@anderspitman I have a theory on this case, which might also apply to your other cases.  I assume those VCF files are indexed, but you don't supply an indexURL.   Try supplying one, like this

        "tracks": [{
            "name": "Variants",
            "type": "variant",
            "format": "vcf",
            "url": "https://s3.amazonaws.com/iobio/samples/vcf/platinum-exome.vcf.gz",

[2020-03-31 06:11] chuckzzzz opened #1083 "Show arc with bedpe file"
Hi,

I am trying to show arcs with bedpe file. Based on #828 , this feature is supported after 2.1 release. I have already read the igvwiki page and load the file with the following configurations. However, the bedpe files are not displayed as anticipated.

A screenshot of what's displayed currently:
![screenshot](https://user-images.githubusercontent.com/39171423/77992922-ed212c80-72db-11ea-8acf-

[2020-03-31 06:13] jrobinso commented on #1083
I can't see your screenshot.   Please zip up a reproducible test case

[2020-03-31 06:14] jrobinso commented on #1083
Sorry, didn't mean to close that.

[2020-03-31 06:17] jrobinso commented on #1083
Please try track type "interaction", not "annotation".     BTW where to you see that this is supported from 2.1?

[2020-03-31 06:20] chuckzzzz commented on #1083
Hi. Thanks for the quick reply. It seems like GitHub is taking a while for the screenshot to upload.

On issue #828 you said:
"Hi, we don't yet support arcs from bed files, only bedpe files. This is scheduled for the 2.1 release early in the new year."
I assume this means the bedpe files, if not both, can do the arc thing after 2.1 release.

[2020-03-31 06:24] chuckzzzz commented on #1083
I tried the "interaction" type and it worked. Thanks!
I did not see this type being mentioned in the wiki. Maybe it's helpful to mention it.

Thanks once again!

[2020-03-31 07:33] chuckzzzz commented on #1083
Hi, one additional question before the issue closes.

Where can I find relevant documentation for "interaction" type since it's not mentioned in the wiki? For example, can I adjust the height of the arcs or flip the arcs' opening?

Thanks!

[2020-03-31 18:19] anderspitman commented on #1082
@jrobinso thanks for the continued debugging. I'm pretty sure we're always provided the indexURL, but I'll double check

[2020-03-31 18:33] jrobinso commented on #1082
It wasn't in the link you sent me to debug, adding it made a big difference.

On Tue, Mar 31, 2020 at 11:20 AM Anders Pitman <notifications@github.com>
wrote:

[2020-03-31 18:37] jrobinso commented on #1083
I will work on some documentation, this was never officially released
despite the intention to do so.   In the meantime here's what you can set,
arcOrientation takes a boolean.

arcOrientation      // true for up, false for down
thickness           // default is 2
color                      // default is "rgb(180,25,137)"

On Tue, Mar 31, 2020 at 12:33 AM chuckzzzz <notifications@github.com> wrote

[2020-03-31 19:44] anderspitman commented on #1082
Oh I misread that and thought you were referring to the alignment indexes. I agree, it appears to be working great when I set the tbi. Any guesses what's going on here?

[2020-03-31 19:48] jrobinso commented on #1082
Yes, as you didn't supply an index it loaded the entire VCF.    This was
also preventing connections for the alignments proceeding at times, they
were held in "pending" state until the VCF was loaded.  I'm not sure why
that is, the browser should allow up to 6 simultaneous connections, but it
appeared to be the case.

On Tue, Mar 31, 2020 at 12:44 PM Anders Pitman <notifications@github.com>
wrote:

[2020-03-31 19:58] anderspitman commented on #1082
That makes sense, but any idea why I'm only seeing that behavior with the newer version?

Also I didn't realize that S3 doesn't support HTTP2, which is disappointing.

[2020-03-31 20:05] jrobinso commented on #1082
I don't recall how old your other version is, at one point we tacked on
".tbi" if the index was missing.   That was dropped some time ago, it
causes lots of problems, however, particularly with dropbox and google
drive but also signed urls of all stripes, in addition to complex code.
   I'm looking at restoring the "tbi" case in limited circumstances, but
it's very hacky to try to do this.    On l

[2020-03-31 20:11] anderspitman commented on #1082
Makes sense. We've encountered very similar issues in the past. In any case, I'm pretty sure we've discovered the root cause of this issue. Thanks!

[2020-03-31 20:11] #1082 closed

[2020-03-31 21:13] chuckzzzz commented on #1083
Great thanks! Can I also adjust the height of the arcs?

[2020-03-31 22:28] jrobinso commented on #1083
Adjust the height of the track.

On Tue, Mar 31, 2020 at 2:13 PM chuckzzzz <notifications@github.com> wrote:

[2020-04-01 02:42] jrobinso commented on #1025
I just pushed support for this, we will release it in a few days as 2.5.0.

The tabix command would be the following.  -S1 is neccessary to skip the header line
[code]
Before running tabix you have be sure your file is sorted by chromosome (sequence) then start position.

See http://igv.org/web/snapshot/examples/seg.html  for an example

[2020-04-02 08:06] matthdsm opened #1084 "Feature: AWS STS support"
Hi,

Are there any plans to support AWS STS endpoints? This would be quite useful next to the oauth support for people who have data in secure buckets and want to view data using temporary signed URLS.

If so, any way we could help drive this?

Thanks
M

[2020-04-02 08:31] northwestwitch commented on #1084
Hi @matthdsm I made a recent pull request in my repo that does something like that: https://github.com/Clinical-Genomics/scout/pull/1841 , I'm not using security token but AWS access_key and secret_access_key

[2020-04-02 09:16] matthdsm commented on #1084
Hi @northwestwitch,
Lookin' good!
That's about the same as we have in mind, but written in JS.
We're looking into using the [AWS.WebIdentityCredentials](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/WebIdentityCredentials.html) to access a private minio cluster cfr the [example on the minio github](https://github.com/minio/minio/blob/master/docs/sts/web-identity.md)

It'd be awesome if t

[2020-04-02 19:28] jrobinso commented on #1084
@matthdsm @northwestwitch could you be more precise on the workflow and what you would need for igv.js to do, as opposed to what its containing application might do?  You know you can set arbitrary headers including oAuth tokens now, correct?    I'm just not sure what you mean by "natively support".

[2020-04-03 07:08] matthdsm commented on #1084
Hi Jim!
Thanks for the reply.
The flow for STS is pretty much the same as for "regular" oAuth.
It pretty much consists of:
[code]
Temp credentials can then be used to get data from a secure bucket.

Do you thinks that's something that can be handled within igv.js? Or is this something the surrounding application should handle?
Is there an option to set a function as `url` for a track?

You mention

[2020-04-03 16:10] jrobinso commented on #1084
Generally oAuth interactions are handled by the application,  and the token passed to igv.js.   igv.js is just a component on the page along with other components.  igv-webapp OTOH is an application and handles oAuth.

RE STS, that does not look like "regular" oAuth, at least that's not a google flow.   There is an extra step "fetch credentials from aws...".  With Google, and MS, once you have an

[2020-04-03 22:41] kbruskiewicz opened #1086 "Formatting 'chr' and 'start/end' just before calling in CustomServiceReader"
Our use case involves interpreting data called from a REST API into an IGV annotations track. I was happy to find the CustomServiceReader for this purpose – configuring it is simple and straightforward.

But, when substituting in the strings into the URL, I notice two issues
- Chromosome, when substituted in, come with the 'chr' prefix, but the API I am using only takes the chromosome number.
- Co

[2020-04-03 23:30] jrobinso commented on #1086
Hi,

The chromosome string will be whatever the reference fasta you use defines.  If you use a reference with "chr1" naming that will be used, if you use one with "1" that will be used.  Actually its an arbitrary string.   If you want to mix conventions with the current code you will need to translate it in the web service.

Alternatively we could add a configuration option that supplies a functio

[2020-04-03 23:56] kbruskiewicz commented on #1086
Sure, I've highlighted it in yellow.

![scientific_notation](https://user-images.githubusercontent.com/955221/78413252-76ca4600-75cb-11ea-8751-34784182d2b2.PNG)

The value that gets passed in initially also seems quite large – 308 significant figures – and isn't synchronized with the locus value that I initialize the Browser with.

[2020-04-04 00:12] jrobinso commented on #1086
Ahh yes, if "visibilityWindow" is not set for a track it queries for the entire chromosome, which is indicated by Number.MAX_VALUE for the end.   I should fix that.   In the meantime you can avoid it by setting a visibilityWindow,  set it to the maximum genomic range that you want queried at one time.  For example visibilityWindow: 1000000 would limit the query to 1 mb.

[2020-04-04 00:33] jrobinso commented on #1086
Expanding the query interval for web services was not intentional, and seems like the wrong thing to do,  I will push a fix soon for that as well.   In the meantime I suggest setting a visibilityWindow.

[2020-04-05 02:21] jrobinso commented on #1086
The floating point number should be fixed with the latest push.   Also I'm working on an option to allow the "url" property of the source to be a function, taking {chr, start, end} as input and returning the url to be used.   You should be able to strip of "chr" or do anything else needed there.  I pushed a rather complex example for the cBio copy number segment service,  but all you should need i

[2020-04-06 05:27] jrobinso commented on #1084
@matthdsm While not explicitly about STS,  I am experimenting with allowing a function or promise for url properties.   See the branch "function_urls", and example below.

Note the oauthToken already supports functions and promises, in addition to a string value.  I am inferring from your request that the oAuth token is not enough in this Amazon flow, you need to use it to fetch some other credent

[2020-04-06 06:51] matthdsm commented on #1084
Hi Jim,

To clarify what I'm aiming at here.
Most AWS services support an STS endpoint, which allows user without an amazon account to perform actions on a buckets.
Instead of using an AWS account or the access/secret key for said bucket, the user can then log in by "assuming" a web identity through an openID connect provider (e.g. google, facebook, homegrown implementation).
The STS endpoint retu

[2020-04-06 17:36] kbruskiewicz commented on #1086
Thanks so much for these changes.

I notice that some of these problems were caught just at the end of a release cycle. Would it be possible to bump a 2.5.1 some time in the near future?

[2020-04-06 18:13] jrobinso commented on #1086
Yes, probably the end of next week.   In the meantime you can develop with the nightly snapshot, builds are here: http://igv.org/web/snapshot/dist/

[2020-04-06 18:16] jrobinso commented on #1084
The full STS is out of scope for now simply because I'm overwhelmed with other things.   It could possibly be added in the future.   The functional URL approach might not be enough unless you can included the temporary credentials as url parameters.   If they need to be added as headers we will need a bit more.   Let me know how it works, you'll need to pull from the branch.   I am likely to relea

[2020-04-06 18:30] matthdsm commented on #1084
The approach I’m thinking is to use the temporary credentials to generate a signed url, which can then be used as a track. Thats where the track url as a function could come in.
The rest can be handled by the surrounding application as far as I’m concerned.

Thanks for bearing with me on this!
Cheers
M

[2020-04-06 19:04] jrobinso commented on #1084
Yes that should work.    Use a Promise if this is asynchronous, and resolve it when you get the signed URL,  or reject if the authentication fails.     Also, as currently coded the url or Promise will be invoked on every request,  this is on purpose in case credentials have a time limit and need refreshed.   So on your side you'll want to cache the signed url and just return or resolve it in futur

[2020-04-06 22:19] brentp commented on #1059
I agree, this would be nice.
If there were docs on how reads are stored/available internally, a user could also implement this with some JS.

see also: https://github.com/brentp/jigv/issues/9

[2020-04-06 22:47] kbruskiewicz commented on #1086
Thanks for pointing out the nightly snapshots to me! I look forward to the new release

One last question: can CustomServiceReaders be used in track types other than annotation, e.g. including GWAS tracks?

[2020-04-07 05:54] matthdsm commented on #1084
Sound great!
Thanks a lot for the help.

Cheers
M

[2020-04-07 14:34] northwestwitch commented on #1077
Hi @jrobinso, we are planning to switch to the new release as soon as it's out, and in the meanwhile we've been using the nightly snapshot (http://igv.org/web/snapshot/dist/igv.js) which contains this bugfix.

Today we've noticed that the reference track is strangely gone. An error  or some planned change in the code?

Thanks!

[2020-04-07 15:43] jrobinso commented on #1077
Definitely not planned!   I'll look into it.

On Tue, Apr 7, 2020 at 7:34 AM Chiara Rasi <notifications@github.com> wrote:

[2020-04-08 01:25] shenjia1 commented on #1025
Thanks, I will try it.

[2020-04-08 07:36] matthdsm opened #1088 "question: igv.js and signed S3 url's"
Hi Jim,

Sorry to bother, but do you have any experience with signed S3 urls in igv.js?
This relates to my previous STS question. Atm I'm able to generate a signed URL, which enables me do download the file, but when I plug it into igv I get a `403 Forbidden` response.

Do you have *any* idea what could be the cause? Does igv make a special type of request that requires different policies on the s

[2020-04-08 08:05] matthdsm commented on #1088
Solved,

Turns out the returned url was html encoded which doesn't work. Inserting the raw url fixed the issue.

Cheers
M

[2020-04-08 08:05] #1088 closed

[2020-04-08 19:15] kbruskiewicz opened #1089 "Support for continuation-based APIs in REST calls"
To prevent bad actors from attempting to get gigabytes worth of data at once from a single call, our REST API uses continuations, and passes a 'continuation token' which can be evaluated to the next batch of data that is within a given region but smaller than the size of that region total.

So for instance, if I query for a 10,000bp region, the API will first pass one call of up to 5000 SNPs with

[2020-04-08 22:46] jrobinso commented on #1089
This is too specialized a use case for me to take on.  I think what makes sense is to allow a custom "source" object for a track, in place of a url.   The object would need to implement 2 functions,  a constructor that takes the track "config" as an argument,  and the readFeatures(chr, start, end) method.   This would provide maximum flexibility.    The "CustomServiceReader" could be used as a tem

[2020-04-08 23:14] kbruskiewicz commented on #1089
Would a possible point of control being passing in a new 'load' type? For instance, CustomServiceReader currently uses `igvxhr.load`, but at the same level of scoping there is `loadJson`, `loadArrayBuffer`, `loadString`... the addition would be a config parameter called something like `loader` with `igvxhr.load` being the default.

[2020-04-09 00:52] jrobinso commented on #1089
No, that would be too disruptive,  however in my proposal you will be supplying a source object, it can do anything you want, including not loading anything at all just returning random features.

[2020-04-09 03:56] brainstorm commented on #1084
@matthdsm @northwestwitch Instead of tapping directly into STS, may I suggest looking at Cognito instead? It should handle your usecase and beyond, securely, please take a peek at @UMCCR's work with the desktop version over here:

https://umccr.org/blog/igv-amazon/

Since the above is already in upstream IGV desktop, I think it would make sense to implement a similar mechanism on IGV.js too?

Chee

[2020-04-09 04:17] jrobinso commented on #1086
I think I've conflated 2 issues, the custom reader in the commit above was meant for #1089.

Yes to GWAS,  you specify the track  "type=gwas".    The features should have chr, start, end, and value at a minimum.   The the GWAS track decription in the wiki for other details.   I think this issue is resolved, will move discussion to #1089

[2020-04-09 04:17] #1086 closed

[2020-04-09 04:26] jrobinso commented on #1089
I've pushed an example of a custom "reader" to dev/custom-reader.html and examples/custom-reader.html.    It allows you to specify a  "reader" object with a new ```reader``` track property.
This is work in progress, and won't get released immediately.   I have to pivot to IGV desktop now,  but the implementation is unlikely to change so you can start using it from the snapshot.

You can implement

[2020-04-09 04:48] jrobinso commented on #1084
Thanks @brainstorm !   There is an important difference between IGV desktop and igv.js,  IGV desktop is a complete application.    igv.js is a genomics viewing component intended to be embedded in a web application.   The enclosing web application is generally responsible for user management, including authentication.   What I try to do with igv.js is provide enough flexibility to support any auth

[2020-04-09 05:51] matthdsm commented on #1084
Cognito might be something that would work, but the issue here, for me at least, is that we're not using amazon in any way.

We're using OIDC from [hydra](https://www.ory.sh/hydra/) to authenticate against a [minio](https://github.com/minio/minio) cluster on our own servers, cutting out the middle man. Hence the STS solution, as this is something minio does support.

Cheers
M

[2020-04-09 13:47] valleema commented on #364
@Parul-Kudtarkar can you show a code snippet how to use it?

[2020-04-09 18:22] jrobinso commented on #364
Hi all, the original problem was fixed long ago.   There is an example with a tab here  https://igv.org/web/release/2.5.2/examples/tabs.html

[2020-04-09 18:25] jrobinso commented on #364
When a tab is made visibile you need to inform igv by calling
[code]

[2020-04-10 05:52] jrobinso opened #1090 "multi-line gff features not properly combined"
First reported in desktop IGV https://github.com/igvteam/igv/issues/791

[2020-04-10 05:53] #1090 closed

[2020-04-10 06:45] valleema commented on #364
Thanks @jrobinso, I will try it!

[2020-04-11 21:12] man4ish opened #1091 "Support for visualizing multi-sample vcfs"
Hi,
I am using below javascript code for visualizing multisample vcf but it does not seem to be working.
Below are links for the data source.

**location for mutlisample vcf:** https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&ved=2ahUKEwjfzNHEouHoAhWxknIEHW3yBbUQFjAAegQIAhAB&url=ftp%3A%2F%2Fftp.1000genomes.ebi.ac.uk%2Fvol1%2Fftp%2Fphase3%2Fintegrated_sv_map%2FALL.wgs.mergedSV.v8.201

[2020-04-11 21:26] jrobinso commented on #1091
Could you please explain more fully what you mean by "not working"?  Are there any console errors?  Also, what version of IGV are you using?

[2020-04-11 21:34] man4ish commented on #1091
It just show one track and no sample information. Below is image from web output.

![multi_sample](https://user-images.githubusercontent.com/6385968/79055330-3f3a4a00-7c1a-11ea-8693-221d7a30974d.png)

[2020-04-12 02:09] jrobinso commented on #1091
That's perfectly normal.  do you see the message "Zoom in to see features"?

[2020-04-12 02:09] #1091 closed

[2020-04-12 17:31] man4ish opened #1092 "Support for sample name while visualizing multisample vcf"
Hi,

I am trying to visualize multisample vcf and it shows the sample name on mouseover but not on left hand side like desktop version.

Output from Igv.js
![1000Genome_Chr1](https://user-images.githubusercontent.com/6385968/79075561-9e06ce80-7cc1-11ea-9587-7a07f4d668c8.png)

<br><br><br><br>

Screen shot from youtube video for IGV (Desktop Version):
![Screenshot from 2020-04-12 13-28-01](https://

[2020-04-12 21:28] jrobinso commented on #1092
No you can't, currently this is not a feature of the web version.  It will
come but is not there yet.

On Sun, Apr 12, 2020 at 10:31 AM Manish Kumar <notifications@github.com>
wrote:

[2020-04-12 22:14] man4ish commented on #1092
Thanks

[2020-04-12 22:25] jrobinso commented on #1092
@man4ish I going to reopen this because I don't think we have an open issue for this feature, which is an important one for VCF and also copy number.

[2020-04-12 22:28] man4ish commented on #1092
can you pls add that feature in coming week as i need it for my project. I will also site your code link in my publication.

[2020-04-12 22:33] jrobinso commented on #1092
@man4ish There is no possibility of that happening.

[2020-04-13 22:03] kbruskiewicz commented on #1089
Thank you, this has worked well for me.

[2020-04-14 03:47] iiiir opened #1093 "no effect after changing resources/genomes.json"
Hi,
Sorry for the naive question. I really want to get this work but have not been successful after try many times.

I was able to set up igv-webapp.
By running
`npm start` I can get it running. However I have two issues:
1. except hg19 (the default?), everything else will give error:
![image](https://user-images.githubusercontent.com/4137873/79183788-4fdbf300-7dc7-11ea-8417-04cdb53a8490.png)

2.

[2020-04-14 03:56] #1093 closed

[2020-04-14 05:28] jrobinso commented on #1093
@iiiir I see you closed the issue, did you resolve your problem?

[2020-04-14 17:52] kbruskiewicz commented on #1089
@jrobinso is it possible to override the behavior where IGV dispatches multiple queries for data outside the visibility window?

Rather than IGV dispatching multiple queries, I want to call the data within the extended window directly in a single call.

[2020-04-14 17:57] jrobinso commented on #1089
@kbruskiewicz  I'm not following you.  What do you mean by "multiple queries", and also "data outside the visibility window"?     There is no concept of an "extended window", what exactly do you want to do?

[2020-04-14 18:17] kbruskiewicz commented on #1089
Nevermind, the error was on my end.

[2020-04-16 08:37] sumeet030990 opened #1094 "invalid file signature while loading track from uploaded file"
I have created a functionality where user will upload a file(.gz file) and the tracks will get loaded from that
But I am getting the error

My code:
[code]

[2020-04-16 17:41] jrobinso commented on #1094
First the format should be gff3, not "refgene", assuming the file is a gff3 file.

Could you zip and upload a reproducible test case?

[2020-04-17 05:29] sumeet030990 commented on #1094
changed the format to gff3, still getting the same issue,

Files that I am trying to upload
[5.zip](https://github.com/igvteam/igv.js/files/4491038/5.zip)

[2020-04-17 07:01] jrobinso commented on #1094
Try loading your gff from this url and tell me what happens.   If that doesn't work post your complete html file (zipped), or at least the complete javascript code as you did above (with the url below).

https://www.dropbox.com/s/d8kwa1cyotpiswz/Homo_sapiens.GRCh38.99.chromosome.12.gff3.gz?dl=0

[2020-04-17 07:24] jrobinso commented on #1094
Check the content type on your server's response, it should be ```application/octet-stream```.  If its gzip that would cause this error, the browser would gunzip the file before igv.js ever saw it.    Otherwise carefully check the response headers from the dropbox hosted file with what your server is sending.   I assume the dropbox hosted link is working, it does for me.

[2020-04-17 08:33] sumeet030990 commented on #1094
working
[code]

not working
error: invalid signature
[code]

[2020-04-17 15:48] jrobinso commented on #1094
Yes, there is something wrong with your server.   As I said above, compare the response headers carefully between the working and non-working server.  I suspect its the content-type.   What server are you using?

[2020-04-17 15:49] jrobinso commented on #1094
Also check the response itself (in Chrome or Firefox developer tools).

[2020-04-18 14:16] sumeet030990 commented on #1094
l```
et config= {
            "name": "Homo_sapiens.GRCh38.99.abinitio.gff3.gz",
            "format": "gff3",
            "url": "http://127.0.0.1:8000/storage/uploads/5/Homo_sapiens.GRCh38.99.abinitio.gff3.gz",
            "visibilityWindow": -1,
            "removable": false,
            "order": 1000000
        };

browserGlobal.loadTrack(config);
[code]

[2020-04-20 06:16] sumeet030990 commented on #1094
I am only getting error while I am uploading gz file
![gz error](https://user-images.githubusercontent.com/48065274/79719619-987e3980-82fc-11ea-9c85-4bf7e3e24f02.png)

[2020-04-20 06:18] sumeet030990 commented on #1094
if I am extracting the content from gz (inside getting gff3 file) and uploading that, then it's working fine. I also tried .tbi & .bb file those are also working fine, jut getting error with .gz file

[2020-04-20 06:18] jrobinso commented on #1094
@sumeet030990 Are you reading the responses I am giving you?  I have already explained to you how you might go about debugging this.  It is a problem with your server.    Please try what I have suggested already before posting replies.

[2020-04-20 06:18] #1094 closed

[2020-04-21 22:10] RichardBruskiewich opened #1095 "Broken dropbox url for examples/gwas.html data"
Data not on dropbox at specified location?

[2020-04-21 23:10] jrobinso commented on #1095
Sorry about that.  Fixed.   The example file was gunzipped, edited, and regzipped.  To DB this was a new file, and created a new hash.   The filename in a DB url is meaningless, you can put anything you want there,  I had forgotten this.

[2020-04-21 23:10] #1095 closed

[2020-04-22 17:58] RichardBruskiewich commented on #1095
No worries Jim. Just reported this so it could be fixed, since the project we are working on at our side (with Broad) needs the GWAS view.  BTW, IGV is great! Love it!

[2020-04-23 07:34] matthdsm opened #1097 "Error fetching cram files from S3"
Hi Jim,

Sorry to bother, but I'm at the end of my wits here.
I trying to fetch a cram file from an S3 bucket using a signed URL, but keep getting the following error:

[code]
Which leads me to believe there's something wrong with the URL of the track.
However, when copy-pasting the track into a browser, I get a valid download of the file.

Tracing the xhr request return the following headers
[cod

[2020-04-23 16:12] jrobinso commented on #1097
The indexUrl field should be indexURL.   Here's one that is known to work (from our examples).   I should checked for an "undefined" url there and throw a reasonable exception.

[code]

[2020-04-23 19:50] matthdsm commented on #1097
Damn, I feel so stupid right now...
Thanks for the pointer, works just fine now!

Cheers
M

[2020-04-23 19:51] #1097 closed

[2020-04-23 20:21] BuysDB commented on #896
I am experiencing this problem too.

#### Example alignment file
[code]
Resulting reads in IGV.js
![igv_js_tag_bug](http://www.buysdb.nl/persistent/github/igv_js_tags/igv_js_bug_sc1.png)

I have attached the bam file for your convenience:
[igv_js_array_tag_test_bam_file.zip](https://github.com/igvteam/igv.js/files/4525011/igv_js_array_tag_test_bam_file.zip)

[2020-04-23 21:32] jrobinso commented on #896
What version of igv.js are you using?

On Thu, Apr 23, 2020 at 1:21 PM Buys de Barbanson <notifications@github.com>
wrote:

[2020-04-24 18:52] onursumer opened #1098 "Features count upper limit is hardcoded"
It might be better to make this value configurable: https://github.com/igvteam/igv.js/blob/2962eec3a3d4f7681f5cd0736574a1dfeb82d746/js/feature/featureSource.js#L155

In cBioPortal we ran into [this issue](https://github.com/cBioPortal/cbioportal/issues/7416) after upgrading to the latest igv.js version. We needed to fork the repo and [manually change](https://github.com/cBioPortal/igv.js/pull/1/co

[2020-04-24 19:30] jrobinso commented on #1098
Ah yes, good point.  I had forgotten about that.  We could probably just eliminate this, but at least make it configurable.

[2020-04-27 18:49] zarsky-broad opened #1099 "IGV no longer working with oauth tokens provided by promise"
We [pass a promise to IGV to get a bearer token](https://github.com/DataBiosphere/terra-ui/blob/dev/src/components/IGVBrowser.js#L30), and today one of our users noticed that it's no longer working; looking in the browser, the requests for the file are being made with the header `Authorization: Bearer [object Promise]`. Rolling back to [version 2.3.5 from 2.5.2](https://github.com/DataBiosphere/te

[2020-04-27 20:34] jrobinso commented on #1099
OK thanks.   Did you really have to roll back all the way to 2.5.2, or is
that just what you had before?  Will look into it.

On Mon, Apr 27, 2020 at 11:49 AM Isaac Zarsky <notifications@github.com>
wrote:

[2020-04-27 20:35] zarsky-broad commented on #1099
That was the version we were running when we last touched it, I didn't test with the versions in between.

[2020-04-27 20:40] jrobinso commented on #1099
OK I'll find it, thanks for the report.

On Mon, Apr 27, 2020 at 1:36 PM Isaac Zarsky <notifications@github.com>
wrote:

[2020-04-27 21:55] jrobinso commented on #1099
OK, found it.  A Promise works, as does a function, but a function returning a promise does not.   I'll push a fix shortly and do a point release, which will be 2.5.4.

[2020-04-27 22:57] jrobinso commented on #1099
Fixed with commit 9164687293fbe05895dc7a9c3d8bb6831ebdab43

[2020-04-29 19:41] zarsky-broad commented on #1099
With the newest version, I'm seeing this: `Authorization: Bearer () => Object(src_libs_ajax__WEBPACK_IMPORTED_MODULE_8__["saToken"])(namespace)`

I only see that on the `?alt=media` calls, there are also `?alt=media&altMedia=true` calls that appear to have the correct token.

[2020-04-29 20:23] jrobinso commented on #1099
@zarsky-broad I don't know where that would be coming from, we do not use WEBPACK at all.  Verify that your function is returning a promise for the oauth token.   It looks like it is returning something else.

[2020-04-29 20:25] zarsky-broad commented on #1099
Indeed, the webpack part is us, but it look like it returning an uncalled function. This is with the same code that works with the old version.

[2020-04-29 20:28] jrobinso commented on #1099
If you can setup a test case for me to try I will do so, you can use my Broad email for details.

The function must return a Javascript Promise,  this might be a change from the previous release.   Does it return a Promise?

[2020-04-29 21:01] jrobinso commented on #1099
Perhaps you are returning a non Promise thenable?  I just pushed a change to support that, our doc says Promises but supporting thenables is not difficult.   Your Webpack might be doing something weird with async/await functions, just a guess,  I abandoned Webpack for that and other reasons.

In any event these are patterns tested which should now work.  If you're case isn't working after a fresh

[2020-04-29 21:17] jrobinso commented on #1099
You can use one of the build artifacts here to test  https://igv.org/web/snapshot/dist/

[2020-04-30 07:56] matthdsm commented on #1084
this was fixed by using the new url-as-a-promise functionality, using a function to generate a signed url.

Thanks for all the help!
Cheers
M

[2020-04-30 07:56] #1084 closed

[2020-04-30 13:09] yaronmiz opened #1100 "IGV Layout exceeded div"
Hi,
I am embedding IGV browser in a div with a limited width/height. I noticed that IGV exceeded the div area and slides outside.
Is it by design/bug? how to overcome this?
![image](https://user-images.githubusercontent.com/14225261/80713977-f5e46880-8afc-11ea-846a-208213b80c76.png)

[2020-04-30 14:18] jrobinso commented on #1100
What is your screenshot illustrating?

It will be difficult to give you advice without access to the page, is there a public page you can point us to?

[2020-04-30 21:20] SimonLi5601 opened #1101 "Empty roi bed might interrupt the main track display"
If the ROI bed was pushed, but the file doesn't exist or simply empty, it will prevent the main track to display. In a previous version, e.g. 2.2.3  it's quite optional if the bed doesn't exist, just ignore it.

[2020-05-01 00:40] turner commented on #1100
The igv.js browser has a minimum width of approximately 572 pixels. Height will increase or decrease based on how many tracks are loaded.

[2020-05-01 21:24] iiiir commented on #758
Is squish/collapse option currently available for BAM files in igv-webapp?
I find some guidance in earlier discussions to define squish/expand options in the tracks.json file for individual tracks, but really want to be able to switch back-and-forth in the browser.

![image](https://user-images.githubusercontent.com/4137873/80842607-e32e6a00-8bb6-11ea-9bab-f49e8b47e024.png)

Thank you,
Shuoguo

[2020-05-02 04:02] jrobinso commented on #1101
Can you be a little more specific.  What do you mean by "pushed"?

[2020-05-02 04:05] jrobinso commented on #1089
@kbruskiewicz can this be closed?

[2020-05-02 04:05] #1078 closed

[2020-05-02 04:06] #1083 closed

[2020-05-02 04:06] #1100 closed

[2020-05-04 07:20] kzoabi commented on #1069
Hi Jim,
Thanks for the effort you make in order to make the IGV.JS better.
I see the following example while I explore the internet and I think it belongs to your tool.
Please see the amino acids sequence on the exon:
![igv with amino acid](https://user-images.githubusercontent.com/3586425/80943808-b6fe2d80-8df0-11ea-9e22-94431f604c9a.png)

How can I see this in the IGV.JS viewer?

Thanks,
Khaled

[2020-05-04 19:34] SimonLi5601 commented on #1101
Sorry, it seems a false alarm due to my local environment. I will close this.

[2020-05-04 19:34] #1101 closed

[2020-05-05 16:24] cklamann opened #1102 "Support for adding custom tracks dynamically"
Would it be possible to dynamically create custom tracks, for instance by adding items to `TrackFactory` via the `Browser` instance? This could allow some users to 'plug in' their own tracks without having to maintain a fork. We have put together a simple implementation in our fork. The change would involve adding getters/setters to `TrackFactory` and creating something like an `addTrackToFactory`

[2020-05-05 17:34] jrobinso commented on #1102
That's an excellent idea.   Do you want to send a PR?

I have to warn you that I am swamped for the next month writing a grant renewal for IGV / igv.js and might not be able to review and merge it until that's done.   But I do like the idea.

[2020-05-05 19:55] cklamann commented on #1102
Great, I can submit a PR probably by the end of the week. And no problem about the turnaround.

[2020-05-06 13:01] panentheos commented on #1099
Hi Jim, Isaac pointed me at this issue. In our usage, we're setting the oauth callback globally, rather than per-track. I think that ends up calling `getOauthToken` here, after the promise handling code has already run. For our usage pattern to work, that code path would need to handle possible promise-returning functions in addition to plain values (perhaps by swapping the order with the code jus

[2020-05-06 15:49] Alex-Willenbrink opened #1103 "BED File Plots with no Labels"
Hello,

Is there a way to add BED file plots without labels? Currently, this is technically possible if the bed file only uses 3 columns like below:

`
2	21044051	21044071
`

If I want to use more than the first 3 columns in the bed file but keep the plots unlabeled, my first thought would be to create a bed file that looks something like this:

`
2	21044051	21044071	${space_character}	1000	-	2104

[2020-05-06 16:55] jrobinso commented on #1099
@panentheos OK I will look into the global case.  Are you looking at the latest code?  Explicit Promise detection was removed several commits ago.

[2020-05-06 16:59] jrobinso commented on #1103
Per general UCSC convention use a "." for blank columns.

There is not a technical spec for the bed file format, or any UCSC file
format for that matter, but our observation has been that they are
whitespace delimited.   It has been a long time since I tested this
however.    If you find that the empty space works in the UCSC genome
browser let me know.

On Wed, May 6, 2020 at 8:50 AM Alex Willenb

[2020-05-06 17:10] panentheos commented on #1099
You're right, I must have been looking at older code WRT promise detection.

[2020-05-06 18:50] Alex-Willenbrink commented on #1103
Sounds good!

[2020-05-06 19:23] jrobinso commented on #1099
@panentheos Let me be clear on what you are doing,  how exactly are you setting the global token (there have been several methods over the years), and what are you setting it to?  I'm inferring a function that returns a promise.   I want to test your case specifically.    igv.js has gone from old-school callbacks,  to Promises, and now to async/await,  some things might have been dropped in the tr

[2020-05-06 19:34] panentheos commented on #1099
Here is our implementation: https://github.com/DataBiosphere/terra-ui/blob/dev/src/components/IGVBrowser.js#L30

The `saToken` function returns a Promise that resolves to an auth token. It automatically manages and refreshes the token over time, so the intention is to call it immediately before every use, in order to get the most up-to-date token.

[2020-05-06 19:36] jrobinso commented on #1099
OK, got it.   I will setup a simulation of this.  I haven't yet figured out a way to unit test oauth.

What version of igv.js are you currently using?

[2020-05-06 20:46] jrobinso commented on #1099
Reopen to fix global token

[2020-05-06 20:48] #1099 closed

[2020-05-06 20:50] jrobinso commented on #1099
@panentheos OK this should be fixed now for global tokens.   I like your await suggestion, simplifies the logic and even works for "thenables".

Not related to this issue, but the same options are now available for specifying urls.   Namely string, function, promise/thenable, function that returns promise/thenable.

[2020-05-06 20:50] jrobinso commented on #1099
@panentheos I will do a point release for this in the next day or so as its a regression.

[2020-05-08 09:44] serverhorror opened #1104 "Fix typos in `api-2.0/Browser-Control-2.0.md`"
There are a few typos in `api-2.0/Browser-Control-2.0.md` that break the formatting.

Not sure how to send this as a PR but here's a diff you can apply if you clone the wiki locally:

* [Fix_typos_in_`api-2_0_Browser-Control-2_0_md`.patch.txt](https://github.com/igvteam/igv.js/files/4598251/Fix_typos_in_.api-2_0_Browser-Control-2_0_md.patch.txt)

Here's the same thing as text only:

    Index: api

[2020-05-08 09:51] serverhorror commented on #511
We're very much interested in [Load Files with HTML Links (IGV Desktop Documentation)](https://software.broadinstitute.org/software/igv/ControlIGV#node-68) as well.

There are quite a few integrations that use this pattern at our place and we can't quite find a way to do this. I guess this ticket describes what we would like to achieve.

[2020-05-08 15:22] turner commented on #1104
Thanks for find this. We've made the edits.

[2020-05-08 15:22] #1104 closed

[2020-05-08 17:11] jrobinso commented on #511
@serverhorror All or nearly all links that work with the desktop will work with igv.js.   If I have missed any I will add them.   Have a look at  https://igv.org/web/release/2.5.2/examples/igv-links.html.   These use the embedded igv.js here:  https://github.com/igvteam/igv.js/blob/master/examples/igvjs.html.   Note "queryParametersSupported: true" in the config object.

[2020-05-10 18:03] serverhorror commented on #511
Would "I love you!" be too much?
How did I miss that?

Sorry for the noise. Thank you so much!

[2020-05-10 18:12] jrobinso commented on #511
Ha!  Well I don't think many people know this actually, we are not the best at getting the word out sometimes.   Open tickets if you run into issues.

[2020-05-10 18:12] #511 closed

[2020-05-12 09:53] highlei opened #1106 "Option to show/hide bam and coverage track"
In IGV desktop, when I load a bam file, I will get two tracks: "mRNA.bam" and "mRNA.bam Coverage" [fig1.jpg]. I can remove mRNA.bam track by click the track name [fig2.jpg].  Then I will just keep bam coverage track [fig3.jpg].
How can I do like this in igv-webapp?
![fig1](https://user-images.githubusercontent.com/38762527/81670164-cf69ea00-9479-11ea-97cf-5086a0858ae1.jpg)
![fig2](https://user-ima

[2020-05-12 20:22] jrobinso commented on #1106
Hi, currently the webapp does not have this option.    I'm unsure if you are asking about igv.js the javascript component, or the webapp at igv.org, but neither have this option currently.

[2020-05-13 19:37] brentp commented on #136
when using colorBy: strand, it's still nearly impossible to see which are mapping-quality 0 alignments.

![mq0](https://user-images.githubusercontent.com/1739/81856992-cf6ff580-951e-11ea-95a9-3f1794ee821b.png)

The read touching the top of the click box is mapping-quality 0 as are several others in the view.

Is there some config I can change to improve this?

[2020-05-13 19:44] jrobinso commented on #136
There's no config for this, but also it looks like a bug.   I think its fairly easy to see in IGV desktop.

I'll reopen this bug,  the original issue was not for color-by-strand but its close enough.

[2020-05-13 22:18] brentp commented on #893
This would be quite useful! Or to have a configuration option to sort by base each time a new locus is set.

[2020-05-15 19:15] gungorbudak opened #1107 "Track data as File / Blob or Buffer objects"
I came up with the following function `readFileAsFileObject` that does some preprocessing and the result can be visualized by IGV.js for a `GFF.GZ` file but the same method doesn't seem to work for `BAM` and `BAI` data. Browser loads it silently but there is nothing shown on the browser (IGV Desktop can open and visualize). Is there an option to do so, I need to provide a local file path like `/Us

[2020-05-15 19:52] jrobinso commented on #1107
I'm not sure what you are running in node and what you are running in the browser.  You can't use "fs" in the browser obviously, and you can't use file paths to read local files in a browser.

If you are asking a node question, the mime type for bams should not be application/gzip, rather application/octet-stream,  or nothing at all if that's an option in node.

[2020-05-15 20:08] jrobinso commented on #1107
To elaborate on the mime type, in the browser setting "application/gzip" will cause the browser to gunzip the bam file before the javascript sees it.   A bam file is not meant to be gunzipped.   Node might be doing the same thing, I can't say for sure, but that is my theory.

[2020-05-15 20:48] gungorbudak commented on #1107
@jrobinso The way I obtained these MIME types was through the below command (on macOS):

[code]

But I actually figured out that the issue was I mixed up the genome version in the reference file and in the alignment file. After correcting it, IGV.js could load the file. IGV desktop didn't care that though.

I tried both `gzip` and `octet-stream` for the `BAM` file and both worked. It could be that

[2020-05-15 20:48] #1107 closed

[2020-05-15 21:15] jrobinso commented on #1107
Yes macOS will think a bam is gzip mime type, because it is in fact gzipped.  See the bam spec of more details  But if a server returns "gzip" as the type to the browser it will gunzip it before javascript sees it.   This is a known problem with certain apache configurations.   I have no idea what node does, apparently nothing, which is what we want.

I'm unclear what you are doing exactly, are yo

[2020-05-15 22:23] gungorbudak commented on #1107
I see I’ll take a note of that behavior. Thanks.

I’m investigating genome browser options for a desktop app built with Electron. It is not on GitHub but it is still JavaScript with reading file from disk instead of a server. It’s for small genomes so the reference can be packed into the software. I’ll also look at the performance as well by loading many tracks.

[2020-05-15 22:29] jrobinso commented on #1107
OK, cool.  I wrapped igv.js in electron once several years ago, didn't pursue it.

We have another project,  github.com/igvteam/igv-reports, that takes bam and other data and packs it into the html page itself.   To support this there's an option to supply the data for tracks as a data uri.

[2020-05-20 21:46] brwnj opened #1108 "gCNV track needs example data"
I can't seem to recreate anything resembling the image in #1055. If you give the gcnv track type a series similar to what's stated in the initial pull req you get disjointed horizontal lines. Is there something I'm missing to connect the points?

Edit: It seems there was data available at some point at https://github.com/igvteam/igv.js/blob/7c8dab50408022ebfab7cbb3a6889c5b16c1fa27/dev/gcnv.html#L3

[2020-05-20 22:01] #1108 closed

[2020-05-20 23:20] jrobinso commented on #1108
Perhaps @bw2 can provide us some sample data.

[2020-05-21 02:59] bw2 commented on #1108
@brwnj the track was designed around bed files where each row's chrom-start-end represents an exon.

This is an example bed file with chr22 data for ~150 samples:
[gcnv_track_example_data.zip](https://github.com/igvteam/igv.js/files/4660372/gcnv_track_example_data.zip)

If you go to  `chr22:23,850,132-23,888,290` it should look like

![image](https://user-images.githubusercontent.com/6240170/82518

[2020-05-21 05:04] jrobinso commented on #1108
Thanks for the data @bw2 .   I forgot the status of this track, we didn't officially document or release it I guess.   If its stable we can do so for the next release,  I'll defer to you on that.   I'm heads down on the grant renewal, there won't be any releases before mid june barring a must-fix bug.

[2020-05-21 06:03] bw2 commented on #1108
Hi Jim, this track is ready to go, but no rush - whenever you have time to release it works for me.
I'd like to add these 2 changes at some point, but they can be independent of the release date.
- add the y-axis value to the popup when clicking on a sample, and maybe also the chrom-start-end. Currently it only shows the sample name and line color.
- add a method for updating config settings (for

[2020-05-25 15:35] #1089 closed

[2020-05-27 16:32] oleraj commented on #67
Hi all, I see this is a long-running issue but we're interested in having this feature as well.  Any plans for this being ready in the near future?  Thanks.

[2020-05-27 16:55] bw2 commented on #67
Hi @oleraj , this feature has been merged (https://github.com/igvteam/igv.js/pull/1019) and is ready for use.

[2020-05-27 17:08] jrobinso commented on #67
@oleraj @bw2 This thread has gone in 2 directions.  @bw2 splice junction track is merged and ready.   There is also a SashimiPlot much like IGV desktops in development, actually very far along.  See github.com/igvteam/sashimi.js.   That will be merged and ready sometime around early July.   I am fully occupied in grant writing or it would be sooner.

[2020-05-27 17:19] oleraj commented on #67
Great, thanks @bw2 and @jrobinso .  We'll try out the splice junction track for now.

[2020-05-28 06:47] matthdsm opened #1109 "info on session file"
Hi Jim!

Just a quick question.
I'm trying to generate a `sessionURL` blob using an external service to feed into igv.js using the query parameters.
So far so good but I have a few questions
- is the blob just base64 encoded? or zlib encoded? (docs say base64, code refers to zlib?)
- which fields should the string contain? I'm assuming we're starting from a json string here.

Sorry if all of this

[2020-05-29 07:21] GlyphDataServices opened #1110 "Filtering small chromosomes option?"
Hi- I see in genome.js ~line 480 small chromosomes are filtered if < median contig length/50. Unfortunately this results in the removal of GRCh38 mitochondrion and all the alt/unplaced contigs from the chromosomes menu, which I want to include.

Could this be set as a config switch instead, whether or not to filter small reference contigs?

`wgChromosomes = Object.values(genome.chromosomes).filter

[2020-05-29 07:36] GlyphDataServices commented on #1065
You can serve your own indexed fasta and annotations tracks already for mm9 and other assemblies.

[2020-05-29 16:06] martina-g opened #1112 "support in customising loadTrack()"
Hi,
first of all, I hope I'm in the correct place, otherwise I'm sorry.
My goal is to make IGV show genomic records (with mismatches against a reference genome highlighted) obtained by calling the api to my custom file (with no supported format). I've followed the workflow from creating the browser to loading tracks. If I understood it correctly, my custom track shall be of type "alignment".
1. re

[2020-05-29 16:48] jrobinso commented on #1110
Hi,
Yes we can add an option.  However this does not remove the data, you can still get to it by typing the chromosome name in the search box.  The filter controls 2 things  (1) the "whole genome" view, and (2) the pulldown menu.   Hundreds would not be a problem.   Several thousand as in the human genome might be.   In any event we can add an option,  I'll leave this open until we do.

[2020-05-29 17:16] GlyphDataServices commented on #1110
I noticed disabling this adds a lot of tiny un-clickable sections to the "all" view and depending where they are in the assembly this could be confusing.

in my GRCh38.p13 RefSeq I have 192 contigs including MT and alt/unplaced.  I think it depends on whose assembly and which patch. I agree though, thousands of menu items and clickable regions can cause issues.

Thanks for the tip on searching. Th

[2020-05-29 17:53] jrobinso commented on #1110
Yes, that is the main point of the filtering (the "all" view).     There probably should be separate options for the menu and "all" view,  or something other widget than a pull down list for the menu that could handle thousands of entries.   In any event leave this open as a reminder to do something about it.   I will not be able to get to it right away.

[2020-05-29 21:24] jrobinso commented on #1112
Hi,
The easiest solution is probably to use a supported format.   Using custom formats for generic annotations is straightforward, but doing so with an alignment track will be difficult.   In fact there is no explicit support for this.   We might at some point support the text "SAM" format, in which case you could create a custom reader to return SAM records, but we don't currently.

[2020-06-01 06:47] L1feone opened #1113 "NullPointerException problem"
Hi!

I mapped paired end library to a genome. Now I am trying to visualise it via IGV, but I am always getting this message when trying to jump to a certain chromosome: "Error encountered querying alignments: java.lang.NullPointerException". Reference genome has 19 chromosomes and a lot of unplaced genomic scaffolds. Jumping to these scaffolds does not cause an error. Only when I am picking a chro

[2020-06-01 10:24] martina-g commented on #1112
thank you for your answer. When you say "it will be difficult" you mean it would be necessary to invest a lot time (weeks) to get to understand how to modify the code (and implement it ) or that a major change of the library is needed and this is not recommended?
There is not yet the support for "text" file format, but at some point in the code you shall convert the binary data input to "text" in

[2020-06-01 13:44] jrobinso commented on #1113
Hi,  you posted in igv.js, is this about the javascript component or the desktop application?

[2020-06-01 13:48] jrobinso commented on #1112
I can't estimate effort because I don't know exactly what you want to do,  but weeks would be a reasonable guess.  If I understand you correctly you want to create alignments for the "alignment" track to display from your own custom format.      I don't understand you comment about "converting binary to text in order to process it".

[2020-06-01 13:56] mkadlof opened #1114 "[feature request] Arc diagrams with height proportional to value"
Is it possible to add arc diagrams with height proportional to its log(value) to igv.js version? It already works in stand alone version, but would be great if you add it also for website version.

Here is data format example:
[code]

Columns description:
chr1id, begin1, end1, chr2id, begin2, end2, value

And example of expected result:
![image](https://user-images.githubusercontent.com/4080632/83

[2020-06-01 14:04] jrobinso commented on #1114
Not currently, I suppose you are the first to request this.    I will add it.

[2020-06-01 14:43] L1feone commented on #1113
Hi, it is about desktop application

[2020-06-01 14:45] jrobinso commented on #1113
This is not the correct repository, I will move it.

I will need to know the version of IGV you are using, and also the contents of the "igv.log" file, it is in the "igv" folder in your home directory.  If you are able to share the BAM file that would be helpful.

[2020-06-01 17:19] kbruskiewicz opened #1115 "[Feature Request] Custom groupings and legends for annotation tracks"
Hello Jim,

Currently I'm seeing support for intervals in annotations, however I'm uncertain as to how intervals are stacked or ranked when they overlap on the same segment.

Would it be possible to support custom groupings and orderings of intervals if they happen to exist on the same track, but overlap over the same region? So e.g. all of the features with a given property are on one row, for a

[2020-06-03 11:10] martina-g commented on #1112
yes, I want to feed the instance
`const alignment = new BamAlignment();
`
with data extracted from my custom file.

I was not clear indeed! I meant that you need to decode the binary bam file in order to get the `alignment` records. I found the function I was looking for in bamUtils.js
`    decodeBamRecords: function (..)
`
The following step is to implement a custom `decodeCustomRecords()` and ma

[2020-06-03 23:23] jrobinso commented on #1112
There is no place to implement a "decodeCustomRecords" function, however you are on the right track.  What's needed here, I think, is a means to supply a custom reader for a bam track.  It would work similar to the custom reader for annotation tracks,  see examples/custom-reader.html.   This will require me to add some support, which I'm willing to do but can't get to until later in the month.

[2020-06-04 22:30] kbruskiewicz opened #1116 "Separating identification from name"
Tracks are currently identified by their name, and IGV supports deleting tracks by name. But names seem to override or act as aliases for labels. So if I wanted to enforce a unique ID for tracks, and I wanted a potentially non-unique display label, I can't separate those concerns.

Would it be possible to use a form of labeling separate from the name?

[2020-06-05 16:25] martina-g commented on #1112
Thank you, this is helpful indeed.
I will let you know next week how soon we'd "need" this customisation, if it compatible with the time necessary to implement it and, most of all, if it is ok to wait for your kind support.

[2020-06-05 16:37] jrobinso commented on #1112
OK, the only customization I have to do with this approach is modification to bamSource to accept your custom reader.   This is easy and I will do it in any event.  Most of the work here will be on your side to develop your custom reader, but that does not impact igv.js.

[2020-06-10 14:51] martina-g opened #1117 "genome "hg19" missing "chrM" chromosome"
In the fasta file for genome hg19 I could not find the chromosome chrM. Is there a chance to have a reference genome for hg19 with chrM?
Thank you in advance

[2020-06-11 16:55] Christian-Sidak commented on #893
Has this been added? This issue remains open, but it appears from this wiki page that sorting by base should be possible: https://github.com/igvteam/igv.js/wiki/Alignment-Track

Provided your option block is formatted something like:

{
  "name": “Sample 1”,
  "showNavigation": true,
  "showRuler": true,
  "genome": "hg19",
  "locus": "chr1:13718415",
  "tracks": [
    {
      "url": “sample1.bam"

[2020-06-11 20:45] kbruskiewicz opened #1118 "Force query over cache"
Is it possible to not use caching for a reader?

[2020-06-11 20:49] jrobinso commented on #1118
At the moment no.   Could you describe your use case?    There are 2 levels of caching, one would be easy to turn off one would be hard.  When an offscreen image is drawn a pointer to the collection of features is drawn to support popup text.   That is the hard one, unless you also wanted to disable popup text.

[2020-06-11 21:19] kbruskiewicz commented on #1118
The popups are disabled (I overrode the handler).

The use-case is that I have hooks that execute whenever my custom reader completes a query. This corresponds to a shift in the region which implies a shift in the data: using the hook I spill this data  over to another component on the page.

Since I only control the reader but not the feature cache, if there are elements in the feature cache it s

[2020-06-11 21:42] jrobinso commented on #1118
This should be easy, but I'm engaged on other projects right now.  Here's something to try.   Add a config property "disableCache".   The test starting around line 173 of FeatureSource to check the property as follows.  The explicit test for true will have the effect of defaulting to false.   I don't have time to test this right now but it should work, let me know.  Will work on a better implement

[2020-06-11 22:49] kbruskiewicz commented on #1118
I think it works.

[2020-06-15 19:00] paul-shannon opened #1119 "set track height and displayMode on the gene model track of a reference genome"
With the hg38 reference genome, a Refseq Genes gene model track is displayed.   It defaults to EXPANDED displayMode, and a trackHeight of 70.
Is there an option field for setting the displayMode to, for instance, COLLAPSED?  Or maybe there is a function for that in the javascript API?

thanks!

[2020-06-15 19:02] jrobinso commented on #1119
You would use the full "reference" object instead of the "genome" id
shortcut.

On Mon, Jun 15, 2020 at 12:00 PM Paul Shannon <notifications@github.com>
wrote:

[2020-06-15 19:20] paul-shannon commented on #1119
Makes sense, thanks Jim.   Is there an easy way to find out all the fields implied by a genome id?  To get all those specs, in order to create a full reference object?

[2020-06-15 19:39] jrobinso commented on #1119
Here's what we use

https://s3.amazonaws.com/igv.org.genomes/genomes.json

On Mon, Jun 15, 2020 at 12:21 PM Paul Shannon <notifications@github.com>
wrote:

[2020-06-15 19:46] paul-shannon commented on #1119
all set.  thanks!

[2020-06-15 19:46] #1119 closed

[2020-06-15 20:08] paul-shannon commented on #1119
one more question if I may.  Can you give me a pointer to documentation or filename for javascript API for after the fact manipulation of track height and displayMode?

[2020-06-15 20:12] jrobinso commented on #1119
Documentation is here: https://github.com/igvteam/igv.js/wiki.  However
there is no API for track manipulation post creation.   Create a new issue
for that, or rename this one.   I don't have a sense of what would be
involved to support that off the top of my head.

On Mon, Jun 15, 2020 at 1:08 PM Paul Shannon <notifications@github.com>
wrote:

[2020-06-15 20:53] hmgill opened #1120 "Custom Reference Genome not Loading"
Hi,
I was trying to view my custom genome w/ igv.js, but it seems like there is a problem with loading the fasta and fai files, as nothing loads in the IGV viewer.

The URLs are given below & the html file is attached. Thanks!
https://sysbio.informatics.iupui.edu/primer_project/genomes/sarscov2/sars_cov_2.fasta.
https://sysbio.informatics.iupui.edu/primer_project/genomes/sarscov2/sars_cov_2.fasta.

[2020-06-15 21:15] jrobinso commented on #1120
It looks like the server at sysbio does not include CORS headers in the responses, or to put it another way they do not allow javascript programs to access those files.  As a workaround you can download the files and host them on the same server you are hosting igv.min.js on, or alternatively if they are public I will just put them on one of our servers and send you a link.

[2020-06-15 21:35] hmgill commented on #1120
Hi jrobinso,

Thanks for your response.
I'll contact my webserver admin to see what solution there is to the CORS issue. Thanks for offering to put them up on one of your servers for the time being; the files are public info. Would it be too much to add two other files for a track as well (below)?
https://sysbio.informatics.iupui.edu/primer_project/genomes/sarscov2/forward_s.bed.gz.
https://sysbio

[2020-06-15 21:40] jrobinso commented on #1120
I'm happy to do it but you can also just put all those files in the root directory of your web app (the directory containing sars_igv.html) and reference them by their file name, or in a data subdirectory and reference them as for example
[code]
etc.  The paths would be relative to your html page.    This assume you have a server, file URLs won't work.

If you want us to host them give us more inf

[2020-06-15 22:02] hmgill commented on #1120
Hi,

Just tried including the relative path and that worked! Maybe I had read it wrong, but I though I came across some material stating only URLs mapping to the data files would work.

Thanks for all the help

[2020-06-15 22:09] jrobinso commented on #1120
A relative path is a URL, it is in fact a relative URL.  Maybe we should point this out in the documentation, I will leave this open as a documentation reminder.

[2020-06-16 00:37] paul-shannon commented on #1119
Let's defer.  If this seems worthy of a request, I'll create a new issue.
Thanks, Jim.

[2020-06-18 19:47] shihai832 opened #1121 "auto loading"
How do I automatically load genomics and tracks without using the file load? Meaning each time I open browser, it automatically load the some file to display. Thanks, shihai

[2020-06-18 20:16] jrobinso commented on #1121
I don't understand your question.  igv.js does not have a "file load", that is the responsibility of the enclosing application.   igv.js is just a component.  Are you sure you are posting to the right repository?

[2020-06-18 21:30] eweitz opened #1122 "Travis CI build passes with error"
The Travis CI build passes, but the test suite throws an error and exits without having succeeded any tests.

From https://travis-ci.org/github/igvteam/igv.js/builds/699569998:
[code]

I can reproduce this in my local clone by running `npm install .` then `npm test`.

Any ideas what the issue might be?

I'm developing support in igv.js for using the Ensembl REST API as a search backend, and having

[2020-06-18 21:33] onursumer commented on #811
@jrobinso any update on this one?

[2020-06-18 21:36] jrobinso commented on #811
No.   We might schedule this for our next "set aside" project, which is due to start shortly.     Will be in touch on that.

[2020-06-18 22:15] paul-shannon opened #1123 "autoscale wig track: small values invisible"
Using the autoscale option on a track with format "bedgraph" and type "wig" very low track values do not get displayed  when a high-valued track segment is also in view.

My "high value" is 605, low value is 5.8.

Perhaps any non-zero track value could get at least one pixel in height?
An example available on demand...

[2020-06-18 22:26] shihai832 commented on #1121
When I refresh the igv local site, all the files including the tracks
disappeared. I like to show some tracks and genome as default after I
refresh the site or start the site again. Is there a way to do it?

Shihai

On Thu, Jun 18, 2020, 14:17 Jim Robinson <notifications@github.com> wrote:

[2020-06-18 22:33] jrobinso commented on #1121
@shihai832  probably not, but first you need to tell us more about your configuration.  How are you embedding igv.js?   Where are your files located (local file system or from a web server)?  Why don't you just configure the tracks and genomes you want in the IGV config?

[2020-06-18 22:47] shihai832 commented on #1121
File is on local file system. I use the igv.js download from GitHub
directly with "npm start"

Shihai

On Thu, Jun 18, 2020, 16:33 Jim Robinson <notifications@github.com> wrote:

[2020-06-18 22:59] jrobinso commented on #1121
@shihai832 No you cannot do this with files on the local file system.   Also I think you are confused, there is no "npm start" script for igv.js, perhaps you mean igv-webapp?  In any event this is not possible.

[2020-06-18 22:59] #1121 closed

[2020-06-18 23:16] jrobinso commented on #1122
Looking into it.   It looks like one of our tests depends on an EBI server
that is timing out.   I will rewrite that one.   Testing some things, such
as htsget,  need to rely on external services unfortunately.

A good way to check tests is opening "test/runTests.html" in a web
browser.

Its disappointing Travis "passes" this, maybe something wrong with our
setup?

On Thu, Jun 18, 2020 at 2:31 PM

[2020-06-18 23:26] jrobinso commented on #1122
OK I disabled the failing htsget test.   I cannot find a reliable server to test it against and we don't have resources to run one just for tests.

[2020-06-18 23:26] #1122 closed

[2020-06-22 05:04] #1120 closed

[2020-06-22 16:31] #1123 closed

[2020-06-22 18:33] paul-shannon commented on #1123
Thanks, @jrobinso!

[2020-06-22 23:11] #1118 closed

[2020-06-22 23:13] jrobinso commented on #1117
The next release shows all sequences in the pulldown.

[2020-06-22 23:13] #1117 closed

[2020-06-22 23:16] jrobinso commented on #1115
This is fairly complex, the standard solution for this is to break the features into multiple tracks.

[2020-06-22 23:16] #1115 closed

[2020-06-22 23:20] jrobinso commented on #1110
@GlyphDataServices I've just found time to look at this, and I wonder what version of igv.js you are using because the filtering of small chromosomes from the pulldown was removed in march of 2019.

[2020-06-22 23:22] jrobinso commented on #1106
renamed issue

[2020-06-22 23:24] jrobinso commented on #1027
You're probably correct.

[2020-06-22 23:24] #1027 closed

[2020-06-22 23:31] GlyphDataServices commented on #1110
Looks like 2.2.2. I'll update. Thanks.

[2020-06-24 06:51] Nitin123-4 opened #1126 "Not taking bam file"
I am parsing url for the bam file.
#MYPATH is the full URL. when I am pasting this irl in web browser it is downloading the bam file. But it is not loading in IGV.js.

THis URL is working in desktop IGV.

var options =
{
genome: "hg19",
locus: 'chr1:19,542,783-19,549,170',
tracks: [
{
type: 'alignment',
format: 'bam',
url: 'http://#MYPATH/sample.chr1_19542158_19578046.bam',
indexURL: 'http://#MYPA

[2020-06-24 15:43] shihai832 opened #1127 "Can't display vcf file for snps"
I am trying to display attached vcf files for snps. The track loaded but nothing came up.

[S_aureus_ER04823_3A_025720.repeat_mask.fasta.fai.zip](https://github.com/igvteam/igv.js/files/4826446/S_aureus_ER04823_3A_025720.repeat_mask.fasta.fai.zip)
[parsnp.vcf.gz.tbi.zip](https://github.com/igvteam/igv.js/files/4826447/parsnp.vcf.gz.tbi.zip)
[S_aureus_ER04823_3A_025720.repeat_mask.fasta.zip](https:

[2020-06-24 15:50] jrobinso commented on #1127
What do you mean "nothing came up".   Did you zoom to a region you know should have a snp?    Please give us a test case  (html or at least track config) and exact steps to reproduce.

[2020-06-24 15:53] jrobinso commented on #1126
I can't really help you without a test case I can run.    Are there any errors in the java console?    Does the webserver serving the BAM support CORS requests (see https://github.com/igvteam/igv.js/wiki/Data-Server-Requirements).   If it does not you should see errors in the console.

[2020-06-24 16:00] shihai832 commented on #1127
I used the igv-web for testing. First I loaded the fasta file and it's fai.
I can see the sequence. Then I loaded the parsnp.vcf.gz and its tbi. The
track is there but I can any snps.

shihai

On Wed, Jun 24, 2020 at 9:50 AM Jim Robinson <notifications@github.com>
wrote:

[2020-06-24 16:42] jrobinso commented on #1127
I see.  Its a bit confusing, what yo uinitially see is a "whole genome" view.  As your fasta has only 1 contig this is confusing.  Zoom into somewhere specfic, for example  u00000crpx_c_025720:2,854-14,890

[2020-06-24 16:48] shihai832 commented on #1127
Thanks a lot.

shihai

On Wed, Jun 24, 2020 at 10:42 AM Jim Robinson <notifications@github.com>
wrote:

[2020-06-24 16:58] shihai832 commented on #1127
Is it possible to set a different color for A,T,G,C,- when display VCF
files? The reason I use VCF instead of BAM is because BAM loads much slower
than VCF.

shihai

On Wed, Jun 24, 2020 at 10:48 AM shihai feng <shihai1998@gmail.com> wrote:

[2020-06-24 17:00] jrobinso commented on #1127
No its not

[2020-06-24 17:20] jrobinso commented on #1127
BTW you have 2 contigs, but one is very small.   When configuring this in igv.js you might want to set

[code]

[2020-06-24 17:42] shihai832 commented on #1127
Thanks a lot. For display snps with different colors, what input file
besides bam file I can use?

On Wed, Jun 24, 2020, 11:21 Jim Robinson <notifications@github.com> wrote:

[2020-06-24 17:46] shihai832 commented on #1127
Bam file loads very slow for large sequences.

On Wed, Jun 24, 2020, 11:42 shihai feng <shihai1998@gmail.com> wrote:

[2020-06-24 17:51] jrobinso commented on #1127
I don't know how to answer the question you are asking.  BAMs and vcfs are fundamentally different things.   You load a BAM file to see the alignments.  VCF files do not contain alignments.    Secondly, assuming your bam files are indexed they should load nearly as fast as VCF files.      There is no file format that displays "snps" with different colors.

[2020-06-24 17:51] #1127 closed

[2020-06-25 05:18] VivekTodur opened #1128 "rendering issue with UIKIT3"
Hi,

IGV is not getting rendered properly in the presence of UIKIT3 framework. Screenshot is attached for your reference. If I am taking out UIKIT3.css its working fine as expected. Any guidance to resolve [this...](url
![igv_display_problem](https://user-images.githubusercontent.com/12067550/85658842-6d83dd80-b6d1-11ea-9ba3-92819887634d.png)
)

[2020-06-25 13:11] jrobinso commented on #1128
@VivekTodur could you zip up and attach an html page demonstrating the problem?  I do not know that "UIKIT3" is but if you can give us an example we will look at it.

[2020-06-25 13:31] jrobinso commented on #1128
@VivekTodur never mind, it was easy to find.   UIKIT is redefining lots of global css rules, for example it is globally redefining canvas max-width, box-sizing, vertial-alignment and other rules.    This will cascade down to everything in the page.   There might be something here that will help.     https://getuikit.com/docs/avoiding-conflicts

[2020-06-26 13:35] martina-g opened #1129 "Problem rendering two tracks mapping on the same range"
Hi,
I'm having issues in correctly rendering tracks handled with a module I wrote to display tracks from a custom format.
Track 1
<img width="963" alt="track_1" src="https://user-images.githubusercontent.com/66132177/85862209-bdda6880-b7c1-11ea-8ede-076456939080.png">
Track 2
<img width="932" alt="track_2" src="https://user-images.githubusercontent.com/66132177/85862253-cf237500-b7c1-11ea-8181-2b6

[2020-06-26 15:41] jrobinso commented on #1129
Could we see the code for rendering these tracks?  And an example html would help also.

[2020-06-26 16:36] martina-g commented on #1129
I edited the first post with more infos.
My changes to the igv.js library:
**bamSource.js**

[code]
**mpeggReader.js**

[code]
The decodeMpeggRecords() function returns an alignmentContainer object with correct data for both tracks.
What am I doing wrong?
Right now I can't make an example html..

[2020-06-26 16:51] jrobinso commented on #1129
Impossible for me to say, I can't really even interpret your tracks, what type of track are the "boxy" rectangles above the alignment records?  Alignments are drawn in the file BamTrack.js.

[2020-06-27 00:30] jrobinso commented on #1128
@VivekTodur if you pull from the master branch and build it might work.   No guarantees.    When a toolkit applies global rules to elements its hard to work around.

[2020-06-27 00:30] #1128 closed

[2020-06-27 03:13] jrobinso commented on #1129
Oh I see, the block track is coverage.  It looks strange at 2X.   I actually don't see anything wrong with those screenshots, they look correct to me.    The grey rectangle representing the alignment does not show any mismatches.    The coverage track highlights locations where more than 20% of the reads show a mismatch.   In your case it is 50% as you only have 2 reads.    This is exactly how the

[2020-06-27 03:13] #1129 closed

[2020-06-30 05:58] loicmasson2 commented on #1116
I'm not sure what is your use case for non unique display label but you can extend your tracks with whatever you want.
For example I use defaultActive to display a certain set of tracks when my page opens.
[code]
And then instantiate igv with only those tracks.
[code]

What you can do:
- add a label field to your track.
- list all the labels attached to the css class `igv-track-label`
- override t

[2020-07-01 18:06] jrobinso commented on #1116
@kbruskiewicz I've addressed this by generalizing the existing "findTracks" function, and exposing a previously hidden method  "removeTrack".   I've pushed an example to https://github.com/igvteam/igv.js/blob/master/dev/findTracks.html, snippet below.   However before I can release this I need to solve another problem, discovered while testing this.  Removing a track while data is being loaded res

[2020-07-02 05:06] jrobinso commented on #1116
@kbruskiewicz To clarify removing tracks by anything other than name is now a 2 step process.  (1) use findTracks to get an array of tracks to remove  (2) iterate over array and call removeTrack for each one.  Above is an example of using a function.   I also introduced a new special property, 'id', which is copied from the track config object to the track.   There is no requirement that "id" be u

[2020-07-02 05:18] #1126 closed

[2020-07-02 06:02] Nitin123-4 commented on #1126
Hi ,
It's working for me now.

Thanks

On Thu, 2 Jul 2020 at 10:49, Jim Robinson <notifications@github.com> wrote:

--
Regards

Nitin Mandloi
Bioinformatics Associate Scientist

[2020-07-02 19:04] Nitin123-4 opened #1131 "Show all bases (mismatch bases) and show center line"
How can we enable the following:

1. mismatch bases in igv.js even after enabling I can't see mismatch bases.
2. How to enable the show center line?
3. igv.js: Is it downsampling by default?
4. Coverage details on mouseover?
5. Exon number on the annotation track?

[2020-07-02 19:26] Nitin123-4 commented on #1131
Sorry Just saw the updated version covers point 1, 3, 4

[2020-07-02 19:40] jrobinso commented on #1131
* RE 2, I thought there was a config parameter for that but there is not.   We will add one.
* The annotation track does not support exon numbers.

[2020-07-02 20:36] Nitin123-4 commented on #1131
Point 2: working now: after adding:

showCenterGuide: true

Thanks

[2020-07-02 20:38] jrobinso commented on #1131
Thanks for testing that.   I will update the documentation.

On Thu, Jul 2, 2020 at 1:36 PM Nitin123-4 <notifications@github.com> wrote:

[2020-07-04 09:22] shingocat opened #1133 "Always throws exception of undefined genome,"
Hi,

I used my local reference fasta file and had indexed fasta file by samtools.  I used reference property to set myself reference. However there are always throwed this exception. The igv.js version is 2.6.2. How to fix this issues.
Many Thanks.

Uncaught (in promise) TypeError: Cannot read property 'genome' of undefined
    at Browser._callee4$ (igv.js;jsessionid=94A7F0C5897D7757D0CA8AB7393462

[2020-07-04 19:25] jrobinso commented on #1133
There's not enough information there for us to help you.   If possible zip up a test case that reproduces the problem.   If that is not possible at a minimum post your igv configuration here.      Also try using the un-minified "esm" igv distribution, this will yeild a better error message.   To do that comment or remove the <script> tag that is loading igv.min.js,  then replace the script tag wit

[2020-07-05 16:53] mzager commented on #1114
Jim, I'm curious if you got a chance to implement this feature...  Thanks for all your contributions.  This is a great project.

[2020-07-06 07:29] shingocat commented on #1133
Hi jrobinso,

The following statements are used to set options for igv.js.

var igvDiv = document.getElementById('n82Q56');
var options =  {
showNavigation: true,
reference: {
name: "Agrobacterium tumefaciens ASM97156v1",
fastaURL: 'http://10.200.24.108/longterm/Agrobacterium_tumefaciens/Reference/AGB_1593606940987_2/AGB_1593606940987_2.fasta',
indexURL: 'http://10.200.24.108/longterm/Agrobacteriu

[2020-07-06 16:57] jrobinso commented on #1133
Please follow my instructions exactly.   If you're having difficulty following them zip up your html and attach it.

[2020-07-07 04:50] #1131 closed

[2020-07-07 04:53] jrobinso commented on #1114
Some support pushed.  Still need "log" option.

[2020-07-07 08:48] chrkouts opened #1135 "Customise bed pop-over window."
Hello,
Thank you all for your great work!

I would like to ask if there is a way to hide/remove some labels on the pop-over window of a BED track.
e.g. Remove chr,start,end from the ClinVar track
![Screen Shot 2020-07-07 at 09 42 17](https://user-images.githubusercontent.com/24293310/86751069-52509080-c036-11ea-82ac-a1e3785e457a.png)

I tried the following example
http://igv.org/web/release/2.6.2/

[2020-07-07 12:08] mzager commented on #1114
Jim - Per your recommendation, I began investigating BED formats for storing Cis-coaccessibility networks. I was able to identify one that represents the data well "bigInteract" - https://genome.ucsc.edu/goldenPath/help/interact.html - Example #2.  When compared to the bedpe format this structure seems to have two advantages 1) it can be indexed. 2) it renders the start and end of the arcs as span

[2020-07-07 15:42] jrobinso commented on #1114
@mzager I agree that's the way to go if your data is too large for the non-indexable bedpe format.   RE the rendering, that is a separate consideration orthogonal to the format,  IGV desktop has this as an option I think.    Yes I've investigated it and there is a parser for "interact" although its probably not tested,  you are the first to mention this format.    Could you open a new issue for "s

[2020-07-07 15:55] mzager commented on #1114
That's great thanks @jrobinso.   The CTCF paper was actually from @mkadlof who I know is still interested in integrating it.  I will open a new issue for "support for interact and bigInteract".  My dataset is significantly larger with some tracks approaching 150mb in bedpe format.  I am currently working on re-encoding the data in biginteract format and would be happy to help getting this feature

[2020-07-07 15:57] mzager opened #1134 "[Feature Request] add support for interact and bigInteract"
I am hoping to render cis-coexpression regulatory networks in IGV.JS.   From my research, the best example of what I am trying to implement is the second example on this page.

https://genome.ucsc.edu/goldenPath/help/interact.html#:~:text=The%20interact%20file%20format%20has,be%20viewed%20on%20a%20chromosome.&text=The%20second%20row%20of%20the,not%20represented%20by%20an%20arc.

@jrobinso Let me k

[2020-07-10 14:21] Nitin123-4 opened #1136 "Local FTP support for IGV.js"
I can see IGV.js doens't work if we give local FTP path as bam file
Example:

https://portal/$FULLINFO

Is there anyway we can do it; Or any support for it?

[2020-07-10 17:18] jrobinso commented on #1136
I don't understand the link you posted, but FTP is not supported.

[2020-07-10 17:18] #1136 closed

[2020-07-10 23:13] jrobinso commented on #1134
OK @mzager this is mostly done.   If you want to jump in and finish here's what's left.   No pressure

* visual indication of inter-chromosomal features.   Currently these are just skipped.
* Support for UCSC "directional" concept,  I think they use a dashed line for features that run "right to left" if the track is marked directional, but I haven't looked closely.

I don't know what the best mark

[2020-07-11 05:13] matthdsm opened #1137 "Feature: Automated parsing of CSQ/ANN info fields"
Hi,

Both the VEP and SNPeff put all of their annotations in the CSQ of ANN info field. Could some type of INFO field parsing voor those fields be implemented so annotations can be viewed in the browser?

Thanks
Matthias

xref: igvteam/igv-webapp#58

[2020-07-11 05:15] #1133 closed

[2020-07-11 05:18] jrobinso commented on #1114
This is now implemented (not released, but pushed to master).  An example using the CTCF data from the paper referenced above follows.  The example also illustrates other properties you can set.

[code]

[2020-07-11 05:18] #1114 closed

[2020-07-11 05:23] jrobinso commented on #1109
@matthdsm  The blob is a compressed, uuencoded,  igv.js session json.    The json format is described in the wikis, its the standard config objects but "json-ified" (basically use strings for property names).   Once you have the json string here is the code,  in stringUtils.js, that compresses it.   I could expose this as a tiny NPM node project.   Note the replacements after UUENCODING to make th

[2020-07-12 15:47] mzager commented on #1134
Thank you so much.  I'll start familiarizing myself with the code base next week and see if I can't integrate these features.

[2020-07-12 22:55] jrobinso commented on #1109
@matthdsm actually you can do this with node and igv-utils,  I just pushed an example here:  https://github.com/igvteam/igv-utils/blob/master/examples/sessionBlob.js.

[2020-07-12 22:55] #1109 closed

[2020-07-13 05:22] matthdsm commented on #1109
Hi Jim

Great! Thanks for the example! It's a huge help!

Cheers
M

[2020-07-14 00:07] jrobinso commented on #1134
@mzager I don't know if those features (inter-chromosomal and direction) are important to your application, if not don't worry about it.   If you want to do something with that,  the only functions involved should be the draw functions (drawNested and drawProportional) of InteractionTrack.

[2020-07-16 06:56] chrkouts commented on #1135
Hi Jim,

Thanks for your help I found the igvShiny package from Paul Shannon and used that.

Thanks again for your help

[2020-07-16 06:56] #1135 closed

[2020-07-16 23:54] petermchale opened #1138 "programmatically creating svgs"
Given a list of loci, and a set of tracks, I'd like to *programmatically* create svgs for each locus, i.e., without manually inspecting each locus in a browser. How would you recommend doing that?

[2020-07-17 00:23] petermchale commented on #1138
This is a solution: https://github.com/brentp/jigv#automated-screenshots

But would like to know of other solutions.

[2020-07-17 00:38] jrobinso commented on #1138
@petermchale I'm not sure I see the connection between Brett's app referenced above and automatic svg creation.   This will be tricky to achieve with igv.js out of the box because loading data is asynchronous.  One could build an app around igv.js to do this but I'm not aware of any.   This would make a good project for someone, I'm sure there is an audience for it.

IGV desktop has the ability to

[2020-07-17 23:07] paul-shannon opened #1139 "a quantitative track with annotation as well?"
I often have quantitative, non-continuous data.  I do not know how to render the quantitative measure as height AND have annotation fields as well.

A straightforward example of this is scored ChIP-seq peaks called by MACS2.   With extra annotation fields included, I could either display that annotation in a popup, or capture the track-click event and display the annotation using my own ui.

My cu

[2020-07-17 23:21] jrobinso commented on #1139
@paul-shannon Thats not clunky at all, in my opinion.  You could develop a special composite track but it would amount to that in the end.

[2020-07-17 23:27] paul-shannon commented on #1139
@jrobinso  Good to know  I  was not missing out on an existing solution.  Thanks, Jim.

[2020-07-17 23:27] #1139 closed

[2020-07-27 15:54] juancrescente commented on #435
I want this feature as well

[2020-07-27 21:20] jrobinso commented on #435
@juancrescente what is your use case for the CSI index?  It shouldn't be hard to implement but it is hard to prioritize,  I would welcome a pull request for this.   Probably just requires some modifications to bamIndex.js,  both bam and tabix use the same code for this.

[2020-07-27 21:29] juancrescente commented on #435
@jrobinso I can only index bam files from wheat genome using CSI indexes. That's why I cannot use igv with wheat data

[2020-07-27 23:57] petermchale commented on #1138
Here is a solution, similar to Brent's above:

https://gist.github.com/petermchale/3d8341b6929e64272046fa0a6eb5e659

It uses a workaround, `page.waitFor(10000)`, to "wait" for all data to load on the page before dumping a screenshot.

Without  `page.waitFor(10000)`, a screenshot is created before all the data are loaded. I think this is because `igv.createBrowser` resolves before all data is loade

[2020-07-28 00:33] jrobinso commented on #1138
No there's not, and this strategy will quickly become intractable if you use "search" to visit other regions.  You can try creating an empty browser (no tracks),  then add tracks with browser.loadTrack with a "sync" setting, as shown below.  loadTrack returns a promise to load a track, you can await it or use then.   This is not going to work if you "search" or do anything else that triggers anoth

[2020-07-28 00:36] paul-shannon commented on #1138
It worked great.  I execute my callbacks to R from completed promises.

[2020-07-28 15:36] petermchale commented on #1138
Thanks, @jrobinso .

Awaiting the loading of a track seems to work in that I now see the track in the png but it is not a complete solution in that the promise seems to resolve before the spinner has disappeared (see spinner in attached png). Is there a way to await the spinner or an option to disable it?

I don't see `sync` listed as an option at https://github.com/igvteam/igv.js/wiki/Tracks-2.0,

[2020-07-28 17:49] mshrngci118 opened #1142 "Can't read in binary data by EJS"
![image](https://user-images.githubusercontent.com/40280869/88701866-721c2700-d0bf-11ea-87ff-abb471c90b59.png)

[2020-07-28 17:57] jrobinso commented on #1142
Sorry I don't know what EJS is.

[2020-07-28 18:01] mshrngci118 commented on #1142
I should have explained it more. EJS is Embedded JavaScript. It is a simple templating language that generate HTML markup with plain JavaScript.
https://ejs.co/

[2020-07-28 18:06] jrobinso commented on #1142
The problem is probably your igv.js configuration.  If you can zip up a reproducible test case I can run I will look into it.

[2020-07-28 20:35] jrobinso commented on #1138
@petermchale I don't see your trackConfig in the above snippet.   That's where you set sync: true.

But as you point out this is a limited solution, only affecting loadTrack.   This will have no effect on the sequence.   I don't think there is a solution here unless you want to dig into the code,  however I can't really even encourage a pull request as the app is highly tuned to normal asynchronou

[2020-07-28 22:13] petermchale commented on #1138
OK.

I've updated my gist above to reflect all the changes mentioned in this thread, for the benefit of others who may visit this issue.

I'll also ping @turner , @paul-shannon and @brentp just for their information.

[2020-07-28 22:18] jrobinso commented on #1138
@petermchale I've been thinking about how to approach this a little bit but haven't come up with anything helpful.   I think you would need to "await" all xmlhttp requests which of course would kill web performance.   I think an event based approach would be intractable.  It might look simple until you get into the details.

[2020-07-29 00:51] mshrngci118 commented on #1142
I could't figure out about the configuration.
So, I attached minimal code and directory structure.

[demo.zip](https://github.com/igvteam/igv.js/files/4991846/demo.zip)

"dependencies": {
    "body-parser": "^1.19.0",
    "ejs": "^3.1.3",
    "express": "^4.17.1",
    "request": "^2.88.2"
  }

[2020-07-29 01:23] jrobinso commented on #1142
Your original post said igv.js "cant read binary data".   I don't see any binary data.

You should not specify a format for the track ("bed") if you are supplying the features directly.   That could cause issues.  Otherwise the configuration looks ok.,  but of course I don't know what "inputData" resolves to.

Sorry I can't help you with EJS.

[2020-07-29 01:23] #1142 closed

[2020-07-29 02:23] mshrngci118 commented on #1142
Sorry that I made you misleading by the title.
What I meant was RefSeq's mRNA annotation data coming from IGV, is not rendered properly on the viewer panel.
I couldn't find out the exact reason why I'm getting this error message, but I thought it meant for failing to compile or build the RefSeq data during the process of rendering...

[2020-07-29 05:12] jrobinso commented on #1142
If you can capture the html that is generated and save it as a static page that might help you diagnose the problem.  I do see a problem with your locus string, there shouldn't be a space after "16:".

[2020-07-29 06:59] kzoabi opened #1143 "IE doesn't support for..of statement"
Hello guys,
I hope you're doing well!

I've started using version 2.5.2 few weeks ago and our team face a problem with IE that prevented showing up the IGV on screen.
The developer tool of Internet Explorer show us that the problem is in line:
[canvas2svg.js#L343](https://github.com/igvteam/igv.js/blob/0c8f6982bc4cc8756bfa5cf3c962ff81faf08284/js/canvas2svg.js#L343)
This issue happens because of us

[2020-07-29 14:57] jrobinso commented on #1143
We do not support IE,  however you might be able to get it to work with Babel.   What version of IE are you targetting?   Also, how are you including igv?  The built artifact igv.min.js is already Babel translated for ES5.

[2020-07-29 18:57] qianxu05172019 opened #1146 "Visualizing bam file mapped to transcriptome fasta file"
Hi,

I mapped my reads to mm10 transcriptome fasta file. I sorted and indexed my bam file and place the trasncriptome.fa, .bam file and .bam.bai file in the same folder. I also checked the name of my trasncriptome.fa and bam file, the names ate the same. My problem now is that it gives an error says that:

Error loading E:\1to1DMSCopy\week6\IGV_view\UM.long.sorted.bam: An error occurred while acce

[2020-07-29 19:02] jrobinso commented on #1146
That's not a legal sequence name for a BAM file.   Even if it were you would not see anything in IGV since you aligned your reads the the transcriptome, not the DNA reference.

I'm not sure what you are trying to do.

[2020-07-29 19:31] qianxu05172019 commented on #1146
I am working with DMS treated RNA sequencing data, I wanna look at the secondary structure of the RNA, which is at a transcriptome level. So I need to map my reads to the transcriptome.

[2020-07-29 19:38] jrobinso commented on #1146
OK, what I meant was I'm not sure what you are trying to do with IGV.

BTW this is the igv.js javascript component repository, not IGV.

[2020-07-30 00:11] jrobinso commented on #435
Just pushed CSI support for tabix.   BAM support is slightly different, that will follow soon.

[2020-07-30 00:24] juancrescente commented on #435
Nice, waiting for bam support!

[2020-07-30 02:25] #435 closed

[2020-07-30 02:27] jrobinso commented on #435
CSI v1 is supported.  I can't find documentation for CSI v2.

[2020-07-30 11:19] rysterzhu opened #1147 "problems when editing output SVG file in Illustrator"
I want to amend the output SVG file in illustrator, but it has too many masks and groups.
Is it possible to output a simple vector diagram?
Or is there an easier way to edit the output SVG vector diagram?

[2020-07-31 02:46] jrobinso commented on #1147
@rysterzhu You opened an issue in igv.js,  the javascript igv component, can you tell me what version you are using?

[2020-07-31 17:41] athomson-archerdx opened #1148 "416 "Unsatisfiable Range" for VCF file with no variants"
I'm trying to upgrade from v2.2.2 to the latest and I'm now getting an error that I wasn't previously.  I have a VCF file with metadata but no actual variant data, and when included in v2.2.2 it loads as an empty track but now on v2.6.2/3 I get an "Unsatisfiable Range" error and the track is excluded from the visualization. My browser console shows that the requests for this file have a status cod

[2020-08-02 02:58] rysterzhu commented on #1147
I am using igv-jupyter, version 0.9.8

[2020-08-02 03:00] jrobinso commented on #1147
Ok, so no that is the SVG igv provides.

[2020-08-02 03:00] #1147 closed

[2020-08-03 08:44] kzoabi commented on #1143
Hi Jim,

I use IE 11 and I use npm install to include the tool, I just add the igv dependency like this: **"igv": "^2.5.2"**

Khaled

[2020-08-03 19:10] hmgill opened #1149 "Possible to add two colors to same track?"
Hi,

Apologies since this is a simple question. I was wondering if it were possible to annotate (+) and (-) strands in the same track with different colors?

Thank you!

[2020-08-04 03:22] dppss90008 opened #1150 "Saving SVG problem"
I am hoping to save the results into SVG file.
However, some problems raised in the console.

<img width="1276" alt="2020-08-04 110956" src="https://user-images.githubusercontent.com/34399929/89248750-11529880-d643-11ea-9b85-c44e9997e3e9.png">

The SVG file did not show the wiggle track.
<img width="726" alt="註解 2020-08-04 111107" src="https://user-images.githubusercontent.com/34399929/89248813-3a

[2020-08-04 03:54] jrobinso commented on #1150
What version of igv.js are you using?

On Mon, Aug 3, 2020 at 8:22 PM dppss90008 <notifications@github.com> wrote:

[2020-08-04 04:00] dppss90008 commented on #1150
I think it is the lastest one.

<script src="https://cdn.jsdelivr.net/npm/igv@2.6.2/dist/igv.min.js"></script>

[2020-08-04 04:12] jrobinso commented on #1150
I haven't seen this error before, its hard to say what is causing it from a screenshot.    Could you give us a test case to reproduce it?  If those files are public on the web you can just zip up you html page and attach it here,  or paste in the javascript configuration you used to start igv.js.

[2020-08-04 04:29] dppss90008 commented on #1150
Here are my HTML code and the track files.
https://drive.google.com/file/d/139M7CE_kvRvAjaUAnotL4Ag2gmNaWn4P/view?usp=sharing
Thanks for your time.

[2020-08-04 04:48] jrobinso commented on #1150
OK, thanks, I can reproduce the problem.   We'll look into it.

[2020-08-04 05:34] jrobinso commented on #1150
This should be fixed now,  use version 2.6.4.

[2020-08-04 05:39] dppss90008 commented on #1150
Yes, it works!
Thank you so much!

[2020-08-04 05:39] #1150 closed

[2020-08-04 07:21] kzoabi commented on #1143
Hi Jim,
What is the correct way to import it in order to let IE11 use the ES5 version of igv? I realized that importing it using:
_import igv from 'igv/dist/igv.esm'_
still importing the ES6 version

Thanks,
Khaled

[2020-08-04 09:35] sklas opened #1151 "Long loading time / memory error for "larger" bam files"
Hi,

I am running igv.js inside an R shiny app and the files are served via a lighttpd server.
In principle it is running smoothly, but when it comes to bam files with a high coverage it takes several minutes to load or even quits caused by exceeding memory.
I tried the same files at https://igv.org/app/ loaded via local file and its immediately loaded, so it might just be something misconfigured

[2020-08-04 16:12] jrobinso commented on #1151
Hi Steffen,
I'm not familiar with the lighttpd server but from your symptoms I would
guess it is not respecting the "range byte" headers in the requests and
just returning the entire bam file.   Perhaps lighttpd needs to be
configured to support range byte requests.

On Tue, Aug 4, 2020 at 2:35 AM sklas <notifications@github.com> wrote:

[2020-08-04 18:13] jrobinso commented on #1143
You should use a script tag for "igv.js" or "igv.min.js" as indicated in
the README.md.   This will install an ES5 version.   It might work on
IE11,  I don't know,  you would have better odds with Edge.

If it doesn't work you might be able to build a version that does by
changing the babel rules in the ".babelrc" file and rebuilding  "npm run
build".   The current rules are supposed to target all

[2020-08-04 18:14] jrobinso commented on #1143
To clarify, you cannot use "import" at all you have to include its with a
<script....   tag.  This is documented in the README.     Import is an es6
feature.

On Tue, Aug 4, 2020 at 11:13 AM James Robinson <jrobinso@broadinstitute.org>
wrote:

[2020-08-05 07:20] sklas commented on #1151
I checked that, but using curl it looks like it handles it correct.
But I also tried with apache2 and the behavior is the same (It also accepts range requests with curl).
The network monitor in chrome shows that its loading the whole files.
In this case it is paired end Illumina data with a coverage between 2.000 and 8.000 and pacbio data with a coverage of ~ 750 on a ~ 14kb reference. Are such hi

[2020-08-05 13:22] jrobinso commented on #1151
You need to use indexes for the fasta and bam, otherwise yes it will load
the entire file.   With indexes the size of the bam (or fasta) does not
matter.

On Wed, Aug 5, 2020 at 12:20 AM sklas <notifications@github.com> wrote:

[2020-08-05 14:15] kzoabi commented on #1143
Thanks Jim, I'll try that!

[2020-08-05 14:29] sklas commented on #1151
I also tried to explicitly give the path to index files, but it doesn't change the behavior.
For the reference its the output from "samtools faidx" and specified using "indexURL" right below "fastaURL".
For the bamfiles its also specified using "indexURL" below the "url" tag.
Are these tags correct?

[2020-08-06 01:29] jrobinso commented on #1151
I assume you've review our wiki and examples?   Your fasta doesn't matter much as its small and will load entirely without a problem, but for large bam files you need to set indexURL.

[2020-08-06 11:23] jslpzNGS opened #1153 "igv-web. Normalize Coverage Data"
Congratulations for such a wonderful tool! igv-web!

I would like to know whether it would be possible to normalize coverage tracks as we do in igv desktop application. I mean by selecting View>Preferences>Tracks tab and selecting the Normalize Coverage Data checkbox (This normalization option multiplies each value by [1,000,000 / (totalReadCount)]).

Best regards and congratulations again!!

  Jo

[2020-08-07 22:35] helgathorv opened #1155 "Don't create sessions with local File references -- was "need better error reporting when session includes local files""
[ ] If a session includes a local track, the following error message is presented:
"url must be either a 'string', 'function', or 'Promise'. Actual type: object"
Needs to be more informative.

[ ] If a session includes a genome loaded from a local file, there's no error message at all.

[2020-08-08 01:22] haoyuanli opened #1156 "A method that clear all existing browser instances"
Hello, I wonder if we could add something like this that removes all existing browser instances, and (assume importing as igv in ES6) can be revoked as simple as  `igv.removeAllBrowsers()`

[code]

I think the use case will mostly be in in React or some other scenarios where we want to avoid the direct manipulation of DOM elements through Javascript.

Right now, there is sort of a way to move an i

[2020-08-08 03:32] #1156 closed

[2020-08-08 03:33] jrobinso commented on #1156
yes, good suggestion.

[2020-08-15 17:48] amanpatel opened #1158 "Viewing variants from a database"
Increasingly a lot of pipelines now load information directly a warehouse or a database. Viewing variants directly from this database would be an awesome feature, especially the ease at which you can query/filter variants in a database.

Does IGV have a method to achieve this? Currently, I'm looking at overriding the VCF parser, and the range queries requests to achieve something like this.

Any g

[2020-08-15 20:13] jrobinso commented on #1158
There is support for customized readers and customized web services.     I think the simplest approach would be to implement a custom "reader".  It has 1 required method

[code]

In your case the method should return variant features.  Unfortunately variant objects aren't documented other than by examining code, but its what vcfparser returns.   See  "dev/custom-reader.html"  for an example.

Ther

[2020-08-15 20:32] shihai832 opened #1159 "can't display gene type"
I am having trouble display gene type (third column in gff3 file ). Using the same file, changing the "gene" to "CDS", it displays. For example the line " seq2	RGI	gene    273029	273654	.	+	.	ID=genetestme;Name=testme;" in the attached files.

[Archive.zip](https://github.com/igvteam/igv.js/files/5079429/Archive.zip)

[2020-08-16 00:20] jrobinso commented on #1159
@shihai832 you didn't specify what version of igv.js you are using, but try adding this to your track config.   If it doesn't help paste your config here, and tell me what version of igv.js you are using

[code]

[2020-08-16 00:41] shihai832 commented on #1159
I am using :

(base) shihai@pn2001085 ~ % cd
/Users/shihai/Desktop/dhsviz_iframe_shihai/src/IGV_lanl

(base) shihai@pn2001085 IGV_lanl % npm start

/Users/shihai/Desktop/dhsviz_iframe_shihai/src/IGV_lanl

Starting up http-server, serving dist

Available on:

  http://localhost:8988

Hit CTRL-C to stop the server

On Sat, Aug 15, 2020 at 6:20 PM Jim Robinson <notifications@github.com>
wrote:

[2020-08-16 00:47] shihai832 commented on #1159
This is my igvwebConfig.js: Where should I add the "filterTypes:
['chromosome']"? thanks. shihai

/**
 * Configuration file for igv-webapp.   This is intentionally not a
module so it can be used pre and post webpacking
 */

"use strict";

var igvwebConfig = {

    genomes: "resources/genomes.json",

    trackRegistryFile: "resources/tracks/trackRegistry.json",

    embedTarget: 'https://igv.org/we

[2020-08-16 02:09] jrobinso commented on #1159
Your question is about the webapp, but you opened an issue in the igv.js GitHub repository.   My answer was directory to the igv.js configuration, specifically track configuration, which is documented here: https://github.com/igvteam/igv.js/wiki/Annotation-Track

You can't control this from the web app unless you are configuring your own track menus, if you are you would set this in the track conf

[2020-08-17 05:55] kzoabi commented on #1143
Hi all,
I'm using Angular 7 and have used igv like this:
import igv from 'igv/dist/igv.esm'
which imports the ES6 version.

I got this error in IE11:
![image](https://user-images.githubusercontent.com/3586425/90360751-3264b180-e065-11ea-8381-405b3c8889a8.png)
Says:
`Zone.js has detected that ZoneAwarePromise `(window|global).Promise` has been overwritten.
Most likely cause is that a Promise polyfi

[2020-08-17 05:55] #1143 closed

[2020-08-17 14:33] jrobinso commented on #1143
@kzoabi thanks for posting your solution,  I'm sure it will help others.

[2020-08-17 22:52] jrobinso commented on #1155
The best fix for this is to not create such sessions.   They cannot be created by hand.  This can be done in the methods that convert objects to json,  for example ```browser.toJson()``` and methods it calls.  If a local file is used for any URL throw an error to be caught and handled by the client.    URLs can appear in the following fields.

* genome (reference)
    * fastaURL
    * indexURL

*

[2020-08-17 22:59] #1151 closed

[2020-08-17 23:01] jrobinso commented on #1149
@hmgill Sorry for the delay.  What type of track?   Its possible to supply a second color for "wig" type tracks as field "altColor".   However this doesn't work for "annotation" type tracks.

I will look into supporting this for annotation tracks.   Then the issue becomes what to do with features that are not stranded.  I suppose they would get the default or positive strand color.

[2020-08-17 23:05] jrobinso commented on #1065
This is supported now, sorry for the delay I forgot to update the git issue.

[2020-08-17 23:05] #1065 closed

[2020-08-17 23:09] #1025 closed

[2020-08-18 13:45] oyvinev commented on #136
Should be fixed by resolving this TODO: https://github.com/igvteam/igv.js/blob/c67503bb2cc1af7d1b28ea5b3bfa963bb47e843e/js/igv-color.js#L229

Optional work-around is setting `negStrandColor` and `posStrandColor` as rgb-values (e.g. `"rgb(150, 150, 230)"`).

[2020-08-18 14:56] gujarwasia opened #1161 "Can't see the label on uploaded tracks"
Why i can't see the label on tracks uploaded to my application but same file shows the label when uploaded to igv.org.
below is example.
![Custom App](https://user-images.githubusercontent.com/11008949/90529183-0d6d5d00-e191-11ea-929e-c6ad56ea64b5.JPG)
![Default IGVApp](https://user-images.githubusercontent.com/11008949/90529190-0e9e8a00-e191-11ea-854c-2fe4dcf0e468.JPG)

[2020-08-18 17:08] jrobinso commented on #1161
What version of igv.js are you using?

[2020-08-18 21:50] amanpatel commented on #1158
That pretty much answers my addressed my needs. I will update this post with some code later on in hopes it can help someone else.

[2020-08-18 21:50] #1158 closed

[2020-08-19 05:39] gujarwasia commented on #1161
"igv@2.3.5"

[2020-08-19 16:00] #136 closed

[2020-08-19 16:01] jrobinso commented on #136
@oyvinev thanks for reviving this, and finding the problem

[2020-08-19 22:07] jrobinso commented on #1161
Well the current version is 2.6.2, so that could be part of the reason.

On Tue, Aug 18, 2020 at 10:40 PM gujarwasia <notifications@github.com>
wrote:

[2020-08-20 07:18] gujarwasia commented on #1161
thanks issue fixed after version upgrade

[2020-08-20 07:18] #1161 closed

[2020-08-20 15:38] shihai832 opened #1164 "display souces of annotation with different color"
Is it possible to display annotation sources (column 2) with different color in the same track?

[2020-08-20 23:00] jrobinso commented on #1164
What is "column 2"?

[2020-08-20 23:13] shihai832 commented on #1164
Sorry, the second column in gff3 file

On Thu, Aug 20, 2020, 5:01 PM Jim Robinson <notifications@github.com> wrote:

[2020-08-20 23:14] jrobinso commented on #1164
Ah, ok.  No that's not possible.  You could add a color attribute to column 9.

[2020-08-20 23:14] #1164 closed

[2020-08-25 19:17] turner commented on #1155
Closed with commit 1c2f3c449d72636da3ed30f600ce167dce528874

[2020-08-25 19:17] #1155 closed

[2020-08-27 17:29] hmgill commented on #1149
Hi @jrobinso,
Sorry, yes, I did mean annotation tracks. Thanks for looking into it!

[2020-08-28 04:12] petermchale opened #1167 "multiple copies of reference track"
Hi Jim,

I've created a web app at: https://igv-grid.surge.sh .

When one clicks on a thumbnail, an igv browser instance is mounted. However, on subsequent thumbnail clicks, additional reference tracks appear, which is not desired behavior.

How can I "correct" this? Could this have anything to do with a note on https://github.com/igvteam/igv.js/wiki/Browser-Creation that reads “the genomeList is

[2020-08-28 05:25] jrobinso commented on #1167
Are you calling "createBrowser" on each click?  Its not clear to me.   This could be a bug I will see if I can simulate it.   However if you are going to call "createBrowser" on each click you should remove the previous one first.   Otherwise you are going to have a memory leak at minimum.

Another option would be to create an igv "browser" once,  then load session objects.    A session object is

[2020-08-28 05:50] jrobinso commented on #1167
Also, what version of igv.js are you using?  With later version calling createBrowser multiple times will simply append new browsers to the container div, as shown in the screenshot.   I can see how something like this might have happened with older versions, but they would be quite old.   Could you check your igv version?   Here's the code I used to try to simulate your situation

[code]

<img wi

[2020-08-28 23:41] petermchale commented on #1167
Thanks for pointing me to `igv.removeBrowser`; I now call that before the `igv.js` instance is destroyed.

Thanks also for pointing out that the `this.tracks` array is accumulating elements. Turns out that this is happening in the igv.js codebase. To see this, one can insert the following code:

[code]
... and then click on the left thumbnail in the "True positives" track (for example), at which p

[2020-08-29 00:06] jrobinso commented on #1167
A deepCopy of options is a good idea,  I I would rather not use lodash but could find an implementation.    Its not straightforward though in the general case.   The options object can be complex with promises and functions as allowed values, and even the data itself as arrays of objects which may or may not be a good idea to copy (they can get really large).   This can probably all be handled wit

[2020-08-30 03:58] jrobinso commented on #1167
Reopening as a reminder re copying the config.  This might be a useful starting point, with some customization needed:  https://github.com/davidmarkclements/rfdc.   General rule might be most normal fields are copied, but functions and promises are referenced (obviously), and perhaps data arrays are referenced.

[2020-08-30 17:02] petermchale commented on #1167
I'm curious: why not use `cloneDeep` from lodash?

[2020-08-30 17:05] jrobinso commented on #1167
Well, 2 reason.  We don't use lodash, but secondly we cannot blindly clone deep for reasons enumerated above.    It might be a starting point though if it handles promises and functions.   In any event we will not be copying large data structures, such as data URIs and arrays of features directly passed, so some cloning customization will be required.

[2020-08-31 17:16] turner commented on #1106
PR https://github.com/igvteam/igv.js/pull/1169

[2020-09-02 07:47] valleema opened #1189 "Cannot change track type when loading same gCNV as IGV.JS example"
Hello,

I was trying to load the [example files](https://github.com/igvteam/igv.js/blob/4f355a2103221be2356157898c20fa8c63c37d00/examples/gcnv.html#L34-L35) from IGV.JS [gCNV example](https://igv.org/web/release/2.6.2/examples/gcnv.html) in File > Load from URL... .

It loads fine, but it only displays itself as if a simple BED file is loaded.

Would it be possible to change the type of track, for

[2020-09-03 14:42] valleema opened #1170 "Cannot change track type when loading same gCNV as IGV.JS example"
Hello,

I was trying to load the [example files](https://github.com/igvteam/igv.js/blob/4f355a2103221be2356157898c20fa8c63c37d00/examples/gcnv.html#L34-L35) from IGV.JS [gCNV example](https://igv.org/web/release/2.6.2/examples/gcnv.html) in File > Load from URL... .

It loads fine, but it only displays itself as if a simple BED file is loaded.

Would it be possible to change the type of track, for

[2020-09-06 18:44] #1106 closed

[2020-09-10 16:27] yech1990 commented on #749
the cytobands are in the wrong position for customized input.

[2020-09-10 16:36] jrobinso commented on #749
@yech1990 that is not a useful bug report

[2020-09-10 16:49] yech1990 commented on #749
Sorry about that...

I create a cytoband file with a single record, and name it into `S288c.ideo.tsv`.
The contain of this file:

[code]

Then I render the ideogram in igv.js with these code:

[code]

chrI is 219,929 bp in total, thus this customized feature is expected to be placed in the middle of the chromosome. But annotation always go into the terminal of the chromosome.

![image](https://use

[2020-09-10 17:03] jrobinso commented on #749
OK, it might be some time before I can look at this.   I am guessing a
workaround might be to put a record at the end of the chromosome, i.e.
ending at 219,929.  I suspect the code is taking the end of the last record
to be the extent, rather than the total length of the sequence from the
fasta file.

On Thu, Sep 10, 2020 at 9:49 AM Chang Y <notifications@github.com> wrote:

[2020-09-11 03:18] hong16 opened #1173 "Error: input buffer is broken"
Hi,

There is one error when I use the igv 2.2.14 to load bam files. Most files can be load successful, but some files losing. The error message has shown below.
![image](https://user-images.githubusercontent.com/33014091/92850628-4068e080-f41f-11ea-9a88-14ef55d57d31.png)

Script:
igv.browser.loadTrack({
                                type: "alignment",
                                format: "ba

[2020-09-11 04:10] jrobinso commented on #1173
igv 2.2.x is over a year old.  If you can reproduce the error with the latest release please re-open the issue.    I will need access to a test file and instructions to reproduce the error.

[2020-09-11 04:30] hong16 commented on #1173
Hi,
    When I updated the version to 2.6.6, I got the below error info. Are there some differences in the input parameters between these versions?
![image](https://user-images.githubusercontent.com/33014091/92859762-0a7d2980-f42a-11ea-8109-f7218a365f0d.png)

Thanks.

[2020-09-11 04:36] jrobinso commented on #1173
Yes,  there is no igv.browser global anymore.    You need to retain the browser created with "createBrowser" is you want to interact with it.

[code]
or

[code]

you can simulate the previous behavior by setting a global like this

[code]

or use await.

[2020-09-11 05:14] hong16 commented on #1173
Thanks a lot!
But there is the same problem in my browser. I find that the problem not in all locals, just as below shows, failed to load one input of AT2G17340, but successful for other genes.
![image](https://user-images.githubusercontent.com/33014091/92864756-153abd00-f430-11ea-9bdd-b78788808c17.png)
![image](https://user-images.githubusercontent.com/33014091/92864896-3d2a2080-f430-11ea-9928-20

[2020-09-11 05:19] jrobinso commented on #1173
OK, to look into this further I'll need a reproducible test case (with data) that I can run.   I can't make anything out by looking at screenshots.

You might try re-creating your bam index.

[2020-09-11 05:41] hong16 commented on #1173
I tried to rebuild the bam index, but the problem still exists.

Input bam file: [https://drive.google.com/drive/folders/1-GCNMDHpcbyMmG8Eck3gsSmParwfJbjK?usp=sharing](url)

CreateBrowser:
`options = {
                showNavigation: true,
                showRuler: true,
                reference: {
                        "id": "TAIR10",
                        "name": "TAIR10",

[2020-09-11 05:53] jrobinso commented on #1173
Thanks, but that's not quite a reproducible test case.   I probably don't need the gff file,  I would need the fasta.    Also the indexes (bam and fasta).    Also give me exact coordinates in the form of  chr:from-to to reproduce the problem.   I will try to look at it tomorrow if I get everything.

[2020-09-11 06:40] hong16 commented on #1173
Thanks, the bam file (also the index file) in google drive: [https://drive.google.com/drive/folders/1-GCNMDHpcbyMmG8Eck3gsSmParwfJbjK?usp=sharing](url),
error local:    chr2:7,541,313-7,544,383
The reference is TAIR10 fasta (Arabidopsis).

[2020-09-11 16:39] jrobinso commented on #1173
@hong16 I can't access that drive, you need to grant me access.   I sent a request.

[2020-09-11 17:42] haoyuanli opened #1174 "Detect onclick events that happen within the browser"
Is there a recommended programmatic way of detecting onClick events that happen within the igv.js browser? Or it would just be something similar to attaching an onClickEvent Listener to the browser instance.

Thanks

[2020-09-11 17:59] jrobinso commented on #1174
Did you look at the documentation?  https://github.com/igvteam/igv.js/wiki/Events

[2020-09-11 18:30] jrobinso commented on #749
@yech1990 btw its best to create a new issue for a new problem we now have 2 issues mixed.

[2020-09-12 02:51] haoyuanli commented on #1174
Sorry! Clearly I didn't. 😀

[2020-09-12 02:51] #1174 closed

[2020-09-12 08:31] hong16 commented on #1173
https://drive.google.com/drive/folders/1-GCNMDHpcbyMmG8Eck3gsSmParwfJbjK?usp=sharing   I changed the permission of the folder, please try again.

[2020-09-16 19:54] helgathorv opened #1178 "Dialog error box mostly obscured from view"
From [igv-help issue](https://groups.google.com/d/msgid/igv-help/c17db64f-b26f-4dbe-82cc-b288af3904e5n%40googlegroups.com?utm_medium=email&utm_source=footer).

The dialog error box for _**unrecognized locus**_ is generated at -197 px and so is mostly obscured from view.
The JS source is from https://igv.org/web/snapshot/dist/igv.min.js (as of Sept 16, 2020)

[2020-09-16 20:25] petermchale commented on #1138
@jrobinso It just occurred to me that there must be something in igv.js that detects when data are rendered as it seems to show a "spinner" icon until the data are rendered. To the extent that this is true, then perhaps one can use, e.g., puppeteer to wait until the page no longer contains any spinners before capturing a screenshot...

[2020-09-17 19:58] helgathorv commented on #1178
This should be fixed now in the snapshot build.

[2020-09-19 17:59] #749 closed

[2020-09-21 02:32] jrobinso commented on #1173
Sorry for the delay.   This works fine for me, as you can see at this
link:  https://tinyurl.com/yyetwnjz

On Sat, Sep 12, 2020 at 1:31 AM hong16 <notifications@github.com> wrote:

[2020-09-21 07:25] hong16 commented on #1173
OK, thanks.

[2020-09-21 16:39] petermchale commented on #1138
@jrobinso ^^^

[2020-09-21 17:01] jrobinso commented on #1138
@petermchale Yes, possibly, I don't have time to pursue this now, is there a specific question here?

One approach worth trying would be to loop through all trackViews on the "browser" object calling updateViews() on each, awaiting completion of each call,  then do a screenshot.     Something like

await Promise.all(browser.trackViews.map(tv => tv.updateViews())

[2020-09-22 04:40] #1173 closed

[2020-09-22 04:53] #1167 closed

[2020-09-22 06:02] #1152 closed

[2020-09-22 06:04] #1178 closed

[2020-09-22 16:38] #1116 closed

[2020-09-22 16:53] jrobinso commented on #1148
I can't reproduce this in the master branch, if the problem recurs in the master branch or later releases please include some instructions to reproduce.    Thanks for the test file.   The next release will be 2.7.0.

[2020-09-22 16:53] #1148 closed

[2020-09-22 17:00] #1103 closed

[2020-09-22 17:01] #1102 closed

[2020-09-22 17:06] jrobinso commented on #933
@endrebak Sorry for the long delay, you probably have found a solution by now but I recommend the GMOD library referenced above.

[2020-09-22 17:06] #933 closed

[2020-09-22 17:10] jrobinso commented on #961
see https://genome.ucsc.edu/cgi-bin/hgTrackUi?g=wgEncodeBroadHmm&db=hg19

[2020-09-22 17:11] #939 closed

[2020-09-22 17:19] #221 closed

[2020-09-22 17:20] jrobinso commented on #362
Events are documented  https://github.com/igvteam/igv.js/wiki/Events

[2020-09-22 17:23] #362 closed

[2020-09-22 17:24] jrobinso commented on #526
added to wiki

[2020-09-22 17:24] #526 closed

[2020-09-22 17:25] #573 closed

[2020-09-22 17:26] #716 closed

[2020-09-22 17:27] jrobinso commented on #764
@turner @helgathorv Ping, I think this has been implemented.

[2020-09-22 17:27] #764 closed

[2020-09-22 23:48] haoyuanli opened #1183 "Is GWAS track misplaced by a couple pixels potentially?"
This could totally be something wrong on my end, but i thought I'd ask to make sure.

When I was rendering a GWAS file, I saw something like this

![image](https://user-images.githubusercontent.com/18109953/93948341-0c30d200-fcf3-11ea-98a0-8fdc6b2a8249.png)

It appears that the minimum of the dots are somewhere a couple pixels below 2, though the minimum of the dots should be 2, calculated by the

[2020-09-23 08:47] senzhaocode opened #1184 "display bedpe value when clicking"
Hi,

Not sure it is possible to display bedpe value when clicking Arc. e.g. https://igv.org/web/snapshot/examples/bedpe-proportional.html

I have a bedpe file with a format:
[code]
It would be grateful that **name**, **score** and **type** could be displayed if Arc click.

[2020-09-23 17:15] haoyuanli commented on #1183
![image](https://user-images.githubusercontent.com/18109953/94046502-9a559880-fd85-11ea-86bf-d4b68b947fd2.png)

Maybe the y-axis was shifted up by two pixels

[2020-09-23 22:03] amanpatel opened #1185 "Hide/Show tracks?"
Is it possible to just hide & show tracks in the browser? My use case is somewhat related to the visibilityWindow setting. It might be a good experience for the user to just see certain tracks based on the (zoom level).

I can probably use removeTrackByName() and then subsequently use addTrack(), but I'm sure this would cause the initialization to happen again (i.e. delays for rendering).

[2020-09-23 22:25] amanpatel commented on #1185
Ok, one method of achieving this (although this feels dirty) is to update the height of the track you want to adjust via this call:

[code]

[2020-09-23 22:38] jrobinso commented on #1185
That might cause divide by zero and other issues, especially for numeric tracks, probably harmless for feature tracks.    There's no really clean way to do this right now.

[2020-09-24 00:03] amanpatel commented on #1185
Makes sense!. Thanks for the quick response. I'll close the issue for now.

[2020-09-24 00:03] #1185 closed

[2020-09-26 22:27] #1184 closed

[2020-09-28 09:26] transorigin opened #1193 "browser no response when use igv web"
why I click the igv web page  several times, and then the browser no response

[2020-09-28 23:41] haoyuanli opened #1187 "Is the variants endpoint of `htsget` protocal supported?"
The documentation doesn't seem to mention the support the `Variants` of an htsget API server

I assume the variants support of htsget will just follow the same as https://github.com/igvteam/igv.js/wiki/Variant-Track?

![image](https://user-images.githubusercontent.com/18109953/94497129-1b0ffc80-01ab-11eb-8ebb-152037482a50.png)

btw, the sourceType is likely outdated

[2020-09-29 00:05] jrobinso commented on #1187
There is no htsget support for variants, if it works its an accident.   Are there any servers out there?  htsget has been the definition of slow-burner.

BTW 'ga4gh" api is not supported anymore, obviously,  so that should be removed from the documentation.

[2020-09-29 21:42] helgathorv opened #1188 "Relocate scrollbar"
Currently, if a track requires a scrollbar it's displayed inside the track, thereby covering up any date that might be on the right edge of the view. Let's relocate the track so it is outside the data area.

[2020-10-02 23:28] jrobinso commented on #852
Another example  https://tinyurl.com/y2x8cgdl   (chr8:127,734,435-127,743,951)

<img width="1687" alt="Screen Shot 2020-10-02 at 4 26 54 PM" src="https://user-images.githubusercontent.com/933148/94977094-22494a00-04cc-11eb-8c89-1fc3292b26e6.png">

Same region in IGV desktop

<img width="1896" alt="Screen Shot 2020-10-01 at 10 42 53 PM" src="https://user-images.githubusercontent.com/933148/94977129

[2020-10-06 04:49] jrobinso commented on #1189
I just pushed a change to igv.js that allows defining the gcnv track and some parameters via a "track line".   For example you can achieve the example, more or less, with this as the first line in the file.

[code]

[2020-10-07 13:08] senzhaocode opened #1190 "Support bedpe/interact track input using a JSON object"
Hi igv-js developers ,

Now I am trying to input bedpe format track using a **JSON** object, for example
[code]
However, it does not work with an error report **"undefined is not an object (evaluating 'e.toLowerCase')"**. It will be very appreciated that a JSON format for **bedpe** input could be accepted (as I see JSON format for **bed** and **bedgraph** input are supported very well). Thank you

[2020-10-07 17:42] chaninator commented on #160
@jrobinso Has the "Squish / Expand" menu selection for bam tracks been added? Or is that still being planned?

[2020-10-07 21:50] #1190 closed

[2020-10-07 21:50] jrobinso commented on #1190
I just pushed support for this to master.  It will be released within the next week.

[2020-10-10 08:34] jrobinso commented on #1193
OK this is now fixed.  Thanks for the report and test data.

[2020-10-10 08:34] #1193 closed

[2020-10-13 04:58] jrobinso commented on #1167
After several attempts I am giving up on copying the config.  We allow too many options for this to be tractable, including not only embedding data and feature objects directly in the config, but supplying functions, promised, and custom object instances for various properties.   Not only do all objects have to be copied but potentially the prototype chain as well.   For simple json-like configs i

[2020-10-14 13:29] chaninator commented on #758
@jrobinso Hello, is the expand option for BAM files being planned? I have only seen 1 or 2 posts about the matter but not much in the way of the past few years. Thank you!

[2020-10-15 03:00] jrobinso commented on #1077
I think this is resolved, if not re-open a new issue this was has multiple topics.

[2020-10-15 03:00] #1077 closed

[2020-10-15 03:08] #182 closed

[2020-10-15 05:32] northwestwitch commented on #1077
Yes, it works perfectly now, thanks!!!

[2020-10-15 19:28] rdbcasillas opened #1199 "Is it possible to save the IGV output in formats other than SVG?"
Hello,

I am able to use renderSVG() function and it works quite well. But researchers using the tool are bothered by the fact that they have to convert SVG to PNG on their own. Are there any plans to add this functionality? What is the recommended way to achieve this?

Thanks!

[2020-10-16 00:20] jrobinso commented on #1199
Take a screenshot with an external tool, or find an svg -> png converter.  I'm sure there are some.   There are no plans to build this into igv.js,  it would be quite complex if possible at all to do this from javascript in a web page.

[2020-10-16 04:15] jrobinso commented on #1068
Original issue duplicate of #994

[2020-10-16 04:15] #1068 closed

[2020-10-16 04:16] jrobinso commented on #160
duplicate of #758 - fixed in master but not released

[2020-10-16 04:16] #160 closed

[2020-10-16 06:23] rdbcasillas commented on #1199
Thanks @jrobinso. I was able to convert the output from igvbrowser.toSVG() by writing it into a Canvas using [canvg](https://github.com/canvg/canvg) and then using [FileSaver.js](https://github.com/eligrey/FileSaver.js/) to save as PNG.

[2020-10-16 06:24] #1199 closed

[2020-10-16 15:37] jrobinso commented on #1199
@rdbcasillas Thank you for the tip, that is a neat trick.

[2020-10-16 20:29] alexjacobsCDS opened #1201 "Support for Motif Finder"
Is there any support in the web-app for the [motif finder](https://software.broadinstitute.org/software/igv/motif_finder) or plans to add support?

[2020-10-18 04:19] jrobinso commented on #893
@Christian-Sidak first sorry I missed your comment.   Adding a sort option has been in place and working for some time, if its not working for you I will need a test case.     This issue is for an API to sort dynamically, at least that's how I interpret it.   That is also implemented in the master branch and will be released soon.

[2020-10-18 04:25] jrobinso commented on #893
This has been implemented with a "sort" function on Browser and will be released soon.   Example usage below,  not the sort object properties have changed (explicit chr and position instead of locus string).   However the old syntax will still work

[code]

[2020-10-18 21:29] amanpatel commented on #1092
We need this feature too. Can I get any developer related pointers to this? I can try to implement this in the next week.

I've written my own customer reader and source classes for a VCF track that is actually "powered" by the database in a python middleware.  I have never worked with canvas, but this seems like it could be done via svg+css.

[2020-10-19 15:49] alexjacobsCDS commented on #1201
Thank you!

[2020-10-20 21:21] jrobinso commented on #1092
@amanpatel  This is on our list for the next round of work, which will begin in a few weeks.   Thanks for the offer but I do not encourage a pull request for this, it touches too many fundamental classes and DOM organization.

[2020-10-22 04:10] #1054 closed

[2020-10-26 21:54] jrobinso commented on #1189
The track line option will be the solution for this, its too complex to allow track type switches in real time by the end user.   See the example file at
[code]

@bw2 In case you are not including track lines, doing so will enable loading of gcnv bed files from igv-webapp and other end user apps where defining a "config" is not possible.

[2020-10-26 21:54] #1189 closed

[2020-10-28 20:29] #869 closed

[2020-10-28 21:08] #758 closed

[2020-10-28 21:09] jrobinso commented on #1149
This is done, available in the master branch and to be released with 2.7.0.   The parameter is "altColor".

[2020-10-28 21:09] #1149 closed

[2020-10-28 21:10] jrobinso commented on #994
This has been corrected, track config parameters now have precedence over track line parameters.